[2022-07-19 15:17] jeherve commented on #25113
That's very true.

The original motivation behind this issue for me would be to remove the need for the block editor's bundles to rely on code from the React bundle. Right now those 2 are shipped together, but in the future that may not be the case; the extensions bundle or some of its elements may live in a different package, required by different plugins. This is especially relevant for the use

[2022-07-19 15:31] #25104 closed, assigned to wojtekn

[2022-07-19 16:18] gibrown commented on #24681
This is incorrect. Attachments can have a post status of public. We have tens of thousands of them in the current index.

[2022-07-19 17:35] sirbrillig commented on #16989
Since D83897-code is merged, I assume this is resolved and I'm going to close this.

[2022-07-19 20:01] ecairol commented on #24692
@kangzj can you please clarify what you mean by doing a full sync?

[2022-07-19 22:39] bluefuton commented on #24692
@ecairol you can schedule a full sync from the Jetpack debugger:

https://jptools.wordpress.com/debug/?url=https://tspa-iss-1219.mystagingwebsite.com

I've just scheduled one for you.

[2022-07-20 03:45] bluefuton opened #25137 "Instant Search: insufficient contrast on links in dark mode"
### Impacted plugin

Jetpack, Search

### Steps to Reproduce

1. On a site with Jetpack Instant Search enabled, choose dark mode from the settings: `/wp-admin/admin.php?page=jetpack-search-configure`.
2. Inspect any link with your browser accessibility tools.

### A clear and concise description of what you expected to happen.

Text contrast should be at least 4.5 : 1 to achieve a AA rating.

###

[2022-07-20 03:49] bluefuton opened #25138 "Instant Search: text description missing for post type icons"
### Impacted plugin

Jetpack, Search

### Steps to Reproduce

1. On a site with Jetpack Instant Search enabled, perform a search with `/?s=&result_format=minimal`.
2. Inspect the post type icons with your browser a11y tools.

### A clear and concise description of what you expected to happen.

All icons should have a text description available.

### What actually happened

The page icon in my resu

[2022-07-20 04:21] formosattic opened #25316 "Removing Jetpack VideoPress, prompt missing list of lost features"

[2022-07-20 07:00] kangzj commented on #24692
Hi @ecairol sorry I was afk for a couple of days. And sorry again, the filter nam was changed to "jetpack_search_allowed_taxonomies_for_widget_filters" in the end. Could you please try it out and see? Thanks

[2022-07-20 07:13] fdeww commented on #24542
@jeherve you were right about jet pack, it causes this issue, worked once i disabled the plugin, am assuming analytics slow down the insertion of order into database, which fails the webhook in non async case

[2022-07-20 13:28] ecairol commented on #24692
Thank you @bluefuton this is new for me, I've made note for future reference.

No worries @kangzj, thanks for the clarification.

--
Update: worked like a charm! Thanks!

[2022-07-20 14:26] desnum commented on #22241
A case where adding a (rectangular) video in Instagram throws off the ratio making the row rectangles and not squares:
36111990-hc

[2022-07-20 18:08] jtobiesen commented on #22834
We have another report in 5399750-zen with a free site using the Blank Canva theme.
Same issues as reported above.

[2022-07-21 01:23] #23401 closed

[2022-07-21 04:56] kangzj opened #25150 "Search: Customberg overlay preview for Field Guide broken"
### Impacted plugin

Search

### Steps to Reproduce

1. Go to Filed Guide Calypso page
2. Click Settings -> Performance -> Customize Search
![image](https://user-images.githubusercontent.com/1425433/180132701-e6a87b9b-2f09-4e96-86ab-fd2ecd15c636.png)

### A clear and concise description of what you expected to happen.

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/14

[2022-07-21 19:55] sdixon194 opened #25159 "De-Fusion: require_lib()"
[code]

[2022-07-22 03:54] kangzj commented on #24681
@gibrown thanks for the input. I've never seen any attachments with status `public` tho, any idea how this could happen?  So you reckon we should revert the PR?

[2022-07-22 03:55] #24940 closed, assigned to a8ck3n

[2022-07-22 05:19] a8ck3n commented on #19035
Note that in Firefox, the Search options and results aren't recognized as part of the tab-loop. This should be partially addressed once #25163 is merged.

https://github.com/Automattic/jetpack/pull/25163

[2022-07-22 10:36] jeherve commented on #4851
Closing as commenting via Google is no longer an option (see #24528).

[2022-07-22 10:36] #4851 closed

[2022-07-22 14:42] gibrown commented on #24681
Ya it seems like we should probably revert it. I am not positive how in the UI to adjust it, but maybe in the media library:

<img width="406" alt="Screen Shot 2022-07-22 at 08 40 31" src="https://user-images.githubusercontent.com/820871/180463353-cc679d22-ba30-46f9-b83f-f98ac3b50770.png">

But any plugin could also set post_status to whatever they want.

[2022-07-22 18:57] sdixon194 opened #25172 "De-Fusion: 3rd Party Compatability Tools"
### Impacted plugin

Jetpack

### What

3rd Party compatibility tools

### How

[code]

D88774-code to start this work.

[2022-07-22 18:59] sdixon194 opened #25173 "De-Fusion: Build Files"
### Impacted plugin

Jetpack

### What

Build Files

### How

[code]

[2022-07-22 19:03] sdixon194 opened #25174 "De-Fusion: Build-related"
### Impacted plugin

Jetpack

### What

Build-related. These are autoloaded by Jetpack

### How

[code]

[2022-07-22 19:04] sdixon194 opened #25175 "De-Fusion: Monorepo JavaScript Packages"
### Impacted plugin

Jetpack

### What

Monorepo JavaScript packages needed for the build

### How

[code]

[2022-07-22 19:05] sdixon194 opened #25176 "De-Fusion: Carousel"
### Impacted plugin

Jetpack

### What

Carousel

### How

[code]

[2022-07-22 19:06] sdixon194 opened #25177 "De-Fusion: Cloudflare Analytics"
### Impacted plugin

Jetpack

### What

Cloudflare Analytics

### How

[code]

[2022-07-22 19:08] sdixon194 opened #25178 "De-Fusion Server-side rendered React components library"
### Impacted plugin

Jetpack

### What

Server-side rendered React components library

### How

[code]

[2022-07-22 19:08] sdixon194 opened #25179 "De-Fusion: Copy Post"
### Impacted plugin

Jetpack

### What

Copy Post

### How

[code]

[2022-07-22 19:10] sdixon194 opened #25180 "De-Fusion: Crowdsignal"
### Impacted plugin

Jetpack

### What

Crowdsignal

### How

[code]

[2022-07-22 19:12] sdixon194 opened #25181 "De-Fusion: Custom Post Types"
### Impacted plugin

Jetpack

### What

Custom Post Types

### How

[code]

[2022-07-22 19:13] sdixon194 opened #25182 "De-Fusion: Custom CSS"
### Impacted plugin

Jetpack

### What

Custom CSS

### How

[code]

[2022-07-22 19:14] sdixon194 opened #25183 "De-Fusion: Dashboard"
### Impacted plugin

Jetpack

### What

Dashboard

### How

[code]

[2022-07-22 19:16] sdixon194 opened #25184 "De-Fusion: Extensions (Block Editor)"
### Impacted plugin

Jetpack

### What

Extensions (Block Editor Extensions)

### How

[code]

[2022-07-22 19:17] sdixon194 opened #25185 "De-Fusion: Featured Content"
### Impacted plugin

Jetpack

### What

Featured Content

### How

[code]

[2022-07-22 19:17] sdixon194 opened #25186 "De-Fusion: Global Functions"
### Impacted plugin

Jetpack

### What

Global Functions

### How

[code]

[2022-07-22 19:19] sdixon194 opened #25187 "De-Fusion: readme.txt"
### Impacted plugin

Jetpack

### What

readme.txt

### How

[code]

[2022-07-22 19:20] sdixon194 opened #25188 "De-Fusion: Filter Embedded HTML Objects (shortcode reversals)"
### Impacted plugin

Jetpack

### What

Filter Embedded HTML Objects (shortcode reversals)

### How

[code]

[2022-07-22 19:21] sdixon194 opened #25189 "De-Fusion: Grunion (Jetpack Contact Forms)"
### Impacted plugin

Jetpack

### What

Grunion (Jetpack Contact Forms)

### How

[code]

[2022-07-22 19:21] sdixon194 opened #25190 "De-Fusion: Gallery Settings"
### Impacted plugin

Jetpack

### What

Gallery Settings

### How

[code]

[2022-07-22 19:22] sdixon194 opened #25191 "De-Fusion: Google Analytics"
### Impacted plugin

Jetpack

### What

Google Analytics

### How

[code]

[2022-07-22 19:23] sdixon194 opened #25192 "De-Fusion: Gravatar Shortcode"
### Impacted plugin

Jetpack

### What

Gravatar shortcode

### How

[code]

[2022-07-22 19:24] sdixon194 opened #25193 "De-Fusion: Highlander (Jetpack Comments)"
### Impacted plugin

Jetpack

### What

Highlander (Jetpack Comments)

### How

[code]

[2022-07-22 19:25] sdixon194 opened #25194 "De-Fusion: iframe Embed"
### Impacted plugin

Jetpack

### What

Iframe Embed

### How

[code]

[2022-07-22 19:27] sdixon194 opened #25195 "De-Fusion: Infinite Scroll"
### Impacted plugin

Jetpack

### What

Infinite Scroll

### How

[code]

[2022-07-22 19:27] sdixon194 opened #25196 "De-Fusion: Instagram Gallery Block"
### Impacted plugin

Jetpack

### What

Instagram Gallery Block

### How

[code]

[2022-07-22 19:29] sdixon194 opened #25197 "De-Fusion: Editor Type Library"
### Impacted plugin

Jetpack

### What

Editor Type Library

### How

[code]

[2022-07-22 19:33] sdixon194 opened #25198 "De-Fusion: JSON API"
### Impacted plugin

Jetpack

### What

JSON API

### How

[code]

[2022-07-22 19:34] sdixon194 opened #25199 "De-Fusion: WP REST API Extensions"
### Impacted plugin

Jetpack

### What

WP REST API Extensions

### How

[code]

[2022-07-22 19:35] sdixon194 opened #25200 "De-Fusion: WP REST API endpoints shared with wpcom"
### Impacted plugin

Jetpack

### What

WP REST API endpoints sharted with wpcom

### How

[code]

[2022-07-22 19:35] sdixon194 opened #25201 "De-Fusion: WP REST API tests shared with WP.com"
### Impacted plugin

Jetpack

### What

WP REST API tests shared with WPcom

### How

[code]

[2022-07-22 19:36] sdixon194 opened #25202 "De-Fusion: Site Abstraction Layer (SAL)"
### Impacted plugin

Jetpack

### What

SAL

### How

[code]

[2022-07-22 19:38] sdixon194 opened #25203 "De-Fusion: SEO Tools"
### Impacted plugin

Jetpack

### What

SEO Tools

### How

[code]

[2022-07-22 19:39] sdixon194 opened #25205 "De-Fusion: Likes"
### Impacted plugin

Jetpack

### What

Likes

### How

This one might be good to save for last.

[code]

[2022-07-22 19:40] sdixon194 opened #25206 "De-Fusion: Mapbox"
### Impacted plugin

Jetpack

### What

Mapbox

### How

[code]

[2022-07-22 19:41] sdixon194 opened #25207 "De-Fusion: Dashboard customizations (Nav Unification)"
### Impacted plugin

Jetpack

### What

Dashboard customizations (Nav Unification)

### How

[code]

[2022-07-22 19:42] sdixon194 opened #25208 "De-Fusion: Minileven"
### Impacted plugin

Jetpack

### What

Minileven

### How

These are all commented out in build-plugin-files.php anyway, so may not need to update anywhere and can just close out and remove hopefully.

[code]

[2022-07-22 19:43] sdixon194 opened #25209 "De-Fusion: Memberships"
### Impacted plugin

Jetpack

### What

Memberships

### How

[code]

[2022-07-22 19:46] sdixon194 opened #25210 "De-Fusion: Podcast Block Helper"
### Impacted plugin

Jetpack

### What

Podcast Block Helper

### How

[code]

[2022-07-22 19:47] sdixon194 opened #25211 "De-Fusion: Podcast Feed Locator"
### Impacted plugin

Jetpack

### What

Podcast Feed Locator

### How

[code]

[2022-07-22 19:47] sdixon194 opened #25212 "De-Fusion: Genericons"
### Impacted plugin

Jetpack

### What

Genericons

### How

[code]

[2022-07-22 19:49] sdixon194 opened #25213 "De-Fusion: Jetpack User Agent"
### Impacted plugin

Jetpack

### What

Jetpack User Agent

### How

[code]

[2022-07-22 19:50] sdixon194 opened #25214 "De-Fusion: Jetpack Gutenberg"
### Impacted plugin

Jetpack

### What

Jetpack Gutenberg

### How

[code]

[2022-07-22 19:50] sdixon194 opened #25215 "De-Fusion: Open Graph"
### Impacted plugin

Jetpack

### What

Open Graph

### How

[code]

[2022-07-22 19:51] sdixon194 opened #25216 "De-Fusion: Media Extraction/Analysis"
### Impacted plugin

Jetpack

### What

Media Extraction/Analysis

### How

[code]

[2022-07-22 19:51] sdixon194 opened #25217 "De-Fusion: Photon"
### Impacted plugin

Jetpack

### What

Photon

### How

[code]

[2022-07-22 19:56] sdixon194 opened #25218 "De-Fusion: Plans Library"
### Impacted plugin

Jetpack

### What

Plans Library

### How

[code]

[2022-07-22 19:57] sdixon194 opened #25219 "De-Fusion: Google fonts"
### Impacted plugin

Jetpack

### What

Google Fonts

### How

[code]

[2022-07-22 19:58] sdixon194 opened #25220 "De-Fusion: Presentation Shortcode Plugin"
### Impacted plugin

Jetpack

### What

Presentation Shortcode Plugin

### How

[code]

[2022-07-22 19:59] sdixon194 opened #25221 "De-Fusion: Publicize"
### Impacted plugin

Jetpack

### What

Publicize

### How

Most of these except the main publicize.php are commented out in build-plugin-files.php, so these may not need updating.

[code]

[2022-07-22 20:00] sdixon194 opened #25222 "De-Fusion: Quiz Shortcode"
### Impacted plugin

Jetpack

### What

Quiz Shortcode

### How

[code]

[2022-07-22 20:01] sdixon194 opened #25223 "De-Fusion: Random Redirect Plugin"
### Impacted plugin

Jetpack

### What

Random Redirect Plugin

### How

[code]

[2022-07-22 20:02] sdixon194 opened #25224 "De-Fusion: Recipes"
### Impacted plugin

Jetpack

### What

Recipes

### How

[code]

[2022-07-22 20:04] sdixon194 opened #25225 "De-Fusion: Related Posts"
### Impacted plugin

Jetpack

### What

Related Posts

### How

[code]

[2022-07-22 20:04] sdixon194 opened #25227 "De-Fusion: Responsive videos"
### Impacted plugin

Jetpack

### What

Responsive Videos

### How

[code]

[2022-07-22 20:05] sdixon194 opened #25228 "De-Fusion: Sharing"
### Impacted plugin

Jetpack

### What

Sharing

### How

[code]

[2022-07-22 20:06] sdixon194 opened #25229 "De-Fusion: Search"
### Impacted plugin

Jetpack

### What

Search

### How

[code]

[2022-07-22 20:07] sdixon194 opened #25230 "De-Fusion: Shortcode Embeds"
### Impacted plugin

Jetpack

### What

- Shortcode Embeds
- And Shared Module Scripts from #25247

### How

[code]

[2022-07-22 20:08] sdixon194 opened #25231 "De-Fusion: Slideshows"
### Impacted plugin

Jetpack

### What

Slideshows

### How

[code]

[2022-07-22 20:10] sdixon194 opened #25232 "De-Fusion: Social Links"
### Impacted plugin

Jetpack

### What

Social Links

### How

[code]

[2022-07-22 20:11] sdixon194 opened #25233 "De-Fusion: Social Logos"
### Impacted plugin

Jetpack

### What

Social Logos

### How

[code]

[2022-07-22 20:11] sdixon194 opened #25234 "De-Fusion: Social Menus"
### Impacted plugin

Jetpack

### What

Social Menus

### How

[code]

[2022-07-22 20:12] sdixon194 opened #25235 "De-Fusion: Simple Payments"
### Impacted plugin

Jetpack

### What

Simple Payments

### How

[code]

[2022-07-22 20:12] sdixon194 opened #25236 "De-Fusion: Sitemaps"
### Impacted plugin

Jetpack

### What

Sitemaps

### How

[code]

[2022-07-22 20:14] sdixon194 opened #25237 "De-Fusion: Subscriptions"
### Impacted plugin

Jetpack

### What

Subscriptions

### How

[code]

[2022-07-22 20:14] sdixon194 opened #25238 "De-Fusion: Theme Tools"
### Impacted plugin

Jetpack

### What

Theme Tools

### How

[code]

[2022-07-22 20:16] sdixon194 opened #25239 "De-Fusion: Tonesque"
### Impacted plugin

Jetpack

### What

Tonesque

### How

[code]

[2022-07-22 20:16] sdixon194 opened #25240 "De-Fusion: Tiled Galleries"
### Impacted plugin

Jetpack

### What

Tiled Galleries

### How

[code]

[2022-07-22 20:17] sdixon194 opened #25241 "De-Fusion: Top Posts"
### Impacted plugin

Jetpack

### What

Top Posts

### How

[code]

[2022-07-22 20:18] sdixon194 opened #25242 "De-Fusion: Twitter Cards"
### Impacted plugin

Jetpack

### What

Twitter Cards

### How

[code]

[2022-07-22 20:18] sdixon194 opened #25243 "De-Fusion: Twitter Thread Unrolling and Publishing"
### Impacted plugin

Jetpack

### What

Twitter Thread Unrolling and Publishing

### How

[code]

[2022-07-22 20:19] sdixon194 opened #25244 "De-Fusion: Upcoming Events iCalendar Reader (shortcode and widget)"
### Impacted plugin

Jetpack

### What

Upcoming Events iCalendar Reader

### How

[code]

[2022-07-22 20:21] sdixon194 opened #25245 "De-Fusion: Widget Visibility"
### Impacted plugin

Jetpack

### What

Widget Visibility

### How

[code]

[2022-07-22 20:21] sdixon194 opened #25246 "De-Fusion: Markdown"
### Impacted plugin

Jetpack

### What

Markdown

### How

[code]

[2022-07-22 20:46] sdixon194 opened #25247 "De-Fusion: Shared Module Scripts"
### Impacted plugin

Jetpack

### What

Shared scripts amongst multiple modules

### How

[code]

[2022-07-22 20:46] sdixon194 opened #25248 "De-Fusion: VideoPress"
### Impacted plugin

Jetpack

### What

VideoPress

### How

[code]

[2022-07-22 20:47] sdixon194 opened #25249 "De-Fusion: Site Logo"
### Impacted plugin

Jetpack

### What

Site Logo

### How

[code]

[2022-07-22 20:48] sdixon194 opened #25250 "De-Fusion: Currencies lib"
### Impacted plugin

Jetpack

### What

Currencies Lib

### How

[code]

[2022-07-22 20:49] sdixon194 opened #25251 "De-Fusion: Divergent Files"
### Impacted plugin

Jetpack

### What

Divergent Files

### How

[code]

[2022-07-22 20:50] sdixon194 opened #25252 "De-Fusion: Shortcodes"
### Impacted plugin

Jetpack

### What

Shortcodes

### How

[code]

Shortcodes:
[code]

[2022-07-22 20:54] sdixon194 opened #25253 "De-Fusion: Widgets"
### Impacted plugin

Jetpack

### What

Widgets

### How

[code]

Widgets:

[code]

[2022-07-22 20:56] sdixon194 opened #25254 "De-Fusion: Widgets That Don't Match Paths"
### Impacted plugin

Jetpack

### What

This Widget's WP.com and Jetpack paths don't match

### How

[code]

[2022-07-22 20:57] sdixon194 opened #25255 "De-Fusion: Endpoints A - E"
### Impacted plugin

Jetpack

### What

API Endpoints

### How

[code]

The Endpoints:

[code]

[2022-07-22 20:58] sdixon194 opened #25256 "De-Fusion: Jetpack unit tests"
### Impacted plugin

Jetpack

### What

Jetpack Unit Tests

### How

[code]

The tests:

[code]

[2022-07-23 03:08] joweber123 opened #25317 "Republishing a post falsely shows the post has been sent to subscribers"
### Quick summary

If a user has an already published post that they switch back to a draft and then republish, the Jetpack notifications show that the post is being sent to their subscribers again, which is not actually happening.

### Steps to reproduce

1. First, ensure that the test site has a least one subscriber
2. Publish a post
3. Switch the post to a draft and make an edit to the text
4.

[2022-07-23 07:16] Greatdane commented on #22696
Another report here; 36093109-hc

Looks like only certain templates. (I could reproduce on Single Item templates)

[2022-07-23 10:14] Seabear211 opened #25259 "Reader to display custom post types"
I think this is self explanatory. This would help people who want to post two different content. Lets say, for example, their blog is like a journal / public diary. They use the default post type for that but they also want to write movie reviews and they want those movie reviews to be in the reader too but it makes more sense for the movie reviews to be a custom post type than to be lumbered in w

[2022-07-25 03:04] thingalon commented on #22297
@karthikax - I'm doing a bit of a clean-up. What is the issue caused by this? Does it cause errors when we change branches?

Is it still relevant?

[2022-07-25 03:31] thingalon commented on #22315
@pyronaur still a bit stuck on this one. When you turn the feature off, the toggle moves to off, and the progress of generating is no longer shown. IMHO as a user this indicates that it's stopped processing based on user action.

Have I missed something?

[2022-07-25 03:47] thingalon commented on #20803
Closing this in favor of 100-gh-Automattic/boost-cloud

[2022-07-25 03:47] #20803 closed

[2022-07-25 03:54] thingalon commented on #20559
Closing in favor of: https://github.com/Automattic/jetpack/issues/22235 and 101-gh-Automattic/boost-cloud. This feature will get documented. ;)

[2022-07-25 03:54] #20559 closed

[2022-07-25 03:56] thingalon commented on #20567
Closing this, as there have been no reports in a long time.

[2022-07-25 03:56] #20567 closed

[2022-07-25 03:58] thingalon commented on #20524
@mikemayhem3030 -- do you think this could help with our setup / retention pipeline? It does seem kind of like an important missing piece to me :)

[2022-07-25 03:58] #20569 closed

[2022-07-25 03:58] thingalon commented on #20569
No longer relevant; speed-score regen has been completely reworked.

[2022-07-25 04:00] thingalon commented on #20554
@mikemayhem3030 based on your research, where do you feel this fits in our plans?

[2022-07-25 04:01] thingalon commented on #20563
We don't currently support hot-swapping configs. We can revisit these issues in the future as we decide to explore this - but autotune is taking a slightly different approach :)

[2022-07-25 04:01] #20563 closed

[2022-07-25 04:01] thingalon commented on #20550
Closing this as an apparently dangerous / untenable idea.

[2022-07-25 04:01] #20550 closed

[2022-07-25 04:09] thingalon commented on #20556
Site headers are already checked by the Critical CSS generator. :)

Closing this in favor of individual tickets tracking the remaining items separately:
- 102-gh-Automattic/boost-cloud
- 99-gh-Automattic/boost-cloud

[2022-07-25 04:09] #20556 closed

[2022-07-25 05:36] jeherve commented on #22003
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-07-25 05:36] #22003 closed

[2022-07-25 06:43] annacmc opened #25261 "Search: Not all overlay elements focusable in Safari"
### Impacted plugin

Search

### Steps to Reproduce

* In Safari, Go to a site with Instant Search enabled and open the search modal.
* Use the keyboard to navigate through the page with Tab.

### A clear and concise description of what you expected to happen.

I expect to be able to tab through the items, for example:

`input > clear > search > sort relevance > sort newest > sort oldest > close m

[2022-07-25 06:53] #25261 closed, assigned to nobody

[2022-07-25 06:53] annacmc commented on #25261
Closing this up as it turns out it's a Safari setting which can be resolved in `Preferences → Advanced → Accessibility `

[2022-07-25 09:07] csabarakasz commented on #12178
Same issue:

- [ ] 23372705-hc

Additional note. The slideshow was working fine. The user installed the hidden page and post title plugin and the slideshow broke. Removed, and deleted the plugin, but the slideshow stayed broken!

[2022-07-25 09:28] coder-karen commented on #12178
The fix for this issue will be in the next Jetpack release (11.2, Aug 2), and before that in the Jetpack Beta release (Tues 26th July). The Beta release will also be offered to WoA sites so this fix may be live on those sites before the end of this week.

@csabarakasz I installed that plugin ('Hide page and post title') on a test site and it didn't seem to break the slideshow there so it looks lik

[2022-07-25 10:04] pyronaur commented on #22315
A video is worth a thousand words :)

https://user-images.githubusercontent.com/988095/180752083-186dc0e7-5705-426f-847f-a8aafd0b818c.mov

Imagine the user having the left tab open somewhere in the background. After turning boost off, resuming the left tab 2 hours later still shows that files were generated successfully and the toggle remains in the on state.

In addition to that, if they user the

[2022-07-25 10:49] jeherve commented on #25259
Related: #760

[2022-07-25 12:46] jeherve commented on #23850
I believe this should now be fixed, since #24857.

[2022-07-25 12:46] #23850 closed

[2022-07-25 12:48] jeherve commented on #22696
cc @danielbachhuber who worked on #24727.

[2022-07-25 13:05] danielbachhuber commented on #22696
@Greatdane Would you be able to provide full reproduction steps? Thanks!

[2022-07-25 13:12] anomiex commented on #25173
As far as I know, these are just used by the TeamCity build job. Once the files built by that job are all switched over, the TC job can be turned off and these can just be deleted.

[2022-07-25 13:23] anomiex commented on #25174
Looks like the path was already removed in r234396-wpcom.

[2022-07-25 13:24] anomiex commented on #25175
Same as #25173: As far as I know, these are just used by the TeamCity build job. Once the files built by that job are all switched over, the TC job can be turned off and these can just be deleted.

[2022-07-25 13:33] anomiex commented on #25251
Nothing to do here, as far as I can tell. The array this entry is in is for the scripts that make a GitHub PR from a wpcom diff, telling them to ignore this file because it's not in Jetpack.

[2022-07-25 13:43] anomiex commented on #25173
So "The files built by that job" are basically anything that winds up in `wp-content/mu-plugins/jetpack/_inc/build/` and `wp-content/mu-plugins/jetpack/_inc/blocks/`. That in turn is probably going to involve other stuff, like #25214 for some references to the latter.

In turn, turning off the TC build will probably also be a blocker for #25184 and maybe some others. Whatever the TC build builds f

[2022-07-25 16:11] sdixon194 commented on #25173
I've added a new column to the project for "remove these last" so we can group together what will need larger coordination.

[2022-07-25 17:22] sdixon194 commented on #25174
Removed from the list in r249568-wpcom

[2022-07-25 17:22] #25174 closed, assigned to nobody

[2022-07-26 00:36] thingalon commented on #22315
_OH_ I see. That video does help. Thank you! :)

[2022-07-26 02:26] antonlukin opened #25267 "Enhancement: Add ability to filter meta tags"
### Impacted plugin

Social

### What

It will be great to add ability to filter meta tags especially image

### How

Add `apply_filters` function to allow plugin developers to substitute their own image.

https://github.com/Automattic/jetpack/blob/trunk/projects/plugins/social/src/class-meta-tags.php#L278

[2022-07-26 03:30] #23393 closed

[2022-07-26 04:00] #23402 closed

[2022-07-26 06:47] Greatdane commented on #22696
Sure @danielbachhuber

1. Create a new template in FSE
2. Add a form block
3. On the form settings, choose redirect on submission and choose a URL
4. Save!

When you visit the page and submit the form, it does not redirect

Here is a video of it in action;

https://user-images.githubusercontent.com/5075840/180941658-8527cbf1-a056-48d3-91d8-a6499068fcd3.mp4

[2022-07-26 08:26] csabarakasz commented on #22834
Same case:

- [ ] 5424421-zd-woothemes

The slideshow looks okay in Editor, but has a super large width on the live site.

[2022-07-26 10:43] karthikax commented on #22297
By looking at the conversation, I think the issue was to do with `jetpack build`. I think running the command before running the tests is all we need. I think this is a non-existant issue. I think we can close the ticket.

[2022-07-26 10:46] mashikag opened #25268 "Subscriptions Block: padding is not applied as expected"
### Impacted plugin

Jetpack

### Steps to Reproduce

1.  Go to post editor
2. Add subscription block
3. Choose `Padding` under`Dimensions` Block settings
4. Apply 100px left and right padding
![Screenshot 2022-07-26 at 12 32 53](https://user-images.githubusercontent.com/2019970/180986037-577ecce4-f32e-445b-8ac2-118fd76a0d1d.png)
5. Notice how the block is back in its original position and width.

[2022-07-26 11:15] mikestottuk commented on #20524
Yeah I guess so, WP Super Cache do this quite nicely so wouldn't be too hard for us to add (Boost needs to be configured). Especially given it now sits under "Jetpack" top level menu it could leave people not sure where to go (noting we DO have a "Settings" tab) but might not be clear enough.

<img width="1492" alt="Screenshot 2022-07-26 at 12 12 57" src="https://user-images.githubusercontent.com/

[2022-07-26 11:17] mikestottuk commented on #20554
Lower priority - see `pc9hqz-HI` for more info but I'll assign myself for when the time is right

[2022-07-26 15:39] danielbachhuber commented on #22696
@Greatdane Thanks! Your additional details are very helpful — I didn't even know that feature existed 😅

Interestingly, this works in my local environment with the latest version of Jetpack and Gutenberg:

<img width="1593" alt="image" src="https://user-images.githubusercontent.com/36432/181028900-38fed2b8-fb9b-4f53-ba49-854b21198304.png">

https://user-images.githubusercontent.com/36432/181029063

[2022-07-27 00:58] #22297 closed

[2022-07-27 02:21] annacmc commented on #23398
The current focus state for the search input field is a yellow highlight, but only when there is text present. I can quite easily update this to have the same blue glow outline on focus, but first, I'd like a second opinion on how it looks. @a8ck3n  @kangzj @bluefuton what do you think here? I feel it's kind of intrusive on the search experience. But on the other hand, it is best practice so 🤷 ope

[2022-07-27 05:37] edent commented on #1796
If I submit that CSS as a patch, is it likely to be accepted?

[2022-07-27 06:00] kaushikasomaiya opened #25284 "[Boost] Enabling lazy loading causes images to disappear on Safari browser on themes like 2022 and Storefront"
### Impacted plugin

Boost

5420128-zen

### Steps to Reproduce

1. Install Jetpack Boost
2. Do not install Jetpack
3. Enable Lazy loading in Jetpack Boost
4. Go to WooCommerce Shop page in Safari browser
5. Experiment loading different URL versions of shop page by appending random parameters ?v=123 or refresh the page
6. You'll see the top image rows does not load up
7. Surprisingly, this gets fi

[2022-07-27 06:00] Greatdane commented on #22696
Awesome, thanks for the quick fix @danielbachhuber! ABSPATH strikes again.

[2022-07-27 06:19] annacmc commented on #19035
I've unassigned this for the moment as after further investigation, I think it would help to look at this after some of the other tab-order related issues are resolved. I suspect a lot of this will be resolved then.

[2022-07-27 06:55] mashikag commented on #23325
Hey @yansern! 👋 Thanks for fixing the issue! There is just [wpcom deployment missing](https://github.com/Automattic/jetpack/pull/25262#issuecomment-1195776923). Once you complete it please close the issue. 🙇

[2022-07-27 07:56] a8ck3n commented on #23398
Yes, I agree it looks a bit odd like that. You can fix it by adding some padding around the input field though. For example…

![InputWithPadding](https://user-images.githubusercontent.com/40267301/181193178-f28da081-361c-40aa-9db4-b96ca823c98d.png)

That's with `padding: 0px 10px;` applied to the input element.

[2022-07-27 11:04] haqadn opened #25293 "Cannot upgrade to Boost Premium on AT"
### Impacted plugin

Boost

### Steps to Reproduce

- Create an AT site
- Enable Critical CSS Module
- Click the upgrade prompt and follow the flow

### A clear and concise description of what you expected to happen.

Users should be able to upgrade, as boost-cloud is able to generate for Atomic.

### What actually happened

It fails with a message saying the item is not compatible with WP.com.

#

[2022-07-27 11:41] jeherve commented on #1796
We'll be happy to review it! We'll see if it make sense to merge it as is, or make a few tweaks before we merge it.

[2022-07-27 11:43] i11za commented on #25293
User report: 5427490-zd-woothemes

Letting them know this is a known issue, and that we're working on it, but there's no ETA.

[2022-07-27 12:15] #22696 closed

[2022-07-27 12:56] edent commented on #1796
Can you please tell me where the "blog-stats.css" is kept? It is literally a one line change to fix this - but I can't find the CSS in this repo.

It is served from https://s2.wp.com/wp-content/admin-plugins/blog-stats/blog-stats.css

[2022-07-27 14:28] mashikag commented on #23325
✅  Just merged and deployed the patch to wpcom: D84773-code

[2022-07-27 14:28] #23325 closed

[2022-07-27 14:29] bobmatyas commented on #3096
Requested here: https://wordpress.org/support/topic/feature-suggestions-for-protect/?view=all

[2022-07-27 14:58] bobmatyas commented on #22810
Request for the ability to use CSS to customize this came up in: https://wordpress.org/support/topic/how-to-customize-jetpack-videopress-player-ui/?view=all

[2022-07-27 15:16] jeherve commented on #1796
That file doesn't live in this GitHub repository; it is versioned in a private repository of ours.

Could you post your patch here? I can then review that change for you in our system.

Thank you!

[2022-07-27 15:41] edent commented on #1796
It's a little hard without access to the unminimised CSS - but here's my best effort.

The current code is:
[code]
The ellipsis doesn't show - as per Firefox's description of the problem:
![Screenshot from 2022-07-27 16-19-44](https://user-images.githubusercontent.com/837136/181285548-c7a98990-7904-45f6-9317-74e8a51d8528.png)

So `table.statsDay td.label` needs at *add*:
[code]

This will cause a

[2022-07-27 15:45] rageratwork opened #25298 "Amazon links embedded in source"
### Impacted plugin

Jetpack

### Steps to Reproduce

We have a WP site with Jetpack 11.1.2. While looking for AWS key usage I stumbled across the file `wp-content/plugins/jetpack/_inc/blocks/editor-beta.js` (this file is found in the `jetpack-production` repository, though I can't submit a report there)

This file contains several links to random Amazon products that really look like spam. Are th

[2022-07-27 17:16] anomiex commented on #25284
The fix from #23553 was included in Boost 1.5.1, which was released about a month ago. Can you double check that that's the installed Boost version?

There was another fix for a lazy images issue first included in Jetpack 11.1.2. Does Jetpack 11.1.1 also fix it or is installing 11.1.2 required to do so?

[2022-07-27 17:30] anomiex commented on #25298
This appears to be dummy data used to preview the (beta) Amazon block in the editor, coming from [projects/plugins/jetpack/extensions/blocks/amazon/dummy-data.js](https://github.com/Automattic/jetpack/blob/71e239f2d68af33d8261919467507ff2a607356f/projects/plugins/jetpack/extensions/blocks/amazon/dummy-data.js). There's a note in [the relevant code](https://github.com/Automattic/jetpack/blob/trunk/

[2022-07-27 17:37] dcoleonline commented on #25444
- [ ] 5427285-zen

I told them to switch to classic pages for now https://web.facebook.com/business/help/664061057662340?_rdc=1&_rdr

[2022-07-27 17:40] rageratwork commented on #25298
Thank you for the update. I feel better knowing it's not some rouge code sitting out there. :-D

[2022-07-27 17:44] allilevine commented on #25298
We haven't worked on it since 2020. 🙂 @pablinos @Copons Do you recall if this code is needed?

[2022-07-27 20:03] NathalyaVides commented on #25284
An update from 5420128-zen, these are the current versions on the site:

Jetpack Boost: by Automattic - Website Speed and Performance team – 1.5.1
Jetpack: by Automattic – 11.1.2

[2022-07-27 23:55] annacmc commented on #23398
I agree the padding helps, but I still wonder if it's quite intrusive. I do know that the focus state for this element was intentionally removed by Jason about 18 months ago. I would imagine for aesthetic reasons. I will create a PR though and we can see what everyone thinks.

[2022-07-28 00:01] bluefuton commented on #23398
@annacmc potentially we could show the focus outline for keyboard users, but not for mouse users:

https://css-tricks.com/the-focus-visible-trick/

[2022-07-28 02:14] kangzj commented on #24903
The issue has been fixed by `3210-gh-Automattic/jetpack-backup`.

[2022-07-28 02:14] #24903 closed, assigned to nobody

[2022-07-28 03:53] kaushikasomaiya commented on #25284
Hi @anomiex

I tested this on the latest versions of Boost and Jetpack yesterday - and I was able to reproduce this issue. It is Intermittent though.

I may be wrong about installing Jetpack along with Boost fixes the issue because doesn't seem to be the case for the user.

[2022-07-28 04:06] kaushikasomaiya commented on #25284
I also created a video of this issue: https://d.pr/v/KM3lDj (JP is not installed here.)

[2022-07-28 04:33] annacmc commented on #23398
Thanks, @bluefuton that is a cool trick! I hadn't discovered that one before! After a lot of messing around with it, it turns out this won't work the same on input fields as they behave differently from other elements.

focus indicators are displayed on text fields any time they’re focused, whether by keyboard or mouse, because it's expected that keyboard input will affect their contents. So the `

[2022-07-28 04:40] a8ck3n commented on #23398
Personally, I'd be in favour of using the default focus settings. In that way, the user can determine the colour and it should properly match the system. From my screenshot above, you can see my highlight colour is pink vs Anna's blue. I understand the desire to remove focus rings from a design perspective when the look isn't what you are going for. That being said, we should probably favour acces

[2022-07-28 04:41] annacmc commented on #23398
I agree with you here, Kevin. Favouring accessibility seems to be a good choice! I was a little hesitant because of the work put in to actively suppress the focus ring, in this case, 😂  but let's try the system default highlight plus padding and see how we go. Putting together a PR for that now.

[2022-07-28 04:46] bluefuton commented on #23398
Sounds like a plan (and thanks for digging into focus-visible a bit more). We can ask for design review on your PR 👍

[2022-07-28 09:21] jeherve commented on #25298
Internal reference: pb5gDS-h1-p2

The block was added in #14441.

[2022-07-28 09:27] coder-karen opened #25305 "Full-width blocks alignment don't match in the editor"
Related to https://github.com/Automattic/jetpack/pull/25107

### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a Jetpack-connected site install and activate the Twenty Twenty Two (or Blockbase, or Twenty Nineteen) theme.
2. Add a Cover block, Slideshow block and Gallery block to a new post (using the wp-admin post editor or the WordPress.com editor)
3. Set the alignment within all three

[2022-07-28 10:13] jeherve commented on #1796
It's been some time indeed, more than 4 years in fact. We've focussed our efforts on [the WordPress.com Stats view](https://wordpress.com/stats/day) instead, which provides more information and is mobile-friendly.

For now, I've included the changes you suggested, they seemed to test well on my end. You should start seeing the changes appear in your dashboard soon (that file is cached so it may ta

[2022-07-28 10:13] #1796 closed

[2022-07-28 10:32] coder-karen opened #25306 "Slideshow Block: Align-wide results in image overlaps with several themes"
Related to https://github.com/Automattic/jetpack/pull/25107

### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a Jetpack-connected site install and activate the Twenty Twenty Two (or Blockbase, Hemingway, Twenty Sixteen, Astra) theme.
2. Add a Slideshow block, with various images of differing size.
3. Set the block alignment to Wide width.
4. In the editor (wp-admin), image navigation ap

[2022-07-28 10:38] BenceSzalai commented on #22810
The best would be to allow the theme to inject css into the iframe, so all players on a given site could accommodate the rest of the appearance. Also it seems to be the lowest effort solution, as with CSS everyone pretty much gets the freedom they need instead of implementing individual configuration options like play button size, seek bar height, volume icon etc. In a professional site all of the

[2022-07-28 11:28] BenceSzalai commented on #22810
Digging a bit in the code I've found the `jetpack_videopress_player_use_iframe` filter [here](https://github.com/Automattic/jetpack/blob/trunk/projects/plugins/jetpack/modules/videopress/class.videopress-player.php#L632). So I assume it can be used to circumvent the IFRAME embed. I'll try to use that to see if that could be a way to apply the page CSS to the player.

Will come back to update it la

[2022-07-28 12:27] mikemayhem3030 opened #25455 "Allow the "Delete Cache" button on the admin bar to be controlled"
Some users do not want a permanent delete cache button on the admin bar - add an option to turn this off.

[2022-07-28 14:57] sdixon194 commented on #25177
D85011-code

Delete diff: D85012-code

[2022-07-28 15:03] sdixon194 commented on #25177
Handled in r249751-wpcom and r249752-wpcom

[2022-07-28 15:03] #25177 closed, assigned to nobody

[2022-07-28 15:29] sdixon194 commented on #25184
Handle at same time as #25214

[2022-07-28 15:29] sdixon194 commented on #25214
Handle at same time as #25184

[2022-07-28 15:40] jeherve opened #25311 "A test Boost issue"
### Impacted plugin

Boost

### Steps to Reproduce

Just a test, please ignore

### A clear and concise description of what you expected to happen.

_No response_

### What actually happened

_No response_

### Browser

_No response_

### Other information

_No response_

### Platform (Simple, Atomic, or both?)

_No response_

### Reproducibility

Consistent

### Severity

_No response_

### Avail

[2022-07-28 15:44] #25311 closed, assigned to nobody

[2022-07-28 18:09] cuemarie commented on #25101
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm able to replicate this issue consistently across Simple, AT, and Self-Hosted sites, as well as P2.
- As described above, Classic Themes could display the Slideshow in the Editor, but it was still missing on the live site. FSE themes (and P2) di

[2022-07-28 18:28] cuemarie commented on #25317
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Republishing any already published post (by saving as draft, then publishing again) showed the same notification that the post will be / was sent to my readers.

<img width="1228" alt="Markup 2022-07-28 at 11 15 11" src="https://user-images.githubusercontent.com/27

[2022-07-28 19:14] BenceSzalai commented on #22810
## Findings

So it looks like `jetpack_videopress_player_use_iframe` is kinda broken, because **it only works for videos added using a shortcode**, e.g. [videopress WrC5GDcm]. However if someone adds the video into the block editor as a video block, the resulting `.*/s', '[videopress $1]', $content);
	return $content;
}
[code]

## However this is only a workaround
The proper behaviour imho would b

[2022-07-28 23:24] BenceSzalai commented on #22810
## A better Workaround
As mentioned above, a better workaround can be implemented using the `pre_render_block` filter.

[code]

One shortcoming of this is due to the limitation of the shortcode embed is that the video is not really responsive by default. Few css adjustments can make it responsive, however the video height may flash during load which is an issue too, so I've just set a 16:9 min hei

[2022-07-29 05:03] bluefuton opened #25322 "Search: permission error when activating standalone plugin if Jetpack-the-plugin is also installed but not activated"
### Impacted plugin

Jetpack, Search

### Steps to Reproduce

1. Start with a fresh test site (e.g. Jurassic Ninja) with Jetpack installed but not connected.
2. Install the Jetpack Search standalone plugin from a zip file via /wp-admin/plugin-install.php.
3. Click the button to 'Activate plugin'.

### A clear and concise description of what you expected to happen.

I am taken to the Search dashboa

[2022-07-29 08:13] coder-karen opened #25326 "Slideshow block: Controls have no contrast (on select themes)"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a Jetpack-connected site install and activate the Twenty Twenty One theme.
2. Add a Slideshow block to a new post, and add more than one image.
3. Save the draft and publish or view the preview - clicking the controls will result in a white square (no control indication).

### A clear and concise description of what you expected to happen

[2022-07-29 10:39] coder-karen opened #25327 "Sharing buttons: Discrepancies between themes on homepage / archive pages"
### Impacted plugin

Jetpack

### Steps to Reproduce

Adding this issue as a 'main' issue of sorts, to collect examples of discrepancies between themes in terms of sharing / like button visibility, specifically in relation to home / archive pages.

To replicate the issue, activate one of the following themes: Twenty Twenty Two, Catch FSE, OceanWP, Blockbase, Pistache.

1. On a Jetpack connected si

[2022-07-29 11:28] coder-karen opened #25329 "Sharing buttons: Specific sharing configuration results in misleading page editor display"
### Impacted plugin

Jetpack

### Steps to Reproduce

This issue is specific to a particular configuration of sharing settings. While this can be replicated in both beta and previous versions of Jetpack and there are existing, similar issues, this issue is more pronounced as a result of this PR - https://github.com/Automattic/jetpack/pull/24896 - because sharing buttons now shouldn't display at al

[2022-07-29 12:27] jeherve commented on #25329
cc @wojtekn and @danielbachhuber, who worked on #24896

[2022-07-29 12:29] jeherve commented on #25327
These problems may not be worth fixing in the current iteration of the sharing buttons, but would get fixed if we had a sharing button block for FSE: #19694

[2022-07-29 13:19] jffng opened #25330 "Subscription block: customize appearance of confirmation messages in the block editor"
### Impacted plugin

Jetpack

### What

It would be useful to be able to customize the appearance of the form's confirmation message via the editor

### How

Currently when a user subscribes, the block renders a notification with [some inline styles](https://github.com/Automattic/jetpack/blob/83cc5ec097251a017cd60ba4deff67f3e24b2081/projects/plugins/jetpack/modules/subscriptions/views.php#L304).

[2022-07-29 13:42] david-binda opened #25332 "User meta cache being purged on every wp-admin request"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Make sure some persistent cache storage is enabled in your test environment (eg.: memcache)
2. Have Gutenberg the plugin installed
3. Go to /wp-admin screen while having some plugin showing the SQL queries enabled (debug bar, query monitor)
4. Notice that there is a SQL query collecting all user meta during the screen load
5. Go to some othe

[2022-07-29 13:44] jeherve commented on #25332
Previous work on this: #19520

[2022-07-29 14:51] wojtekn commented on #25329
@coder-karen I've checked the provided steps on the local Jetpack site, and I reproduced the issue. Then I reverted https://github.com/Automattic/jetpack/issues/25329, and I still reproduce the issue in the editor.

It seems an editor issue was in place, and in related PR we fixed the frontend part but missed the issue in the backend. Is it what you observed too?

I'm happy to help with checking t

[2022-07-29 14:59] coder-karen commented on #25329
Yes the editor issue existed before the PR. So the PR hasn't introduced the issue, but it stands out more because the frontend (within the Blog Posts block) doesn't show sharing buttons now.

[2022-07-29 15:03] wojtekn commented on #25329
@coder-karen thanks for validating that.

[2022-07-29 18:39] davipontesblog commented on #24733
Another user report in 36106585-hc

[2022-07-29 20:23] sdixon194 commented on #25209
r249837-wpcom and r249844-wpcom

[2022-07-29 20:23] #25209 closed, assigned to nobody

[2022-07-29 21:43] chrisbliss18 commented on #24654
Closing this issue as the bulk of the work has been taken care of in PRs #25300 and #25315. These PRs take care of all the changes need in all Jetpack monorepo code.

There is one lingering call in the WCPay project. I've contacted their team about removing this last remaining call. This can be tracked in [this issue](https://github.com/Automattic/woocommerce-payments/issues/4256).

[2022-07-29 21:43] #24654 closed

[2022-07-30 14:05] braddalton commented on #25259
Why can't there be an option to include CPT's like WooCommerce products?

[2022-07-30 18:48] cuemarie commented on #11062
Another report of this issue here: 36258308-hc

Recommended they try [WP Feed Post Thumbnail](https://wordpress.org/plugins/wp-feed-post-thumbnail/) or [Featured Images in RSS for Mailchimp & More](https://wordpress.org/plugins/featured-images-for-rss-feeds/) to address the issue.

[2022-07-31 07:52] essleeung commented on #24536
User shared similar feedback. They wanted to remove the navigation dots or the large pause button in the top right corner when on auto play or edit the prev/fwd buttons at the bottom.
5435763-zd-woothemes

[2022-08-01 02:03] #25322 closed, assigned to kangzj

[2022-08-01 07:36] jeherve commented on #24733
The Reddit team acknowledged the issue, and added that bug to their bug tracker. I'll post again here once they reply.

[2022-08-01 09:31] jeherve opened #25344 "Google Docs Embed Block: Primary issue"
- [ ] Ensure private preview notice works well with dark themes https://github.com/Automattic/jetpack/pull/24628#pullrequestreview-1041412672
- [ ] Switch to `@automattic/jetpack-base-style` https://github.com/Automattic/jetpack/pull/24628#discussion_r920868643
- [ ] Ensure labels can be translated https://github.com/Automattic/jetpack/pull/24628#discussion_r934321936
- [ ] Add tests for the block

[2022-08-01 09:32] jeherve commented on #25344
@that-mike-bal Feel free to edit the issue above and add to the list if you have more items you'd like to address.

[2022-08-01 14:13] sarayourfriend opened #25348 "Enhancement: Disable instant search when client prefers reduced motion"
### Impacted plugin

Search

### What

Disable instance search when client prefers reduced motion. Instant search is extremely disorienting as it moves the text box if you pause to think about your query for even a moment.

### How

Check `window.matchMedia('(prefers-reduced-motion)').matches` and disable instant search when it is true, even if the plugin has instant search disabled.

[2022-08-01 17:56] ariel-maidana commented on #25293
Please notify the user in 5427490-zd-woothemes when the issue is fixed.

[2022-08-01 22:25] bluefuton commented on #25348
Thanks for raising this @sarayourfriend.

Is it the opening of the modal that is the primary cause of disorientation?

We currently have a PR in the works (https://github.com/Automattic/jetpack/pull/25093) to make 'submit' the default overlay trigger, so you would need to hit Enter or click the submit button before the modal opens. There would be no modal opening during typing or when you pause.

[2022-08-02 06:44] #25138 closed, assigned to annacmc

[2022-08-02 08:46] #20791 closed

[2022-08-02 08:46] #23366 closed

[2022-08-02 11:20] lukaszwilczakwilnet commented on #19404
This task was resolved by another [issue](https://github.com/Automattic/wp-calypso/pull/62021)

[2022-08-02 11:31] sarayourfriend commented on #25348
The modal opening while you're still typing the query, yes. If the modal waited to open until the user intentionally submits the query then it would solve the problem, at least for me.

The change you've described would solve my problem, but I think this part is critical to me:

I interact with dozens of individual WP sites with Jetpack installations and having to request the change on all of them

[2022-08-02 11:38] #25329 closed, assigned to wojtekn

[2022-08-02 11:57] #19404 closed

[2022-08-02 12:13] rickmgithub opened #28133 "Stats counting on private site while editing pages"
### Quick summary

On a private site simply editing a page/post causes the view count to increase on the stats page.

### Steps to reproduce

PROBLEM:
Why is the stats module counting visits from them themselves?

WHAT I FOUND:
* The site is private (which means that visits to the site by any admin or invited person will be counted)
* However, they say it is counting views when they simple edit a

[2022-08-02 13:58] #23422 closed

[2022-08-02 18:51] samiff commented on #25249
Putting this approach up for review:

1. Prerequisite JP PR to require out-of-sync wpcom specific implementation: #25359
2. Update main mu-plugin file to point to the Jetpack plugin path: D85249-code
3. Cleanup obsolete Fusion refs: D85251-code

**To test:**

- Patch D85249-code to sandbox. This will require the `site-logo.php` file from the jetpack-plugin dir.
- Update the `site-logo.php` file in

[2022-08-02 20:22] Joshgrygiel commented on #28133
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - N/a
- Replicable on Core - N/a

📌 FINDINGS/SCREENSHOTS/VIDEO:
- I was able to reproduce this issue on only a Free testing site:

https://user-images.githubusercontent.com/88345647/182465697-e216080a-5c57-4449-aece-12da49422f13.mov

- Issue does not seem to occur on any site that has a paid plan, only t

[2022-08-03 00:35] cometgrrl commented on #25363
I am not able to reproduce this. However, I am not able to see the Exif of my photo, even when `Show photo metadata ([Exif](https://en.wikipedia.org/wiki/Exchangeable_image_file_format)) in carousel, when available`. is on.

[2022-08-03 04:15] a8ck3n commented on #25348
This sounds like a really smart improvement. It's fine for the site owner to set their preference but even better if we can cater to the site visitors too.

[2022-08-03 04:42] bluefuton commented on #25348
Just noting that we shipped the PR to make 'submit' the default overlay trigger today (https://github.com/Automattic/jetpack/pull/25093).

I concur 👍  I've added this issue to our Accessibility project board.

[2022-08-03 08:22] jeherve commented on #25363
This is a duplicate of #20470, which was fixed in #20747. Things work well now, both on WordPress.com simple or in Jetpack.

- Here is the Carousel modal when the exif option is on:

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/426388/182559731-d67bafbc-d3b3-414e-a800-0e031d4c7c18.png">

- Here is the same image when the exif option is off:

<img width="1305" alt="i

[2022-08-03 08:22] #25363 closed

[2022-08-03 09:03] simkoG opened #25365 "WPCOM API: PHP Warning when plugins are auto-updated"
### Impacted plugin

Jetpack

### Steps to Reproduce

I couldn't find a way to reproduce this warning, but it shows in the error_log file if `WP_DEBUG_LOG` is set to `true`.

### A clear and concise description of what you expected to happen.

No Jetpack warnings in the error_log file.

### What actually happened

Sometimes the plugin puts this PHP warning in the error_log file.

[code]

### Brows

[2022-08-03 09:31] jeherve opened #25366 "VideoPress: dashboard settings card does not support eCommerce plan"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to https://wordpress.com/start
2. Go through the steps to create a new WordPress.com site, using **an eCommerce plan**
3. Once the site is created, go to the Jetpack menu
4. Click on the Settings link at the top right side of the Jetpack dashboard
5. Click on Performance
6. At the bottom of the page, you will see the VideoPress card.

###

[2022-08-03 09:34] jeherve commented on #25366
This is probably linked to the differences between feature names between WordPress.com and Jetpack: `VIDEOPRESS_1TB_STORAGE` and `VIDEOPRESS_UNLIMITED_STORAGE` are currently only used on standalone Jetpack sites.

[2022-08-03 11:27] dsas commented on #25371
I can't reproduce this at all. I've tried on simple and on atomic sites.

On my atomic site, I installed the Tortuga theme from dotorg and it still made no difference.

My test post has this content:
[code]

@galakhyati, can you provide your post content or invite me to a test site to take a look?

[2022-08-03 11:32] dsas commented on #25371
A " character will be converted to a “ by WordPress at display time 🤔 .

[2022-08-03 12:27] sarangsss29 opened #25374 "VideoPress - Mobile screen recordings alignment issues"
### Impacted plugin

Jetpack

### Steps to Reproduce

VideoPress: Smartphone screen recordings don't align properly, takes up the whole page - Jetpack video or videopress
I sometimes use the Jetpack Video or VideoPress block in the post editor. I mostly use the mobile screen recordings because my site is tech-based and I mostly have mobile recordings.
Screenshot:
https://i.postimg.cc/qBt4Syz8/Vide

[2022-08-03 14:47] renata-franco commented on #22834
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this by adding the Slideshow Block inside the Header and Footer Only Template. When I added it inside the Index, Page, and Single, nothing appeared. It was as if I didn't add the Slider Block. I tried using Pendant, 2022, and Blank C

[2022-08-03 15:57] renata-franco commented on #25305
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes/No

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this using Twenty Twenty-Two theme on a Simple site. Looks like this:

![image](https://user-images.githubusercontent.com/81378719/182652398-94455680-c6b4-4795-9749-aedd4844b128.png)

Changed to Twenty Twenty theme

[2022-08-03 16:55] #25366 closed, assigned to jeherve

[2022-08-03 17:09] dsas commented on #25102
Looks like there are two issues with this upgrade nudge:
 1. The div with the black background sometimes has a too small height. This can make it look cut-off or otherwise tricky to read.
 2. The block toolbar menu hovers over the top of the nudge obscuring it. i.e. it's a recurrence of #23248

The small height could be fixed by removing the fixed `height`s from paid-blocks/editor.scss + maybe som

[2022-08-03 18:16] sarverse commented on #25374
The video's height is way too big! You can't watch the complete video on the screen. You only see like 50% of the video height.
Here is a video. You will get the idea.
https://www.loom.com/share/5911c9fb342d4abe948bf37e51b6e1b7

[2022-08-03 21:19] sergeymitr commented on #25087
Hi @keoshi.

What is the reasoning behind making the IDC warning small and easier to ignore on the My Jetpack page? Is there a specific functionality users should be able to access on that page while the site is in identity crisis?

When we were working on the new IDC screen, the goal was to make hard to miss. On most WP-admin pages it pushes the page content far down, and on Jetpack Dashboard and

[2022-08-03 21:42] kangzj opened #25380 "Instant Search: Better error messaging"
### Impacted plugin

Jetpack, Search

### What

Make Instant Search show proper error messages

### How

For now, when search API fails, Instant Search would show error message like the following regardless what exactly the error is:

![image](https://user-images.githubusercontent.com/1425433/182716892-17614036-f2e6-44ae-902b-75433f69e2ac.png)

Which I would say is almost 100% percent wrong, and t

[2022-08-03 21:49] samiff commented on #25245
Update diff: D85327-code
Cleanup diff: D85330-code

**To test:**

- Apply both patches to sandbox.
- Use the widget visibility settings from the block editor and make sure everything still works and their are no errors.

[2022-08-04 03:22] #25137 closed, assigned to annacmc

[2022-08-04 04:29] kangzj opened #25382 "Feature Request: Add 'My Jetpack' and 'Settings' links to Search plugin line on plugins page"
### Impacted plugin

Search

### What

I'd like two links added for Search plugin on plugins page to align with other standalone plugins

### How

- 'My Jetpack' links to `/wp-admin/admin.php?page=my-jetpack`.
- 'Settings' links to `/wp-admin/admin.php?page=jetpack-search`.

Example is Boost:

![image](https://user-images.githubusercontent.com/1425433/182763297-a3bf840f-f8f6-4575-9cb5-e6e1ec795e54

[2022-08-04 06:06] therealestpetie commented on #9170
Miine is saying wp-content/plugins/all-in-one-wp-migration/lib/view/assets/javascript/import.min.js?v=7.62&ver=6.0.1:1345

I have tried almost everything

[2022-08-04 06:37] therealestpetie commented on #9170
error: function error(jqXHR, textStatus) {
      throw new Error(textStatus);

[2022-08-04 08:36] jeherve commented on #25374
Thank you for the feedback, we'll take a look!

Jetpack's Video Block allows you to upload videos to the VideoPress service. So the 2 things are indeed linked! We're currently working on some changes to the feature and the different blocks, so things should get clearer in the next few months.

[2022-08-04 12:38] bobmatyas commented on #17402
Requested in 5448498-zen

[2022-08-04 13:44] sdixon194 commented on #25245
Tried with multiple themes, block widget editor in wp-admin and customizer, and jetpack search sidebar, multiple conditions, etc. Everything seems to work perfectly fine 👍

[2022-08-04 15:56] zinigor commented on #25195
So I'm ashamed to admit that there's this huge diff that meant to bring IS back into Sync, but I haven't yet merged it:
D15997-code

When you get to this, let me know, we can look at it together, because there were several gotchas.

[2022-08-04 16:43] dsas commented on #25102
The way that the CSS avoids the block toolbar menu from covering the nudge + content is by setting the nudge to display the nudge height + half the height of the toolbar away from the top and then make the actual block have a padding-top equal to the height of the nudge so that the toolbar leaves that much space when calculating it's position.

In order to know the height of the nudge it hardcodes

[2022-08-04 18:47] samiff commented on #25245
Update changeset: r250140-wpcom
Cleanup changeset: r250141-wpcom

[2022-08-04 20:55] samiff commented on #25238
0. I've synced the wpcom side with JP changes already in D85392-code / r250146-wpcom
1. Prerequisite JP PR to sync down the wpcom side: #25389
2. De-Fusion update diff: D85395-code
3. De-Fusion cleanup diff: D85397-code

**To test:**

* Apply D85395-code to sandbox.
* Place an error_log in `twentytwenty.php` (in the jetpack-plugin dir) which should be active on the site. You could also edit the co

[2022-08-05 11:13] shantanu2704 opened #25396 "Sidebar Widgets filtering: PHP warnings"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Visit a single post of any post type and append `?relatedposts=1` to the URL.
2. Check the logs for a warning like—

[code]

Similarly, the following are thrown on a category or tag archvie—

[code]

[code]

[code]
[code]

[2022-08-05 13:07] jeherve commented on #25396
Could you copy the contents of that function in your theme, and paste it here so we can take a closer look?

Thank you!

[2022-08-05 14:40] dsas commented on #24074
#25397 fixes this for Jetpack, but the same change needs making in Calypso :)

[2022-08-05 17:24] sdixon194 commented on #25236
There's an internal bot that shows when sitemaps goes down that could be worth using to make sure our changes are fine. Internal ref: pcOTDw-hN-p2

[2022-08-05 20:02] samiff commented on #25203
Update diff: D85493-code
Cleanup diff: D85495-code

**To test:**

- Apply D85493-code to sandbox on a simple WPcom site with Business plan.
- Delete `wp-content/lib/seo-tools/` dir to simulate the cleanup diff.
- Verify that SEO Tools features are still working (try changing settings and viewing on frontend), and that no errors are reported on sandbox.
  - `https://wordpress.com/marketing/traffic/

[2022-08-06 04:20] Robertght opened #25402 "Facebook Page plugin: width and height values are not respected"
### Quick summary

_No response_

### Steps to reproduce

1. Activate a classic theme
2. Add a Facebook page plugin widget
3. Add a Facebook page. (e.g: https://www.facebook.com/calcioinretro)
4. Change the height and width values

### What you expected to happen

To display the respected dimensions set in the widget.

### What actually happened

The widget size remained the same, regardless of th

[2022-08-06 04:22] Robertght commented on #25402
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- As this is a Jetpack plugin, I'm moving this to the Jetpack repo

📌 ACTIONS
- Transferred to XYZ external repo: https://github.com/Automattic/jetpack/i

[2022-08-06 14:11] hearvox opened #25403 "Feature Request: Add values submitted via Contact Form to contact_form_to hook"
### Impacted plugin

Jetpack

### What

Add $all_values param to contact_form_to filter

### How

Jetpack's Contact Form would be much more versatile if the submitted form values were included in the [contact_form_to](https://developer.jetpack.com/hooks/contact_form_to/) filter. For example, the email recipient could be programmatically based on a user's dropdown selection. This is already possibl

[2022-08-07 06:45] dromero20 opened #25404 "Transforming Masonry Block -> Gallery Block -> hovering another image block crashes the editor"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Create a new page and add a Masonry Gallery Block with some images.
2. Save the draft and reload the page.
3. Transform the block into a Gallery Block.
4. Try to transform the Gallery Block into a Tiled Gallery.

![masonry](https://user-images.githubusercontent.com/23258551/183278684-d1a022fc-8f38-41cc-84f4-aa36052add48.gif)

### A clear and

[2022-08-08 04:21] bluefuton opened #25407 "Search: sort buttons inherit some styles from the theme"
### Impacted plugin

Jetpack, Search

### Steps to Reproduce

1. Enable Instant Search on a test site with the Twenty Twenty One theme.
2. Enable dark mode for your search modal in the Search customization settings.

### A clear and concise description of what you expected to happen.

Sort options should look consistent and look like links.

### What actually happened

The sort links unexpectedly

[2022-08-08 06:04] happychait commented on #25011
Another report in 5461369-zen

[2022-08-08 08:32] aisajib commented on #12178
Forgive me if this isn't the right place (Happy to open a new issue), but I noticed the Slideshow block now crops the images when full-width is selected. I believe that, unlike Cover blocks, Slideshow blocks should show the image in full without cropping in. Could you check and see if it's related to this or if I should open a new issue?

[2022-08-08 09:25] #25332 closed, assigned to david-binda

[2022-08-08 10:51] dsas commented on #24074
Calypso change is at https://github.com/Automattic/wp-calypso/pull/66338

[2022-08-08 11:20] danielbachhuber commented on #12178
@aisajib Can you share the specific example you're referring to?

[2022-08-08 12:22] #24074 closed

[2022-08-08 13:17] aisajib commented on #12178
Sure! Sorry! This was reported by the user on live chat. You can see it replicated on my test site here: https://wptutos.wordpress.com/2022/08/08/slideshow-block/

You'll notice when the block is Full Width, the image is significantly cropped. It's keeping the same aspect ratio, but I think keeping the image appearing in full should be the priority?

[2022-08-08 13:27] danielbachhuber commented on #12178
@aisajib Great! I can see what you're referring to:

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/36432/183427174-b6805578-3c56-4a22-8bfd-f97eb2264f3e.png">

vs.

<img width="1393" alt="image" src="https://user-images.githubusercontent.com/36432/183427243-a1fd21b7-0f9d-4245-9f22-a356364b01ec.png">

The product decision we made was actually the opposite: when the blo

[2022-08-08 13:45] aisajib commented on #12178
Thanks @danielbachhuber ! I assume the user can't make the images go full width while showing the full, uncropped images? That's what the user wants, basically. The images should go full width, but they should not be cropped.

[2022-08-08 15:16] mmtr commented on #25102
Could we achieve that if the nudge is rendered via [the `editor.BlockEdit` filter](https://github.com/WordPress/gutenberg/blob/6ecb4c7740c3767f30878a3c639367a290dbbfba/docs/reference-guides/filters/block-filters.md) instead of using the `editor.BlockListBlock` filter?

https://github.com/Automattic/jetpack/blob/5e97040ad217da10434cbe6f0ba31b0b499388a6/projects/plugins/jetpack/extensions/extended-b

[2022-08-08 15:30] danielbachhuber commented on #12178
@aisajib Your assumption is correct — this isn't easily possible at this time.

[2022-08-08 16:02] aisajib commented on #12178
Thank you! I appreciate the help here. :) I've passed this on to the user and suggested some workarounds.

[2022-08-08 16:21] coder-karen commented on #25212
I've taken a look at this, and approached this one in the following way:

1. The Jetpack and WPcom files were in sync, so no steps needed here.
2. Updated the main mu-plugin file to point to the new Jetpack plugin path: D85555-code
3. Cleanup obsolete Fusion references: D85556-code

To test this out:

1. Apply D85555-code while sandboxed.
2. Add a theme like Ryu that includes genericons.
3. Add a

[2022-08-08 16:42] cagrimmett commented on #12968
+1 !

[2022-08-08 21:09] samiff commented on #25253
Update diff: D85583-code
Cleanup diff: D85590-code

**To Test:**
* Apply _both_ diffs to sandbox (I checkout both, then just merge one onto the other for testing).
* Try testing a few of the modified widgets to make sure things work ok and no errors are generated.
* Maybe try an error log in one of the jetpack-plugin widget files to verify correct path is being loaded.

[2022-08-08 21:50] ha-un commented on #21787
User with Stewart theme wanted to use infinite scrolling. (36388469-hc)

[2022-08-08 21:54] samiff commented on #25212
@coder-karen This tested well for me and is ready to deploy 👍

[2022-08-08 23:48] #20849 closed

[2022-08-09 04:52] #23396 closed

[2022-08-09 10:24] jeherve opened #25416 "Performance: consider implementing resource preloading"
### Impacted plugin

Jetpack, Backup, Boost, Search

### What

WP Core just added options to handle resource preloading. This may be a good opportunity to review our usage of preloading and resource hints in Jetpack plugins.

### How

This was just added to WP Core, and will ship with the upcoming version of WordPress, v. 6.1, in November 2022:

https://core.trac.wordpress.org/changeset/53846

It

[2022-08-09 10:24] jeherve opened #25417 "WordPress 6.1 compatibility"
WordPress 6.1 is set to release on November 1, 2022.
https://make.wordpress.org/core/6-1/

We consequently need to ensure that Jetpack is fully compatible with this new release by Jetpack 11.5, scheduled to be released on November 1, or maybe even 11.4, in October (we usually avoid releasing a version of Jetpack on the same day as a new version of Core).

*******

- [x] Update our "tested up to" v

[2022-08-09 12:59] coder-karen commented on #25212
Update changeset: r250351-wpcom
Cleanup changeset: r250352-wpcom

[2022-08-09 13:00] #25212 closed, assigned to coder-karen

[2022-08-09 13:14] alinclamba opened #25421 "Contact Info block: Contact Info block is missing fields "image" and "name" in Google Rich Result Test"
### Impacted plugin

Jetpack

### What

Contact Info block: add "image" and "name" fields for Google Rich Result test

### How

When using the Contact Info block, the Google Rich Result Test shows that two fields are missing: "image" and "name":

<img width="940" alt="Markup 2022-08-09 at 13 02 11" src="https://user-images.githubusercontent.com/6790170/183654943-2109c70b-cbec-4eab-8073-42b776a82da

[2022-08-09 14:37] dsas commented on #25102
Unfortunately no, that doesn't seem to work either. The `editor.BlockEdit` filter has the same problem. The editor.BlockEdit filter gives you the block with the clientId, but you can't put the `UpgradePlanBanner` inside that.

In both cases, even though the HOC gets different components (BlockEdit is a component wrapped with InspectorControls, ToolbarControls etc, BlockList is a component wrapped

[2022-08-09 21:23] samiff commented on #25242
Update diff: D85676-code
Cleanup diff: D85679-code

**To Test:**

- Patch update diff to sandbox.
- Paste a link to a Tweet in a post and preview that on frontend.
- Tweet should render as expected, no errors on sandbox.

[2022-08-09 21:47] samiff commented on #25241
Update diff: D85681-code
Cleanup diff: D85682-code

To Test:

- Patch update diff to sandbox.
- Add error log to `jetpack-plugin/production/class.jetpack-post-images.php`
- Load frontend of site with posts and ensure the new file location is loading ok, no errors on sandbox.

[2022-08-09 23:34] happychait opened #28167 "Rebalance theme: Sharing buttons are not displayed on the Front Page (wpcom simple)"
### Quick summary

Sharing buttons are not displayed on the front page despite enabling the `Front Page, Archive Pages, and Search Results` option for the `Show like and sharing buttons on` setting as in this screenshot:
![Sharing buttons on the front page](https://user-images.githubusercontent.com/1519466/183779173-65d98992-5fe8-47e5-861b-c147aa0104aa.png)

### Steps to reproduce

1. From https:/

[2022-08-10 01:29] wpgaurav opened #25427 "Emojis in code editor render broke image icon"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Have Jetpack activated
2. Go to Theme Editor or any code editor in the backend.
3. Insert an emoji
![k1jwMgLVTt5TFhoRennSP0e3wVnfSVmpPtrm6j9k](https://user-images.githubusercontent.com/3599257/183790030-e89bc914-19c6-4239-804d-5b6088443d36.jpeg)

Possible cause: Jetpack is loading twemoji script from twemoji.maxcdn.com

### A clear and conci

[2022-08-10 06:42] jeherve commented on #25427
I don't believe this is done by Jetpack. I would recommend that you check the other plugins on your site, or reach out to your hosting provider about this; they're most likely to be the ones making use of a third-party CDN provider (MaxCDN). Jetpack includes its own image CDN, so we do not rely on MaxCDN anywhere.

[2022-08-10 06:42] #25427 closed, assigned to nobody

[2022-08-10 06:50] jeherve commented on #25404
This seems similar to #21801.

Since the bug impacts a Coblocks block (the Masonry block), we will not be able to help with this here. I would recommend reporting the issue in the Coblocks repo instead.

[2022-08-10 06:50] #25404 closed, assigned to nobody

[2022-08-10 09:01] coder-karen commented on #25253
I did pick up on one issue so far in testing: the Google Translate widget didn't work with both diffs applied, but does work without them.
In the console in the widget editor screen (using Twenty Twenty), there was an error showing (when sandboxed and the diffs applied): `GET examplesiteaddress.com/wp-content/mu-plugins/widgets/google-translate/google-translate.js?ver=wpcom net::ERR_ABORTED 404`.

[2022-08-10 09:18] dsas commented on #25371
@galakhyati, @jamiepalatnik: Any further clues on reproducing this?

[2022-08-10 10:56] dromero20 commented on #25404
Reported in Coblocks public repo: https://github.com/godaddy-wordpress/coblocks/issues/2416

[2022-08-10 13:08] fgiannar commented on #25087
This is currently discussed here as well: p1HpG7-hd0-p2#comment-55965

[2022-08-10 14:49] jamiepalatnik commented on #25371
I checked again but I can no longer reproduce this issue, so I'll go ahead and close for now. The issue can be reopened if anyone is able to reproduce. Thanks for taking a look @dsas!

[2022-08-10 14:49] #25371 closed

[2022-08-10 15:28] peiche opened #25430 "Feature Request: Carousel show all gallery images in single slider"
### Impacted plugin

Jetpack

### What

I would like the carousel to show all gallery images within a single post.

### How

If there are multiple gallery blocks in a post or page, clicking on an image will only show the carousel slider for the images within that gallery block. I would like the carousel slider to be able to page through all the gallery images in the post, across all gallery blocks

[2022-08-10 15:39] jeherve commented on #25430
Thanks for the feedback!

However, I'm afraid I do not have any good news for you. Linking multiple carousels together is not something that's possible right now. Carousels are closely tied to galleries, and there is consequently no relationship between 2 carousels on a page, just like there is no relationship between 2 galleries.

Keeping galleries clearly separate from each other is done by desi

[2022-08-10 15:39] #25430 closed, assigned to nobody

[2022-08-10 17:03] samiff commented on #25245
Reopening to investigate some internal reports:

* p1660001585483459-slack-CDLH4C1UZ
* p1660150129712209-slack-C032DVAHMK3

[2022-08-10 18:49] samiff commented on #25245
Additional cleanup diff: D85770-code

To Test:

- Apply patch to sandbox.
- Open widget editor and add a legacy widget (e.g. Authors).
- Make sure you are able to see and control the `Visibility` setting for the widget.
- Check for any PHP/JS errors.

<img width="787" alt="Screen Shot 2022-08-10 at 12 48 32 PM" src="https://user-images.githubusercontent.com/15803018/183993249-b34e455a-c4d8-4b84-b7

[2022-08-10 19:19] samiff commented on #25245
r250488-wpcom

[2022-08-10 19:19] #25245 closed, assigned to samiff

[2022-08-10 20:14] samiff commented on #25253
@coder-karen Thanks for testing, I've updated the cleanup diff, similar to what was needed in: https://github.com/Automattic/jetpack/issues/25245#issuecomment-1211123807

I'm no longer seeing the 404 on the JS file. Whenever you get a chance could you have another look, thanks!

[2022-08-11 02:26] tmmbecker commented on #25444
Update to my [previous comment](https://github.com/Automattic/jetpack/issues/25444). The publisher switched back to classic pages (losing months of posts in the process) and was able to connect publicize with no trouble.

[2022-08-11 02:28] tmmbecker commented on #25444
@Automattic/dotcom-pa-group or @pablinos could someone please take a look?

[2022-08-11 05:00] a8ck3n opened #25434 "Instant Search: Prettier error messages"
### Impacted plugin

Jetpack, Search

### What

Prettier styling for our publicly visible error messages.

### How

Currently the error messages look like this:

![ExampleError](https://user-images.githubusercontent.com/40267301/184067241-3adf9499-965d-4be2-8690-68e322dc1fa1.png)

It would be nice if we separated the icon from the text and cleaned up the layout so that (a) the icon is center-align

[2022-08-11 06:06] wpgaurav commented on #25427
Oh okay. Must be some other plugin.

[2022-08-11 06:32] a8ck3n opened #25435 "Instant Search: Add some contrast or separation to results on mobile"
### Impacted plugin

Jetpack, Search

### What

In mobile views, it could be clearer which result a given image belongs to.

### How

Currently our mobile results look like this:

![ImageOwner](https://user-images.githubusercontent.com/40267301/184075957-fa7fcebe-a0f8-4986-a52b-fd2bdc5887d2.png)

It would be nice if the post/image association was a bit clearer. Two possible options are:

1. To inc

[2022-08-11 06:39] inaikem commented on #21291
Hi folks, can someone tell me if this change was reverted or if a reduced maximum item count was added?

My own tests following this interaction -- [5469709-zd-woothe](https://github.com/Automattic/jetpack/pull/5469709-zd-woothemes) -- show a maximum episode count of 10 (regardless of if you manage to add a higher number in the box).

**Edit:** I originally posted the above [in the related PR](htt

[2022-08-11 07:29] jeherve commented on #21291
@inaikem It seems to work well on my end. Upon adding the code snippet to bump the number of max items like so:

[code]

I see the following in the editor:

<img width="286" alt="Screen Shot 2022-08-11 at 09 24 12" src="https://user-images.githubusercontent.com/426388/184084146-6641f804-a6d6-4e24-ae70-f038ec414c89.png">

and on the frontend:

![moar-podcasts](https://user-images.githubusercontent.

[2022-08-11 07:43] inaikem commented on #21291
I should have been clearer in my comment above and clarified that this specific user is on a WPcom Simple site, so we're not able to add code snippets to bump the limit.

Is there the possibility of bumping the default block limit for all instances? I'm happy to open a feature request to support that if needed.

[2022-08-11 08:00] jeherve commented on #21291
In this case we can indeed reopen this issue, and consider bumping the limit for all podcast blocks. What would be a new limit that would work for the site owner in this last request we got?

[2022-08-11 08:07] inaikem commented on #21291
The user above has ~30 episodes but I'd like to see an upper limit of 100 to keep things aligned with limits present in other blocks such as Blog Posts, Latest Posts, Query etc.

While we're on this, would it be possible to add some form of pagination/load more option?

Cc @that-mike-bal + @rickmgithub in relation to the upcoming podcast project.

[2022-08-11 08:13] jeherve commented on #21291
With such a large number, we may start running into performance issues, as well as strain on the site you pull the feed from. This is why WordPress has a default of 10 to start.

Adding such a feature would be a bigger project, but may be one way to tackle any kind of performance issues.

[2022-08-11 08:18] mmtr commented on #25102
Would [the `blocks.registerBlockType` filter](https://github.com/WordPress/gutenberg/blob/c4bdc602cce6b885eca90a538a412d7175039689/packages/blocks/src/store/actions.js#L60) allow that? That's what we use for changing the `edit` component of the `core/video` block to support VideoPress:

https://github.com/Automattic/jetpack/blob/f5f70bf4c2bdbe07ce9188945c0235870d084bb1/projects/plugins/jetpack/ext

[2022-08-11 08:23] mmtr commented on #25102
Probably not, I guess the `settings.edit` component available in that filter would be the same one that is provided by the `editor.BlockEdit` filter.

Looks like our only option left is to compute the height with JS and use it in the nudge styles.

[2022-08-11 08:34] #23367 closed

[2022-08-11 09:04] coder-karen commented on #25253
Looks good! Well, for the widgets I was able to test with anyway, which was all but the Instagram widget, social media icons (social icons is fine), and Twitter timeline. They don't appear by default - it looks like they've been hidden.

However the widget visibility wasn't working, though a rebase fixed that. I notice there are other failing tests in D85590-code though - left a comment over there

[2022-08-11 09:36] coder-karen commented on #25241
Works well 👍

[2022-08-11 10:12] that-mike-bal commented on #21291
Maybe we can identify when it's hosted with us vs third party and open up additional options. I imagine it would be easier to manage playing local files vs via a feed?

[2022-08-11 10:15] that-mike-bal commented on #21291
Another thought would be to index the feed and allow searching episodes on the front end that would allow the player to switch tracks and "hold" all of them without having to load all of them.

I actually think it's hard to find an episode on any platform if you have a lot to scroll through.

[2022-08-11 10:29] a8ck3n opened #25438 "Instant Search: Better handling of untitled posts in search results"
### Impacted plugin

Jetpack, Search

### What

Posts without a title are visible in the minimal results but are inaccessible.

### How

What it looks like now:

![NoTitlesMinimal](https://user-images.githubusercontent.com/40267301/184114404-cbc6aad6-b0b7-4a4f-9382-58b3d401f48e.png)

Ideally, we'd detect this and either use a localized "Untitled" string or maybe the post slug. I'd favour the local

[2022-08-11 10:34] a8ck3n commented on #25438
To reproduce the above:

1. Visit a site with a Jetpack Search plan.
2. Create a new post with content but without a title. Make sure "no title" is in the content.
3. Wait for the site to sync and update the index or manually update it from WordPress.com or the Jetpack Debug page.
4. Use the following string to bring up the results: `/?s=no%20title&result_format=minimal`
5. Confirm the post is inc

[2022-08-11 11:03] a8ck3n opened #25439 "Instant Search: Results 404 if permalink format is changed"
### Impacted plugin

Jetpack, Search

### Steps to Reproduce

1. Visit the Search overlay and confirm search is working. — `/?=`
2. Change the permalink style under Settings → Permalinks. — `/wp-admin/options-permalink.php`
3. Bring up the Search overlay again and click on any result.
4. Confirm the browser loads a 404 page.

### A clear and concise description of what you expected to happen.

The

[2022-08-11 11:15] a8ck3n opened #25440 "Instant Search: Better handling of paths/breadcrumbs in results"
### Impacted plugin

Jetpack, Search

### What

Search should detect the permalink style and hide paths/breadcrumbs as appropriate.

### How

If the user has Plain permalinks set, we get this in our search results:

![PlainPermalinks](https://user-images.githubusercontent.com/40267301/184121052-be4beb92-dd7a-4872-be6b-385c656f179d.png)

To Reproduce:

1. Update the Permalink style to Plain.
2. Re-

[2022-08-11 11:56] Robertght commented on #25444
5464931-zen

[2022-08-11 13:38] jamiepalatnik commented on #25421
📌 SCRUBBING
- Tested on Simple ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Adding steps to reproduce:
1. Add a Contact Info block to a simple site.
2. Paste URL in this tool: https://search.google.com/test/rich-results

I was able to reproduce this. The Rich Results tool shows missing field "image" and missing field "name".

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-08-11 14:23] sdixon194 commented on #25253
I also see:

On that failing diff, so I think we may have to merge the first one, rebase, and re-run the tests.

[2022-08-11 16:24] samiff commented on #25241
Update changeset: r250548-wpcom
Cleanup changeset: r250549-wpcom

[2022-08-11 16:24] #25241 closed, assigned to samiff

[2022-08-11 16:41] samiff commented on #25253
Update changeset: r250550-wpcom
Cleanup changeset: r250551-wpcom

[2022-08-11 16:41] #25253 closed, assigned to samiff

[2022-08-11 16:51] Robertght commented on #25444
Moved this to Jetpack and cc'ing Reach team as discussed here (p1660219237727029-slack-C01UW7SB411)

@Automattic/jetpack-reach

[2022-08-11 16:57] samiff commented on #25242
Update changeset: r250552-wpcom
Cleanup changeset: r250553-wpcom

[2022-08-11 16:57] #25242 closed, assigned to samiff

[2022-08-11 17:11] samiff commented on #25238
Update changeset: r250554-wpcom
Cleanup changeset: r250555-wpcom

[2022-08-11 17:11] #25238 closed, assigned to samiff

[2022-08-11 17:40] cuemarie commented on #28167
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicable - sharing buttons appear on AT site using Rebalance theme, but not Simple site
- In test sites below, sharing buttons are enabled for individual posts as well

**AT Site**

![Markup on 2022-08-11 at 10:37:06](https://user-images.githubusercontent.com/27249804/184197879-e63c328d-a2eb-4fdc-9683-264e6a1ce25f.

[2022-08-11 18:48] kraftbj commented on #16099
New functions from WP 5.5 we switched over in #17820

[2022-08-11 18:49] chrisbliss18 commented on #17176
r250559-wpcom

[2022-08-11 19:52] samiff commented on #25203
Update changeset: r250558-wpcom
Cleanup changeset: r250566-wpcom

[2022-08-11 19:52] #25203 closed, assigned to samiff

[2022-08-11 20:32] pablinos commented on #25444
I've just made a comment on D60013-code, which was the fix for this problem before. There's a chance we can revert that to fix this now. I think Facebook have fixed the bug that caused this problem, but that has broken the workaround.

For now I don't think we should advise people to revert to the classic experience if it means they lose content.

[2022-08-11 22:57] #25348 closed, assigned to bluefuton

[2022-08-11 23:16] bluefuton commented on #25439
Is this potentially the same as https://github.com/Automattic/jetpack/issues/23935?

[2022-08-12 03:48] edwinho89 commented on #12178
Just want to add this chat: 36435810-hc raised the same inquiry as what @aisajib pointed out.

Shared workaround on the above. Perhaps having an option to toggle cropping or not would on full width would fit the best of both worlds?

[2022-08-12 04:51] #25380 closed, assigned to kangzj

[2022-08-12 07:51] a8ck3n commented on #25439
Yes, it looks like. I'm not seeing what Bob is seeing (with redirection) but your comment (about getting 404s) matches what I'm seeing. I'll close this in favour of that Issue.

[2022-08-12 07:51] #25439 closed, assigned to nobody

[2022-08-12 07:59] a8ck3n commented on #23935
I filed this separately in #25439 as "Instant Search: Results 404 if permalink format is changed", now closed in favour of this existing issue.

### Some additional notes:

1. I do not see a redirect in my testing. Instead I'm seeing a generic 404 page.
2. I think the issue is less about the permalink type and more about the index not being updated.
3. The fix for this is to reindex the site. This

[2022-08-12 11:38] coder-karen commented on #25249
This all tests ok, except the error logging. That wasn't working for me so I then noticed by adding error logs in the Jetpack production `site-logo.php` file, it would get as far as `site_logo_init()` but wasn't making it into `if ( current_theme_supports( 'site-logo' ) && ! class_exists( 'Site_Logo', false ) ) {`, despite using themes that support site logos.

Have I added the code here - https:/

[2022-08-12 12:19] danielbachhuber commented on #12178
Thanks for letting us know!

We decided against it (https://github.com/Automattic/jetpack/pull/25107#issuecomment-1189434235) but may reconsider depending on how much feedback comes in.

[2022-08-12 12:25] #24832 closed, assigned to manzoorwanijk

[2022-08-12 17:57] #25622 closed

[2022-08-12 19:04] mahnunchik commented on #25477
Any news?

[2022-08-12 20:40] samiff commented on #25249
@coder-karen

Yes, and with D85249-code applied that file should be accessed. The theme would need to support `site-logo` though, and it seems like when I test with Twenty Fifteen, I can at least put an error log in the `instance()` method in the wpcom copy of `wp-content/mu-plugins/site-logo/inc/class-site-logo.php` and see that fire.

~~I did notice that I'll need to figure out the enqueue for `

[2022-08-12 21:39] rafaelmpx1 opened #25629 "Slideshow block: block converted to HTML"
### Impacted plugin

Jetpack

### Steps to Reproduce

The block containing the jetpack slideshow has been converted to HTML and the slide does not work.

I noticed that if I add a new slide block below, it starts to work.

I would like to know a solution so I don't have to go through all my more than two thousand posts to perform this procedure.

Is there a way, a css or js call that makes this HT

[2022-08-12 21:43] samiff commented on #25253
I messed up the `widgets/customizer-utils.js` path in D85583-code

Fixed in D85905-code / r250629-wpcom

[2022-08-12 23:15] r-martins commented on #25522
The problem stopped in later versions.

[2022-08-13 00:58] #25621 closed

[2022-08-13 00:59] #25603 closed

[2022-08-13 00:59] #25609 closed

[2022-08-13 00:59] #25615 closed

[2022-08-13 00:59] #25604 closed

[2022-08-13 01:01] #25616 closed

[2022-08-13 01:01] #25610 closed

[2022-08-13 01:02] kraftbj commented on #25613
Duplicate of https://github.com/Automattic/wp-super-cache/issues/978

[2022-08-13 01:02] #25613 closed

[2022-08-13 01:02] kraftbj commented on #25619
Duplicate of https://github.com/Automattic/wp-super-cache/issues/978

[2022-08-13 01:02] #25619 closed

[2022-08-13 01:03] kraftbj commented on #25625
Duplicate of https://github.com/Automattic/wp-super-cache/issues/978

[2022-08-13 01:03] #25625 closed

[2022-08-13 01:03] kraftbj commented on #25626
Duplicate of https://github.com/Automattic/wp-super-cache/issues/979

[2022-08-13 01:03] #25626 closed

[2022-08-13 01:04] kraftbj commented on #25620
Duplicate of https://github.com/Automattic/wp-super-cache/issues/979

[2022-08-13 01:04] #25620 closed

[2022-08-13 01:04] kraftbj commented on #25614
Duplicate of https://github.com/Automattic/wp-super-cache/issues/979

[2022-08-13 01:04] #25614 closed

[2022-08-13 05:59] d-packs commented on #25477
This issue has nothing to do with Super Cache. However if moving it to this component solves it faster I'm game.

[2022-08-14 15:53] metabreakr commented on #17992
36466221-hc

[2022-08-15 07:07] jeherve commented on #25629
Could you tell us a bit more about the steps you followed to get to that point?

- Is this when opening an existing, already published post in the block editor, to make some changes?
- Does this happen only with the Slideshow block?
- Does this happen with all your posts that have slideshow blocks in them, or only some relatively old posts?
- What happens if you publish a new post with a slideshow

[2022-08-15 07:14] jeherve commented on #25623
Automattic/wp-super-cache#977

[2022-08-15 07:14] #25623 closed

[2022-08-15 07:14] jeherve commented on #25617
Automattic/wp-super-cache#977

[2022-08-15 07:14] #25617 closed

[2022-08-15 07:14] jeherve commented on #25611
Automattic/wp-super-cache#977

[2022-08-15 07:14] #25611 closed

[2022-08-15 07:15] jeherve commented on #25606
Automattic/wp-super-cache#980

[2022-08-15 07:15] #25606 closed

[2022-08-15 07:15] jeherve commented on #25618
Automattic/wp-super-cache#980

[2022-08-15 07:15] #25618 closed

[2022-08-15 07:15] jeherve commented on #25624
Automattic/wp-super-cache#980

[2022-08-15 07:15] #25624 closed

[2022-08-15 07:31] jeherve commented on #25522
Thanks for letting us know. I'll close this issue now, we can reopen it later if the problem comes back.

[2022-08-15 07:31] #25522 closed

[2022-08-15 07:38] jeherve commented on #25589
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 07:38] #25589 closed

[2022-08-15 07:38] jeherve commented on #25591
Do you still experience issues with this?

Thank you!

[2022-08-15 07:39] jeherve commented on #25594
Do you still experience issues with this?

Thank you!

[2022-08-15 07:41] jeherve commented on #25601
Do you still experience issues with this?

Thank you!

[2022-08-15 07:42] #25530 closed

[2022-08-15 07:43] jeherve commented on #25551
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 07:43] #25551 closed

[2022-08-15 07:44] jeherve commented on #25554
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 07:44] #25554 closed

[2022-08-15 07:44] jeherve commented on #25555
Do you still experience issues with this?

Thank you!

[2022-08-15 07:45] jeherve commented on #25556
This should now be fixed. I'll close this issue, feel free to reopen if needed.

[2022-08-15 07:45] #25556 closed

[2022-08-15 07:45] #25558 closed

[2022-08-15 07:48] jeherve commented on #25565
This should now be fixed. Feel free to reopen if the problem ever comes back.

[2022-08-15 07:48] #25565 closed

[2022-08-15 07:49] #25571 closed

[2022-08-15 07:50] jeherve commented on #25567
Do you still experience issues with this?

Thank you!

[2022-08-15 07:50] #25568 closed

[2022-08-15 07:52] jeherve commented on #25574
Do you still experience issues with this?

If so, could you let us know if the problem disappears when deactivating Super Cache?

Thank you!

[2022-08-15 07:58] jeherve commented on #25545
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 07:58] #25545 closed

[2022-08-15 08:01] galbaras commented on #25594
Honestly, I don't use WP Super Cache anymore, so couldn't tell you. @marcomarsala or @artursopelnik ?

Why is this in the Jetpack forum?

[2022-08-15 08:02] jeherve commented on #25540
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 08:02] #25540 closed

[2022-08-15 08:03] jeherve commented on #25539
Do you still experience issues with this?

Thank you!

[2022-08-15 09:30] jeherve commented on #25531
Do you still experience issues with this?

Thank you!

[2022-08-15 09:35] jeherve commented on #25594
👍

We've recently moved WP Super Cache to the Jetpack monorepo, where it can live [with other Automattic plugins](https://github.com/Automattic/jetpack/tree/trunk/projects/plugins), and benefit from the tooling we've developed in this monorepo to automate things like plugin updates, issue management, ...

[2022-08-15 09:45] jeherve commented on #25516
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 09:45] #25516 closed

[2022-08-15 09:46] jeherve commented on #25515
Do any of you still experience this issue today?

Thank you!

[2022-08-15 09:48] #25507 closed

[2022-08-15 09:50] jeherve commented on #25499
Related: #25501

[2022-08-15 09:56] jeherve commented on #25492
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 09:56] #25492 closed

[2022-08-15 09:56] jeherve commented on #25493
Closing since this is tracked in Core.

[2022-08-15 09:56] #25493 closed

[2022-08-15 10:00] jeherve commented on #25462
Closing this for now because of the lack of activity on this. We can always reopen in the future if needed.

[2022-08-15 10:00] #25462 closed

[2022-08-15 10:09] #25594 closed

[2022-08-15 11:00] coder-karen commented on #25249
The moment I switched to Twenty Fifteen, the error log worked correctly. My mistake was choosing a few themes purely based on `feature:site-logo` in WordPress.com. Works well now.

[2022-08-15 14:46] dognose24 commented on #22442
Updating the Instant Search footer widget and then disabling Instant Search would reset the displaying of the `search box` and `sort selection dropdown` on the Classic Search footer widget, which also breaks the widget preview.

<img width="810" alt="截圖 2022-08-15 下午10 32 35" src="https://user-images.githubusercontent.com/6869813/184656191-abde78dd-dbde-40cd-ae9e-345e27143c9a.png">

<img width="80

[2022-08-15 17:13] samiff commented on #25249
Jetpack PR merged: #25359 (and early sync to JP prod in D85943-code )
Update changeset: r250673-wpcom
Cleanup changeset: r250675-wpcom
Build cleanup: #25642

[2022-08-15 17:13] #25249 closed, assigned to samiff

[2022-08-15 17:38] jorpdesigns commented on #23553
Hi @samiff A slightly different version of this issue has been reported in 36446842-hc / 5480351-zen. In this case, the site is on the eCommerce plan and the issue only affects WooCommerce product images. I can reproduce consistently on a test site.

I want to confirm if a new GH report needs to be created?

In case you want to reproduce:
1. Set up a test site on the eCommerce plan.
2. Add a Woo p

[2022-08-15 18:42] ariel-maidana commented on #25444
5476376-zd-woothemes
Please notify the user once the fix is released.

[2022-08-15 22:43] richardmorrison commented on #23953
This issue still exists, and looks to have been resolved for the VideoPress block, and not in the standard Video Block.
The initial description/issue is still relevant information, and the same with WordPress 6.0.1.

Are we able to have this looked at for the standard Gutenberg Video Block?

[2022-08-15 23:40] retrofox opened #25646 "Write an Jetpack doc page for QR Post code"
Write an editorial Jetpack P2 in case the development process results successful and folks are happy.

https://app.asana.com/0/1200427382410585/1202041314325303/f

[2022-08-15 23:40] retrofox commented on #25646
https://jetpack.com/blog/jetpack-10-8-share-your-posts-more-easily-with-qr-codes/

[2022-08-15 23:40] #25646 closed, assigned to nobody

[2022-08-15 23:54] #25407 closed, assigned to bluefuton, a8ck3n

[2022-08-16 01:34] jamiepalatnik commented on #22834
Another report: 36243938-hc

Guided them to add the Slideshow block to a page instead of a page template as a workaround and that resolved the issue.

[2022-08-16 02:12] kangzj opened #25647 "Search: switch from v1.0 endpoint to v1.3 for Classic Search"
### Impacted plugin

Jetpack, Search

### What

Switch from v1.0 endpoint to v1.3

### How

v1.3 endpoint has better algorithm, and also it could help with the retirement of Classic Search cluster.

[2022-08-16 07:20] dsas commented on #25030
This is reminiscent of paYJgx-2hq-p2#comment-2531

[2022-08-16 08:00] dsas commented on #25011
@happychait what were the results of trying the steps for SP19 in the '[Reproduction steps and workarounds](https://github.com/Automattic/jetpack/issues/25011#issuecomment-1178867442)' comment on this issue?

[2022-08-16 10:41] coder-karen commented on #25187
**What has been done:**

1. Updating the mu-plugin file to make sure all references point to the jetpack production readme.txt: D85985-code
2. Cleaning up Fusion references, and deleting the `mu-plugins/jetpack/readme.txt` file: D85987-code

**How to test:**

1. Patch D85985-code to sandbox.
2. You can add an error log to `wpcom/wp-content/mu-plugins/jetpack/jetpack.php` further down the file (suc

[2022-08-16 12:02] thedebian commented on #25374
In the block editor, you can resize the video by dragging the handles on both sides.
It should allow you to make your video's height smaller, while keeping the aspect ratio.
I did not see any integrated VideoPress player on the page you mentioned, so I guess you removed it.

[2022-08-16 12:17] danjjohnson commented on #24945
Hi @franc3sc0s92

The changes Karen mentioned above have now been implemented, so if you can try reconnecting Jetpack on your site, you should find that there are no more speed issues with your checkout. You can find more info on reconnecting here:
https://jetpack.com/support/reconnecting-reinstalling-jetpack/

Let us know if you still have trouble after that.

[2022-08-16 18:19] samiff opened #25659 "Lazy Images: Woo product image not loading in Safari"
There seems to be an issue with Jetpack lazy images + WooCommerce sometimes not displaying the product image correctly in **Safari**.

**Steps used to reproduce:**

* Create a JN site with WooCommerce and Jetpack. I tested with the 'Twenty Twenty' theme.
* Connect Jetpack and make sure lazy loading is enabled at `wp-admin/admin.php?page=jetpack#/performance`
* Activate WooCommerce and publish a te

[2022-08-16 18:20] samiff commented on #23553
@jorpdesigns Thanks for the report, I've opened https://github.com/Automattic/jetpack/issues/25659 to track this.

[2022-08-16 18:25] jorpdesigns commented on #25659
Thanks for looking into this @samiff

Quick addition: The product image also does not display on archives and other pages that display the product. Basically the product image is missing across the site and not just on the single product page.

[2022-08-16 19:53] samiff commented on #23953
@richardmorrison I'm not able to reproduce the error mentioned in the original issue. Are you able to provide reproduction steps or the full JS error from the console?

I did however notice an issue unrelated to Jetpack that might have added to confusion here:

- Start with a fresh WP 6.0.1 site
- Create a post with a new `core/video` block & caption then publish the post.
- Install the Gutenberg

[2022-08-16 21:14] dsas commented on #25662
This has been [fixed in Gutenberg](https://github.com/WordPress/gutenberg/pull/42090)

[2022-08-16 21:14] #25662 closed

[2022-08-16 21:16] gibrown commented on #9174
When we work on implementing this we should investigate and understand how Sybil is being used and kept up to date for answering questions. See p2rHU0-15o and PCYsg-qQC

Covers a lot of things like finding duplicates, maintaining answers, curating and fixing them over time, etc.

[2022-08-16 22:06] gabrieino2 opened #25664 "Enhancement:"
### Impacted plugin

Jetpack

### What

Adjustable spacing for tiled gallery block

### How

Right now the spacing between images in the tiled gallery block is set.  Also, it seems like the width is a little less than the native image size and gallery blocks in Wordpress.  It would be nice if you could adjust the spacing between each image in the tiled gallery blocks and the spacing between the ti

[2022-08-16 22:13] richardmorrison commented on #23953
To reproduce what I am seeing:
- Create new post (with Gutenberg and Jetpack plugins active)
- Add Video Block, and any video
- Block video settings, select "**play inline**"
- Safe draft
- Refresh page
- See error appear on Video Block

<img width="912" alt="Screen Shot 2022-08-17 at 10 09 42 AM" src="https://user-images.githubusercontent.com/61720320/184993969-c63f20f3-2c15-4d18-844a-6c9345c2d44

[2022-08-17 03:53] donalirl commented on #25306
Seen in #35955183-hc

Follow-up:

- [ ] 5484291-zd-woothemes

[2022-08-17 06:50] jeherve commented on #9548
This was also suggested in #25664.

[2022-08-17 06:51] jeherve commented on #25664
Closing as duplicate of #9548.

[2022-08-17 06:51] #25664 closed, assigned to nobody

[2022-08-17 08:01] jeherve opened #25666 "Licensing: dashboard should not link to My Jetpack on Multisite"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Start with a site that's part of a Multisite network.
2. Connect your site to WordPress.com.
3. Go to https://cloud.jetpack.com/pricing and purchase a plan; do not attach it to any site yet.
4. Go back to your site's WP-Admin
5. Go to Jetpack > Dashboard > My Plan
6. Click on the link to activate a product

You will be redirected to My Jetpa

[2022-08-17 10:59] mmtr commented on #25030
Is there any reason why we cannot simply always say "Pay X once" for both donations and other payment blocks? I think that works for all scenarios given that's what the customer is ultimately doing (to pay for something). I'll open a PR today implementing that proposal to gather extra feedback.

[2022-08-17 11:16] NekoJonez opened #25669 "VideoPress: add translator note for the "Resume" string"
### Impacted plugin

Jetpack

### What

Make it more clear for translators

### How

https://translate.wordpress.org/projects/wp-plugins/jetpack/dev/nl-be/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=14245549&filters%5Btranslation_id%5D=96598611

"Resume" is something that can mean multiple things in other languanges as well in English. It can mean "To resume" or "A resume".

So, m

[2022-08-17 11:27] NekoJonez opened #25672 "Stats: Typo "in Wordpress"?"
### Impacted plugin

Jetpack

### Steps to Reproduce

https://plugins.trac.wordpress.org/browser/jetpack/trunk/modules/stats.php#L1754

### A clear and concise description of what you expected to happen.

I think this string should be "View stats for this post at WordPress.com" instead of in... Since, it's the wrong proposition I think.

[2022-08-17 11:30] retrofox opened #25674 "VideoPress: move the client code from VideoPress plugin"
Move the client code from the VideoPress plugin to the package.

[2022-08-17 11:32] retrofox opened #25675 "VideoPress: move the code from js/ to client/"
The proper folder to put the client source code is `./client`. Let's move the code that exists in the `./js` folder to there.

[2022-08-17 12:59] #25672 closed, assigned to nobody

[2022-08-17 13:22] anomiex commented on #25659
Is this the same as https://github.com/Automattic/jetpack/issues/25284?

[2022-08-17 13:24] #25674 closed, assigned to retrofox

[2022-08-17 13:25] retrofox opened #25678 "VideoPress: use a minified version of the token bridge file in production dev-env"

[2022-08-17 13:31] anomiex commented on #25669
Looks like this comes from either https://github.com/Automattic/jetpack/blob/499c753876d366df3344b2c77ed2ad4c75ceed3d/projects/packages/videopress/src/client/block-editor/blocks/videopress/components/videopress-uploader/index.js#L26 or https://github.com/Automattic/jetpack/blob/499c753876d366df3344b2c77ed2ad4c75ceed3d/projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-u

[2022-08-17 13:43] retrofox opened #25679 "VideoPress: use a minified version in production of the token bridge file"

[2022-08-17 13:44] retrofox commented on #25679
duplicated

[2022-08-17 13:44] #25679 closed, assigned to retrofox

[2022-08-17 14:04] retrofox opened #25680 "VideoPress: Add toolbar when no video"
The block doesn't show the toolbar not allowing, for instance, to remove it.

![Image](https://user-images.githubusercontent.com/77539/185154430-ae388f6f-b30f-4312-83ac-f83871b1c3dc.png)

[2022-08-17 14:15] retrofox opened #25681 "VideoPress: remove v6 from Jetpack plugin"
* Register VideoPress block from Jetpack plugin [25429](https://github.com/Automattic/jetpack/pull/25429)
* Migrate all code from Jetpack.
  * https://github.com/Automattic/jetpack/issues/25788
* Remove `v6` from Jetpack plugin

[2022-08-17 14:40] retrofox opened #25684 "VideoPress: move main App component to VideoPress package"

[2022-08-17 14:51] anomiex commented on #25684
Comment to trigger workflow for test.

[2022-08-17 15:14] mmtr commented on #25030
Opened D86063-code implementing this.

[2022-08-17 17:26] retrofox opened #25686 "VideoPress: fix Fatal error when VideoPress and Jetpack plugins are both active"
* Active both Jetpack and VideoPress plugins
* Connect Jetpack

![Image](https://user-images.githubusercontent.com/77539/185203735-fb7b506c-ebc4-4c45-934e-8b72d7ef4a1b.png)

[code]

![Image](https://user-images.githubusercontent.com/77539/185204477-94071994-ba75-4328-829c-c438542151e8.png)

[2022-08-17 19:01] leogermani commented on #25686
The autoloader should handle this and only one instance of the VideoPress `Initializer` class should be loaded... I can't reproduce this...

Maybe this happened in a state where the autoloader of each plugin was not up to date? Can you test running composer update for both plugins and see if the error persists?

[2022-08-17 19:26] #25678 closed, assigned to retrofox

[2022-08-17 19:33] retrofox opened #25688 "VideoPress: Add a document about the files structure in the client"

[2022-08-17 19:35] retrofox commented on #25675
Addressed by https://github.com/Automattic/jetpack/pull/25676

[2022-08-17 19:35] #25675 closed, assigned to retrofox

[2022-08-17 19:55] #25684 closed, assigned to retrofox

[2022-08-17 20:18] retrofox opened #25690 "VideoPress Components: VideoDetailsCard"
Initial view | Editing video
------|------
<img src="https://user-images.githubusercontent.com/77539/185235165-6e2b2ea1-82d6-4fab-8204-82086355e220.png" width="400px" />|<img src="https://user-images.githubusercontent.com/77539/185394867-61299df8-1b36-4252-8aff-01ef8ba1b281.png" width="400px" />

Properties:
* src
* filename
* updated

[2022-08-18 03:14] bluefuton opened #30439 "[Bug]: Purchasing Jetpack Search is still possible on jetpack.com even if the site already has a Search subscription"
### Quick summary

If you have the Search plugin installed on your Jetpack site with a current Search subscription, then go to Jetpack.com, you can still purchase a new Search plan.

### Steps to reproduce

1. On a test non-WordPress.com site, install the Search plugin: https://wordpress.org/plugins/jetpack-search/
2. From Jetpack > Search, sign up for a new search subscription.
3. Go to https://c

[2022-08-18 06:00] thingalon opened #25695 "[Boost] Critical CSS Generator not detecting use of variables inline"
The Critical CSS generator ignores inline styles, because they are already inline. 😀

But there's a corner-case: the generator prunes out all variable definitions which are not used in the Critical CSS block, to keep its size down. If there are variables defined in external CSS files, which are used inline, then the inline usage of the CSS variables is not detected.

e.g.:
Inline style:
[code]
Ext

[2022-08-18 08:54] bizanimesh commented on #23171
We just want to check - Will this one fix Automattic/jpop-issues#7616 issue as well?

[2022-08-18 10:14] a8ck3n opened #25698 "Instant Search: Improve keyboard navigation of expanded results."
### Impacted plugin

Search

### What

Each result has three redundant anchor elements. They should behave normally in a visual context but should be ignored when using keyboard navigation or screen readers.

### How

The second and third links (the path/breadcrumb and the image) should be removed from the tab loop and hidden from screen readers.

![RedundantAnchorElements](https://user-images.git

[2022-08-18 12:09] retrofox opened #25702 "VideoPress: consider to change Loading location of VideoUploadArea cmp"
Based on Noam comments here: p1660737908278569/1660684867.493439-slack-C03TA48NSUX

and Figma:

![image](https://user-images.githubusercontent.com/1663717/185253494-bd280f00-1a64-4f38-8472-df32d791d9c3.png)

The `Loading` should not be implemented here. Right?

It will be implemented by the parent.

[2022-08-18 13:36] mmtr commented on #25030
Just deployed D86063-code which neutralizes the wording in the checkout form so it works for all plan types. We now display this for both the Donations block and the Payment button block:

One-off | Recurring
--- | ---
![image](https://user-images.githubusercontent.com/1233880/185408351-e8c9e7f3-8278-4cf3-96ea-5d656b87aba6.png) | ![image](https://user-images.githubusercontent.com/1233880/185408421

[2022-08-19 09:53] retrofox opened #25720 "QR Integration: Post List Package on Jetpack-the-Plugin"
To be able to start the integration of the QR post in the wp-admin context, adding the post list package is one of the first tasks.

[2022-08-19 11:35] oskosk opened #25722 "VideoPress package: update the bug.url label to have capital P"
...and once the system supports capital camel case names, we can rename the label

Follow-up task to #25690

See p1660857943210309-slack-CBG1CP4EN in slack

[2022-08-19 11:38] retrofox commented on #25722
![Image](https://user-images.githubusercontent.com/77539/185610315-31ad4d4b-4f33-4fd4-8bba-4ddd2f1717bc.png)

[2022-08-19 13:08] retrofox commented on #25722
p1660857943210309-slack-CBG1CP4EN

[2022-08-19 13:08] retrofox opened #25724 "VideoPress Components: ClipboardButtonInput"
![Image](https://user-images.githubusercontent.com/77539/185631916-4ca3dfd7-68d4-49ba-b83b-6b56bf934522.png)

* Switch the button to Copied and to Copy again after, say, 3 seconds
* Select the entire text for reassurance and for people who want to still copy it manually (I could see someone saving it locally to a clipboard utility or something)

[2022-08-19 13:10] retrofox commented on #25690
Depends on https://github.com/Automattic/jetpack/issues/25724

[2022-08-19 16:13] chrisbliss18 commented on #17176
An update with a rudimentary implementation of this feature is scheduled to go out in the next release (expected version 11.3). You can find the details for the implementation in PR #25423.

The implementation does not have a user interface. To enable honoring the DNT header, you must manually set the `jetpack_honor_dnt_header_for_wga` filter to `true`. This should be done in a custom plugin rathe

[2022-08-19 16:13] #17176 closed

[2022-08-21 07:05] rw-ye commented on #28167
Another case here: 5487475-zd-woothemes
Theme: Twenty Twenty-One

I can also reproduce this on Twenty Twenty-One (simple site).  The sharing buttons do not appear on the front page or the posts page.

[2022-08-21 11:41] #25698 closed, assigned to a8ck3n

[2022-08-22 04:46] happychait commented on #17402
- [ ] 5496124-zen

[2022-08-22 08:30] a8ck3n commented on #19035
I think most of the issues outlined here have been addressed now.

The new tab order is:

input → clear → close → sort options → sort results → filters → secondary close button → repeat

Addressed in #25342.

Hitting the Space or Enter key will clear the selection or you can tab back to the "Clear filters" button now that tabbing has been addressed. Might be nice to have a shortcut key assigned to

[2022-08-22 08:30] #19035 closed

[2022-08-22 08:34] a8ck3n commented on #13817
This item might need to be tested again. By default, Firefox on the Mac doesn't include links in the tab loop. If the NVDA software is following the browser setup, that might be why search results are skipped. To include links, you need to enable a checkbox in System Preferences → Keyboard → Shortcuts → "Use keyboard navigation…"

[2022-08-22 08:38] #24767 closed

[2022-08-22 11:32] retrofox commented on #25724
Let's initially implement this component in the VideoPress package before doing it in the Components js-package.

[2022-08-22 14:25] pottedmeat commented on #16989
An additional patch is needed D85900-code

[2022-08-22 15:15] sagarnasit opened #25740 "Top posts & pages widget shortcode not working with multiple post types"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to post editor.
2. Add shortcode `[jetpack_top_posts_widget types="post,page"]` and save the post.
3. Visit the post front to see the result. It should display top visited posts including post type `post` and `page`. Instead, it shows no 0 posts.

### A clear and concise description of what you expected to happen.

Shortcodes should displ

[2022-08-22 16:17] renatoagds opened #25742 "VideoPress components: VideoRow"
![Image](https://user-images.githubusercontent.com/1663717/185969295-ddce1ba8-d334-4ce4-a831-9858655f8572.png)

![Image](https://user-images.githubusercontent.com/1663717/185969322-36bb65e7-448b-47b5-be63-752cd766d7fd.png)

[2022-08-22 16:18] renatoagds commented on #25742
As @renatoagds pointed out here: pe4Cmx-9r-p2#comment-55, we should probably crop the text and show the complete value on hover.

[2022-08-22 16:19] renatoagds commented on #25742
There is an expanded layout to show, as pointed here: pe4Cmx-9r-p2#comment-55.

[2022-08-22 16:23] renatoagds opened #25743 "VideoPress components: Pagination"
![Image](https://user-images.githubusercontent.com/1663717/185970530-b5876ccd-d5ca-4023-b580-e482e42fc173.png)

[2022-08-22 16:26] renatoagds opened #25744 "VideoPress components: LocalVideosList"
![Image](https://user-images.githubusercontent.com/1663717/185970841-cc31c15d-b57b-4926-b3d5-3763b75e1af9.png)

[2022-08-22 16:28] renatoagds opened #25745 "VideoPress components: LocalVideoRow"
![Image](https://user-images.githubusercontent.com/1663717/185971222-fdca23f2-8140-420c-8d3c-fccdf1608d59.png)

![Image](https://user-images.githubusercontent.com/1663717/185971260-163929c1-79bc-4601-a58f-ed3d1f317452.png)

[2022-08-22 16:29] renatoagds opened #25746 "VideoPress components: VideosList"
![Image](https://user-images.githubusercontent.com/1663717/185971781-f916a12c-f19a-41ee-9ac1-8dd2d5e9fe5c.png)

[2022-08-22 16:30] renatoagds opened #25747 "VideoPress components: VideosGrid"
![Image](https://user-images.githubusercontent.com/1663717/185971973-6d2854e9-2018-4f49-80fb-8f42fdde601e.png)

[2022-08-22 16:31] renatoagds opened #25748 "VideoPress components: VideoCard"
![Image](https://user-images.githubusercontent.com/1663717/185972156-5fbcdde1-991b-4c99-a149-8d345814ada6.png)

mobile

![image](https://user-images.githubusercontent.com/77539/187682001-52af59a6-9458-445a-94c3-fa9d3cd3394d.png)

[2022-08-22 16:31] renatoagds commented on #25748
Mobile approach described here: pe4Cmx-9r-p2#comment-64

[2022-08-22 16:32] renatoagds opened #25749 "VideoPress components: SearchInput"
![Image](https://user-images.githubusercontent.com/1663717/185972491-f5679d08-d5eb-469e-b354-3efbed93f29b.png)

[2022-08-22 16:33] renatoagds commented on #25749
Should we use [InputControl](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/input-control)?

[2022-08-22 16:34] renatoagds opened #25750 "VideoPress components: VideoStatsGroup"
![Image](https://user-images.githubusercontent.com/1663717/185972707-ff2a5205-f70e-4276-85b4-0b21648322aa.png)

[2022-08-22 16:35] renatoagds opened #25751 "VideoPress components: VideoStorageMeter"
![Image](https://user-images.githubusercontent.com/1663717/185972878-d1a17953-9eb2-447c-b55d-dd164a86637d.png)

[2022-08-22 16:35] renatoagds commented on #25751
A ProgressBar component should be implemented, as the RecordMeterBar includes legends and has no animation for the bar progress: pe4Cmx-9r-p2#comment-55

[2022-08-22 17:00] renatoagds opened #25752 "RNA: Fix small arrow icon at CUT component"
Reference: https://github.com/Automattic/jetpack/pull/24864#pullrequestreview-1022183946

[2022-08-22 17:06] renatoagds opened #25753 "Connection: Add documentation for components"
Based at: p1660829139757719/1660768531.023429-slack-CBG1CP4EN

[2022-08-22 17:07] dsas opened #25754 "Atomic site cannot purchase Jetpack Search plan"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a regular atomic site (it's not a dev site or anything)
2. Go to Settings -> Performance in the menu
3. See 'Enable Jetpack Search' is enabled, click on 'Upgrade your Jetpack Search and get the instant search experience'

### A clear and concise description of what you expected to happen.

To see the wpcom cart with a jetpack search plan

[2022-08-22 17:08] renatoagds opened #25755 "RNA: Introduce HeaderNav component"
Specs: PbJqbW-5M-p2

[2022-08-22 17:10] renatoagds opened #25756 "RNA: Use Text components in Admin Page components"

[2022-08-22 17:11] renatoagds opened #25757 "RNA: Unit tests for Button component"

[2022-08-22 17:13] renatoagds opened #25758 "RNA: Add bold variants for `body` and `body-small` at Text"

[2022-08-22 17:14] renatoagds opened #25759 "RNA: Add new `color` prop for Button"

[2022-08-22 17:16] renatoagds opened #25760 "RNA: Update Button Figma"
We've introduced the `isExternalLink` prop and removed the external-link variation.

The Figma file doesn't reflect these changes yet.

[2022-08-22 17:28] retrofox opened #25761 "VideoPress: support edit the video source"
toolbar item | Dropdown
------|-----
<img src="https://user-images.githubusercontent.com/77539/185982858-c3467103-84a4-4dad-b11f-acea144f5a4f.png" width="400px" /> | !<img src="https://user-images.githubusercontent.com/77539/185982896-9ba60ee0-ff8f-4093-a0c2-d2c68830f39c.png" width="400px" />

[2022-08-22 17:33] retrofox opened #25763 "VideoPress: Fix initial loading animation"
https://user-images.githubusercontent.com/77539/185984068-b8b5381d-dcf3-4c42-b2a6-6fc3b3139bc5.mov

[2022-08-22 17:49] retrofox opened #25765 "VideoPress: consider a way to add a "Clean custom size" option"
Sometimes gets tricky to remove the custom size of the block, especially when it's combined with some alignments. Maybe we'd like to add an option to clean the custom size.

[2022-08-22 17:51] retrofox opened #25766 "VideoPress: UI transition/transform from Jetpack to VideoPress plugin"
* Implement a manual transition when no Jetpack is installed, but the VideoPress plugin is it.

* Probably we'll need to copy&paste almost all current implementations of VideoPress (extended core/video block)

[2022-08-22 18:05] samiff commented on #25659
Thanks, didn't see that one. Though I do find it odd in that issue it mentions:

Because the issue here seems to occur with Jetpack being active.

[2022-08-22 19:06] DavidRothstein commented on #25754
That looks pretty bad and affects other ways of buying Jetpack Search too (for example from https://jetpack.com/upgrade/search/ or https://cloud.jetpack.com/pricing).  Seems to be a regression due to https://github.com/Automattic/wp-calypso/pull/66648 -- I'm looking into a quick fix.

[2022-08-22 19:40] sdixon194 commented on #25248
Update diff: D86327-code
Cleanup diff: D86329-code

Would appreciate a second pair of eyes on this one. VideoPress seems to be in a weird state where a lot of the work is duplicated on dotcom, but the files aren't fusioned. I can't really delete most of the things in `mu-plugins/videopress` without breaking a lot of other things.

For this defusioning, I just picked the two synced files and the js

[2022-08-22 19:47] #25754 closed, assigned to DavidRothstein

[2022-08-22 20:47] sdixon194 commented on #25191
Defusion Diff: D86339-code
Cleanup Diff: D86341-code

[2022-08-22 21:20] renatoagds commented on #25763
Did some tests and looks like #25392 fixed it, can you help to confirm @retrofox ?

[2022-08-22 21:40] renatoagds commented on #25742
As requested here, we'll hide quick actions for now: p1661157047489049/1660933240.163389-slack-C03TA48NSUX

[2022-08-22 21:58] #25724 closed, assigned to retrofox

[2022-08-22 22:28] pablinos commented on #25444
I've been discussing this with Facebook and it seems the workaround we were using to avoid the bug in Facebook's API can no longer be used without the `business_management` permission, which we can't easily request for existing users, and is far too permissive.

I've reverted and tweaked the changes from D60013-code in D86348-code, which should hopefully fix the problem. Once it's merged we can as

[2022-08-22 23:42] sirbrillig commented on #16989
👍

[2022-08-23 00:53] #25382 closed, assigned to annacmc

[2022-08-23 09:34] #22726 closed

[2022-08-23 11:55] dsas commented on #25102
@SaxonF, wondering if you can give some design input on this?

For premium blocks we prompt the user to upgrade their plan to get access. This is done by displaying a pink dot on the block in the inserter, and once inserted by showing an upgrade nudge when the block is selected

Block list | Nudge
-------|------
 ![image](https://user-images.githubusercontent.com/93301/186149488-123c6bf4-2793-44c1

[2022-08-23 14:07] retrofox opened #25786 "Jetpack: expose a way to know when an extension is beta, experimental, etc."
We need a way to detect when an extension is defined as [beta](https://github.com/Automattic/jetpack/tree/trunk/projects/plugins/jetpack/extensions#beta-extensions), [experimental](https://github.com/Automattic/jetpack/tree/trunk/projects/plugins/jetpack/extensions#experimental-extensions), etc, in the backend, consistent in all environments that we have.
The index.json file defines the extension

[2022-08-23 14:53] #25740 closed, assigned to nobody

[2022-08-23 15:03] retrofox opened #25788 "VideoPress: migrate title and poster edition when uploading from Jetpack plugin"
We need to migrate [VPBlock: Support edit title and poster from upload (V6) #25392](https://github.com/Automattic/jetpack/pull/25392) to the VideoPress package

[2022-08-23 15:06] coder-karen commented on #25248
Giving this a test just now, I notice the functionality in WPcom didn't seem quite right (video upload wouldn't finish for example), and I was noticing warnings when tailing errors. The warnings seemed to be related to the two files that are now being loaded via Jetpack, but the warning is for get.php and put.php within mu-plugins/videopress.php. The console was spitting out 404 GET errors as well

[2022-08-23 15:20] sdixon194 commented on #25248
Hmm strange I didn't see those but will check again - out of curiosity, did you cherry pick both diffs to the testing branch, or were you just testing the Update diff?

[2022-08-23 15:23] leogermani commented on #25248
The files listed in the PR description were not moved out from the Jetpack plugin into the package.

Just one file from the js folder were. This one -> https://github.com/Automattic/jetpack/blob/trunk/projects/packages/videopress/src/client/lib/videopress-token-bridge.js#L1

So I'm not sure anything should be done to them...

Now that I'm aware of the process, I'm trying to keep a close look at wh

[2022-08-23 15:24] leogermani commented on #25248
Not everything will be migrated to the package. Many things will remain in the Jetpack plugin module as they are now.

[2022-08-23 15:30] coder-karen commented on #25248
I applied the cleanup diff then manually added the changes in the update diff. I'm not getting them now though, possibly the tail was picking up the period between me applying one diff and the other. The video upload still doesn't seem to want to finish though for some reason in one instance, though on another it does. So possibly not related here.

[2022-08-23 15:41] loyukfai commented on #22241
Other related forum threads:

https://wordpress.org/support/topic/latest-instagram-posts-block-in-jetpack-10-0/

https://wordpress.org/support/topic/cropping-pictures-to-square-in-latest-instagram-posts-block/

Cheers.

[2022-08-23 15:48] loyukfai commented on #22127
Note: The new Jetpack update implemented Lazy Load which improves the user experience a little bit.

https://wordpress.org/support/topic/instagram-widget-image-size-2/

Cheers.

[2022-08-23 16:14] #25690 closed, assigned to retrofox

[2022-08-23 18:19] retrofox commented on #25330
💯

[2022-08-23 18:58] retrofox commented on #25330
just FYI, these styles are only applied to Simple sites if I'm not wrong.

[2022-08-23 19:10] #25330 closed, assigned to retrofox, oskosk

[2022-08-23 19:50] samiff commented on #23953
@Automattic/greenhouse Is the [above report](https://github.com/Automattic/jetpack/issues/23953#issuecomment-1217223583) something one of you could have a look at? I tried playing with it on my end by adding a selector to the `playsinline` attribute, but didn't have any luck in getting the block validation error to go away. I'm probably misunderstanding the flow of deprecations or some other block

[2022-08-23 19:51] retrofox opened #25794 "VideoPress: rename block to videopress/video"
Considering that it's possible to register the block from the VideoPress plugin, I think the `videopress` namespace is more proper than `jetpack`. It also opens the door for registering in the future more blocks.

[2022-08-23 21:19] ccwalburn opened #25864 "Customizer: Additional CSS Section Media Width Setting Verbiage"
### What

We've had a request to change the wording for the Media Width instructions in the **Additional CSS** section.

From:

To:

### Why

To avoid confusion about the difference between "content" and "media width"

Requested here: 5485427-zen

### How

Change verbiage.

[2022-08-23 21:37] retrofox opened #25801 "Jetpack: add `(beta)` suffix via block filter"

[2022-08-24 00:39] cuemarie commented on #25016
📌 ACTIONS
-
- Closing report due to stale conversation. Feel free to reopen and share any thoughts to the inquiry above. Thanks!

[2022-08-24 00:39] #25016 closed

[2022-08-24 00:42] SaxonF commented on #25102
The canvas definitely doesn't feel like the right place for this. Could we move into the sidebar inspector which may be a more appropriate place?

[2022-08-24 08:33] dsas commented on #25102
I wondered about that too @SaxonF , I _think_ that's actually one of the easier options technically, but I had two main concerns:

 1. Will that work well on mobile? The sidebar inspector is full screen there. It might be confusing if after the block is inserted the sidebar just takes over the screen. If you don't show the sidebar then the nudge will be missed. If you don't show the sidebar when t

[2022-08-24 13:47] mmtr commented on #25102
This is also a concern for desktop, since users have the ability to hide the sidebar.

[2022-08-24 13:59] #25720 closed, assigned to sdixon194

[2022-08-24 14:31] jgcaruso commented on #23953
I can't seem to reproduce this issue. I tried on a brand new Jurassic ninja site (using default options) and in my jetpack dev environment with latest code pulled.

I was able to see it though once I disabled VideoPress in the Jetpack settings. Maybe this is what I was missing?

The issue appears to be the inclusion of `=""` after the attributes for `controls` and `playsinline`. Not entirely sure

[2022-08-24 15:23] sdixon194 commented on #25248
Looks like that video works for me - not sure if there's any kind of flakiness with VP in general.

That's probably okay, this is just defusioning files that are synced between dotcom and Jetpack, which are the files listed at the top.

Yup, I've updated the paths in `wp-content/mu-plugins/videopress.php` to call from the package in `mu-plugins/jetpack-plugin/production` instead.

I think this mig

[2022-08-24 15:39] sdixon194 commented on #25191
Deploy 1: r251200-wpcom
Deploy 2: r251201-wpcom
Defusion List Update: https://github.com/Automattic/jetpack/pull/25811

[2022-08-24 15:39] #25191 closed, assigned to nobody

[2022-08-24 15:54] mmtr commented on #25102
If we decide to stick with the current placement, I opened https://github.com/Automattic/jetpack/pull/25812 (still WIP) to move the upgrade banner inside the block markup which has the nice side effect of allowing us to remove the fixed height that was causing the issue.

<img width="748" alt="Screen Shot 2022-08-24 at 17 51 28" src="https://user-images.githubusercontent.com/1233880/186464924-a58b

[2022-08-24 15:59] sdixon194 commented on #25179
Defusion: D86495-code
Cleanup: D86497-code

[2022-08-24 16:24] coder-karen commented on #25187
Update changeset: r251199-wpcom
Cleanup changeset (updating the build plugin files list): r251202-wpcom
Second cleanup changeset (... deleting the readme): r251207-wpcom
Build clean-up: #25813

[2022-08-24 16:26] #25187 closed, assigned to coder-karen

[2022-08-24 16:40] anomiex commented on #25254
* De-Fusion part 1: D86502-code
* De-Fusion part 2: D86504-code

[2022-08-24 16:42] sdixon194 commented on #25176
Defusion: D86501-code
Cleanup: D86505-code

To test: Copy both branches to your sandbox, enable the carousel on your sanboxed site. Add a gallery and make sure the carousel still works.

[2022-08-24 17:48] retrofox opened #25815 "VideoPress: Split the VideoDetailsCard in two components"
We'll have to split up the VideoDetailsCard in two sub-components to be able to compose the mobile view:

![Image](https://user-images.githubusercontent.com/77539/186488254-16849d96-6997-41f8-8c1c-a7f317f5ca2a.png)

[2022-08-24 17:49] retrofox commented on #25815
...

[2022-08-24 18:06] retrofox opened #25816 "VideoPress: Add edit button to the VideoDetailsCard"
![Image](https://user-images.githubusercontent.com/77539/186491327-899d5d09-e511-48ff-b0f7-9022eb0c765f.png)

[2022-08-24 18:06] retrofox commented on #25816
.

[2022-08-24 18:22] leogermani opened #25819 "videopress-uploader.js uses undefined function"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Enable VideoPress module
2. Go to Media
3. Click Add new
4. Upload a video with an unsupported video format (e.g. mkv)
5. there will be no good error response

Another way of testing is trying to upload a video while connected to Jetpack only at a site level

### A clear and concise description of what you expected to happen.

I expected to

[2022-08-24 19:31] #25702 closed, assigned to dhasilva

[2022-08-24 21:41] samiff commented on #25179
Looks good to go 🚢

[2022-08-24 21:56] samiff commented on #25176
Tested well for me :shipit:

[2022-08-24 22:12] samiff commented on #25254
Worked for me 👍

[2022-08-25 05:49] Greatdane commented on #25864
Confirming that this seems to be calypso option, as cannot see it on self-hosted WordPress.

[2022-08-25 06:54] haja-rimrubber opened #25822 "Stat issue"
### Impacted plugin

Jetpack

### Steps to Reproduce

Hello there,

We have PRD and STA environment. By mistake we recently disconnect jetpack in staging env.
Then it's disconnected from production also. After we know that we reconnect jetpack to both env.

Our sta env stat shown like this
https://ibb.co/K7qBd4c

Our prd env stat shown like this
https://ibb.co/tBRMzFP

How to move sta env stat to

[2022-08-25 07:05] jeherve commented on #25822
You seem to be running into what we commonly call an "identity crisis", where 2 sites's connections got mixed up. I would recommend that you contact Jetpack support here with more information about each site:
https://jetpack.com/contact-support/?rel=support&hpi=1

They will be able to sort this out for you.

[2022-08-25 07:05] #25822 closed, assigned to nobody

[2022-08-25 07:09] MichaelCampanella opened #25824 "Feature Request:"
### Impacted plugin

Social

### What

Support for LinkedIn Pages

### How

Right now the plugin can post to LinkedIn Profiles but I want it be able to post to our company's LinkedIn Page.

[2022-08-25 07:17] jeherve commented on #25824
Thanks for the suggestion. This is currently tracked in #259. I'll consequenty close your issue as duplicate.

[2022-08-25 07:17] #25824 closed, assigned to nobody

[2022-08-25 07:21] haja-rimrubber commented on #25822
Thank you @jeherve

[2022-08-25 08:49] mmtr commented on #25102
FWIW, we had the banner there as well. It was introduced by https://github.com/Automattic/jetpack/pull/16603 and removed by https://github.com/Automattic/jetpack/pull/18604. The reasoning behind the removal is noted in https://github.com/Automattic/jetpack/pull/18604#issuecomment-777837757:

[2022-08-25 09:03] mmtr commented on #25102
Reading through the early exploration of the premium blocks work, looks like it was considered to have the nudge only in the sidebar (plus a small indicator in the block icon): pbAPfg-Bm-p2#comment-1247

It was later discarded because we cannot guarantee that the sidebar would be always visible: pbAPfg-Bm-p2#comment-1248

Another alternative that was considered was to display an action button in t

[2022-08-25 09:19] #25666 closed, assigned to jeherve

[2022-08-25 11:24] retrofox opened #25827 "VideoPress: Tweak focus state of Button component"
Raised up in this comment: https://github.com/Automattic/jetpack/pull/25817#pullrequestreview-1084353005

Got some difference in the spacing from `list` and `toggle` button, and is missing the green outline on focus:

_Figma at right_

<img width="66" alt="Screen Shot 2022-08-24 at 15 55 44" src="https://user-images.githubusercontent.com/1663717/186501898-4b689f27-290a-42d1-bfba-bb9dee29353d.png">

[2022-08-25 11:28] retrofox opened #25828 "VideoPress: Set up a "watch" job"
That will allow us to use `jetpack watch plugins/videopress` and quickly build the js assets when we make changes to the files

[2022-08-25 12:00] #25816 closed, assigned to retrofox

[2022-08-25 13:33] sdixon194 commented on #25179
Defusion: r251273-wpcom
Cleanup: r251277-wpcom
Update list: https://github.com/Automattic/jetpack/pull/25832

[2022-08-25 13:33] #25179 closed, assigned to sdixon194

[2022-08-25 13:34] jgcaruso opened #25833 "Media Library: handle missing `playerIframe` error in Media Library"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to Media Library
2. Open an image
3. close the modal
4. look in the console, there will be an error similaar to `playerIframe is undefined`

### A clear and concise description of what you expected to happen.

No console error

### What actually happened

saw a console error

### Browser

_No response_

### Other information

_No response

[2022-08-25 14:27] #25742 closed, assigned to renatoagds

[2022-08-25 14:30] coder-karen commented on #25248
From my testing then this looks good to go, unless we're looking for additional clarity on anything else.

[2022-08-25 14:36] retrofox opened #25836 "VideoPress: create Logo component"
![Image](https://user-images.githubusercontent.com/77539/186693967-9788a55d-b8d8-4bc0-882c-de8d3e21d2a0.png)

We can follow what we did in the [Protect plugin Logo](https://automattic.github.io/jetpack-storybook/?path=/story/plugins-protect-logo--default).

[2022-08-25 14:46] sdixon194 commented on #25176
Defusion: r251284-wpcom
Cleanup: r251285-wpcom
List update: https://github.com/Automattic/jetpack/pull/25832

[2022-08-25 14:46] #25176 closed, assigned to nobody

[2022-08-25 15:24] anomiex commented on #25254
r251287-wpcom and r251288-wpcom.

Looks like no update is needed to `de-fusioned-files.js`, the parent dir of these files is already listed.

[2022-08-25 15:24] #25254 closed, assigned to anomiex

[2022-08-25 16:10] samiff commented on #25221
Prerequisite JP PR: #25838
Update diff: D86585-code
Cleanup diff: D86586-code
Post-deploy de-fusion reminder: #25840

**Testing:**

* After JP PR is merged and on wpcom, apply D86585-code to sandbox.
* Try testing out Publicize features to ensure proper functionality and that updated paths are being loaded correctly.

[2022-08-25 16:25] #25786 closed, assigned to retrofox

[2022-08-25 16:28] mmtr commented on #25030
Reopening since we had to revert the diff above because of a regression (more details in p1661441678719449-slack-C02FMH4G8).

[2022-08-25 16:46] sdixon194 commented on #25180
Defusion: D86592-code
Cleanup: D86593-code
Jetpack PR: https://github.com/Automattic/jetpack/pull/25839

[2022-08-25 17:56] anomiex commented on #5097
FYI, we're now looking at deprecating and removing `jetpack_require_lib()` entirely due to changes we're working on related to how Jetpack's code is shipped to WordPress.com.

Internal reference: p9dueE-5EZ-p2

[2022-08-25 18:20] sdixon194 commented on #25248
I think we might be okay, I'll wait until monday to deploy so we have a whole week to catch anything and in case any VideoPress folks want to do some testing to catch any flows we might have missed.

[2022-08-25 18:22] #25833 closed, assigned to jgcaruso

[2022-08-25 19:22] samiff commented on #25236
Update diff: D86605-code
Cleanup diff: D86614-code
Post-deploy de-fusion reminder: #25843

Testing:

* Apply both diffs to sandbox.
* You may need to `return true;` from the top of `is_using_wpcom_sitemaps()` in `.../mu-plugins/sitemaps.php` to see the correct files loaded.
* Try visiting your sandbox `/sitemap.xml` and check for any errors, and that the updated Jetpack plugin file path is being u

[2022-08-25 20:29] samiff commented on #25219
wpcom was missing updates done in #24098 so the file is out of sync. From what I read those fonts were intended to be used on wpcom as well, so loading the JP version of the file should be fine.

Update diff: D86621-code
Post-deploy de-fusion reminder: #25850

Testing:

- Apply D86621-code to sandbox.
- On sandbox site, enable a block theme and open the site editor. Try using the global font style

[2022-08-25 21:06] samiff commented on #25217
Update diff: D86624-code
Post-deploy de-fusion reminder: #25851

Testing: file was in sync, so this is a simple stub replacement.

[2022-08-25 22:57] retrofox commented on #25827
@keoshi 👋  should we apply these styles by default? and to all variants?

[2022-08-25 23:03] retrofox commented on #25827
`--jp-green-40` #069E08

[2022-08-25 23:50] #23398 closed

[2022-08-26 00:20] retrofox commented on #25827
![Image](https://user-images.githubusercontent.com/77539/186790473-8101249d-0757-40c3-bb6b-d6a5ae203623.png)

It seems something that we need to apply only for this component.

[2022-08-26 03:32] #22442 closed

[2022-08-26 10:13] keoshi commented on #25827
Good catch — the green outline was supposed to reflect the `active` state, but you're right: it doesn't make sense so maybe we can simply use the existing `focus` style which thickens the black border. Would that work?

[2022-08-26 12:01] mmtr commented on #25030
Created D86670-code as a 2nd attempt that also prevents the regression introduced by the previous patch.

[2022-08-26 12:33] retrofox opened #25862 "VideoPress Standalone: Research why is it not possible to upload the first video for a free plan"
Even when the Module is activated...
![Image](https://user-images.githubusercontent.com/77539/186904078-0a093043-505a-4e18-bf36-9aee21804099.png)

It is not possible to upload the first video in a Site with a Free plan.

![Image](https://user-images.githubusercontent.com/77539/186903843-d40ff794-068c-4ffe-a4ae-fd2eaa0ecbe6.png)

[2022-08-26 12:36] retrofox commented on #25862
The POST response body:

[code]

[2022-08-26 12:49] retrofox commented on #25862
In fact, I'm not able to upload a video after buying a VideoPress plan either.

[2022-08-26 13:20] #16940 closed

[2022-08-26 13:20] #25015 closed

[2022-08-26 13:28] Robertght commented on #25864
This is a Jetpack feature, however, I assume we might be able to rename that if needed from our end, but I don't know if it makes sense. I've shared my findings and reasons here: p1661112027620009-slack-C0160HSMDQV

cc @jeherve for a double check

[2022-08-26 13:51] retrofox commented on #25827
Although its visual state changes when focusing on the button as it, it isn't visually significant. However, it's something that depends on the background image. If the image is mostly white, the visual changes will be more evident.

[2022-08-26 13:57] jeherve commented on #25864
"Media" sounds fine. I can see how "content" may be confusing at times. It was named that way because behind the scenes, this is overwriting something named `$content_width`.

I'll open a PR to make the change. fwiw this should impact many WordPress.com sites, since FSE makes the Custom CSS panel a lot less visible and useful for site owners now.

[2022-08-26 14:01] retrofox opened #25866 "VideoPress: fix the `VideoPressUploader` warning"
[code]

![Image](https://user-images.githubusercontent.com/77539/186920824-5d2269cb-09d8-4f33-9ab8-a01f7169f46b.png)

[2022-08-26 14:02] Dalias96 opened #25867 "Enhancement: Add after_wpsc_delete_cache_directory hook"
### Impacted plugin

Super Cache

### What

Add after_wpsc_delete_cache_directory hook

### How

Added after_wpsc_delete_cache_directory hook, which is executed every time someone hits button to clear cache. This is inteded to integrate SuperCache with other Caching providers, eg. Cloudflare.

Main goal to add this, was to enable purge entire CF Cache (or only one page) even, when no WP Super Cach

[2022-08-26 14:13] keoshi commented on #25827
Yeah, that's a good point. I'm not sure this is really an issue though, since the menu will pop up, giving way more meaning to that interaction than the outline ever could. What do you think?

[2022-08-26 14:20] #25788 closed, assigned to renatoagds

[2022-08-26 14:38] retrofox commented on #25827
I think we should discard these changes and iterate later :nod:, in case we consider needed.

[2022-08-26 14:48] sdixon194 commented on #25176
There were some fatals because I missed an area where a deleted file was called in a legacy widget. After action to come:

redeployedin r251373-wpcom
cleanup: r251375-wpcom

[2022-08-26 15:42] renatoagds commented on #25828
@retrofox today I have been doing it by executing:  `jetpack watch packages/videopress`, it got reflected into the `plugin`, it's not worth?

[2022-08-26 17:07] samiff commented on #25221
Update changeset: r251398-wpcom
Cleanup changeset: r251400-wpcom

[2022-08-26 17:07] #25221 closed, assigned to samiff

[2022-08-26 17:18] samiff commented on #25219
r251403-wpcom

[2022-08-26 17:18] #25219 closed, assigned to samiff

[2022-08-26 17:27] samiff commented on #25217
r251405-wpcom

[2022-08-26 17:27] #25217 closed, assigned to samiff

[2022-08-26 18:12] samiff commented on #25236
Update changeset: r251407-wpcom
Clenaup changeset: r251409-wpcom

[2022-08-26 18:12] #25236 closed, assigned to samiff

[2022-08-26 18:16] #25743 closed, assigned to dhasilva

[2022-08-26 18:45] retrofox commented on #25686
Tested using JN

[2022-08-26 18:51] retrofox commented on #25686
It still happening for me, testing with a JN site:

https://gifted-humboldt.jurassic.ninja/wp-admin/admin.php?page=jetpack

[2022-08-26 18:52] retrofox commented on #25763
Confirmed, but fixed with the last migration https://github.com/Automattic/jetpack/pull/25392

[2022-08-26 18:52] #25763 closed, assigned to nobody

[2022-08-26 18:53] #25827 closed, assigned to retrofox

[2022-08-26 21:17] samiff commented on #25180
Looks good to me 👍

[2022-08-27 13:26] retrofox opened #25878 "QRCode Integration: Research and suggest an approach to render QR codes in the posts list page"
The following PR renders multiple components in different places on the page, and use Portal to crate only one app.

https://github.com/Automattic/jetpack/pull/20918/files#diff-45ac682a12c0691195557583b66eccd77b32e9033aae79ebf29fc4f71f9bb2d3

[2022-08-28 22:22] thesacredpath commented on #25444
@pablinos , has this been merged? Have a user that is having issues connecting to their FB page via publicize. It just keeps coming back to connect and not indicating any errors or anything, and will not connect.

Edit: I've let the user know that I'm checking on when this fix will be merged, and wanting to close the loop and include the follow-up ticket.

5513789-zen

[2022-08-29 10:08] #25864 closed, assigned to jeherve

[2022-08-29 10:34] #24059 closed

[2022-08-29 10:39] csabarakasz commented on #25444
Same issue here:

- [ ] 35539629-hc

Suggested switching back to old Facebook page experience https://web.facebook.com/business/help/664061057662340?_rdc=1&_rdr

[2022-08-29 16:37] leogermani commented on #25828
@renatoagds currently yes, it is the same because we don't have anything in the plugin. But in theory we could have additional code and dependencies in the plugin. It would be nice to have a watch in the plugin as well

[2022-08-29 16:43] leogermani opened #25888 "VideoPress block: Make some errors actionable"
We need a way to make some errors present the user with a call to action to fix the issue, or at least with a link where they can find more information.

For example, when they upload a video with a unsupported format, they see:

![Image](https://user-images.githubusercontent.com/971483/186495606-9817677d-80a3-4bc5-ab89-c6226b833bf2.png)

This is added by an exception in the block. We need to add

[2022-08-29 16:43] leogermani commented on #25888
@oskosk will check for a pattern we are using in wpcom blocks

[2022-08-29 16:44] oskosk commented on #25888
Note to self: Doublecheck which messaging pattern we should use in front of these conditions. (So to not show so many red and scary notices).

[2022-08-29 16:48] pablinos commented on #25444
I've just merged it @thesacredpath. Sorry for the delay, I've been having quite a bit of back and forth with Facebook about this one.

It should now be fixed for pages with and without the New Page Experience. If we could get confirmation from some of the people affected then we can contact all the others.

[2022-08-29 16:49] leogermani commented on #25765
allow user to reset the size and discard any manual changes

[2022-08-29 16:49] pablinos commented on #25444
r251496-wpcom for future reference.

[2022-08-29 16:51] retrofox opened #25889 "VideoPress: Video block upgrade banner"
Start to consider showing an upgrade banner when the site doesn't have the proper paid plan.

![Image](https://user-images.githubusercontent.com/77539/185982342-1c8cdbe2-cc3e-4b66-9035-1a6303b9d60d.png)

[2022-08-29 17:48] thesacredpath commented on #25444
@pablinos , thanks a lot for your work and letting me know. I'll have the user try again.

[2022-08-29 18:42] #25836 closed, assigned to retrofox

[2022-08-29 19:27] sdixon194 commented on #25180
Defusion deploy:  r251505-wpcom
Cleanup deploy: r251506-wpcom

[2022-08-29 19:27] #25180 closed, assigned to nobody

[2022-08-29 19:48] retrofox commented on #25680
addressed by https://github.com/Automattic/jetpack/pull/25849

[2022-08-29 19:48] #25680 closed, assigned to retrofox

[2022-08-29 20:24] leogermani commented on #25686
ok, this is happening when running bleeding edge videopress plugin with "old" versions of Jetpack (latest stable). Jetpack will include the function after the package already did it without any checks.

There is no way of preventing that, unless we checked to see if Jetpack is active and what is the Jetpack version... this is not very elegant and I'm afraid this can have some side effects in Atomi

[2022-08-29 20:25] leogermani commented on #25862
The initial options of the cache site are not being properly initialized.

p1661543617150639-slack-C039WR60VDF

Kernel is taking care of it: p1661529083549739-slack-C02NENKA4GN

[2022-08-29 21:53] samiff commented on #25252
Update diff: D86793-code
Cleanup diff: D86801-code
Post-deploy cleanup: #25896

[2022-08-29 23:10] renatoagds opened #25899 "VideoPress: Introduce alpha admin page using mocked data"
Now that we have most of the components needed for the Admin page, let's create an alpha version for it, using mocked data.

[2022-08-29 23:17] #25794 closed, assigned to retrofox

[2022-08-29 23:37] retrofox opened #25900 "VideoPress: add register_videopress_blocks() to register all VideoPress blocks"
Add a `register videopress blocks()` method to register VideoPress blocks.

[2022-08-30 00:23] supernovia opened #25904 "Highlander Comments: Login tooltip blocks access to login button"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Visit a site with Highlander comments.
2. Click Log out.
3. Try to log back in using WordPress.com by clicking the W icon.

### A clear and concise description of what you expected to happen.

I expect to be able to click on the W and log in with WordPress.com

### What actually happened

A tooltip pops up over the icon, preventing anyone fr

[2022-08-30 01:54] kangzj opened #25906 "Search Plugin: Enforce display of the “Search powered by Jetpack” on the free tier"
Create a branding footer at the bottom of the overlay for free tier sites, which doesn't disappear on scrolling.

The copy for the branding:

- If Search plugin exists regardless of whether the site has Jetpack plugin or not, we show "Powered by Jetpack Search"
- Otherwise, we show "Search powered by Jetpack"

![Image](https://user-images.githubusercontent.com/1425433/191154371-97aff2b6-f771-490e-

[2022-08-30 01:59] kangzj opened #25907 "Search Plugin: Create new purchase flow for Free Plan"
When user connects site, we need to automatically assign Search Free Plan for the site. We could refer to How `JETPACK_FREE` Plan is provisioned in WPCOM/Calypso codebase.

[2022-08-30 02:03] kangzj opened #25908 "Search Plugin: Create new purchase flow for Paid Plan"
We've already have a paid plan purchase flow, what we need to do is to replace the current product slug `jetpack_search` with the new created slug.

And also, we only want the new slug to be active when we are ready to rollout the new pricing, meaning this needs to be gated by a parameter or a state etc.

[2022-08-30 02:09] kangzj opened #25909 "Search Plugin: create a feature flag to gate whether the new pricing is active"
Basic requirement is like the one we created for Record Meter https://github.com/Automattic/jetpack/pull/22497.

Also we could investigate - would it be better if we put the config on WPCOM, meaning we could turn on the feature remotely when all functionalities are finished.

[2022-08-30 02:24] kangzj opened #25910 "Search API: Update plan API to support query limit"
We want to keep the API as compatible as possible, because we'll have the same code consuming the API for old versions.

Suggested changes to the API:

- Add a flag to identify whether it's on our new pricing or not. e.g. `"pricing": "2022"`
- Add plan allowed maximum usage. e.g. `current_plan: { max_records, max_search_requests, cost }`
- Add how many records indexed and how many search requests

[2022-08-30 02:37] kangzj opened #25911 "Search Plugin: update search support check"
Implement from the plugin side regarding the new plan API #25910

[2022-08-30 02:49] kangzj opened #25913 "Search API: Update pricing API to support query limit"
We aim to keep the API compatible with the new pricing, meaning we don't change any keys and only add keys when necessary.

`search_request_count` is already added, but which is not functional. The API depends on the new search products on WPCOM.

The API `wp-content/rest-api-plugins/endpoints/jetpack-search-pricing.php` is currently siteless and has its own logic to estimate pricing. I think we s

[2022-08-30 02:59] kangzj opened #25914 "JS Components: Add a Tooltip component"
Reference: `p1HpG7-hvT-p2`

Add a Tooltip component, like in the screenshot, which will be used in quite a few places across projects. Please ensure we could preview it with storybook.

![Image](https://user-images.githubusercontent.com/1425433/187338465-917ace02-e512-4409-8948-384b1c25ed4a.png)

[2022-08-30 03:04] kangzj opened #25915 "Search Plugin: Add plans view page"
The page is to replace the old [upsell-page.jsx](https://github.com/Automattic/jetpack/blob/0104f558800dcee071842fb5f3cb78fa21449368/projects/packages/search/src/dashboard/components/pages/upsell-page.jsx)

<img width="1435" alt="image" src="https://user-images.githubusercontent.com/4044428/192363224-a4bcdde5-76fd-429c-9b9c-6333c3f18c58.png">

Reference: `p1HpG7-hvT-p2`

[2022-08-30 04:45] kangzj opened #25916 "JS Components: Add a Pricing Card component with feature list"
Create a Pricing Card component which could be used in our plan comparison page. The existing Pricing Card component could be found at:

https://github.com/Automattic/jetpack/blob/0104f558800dcee071842fb5f3cb78fa21449368/projects/js-packages/connection/components/connect-screen/required-plan/index.jsx

The issue depends on #25914

![Image](https://user-images.githubusercontent.com/1425433/18735079

[2022-08-30 05:10] kangzj opened #25917 "JS Components: Add a donut meter component"
Create a donut meter, design could be found in Figma (follow links in `p1HpG7-hrJ-p2`), which would need the following attributes customizable:

- Size
- Percentage
- Starting point
- Color
- Width of the circle

Preferable not required:

- Animation for donut filling
- Zoom in on hover

The issue only requests the donut component to be created - the issue for whole donut section is [#25943](https

[2022-08-30 08:11] #25102 closed, assigned to dsas, mmtr

[2022-08-30 10:08] annacmc commented on #25917
Thanks for writing this up @kangzj 😄

Just confirming I understand correctly. So for this issue we want to create ONLY the donut element as the JP component, and *not* show the label "Site Records" and count `310/10,000`, the info link here, right?

[2022-08-30 10:09] retrofox opened #25920 "Jetpack: remove both Dialog buttons"
<img src="https://user-images.githubusercontent.com/77539/187412167-53cccdc2-a55d-4154-bbfd-eca629371835.png" width="400px" />

We should remove both buttons from there, since

* It's possible to download the image by right-clicking on the image
* It's possible to close (Cancel) the modal by clicking on the X button.

[2022-08-30 10:31] kangzj commented on #25917
@annacmc  Yep this is for the reusibility purpose. I'll create another issue for the section. Any questions?

[2022-08-30 10:41] annacmc commented on #25917
No questions, that's perfect. Thanks @kangzj  🙌  I've got something whipped up this evening as just the chart component _(without any text or labels)_ I am just tidying it up now and shall PR tomorrow 😄  I just wanted to make sure I didn't misunderstand anything.

[2022-08-30 10:59] kangzj commented on #25917
Nice one! That's fast! 🙌

[2022-08-30 11:02] brbrr commented on #20724
Just a reminder that this issue is still there 😬

[2022-08-30 11:17] coder-karen commented on #25904
This should now be fixed (WordPress.com diff here: D86830-code). I tested it out (also with the links mentioned in the forum thread) and can confirm the tooltip has moved so all the login buttons are accessible now.

[2022-08-30 11:17] #25904 closed, assigned to ebinnion

[2022-08-30 11:20] simison commented on #20724
@ianstewart @Copons would this be good for Expand team's maintenance backlog?

[2022-08-30 11:33] retrofox opened #25921 "VideoPress: dropping files in the block MediaPlaceholder is not working"
Dropping the file in the dropzone of the MediaPlaceholder doesn't work. It shows the following error:

![Image](https://user-images.githubusercontent.com/77539/187426049-3be74c3d-7a12-440f-bf5c-3a1a3b583e41.png)

[2022-08-30 11:43] retrofox commented on #25921
~It seems to happen only in Simple sites~

[2022-08-30 11:51] retrofox opened #25922 "VideoPress: consider to remove the transform video when uploading"
![Image](https://user-images.githubusercontent.com/77539/187429504-04a2d0b3-ecb7-41b2-8d0b-14da93a2774e.png)

[2022-08-30 12:14] madhusudhand opened #26006 "[Bug]: Gardening task is failing when there is no content in the issue"
### Quick summary

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/1935113/187433446-6303c727-c65a-4b41-baad-055dc1bd3124.png">

### Steps to reproduce

Create an issue without content. Observe that task is failing.

### What you expected to happen

Task should run without errors.

### What actually happened

Task failed with error.
gather-support-references: Getting r

[2022-08-30 12:32] leogermani commented on #25686
https://github.com/Automattic/jetpack/pull/25925

[2022-08-30 13:02] Copons opened #25927 "Payment Buttons Block: Add Dimensions Panel"
### Impacted plugin

Jetpack

### What

Add the Dimensions panel to the Payment Buttons block

### How

This will make the Payment Buttons block work like the Core Buttons block.

<img width="277" alt="Screenshot 2022-08-30 at 13 59 15" src="https://user-images.githubusercontent.com/2070010/187443251-80580a91-e76a-4f77-b6ca-26ab835a7f36.png">

_Note: the image above shows the panel with all the op

[2022-08-30 13:04] Copons opened #25928 "Payment Button Block: Add Dimensions and Typography Panels"
### Impacted plugin

Jetpack

### What

Add the Dimensions and Typography panels to the Payment Button block

### How

This will make the Payment Button block work like the Core Button block.

<img width="277" alt="Screenshot 2022-08-30 at 13 59 15" src="https://user-images.githubusercontent.com/2070010/187443251-80580a91-e76a-4f77-b6ca-26ab835a7f36.png"><img width="275" alt="Screenshot 2022-08-30

[2022-08-30 13:31] #25030 closed

[2022-08-30 13:31] #25686 closed, assigned to leogermani

[2022-08-30 15:23] bobmatyas commented on #25444
@pablinos Now that this change has been made, does that mean that [this part](https://jetpack.com/support/jetpack-social/facebook/) of the Publicize docs:

is incorrect? Jetpack Social will now work with the new page experience, correct?

[2022-08-30 16:08] Copons commented on #20724
Thanks @simison; we must have missed this when gathering issues for payment blocks a few months ago.
Adding to the Ajax board! ✨

[2022-08-30 16:15] #25920 closed, assigned to retrofox

[2022-08-30 16:24] marissaexplores commented on #25284
Similar behaviors were reported on [5515268-zen](5515268-zd-woothemes) where I suggested they disable lazy load in Jetpack and Jetpack Boost to see if that fixes the issue.
They responded that the issue is fixed, but did not confirm that it was because of the lazy load settings.

[2022-08-30 17:43] #25801 closed, assigned to retrofox

[2022-08-30 18:04] pablinos commented on #25444
Yes. I think the issue is that pages with the new experience are treated a bit like business entities now, so pages managed by Facebook Business Manager might also work.

We'll have to do a bit of testing, but we can update the docs to remove the new page experience caveat.

[2022-08-30 19:07] #25751 closed, assigned to dhasilva

[2022-08-30 19:27] samiff commented on #25256
Shortcode tests defusioned in #25252

[2022-08-30 19:27] samiff commented on #25252
Update changeset: r251614-wpcom
Cleanup changeset: r251616-wpcom

[2022-08-30 19:27] #25252 closed, assigned to samiff

[2022-08-30 20:08] #25681 closed, assigned to retrofox

[2022-08-30 20:41] retrofox opened #25937 "Jetpack: consider to replace the react.qrcode library"
This lib depends on https://www.npmjs.com/package/qr-js and it seems to be deprecated.
Possible alternatives:

* https://github.com/gcoro/react-qrcode-logo#readme
* https://github.com/rx-ts/react/tree/master/packages/react-qrious

Warning:
![Image](https://user-images.githubusercontent.com/77539/187539090-cea1ebc2-90b0-4875-9e7c-d254e9502e7d.png)

[2022-08-30 21:14] #25900 closed, assigned to retrofox

[2022-08-30 21:24] samiff commented on #25230
Update diff: D86889-code
Cleanup diff: D86959-code
Post-deploy cleanup: #25939

[2022-08-30 21:49] leogermani opened #25940 "VideoPress plugin: de-register core videopress block on the package"
Core VideoPress should ber removed when VideoPress Video is registered

![Image](https://user-images.githubusercontent.com/77539/187661934-ea819839-f865-4bd1-8244-de1e7195599a.png)

[2022-08-30 21:58] leogermani opened #25941 "My Jetpack: Turn VideoPress into a hybrid product"

[2022-08-30 22:01] leogermani opened #25942 "VideoPress block. Bring the loading state back when you select a video from the Media Library"
I think this was removed by accident here:

https://github.com/Automattic/jetpack/commit/eb7e4b82d212225815d9fd3337fa93333407888c#diff-5147e04ca543d9b3b50a4c0cb1794fced55443e151ae92c81b3c373fe93504f1L270

[2022-08-30 23:01] kangzj opened #25943 "Search Plugin: Add a meter section component"

[2022-08-31 01:11] #25746 closed, assigned to renatoagds

[2022-08-31 02:25] renatoagds commented on #25942
Don't think we should return this `Loading ...` state, reasons explained here: p1661896926081269-slack-C02TQF5VAJD

[2022-08-31 08:59] jeherve commented on #25256
I wonder if it may make more sense to de-fusion each unit test alongside its matching file, to avoid any issues.

To give you an example, `projects/plugins/jetpack/class.jetpack-post-images.php` has been de-fusioned, but not `projects/plugins/jetpack/tests/php/media/test-class.jetpack-post-images.php`.  A PR that introduces changes to the class today (#25829) generates a Fusion diff for the tests,

[2022-08-31 10:36] retrofox commented on #25937
Maybe we can keep using the same qrcode.react lib., But definitely, we need to update it.

[2022-08-31 10:36] retrofox commented on #25937
Maybe we can keep using the same qrcode.react lib., But definitely, we need to update it.

[2022-08-31 10:47] #16835 closed

[2022-08-31 10:57] coder-karen opened #25949 "Sync: Home URLs being incorrectly stored on WordPress.com"
### Impacted plugin

Jetpack

### Steps to Reproduce

This issue isn't reproducible as such, the issue being created to to help identify what results in the issue itself, in order to fix it.

The issue is that some sites appear to have their WordPress.com home URLs changed (to `http://no` in most cases, `http://1` in another spotted case). It's unclear what causes this, but there are two side effe

[2022-08-31 11:06] bindlegirl commented on #24773
Reported here as well: p8oabR-Vp-p2#comment-6546

[2022-08-31 11:10] retrofox opened #25950 "VideoPress: VideoPress Video block outputs `null`"
The VideoPress Video block outputs `null` in the front end when the block doesn't have a defined video.

Block editor | Front-end
------|------
![Image](https://user-images.githubusercontent.com/77539/187665400-6049a2a6-222f-41da-9e00-8c345aa2f956.png) | ![Image](https://user-images.githubusercontent.com/77539/187665329-bc3aa2e1-653e-4ffc-b2eb-a5e27b6106a9.png)

[2022-08-31 11:47] leogermani commented on #25942
@renatoagds We need some sort of feedback that we are waiting for an ajax request to complete. That ugly disruptive "Loading..." was just a placeholder. Agree we need something better, but we do need something

[2022-08-31 12:41] retrofox commented on #25748
Partially handled by this PR https://github.com/Automattic/jetpack/pull/25895

[2022-08-31 12:55] #25815 closed, assigned to retrofox

[2022-08-31 14:12] IoanaAMuresan commented on #25444
Another instance here: 5507431-zd-woothemes
 Following previous HE's instructions to post here for info. Letting the customer we're looking into this.

[2022-08-31 15:19] coder-karen commented on #25202
After working on this a bit, I've come to a point where the errors when testing are getting a little complex and difficult to parse for me.
I'll leave this for now but here is a diff with all the SAL file references having been changed: D86582-code

At least one other change that would be needed in the Jetpack plugin version of `/sal/class.json-api-platform.php`: the path needs to change where `cl

[2022-08-31 15:43] #25942 closed, assigned to renatoagds

[2022-08-31 15:56] samiff commented on #25247
Handling these in #25230

[2022-08-31 15:56] #25247 closed, assigned to samiff

[2022-08-31 16:08] anomiex commented on #25223
Note there's a "hidden" reference to the file via `wp-content/mu-plugins/admin-plugins.php`. Probably best to leave a stub at `wp-content/blog-plugins/random-redirect.php` instead of deleting it entirely.

[2022-08-31 16:14] sdixon194 commented on #25206
Defusion: D86953-code
Cleanup diff: D86961-code
Jetpack PR: https://github.com/Automattic/jetpack/pull/25958

[2022-08-31 16:19] leogermani opened #25959 "VideoPress : Try again and Cancel dont work after insert fails"
If the block fails to insert a video, don't find a preview for example, the "Try again" and "Cancel" button dont do anything

Steps to reproduce

* Add a block
* Click "Insert from URL"
* Add a URL with a invalid GUID. ex: https://videopress.com/v/TIlcICLaa
* Wait for the block to fail

![Image](https://user-images.githubusercontent.com/971483/187728921-a21fc39e-47f0-4ecb-8949-feeee89cd554.png)

*

[2022-08-31 16:20] anomiex commented on #25185
* De-Fusion part 1: D86964-code
* De-Fusion part 2: D86965-code
* List update: https://github.com/Automattic/jetpack/pull/25960

[2022-08-31 16:49] samiff commented on #25256
That makes sense to me, I've mentioned in the Slack channel 👍

[2022-08-31 17:01] leogermani opened #25963 "VideoPress block: prevent users from uploading if Jetpack is not fully connected"
If the site is connected only at a site level, the Block does not show any warning and lets you try to upload, only to show this generic error:

![Image](https://user-images.githubusercontent.com/971483/187737337-91d8251d-2d15-4f6e-a2a1-5915688c6276.png)

Since we know the user connection is missing beforehand, we should warning the user and disable the block for new uploads (but enable it for ins

[2022-08-31 17:19] retrofox opened #25964 "VideoPress: Be able to pick video frame to be used as video cover"
Currently, it's only possible right as soon as a video is uploaded. But then once published for example, you can't go back and pick a video frame as a cover.

[2022-08-31 18:00] retrofox commented on #25748
Let's name it ~`VideoEditCard`~ `VideoCard`

[2022-08-31 18:07] #25941 closed, assigned to leogermani

[2022-08-31 18:18] eoinsav opened #25965 "Enhancement: Make it easier for Jetpack CRM Tags to be added on a Jetpack Contact Form"
### Impacted plugin

Jetpack Contact Form

### What

When adding a Jetpack Contract Form, I want the selected options from a Selection Box, Checkbox, etc to be added as Tags connected to the new Jetpack CRM contact (added through this form). To do this, we need to add `jetpackcrm-tags` to the "Unique CSS ID" field as shown here:

![172268312-5d16d633-7b60-4d8f-b315-8e4a91fb0d19](https://user-image

[2022-08-31 19:00] samiff commented on #25231
- [x] Calypso PR: Automattic/wp-calypso/pull/67231
- [x] Update diff: D86979-code
. . . Then
- [x] Cleanup diff: D86982-code
- [x] Update reminder: #25970

[2022-08-31 19:02] samiff commented on #25248
@sdixon194 Still planning on giving this a shot this week?

[2022-08-31 19:03] sdixon194 commented on #25248
Oh yeah thanks for the reminder. It's getting kinda late my time. I'll do it first thing tomorrow.

[2022-08-31 20:23] #25185 closed, assigned to anomiex

[2022-09-01 05:33] jeherve commented on #25965
Related: #21241

[2022-09-01 06:23] pablinos commented on #25444
Hi @IoanaAMuresan. Reading through that exchange the customer was definitely affected by this issue but they can now connect and post successfully (which is great news as it shows the fix is working).

There is something involving the deletion of a post, that I don't quite understand, but they seem ok with it. Let me know if there's more I can do to help here.

[2022-09-01 11:17] Robertght commented on #25444
@pablinos they shared:

I'm guessing this could've been just a case between the time when the fix was added and when things didn't work correctly,  so I'd say we're ok here. Let me know if you think otherwise.

[2022-09-01 11:33] danjjohnson opened #25978 "Enhancement: Jetpack Social - reset sharing settings when using WooCommerce 'copy to a new draft'"
### Impacted plugin

Jetpack, Social

### What

When copying a Woo product to a new draft, the auto-share settings should be reset.

### How

After you publish a WooCommerce product, the publicize settings are no longer active, as expected:

![image](https://user-images.githubusercontent.com/1990037/187903874-9dbfdd7b-f786-4eb3-b4d7-ff19b5d713f2.png)

However, if you then use the 'copy to new draf

[2022-09-01 12:00] leogermani commented on #25862
While Kernel is still looking at the Sync issue, we were able to fix this here:

D86939-code

[2022-09-01 12:00] #25862 closed, assigned to retrofox, oskosk, leogermani

[2022-09-01 12:29] #25744 closed, assigned to renatoagds

[2022-09-01 12:29] #25745 closed, assigned to renatoagds

[2022-09-01 12:49] jeherve opened #25982 "Carousel: update colors of the previous / next buttons"
### Impacted plugin

Jetpack

### What

Previous / Next buttons do not follow the same patterns as the other icons in the Carousel view. Let's update them to be consistent.

### How

Previous / Next buttons have 2 states: when not hovered, they're faded out, and they only light up when hovered:

https://user-images.githubusercontent.com/426388/187917688-f63dc57f-a401-4103-9172-7c6ab049b0a3.mov

Th

[2022-09-01 13:00] retrofox commented on #25748
Related to it https://github.com/Automattic/jetpack/pull/25981

[2022-09-01 13:08] #25749 closed, assigned to dhasilva

[2022-09-01 13:35] jeherve opened #25983 "External Media: add ability to bulk-select with the shift key"
### Impacted plugin

Jetpack

### What

In the external media, you currently do not have the controls you would typically have in a gallery selection, like the core media modal. Let's add that option to be consistent.

### How

Here is a quick video to show you the differences between the shift key in the core media modal, vs. the External Media modal:

https://user-images.githubusercontent.com/42

[2022-09-01 13:46] coder-karen commented on #25222
Update diff: D87027-code
Cleanup diff: D87029-code (includes unit test)
Update PR (for later): #25984

Testing: While sandboxed, with the first diff applied, try adding a Quiz via shortcode (there is a demo that can be used at the [bottom of the page here](https://wordpress.com/support/quiz-shortcode/)). Make sure it works properly.
You can also add an error log in the Jetpack plugin quiz.php file

[2022-09-01 14:00] jeherve opened #25985 "External Media: highlighting media discrepancies"
### Impacted plugin

Jetpack

### What

When using the External Media modal, there seems to be 2 different types of focus on media. They can prove a bit confusing since there is little difference between the 2.

### How

Here is a screencast outlining the differences:

https://user-images.githubusercontent.com/426388/187930118-e149d85f-e67e-4588-a28d-2660686bce62.mov

[2022-09-01 14:10] retrofox commented on #25748
<img width="454" alt="image" src="https://user-images.githubusercontent.com/77539/187935009-351f71a6-3ee8-4b9d-b74a-5c847e693c33.png">

[2022-09-01 14:20] renatoagds commented on #25748
@retrofox the quick actions, design requested us to remove it for now: p1661157047489049/1660933240.163389-slack-C03TA48NSUX ... something to be aware of.

[2022-09-01 15:00] matiasbenedetto opened #25987 "Google Fonts: discrepancies between Literata font hosted in Pendant theme and Literata font loaded from Google Fonts API"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to any site WPCOM using 'Literata' typography and loading the font file from Jetpack such as https://pendantdemo.wordpress.com/
2. Compare to a site not loading 'Literata' from Jetpack: https://wp-themes.com/pendant/
3. See that the fonts are different because font assets loaded by Jetpack are wrong or outdated.
![image](https://user-imag

[2022-09-01 15:07] IoanaAMuresan commented on #25444
Sounds good. I'm now EOD and have to go AFK, but I can follow up with them tomorrow if needed. Would I tell them to check and let us know if they're still seeing issues? Something else? Thank you.

[2022-09-01 15:11] retrofox commented on #25748
![image](https://user-images.githubusercontent.com/77539/187949335-31860440-c184-4f08-b48f-204d9888cc66.png)

[2022-09-01 15:41] sdixon194 commented on #25206
Deployed: r251782-wpcom
Cleanup deploy: r251784-wpcom
Jetpack GH Pr merged: https://github.com/Automattic/jetpack/pull/25958

[2022-09-01 15:41] #25206 closed, assigned to sdixon194

[2022-09-01 16:31] sdixon194 commented on #25248
Defusion: r251786-wpcom
Cleanup: r251790-wpcom
github PR: https://github.com/Automattic/jetpack/pull/25990

[2022-09-01 16:31] #25248 closed, assigned to sdixon194

[2022-09-01 18:04] #25748 closed, assigned to retrofox, renatoagds

[2022-09-01 18:36] samiff commented on #25231
Update changeset: r251802-wpcom
Cleanup changeset: r251805-wpcom

[2022-09-01 18:37] #25231 closed, assigned to samiff

[2022-09-01 18:38] oskosk opened #25995 "VideoPress Plugin: Fix connection flow so it finishes in the plugin admin page"
The current flow breaks so we need to fix it for users choosing the free plan

[2022-09-01 18:41] anomiex commented on #25987
It looks like what is actually going on here is that the Pendant declares a "Light" weight of the font using "Optical Size" for the CSS "normal" weight, using its own copy of the font file
[code]
while Jetpack's code declares the "Regular" weight of the font not using "Optical Size" for the CSS "normal" weight and uses a copy downloaded directly from Google
[code]
Further, Jetpack isn't even getti

[2022-09-01 19:02] #25995 closed, assigned to oskosk

[2022-09-01 19:10] retrofox opened #25997 "VideoPress: add quick actions to VideoCard component"
Although quick actions are not mandatorily required for the MVP, we can add them to be used in the short/medium term.

[2022-09-01 19:16] pablinos commented on #25444
@Robertght Yes, it seems like it, but it also seemed like they were deleting a previous FB post, then setting a WP post to draft  and publishing it again. That won't work as Publicize only runs once against any WP post.

There is a re-share option, but that is currently only available on paid plans.

[2022-09-01 19:18] pablinos commented on #25444
Thanks @IoanaAMuresan! It sounds like they're all good currently. We could just get them to confirm that maybe.

[2022-09-01 20:20] #25747 closed, assigned to retrofox

[2022-09-01 20:22] retrofox opened #26001 "VideoPress: Rename VideosGrid component to VideoGrid"

[2022-09-01 20:42] #25750 closed, assigned to dhasilva

[2022-09-01 21:42] samiff commented on #25243
- [x] Update diff: D87076-code
- [x] JP PR (wait for this to deploy to wpcom before cleanup diff): #26002
- [ ] Cleanup diff: D87078-code

[2022-09-02 00:03] roo2 opened #26005 "Add action bar UI including pop out menu"
This includes the html/css of the action bar and the hamburger pop out menu

Includes mobile and desktop UI

see p2: pe7F0s-3h-p2 and figma: 2d7d7-pb
#### Mobile UI
![Image](https://user-images.githubusercontent.com/22446385/188031964-16f4ccac-5683-42f5-9b65-9a3e2ad79667.png)
#### Desktop UI
![Image](https://user-images.githubusercontent.com/22446385/188031963-50bbc4ac-fb99-4410-9359-5aafe3abe876.

[2022-09-02 05:49] madhusudhand commented on #26006
Also repo shows the following warning, and its not true.

<img width="909" alt="image" src="https://user-images.githubusercontent.com/1935113/188067565-659fabce-a548-4aed-a4b9-62ce299dc71a.png">

[2022-09-02 06:31] edwinho89 opened #26023 "Jetpack Social prevents Contributors from saving draft posts"
### Quick summary

Jetpack Social prevents Contributor roles from saving draft posts.

***This bug can lead to content loss as the drafts/revisions are not being saved.  If you encounter a user experiencing this issue, please have them copy ALL blocks they currently have before proceeding with any troubleshooting.  They should paste the content into a save location.***

Initially reported in 33679

[2022-09-02 06:33] edwinho89 commented on #26023
5526097-zd-woothemes

[2022-09-02 08:02] vajrasar commented on #26023
Another instance here which was resolved by changing the user role from Contributor to Author.

36741341-hc

- [ ] 5526461-zen

[2022-09-02 08:25] mikachan commented on #26006
@jeherve 👋 Pinging you on this issue as it looks like this is specifically related to the `gatherSupportReferences` task, which seems to come from `automattic/action-repo-gardening`. I'm not sure we can fix this directly in our repo, unless we removed this task I guess.

[2022-09-02 08:32] mikachan commented on #26006
This notice doesn't seem to be showing for me in this repo. Which page were you on?

[2022-09-02 09:39] jeherve commented on #26006
Yep, this needs to be fixed in the action. I'll move this issue to the Jetpack repo, where the action is developed.

[2022-09-02 09:41] jeherve commented on #26006
This is a different issue, currently discussed here:
p1662095866154779-slack-C01UW7SB411

[2022-09-02 09:49] mikachan commented on #26006
Thank you!

[2022-09-02 11:15] #26006 closed, assigned to jeherve

[2022-09-02 11:22] #26001 closed, assigned to retrofox

[2022-09-02 12:38] vajrasar commented on #26023
Another one.

35886312-hc
- [ ] 5525479-zen

[2022-09-02 12:57] coder-karen commented on #25215
Update diff: D86963-code
Cleanup diff: D87111-code
Update PR (for later): #26011

Testing: While sandboxed, with the first diff applied, create a post on a WPcom site and add some content. Publish the post, then and view the page source. You should see Open Graph tags added underneath ``.
Then, apply the second diff (or apply the changes in the second diff) as well as the first, to make sure every

[2022-09-02 13:33] dhasilva opened #26012 "RNA: Add new Text variant "title-medium-semi-bold""
p6TEKc-6xo-p2#comment-11235

size: 24
weight: 600
line-height: 32
color: jp-black

[2022-09-02 13:45] matiasbenedetto commented on #25987
I overlooked the optical size option in Google fonts so thanks for pointing that out @anomiex!

In summary, the assets loaded by Jetpack are not wrong, they are just different because they are not loading the Optical Size version of the font asset as Pendant theme does.

Loading the optical size asset seems to be a more complete solution because you can fallback to the non-optical size using CSS b

[2022-09-02 13:50] jeherve opened #26013 "Carousel: theme styles can overwrite the carousel styles"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Start with a site that's connected to WordPress.com, and where you've activated the Carousel feature under Jetpack > Settings > Writing
2. Install and activate the Dyad 2 theme from the WordPress.com showcase
3. Create a new post, insert a gallery block, and upload images from Pexels (they will all have extra information like caption and des

[2022-09-02 14:17] coder-karen opened #26014 "Google Docs Embed Block: sheet embeds not displaying as expected"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a Jetpack-connected site, enable the `JETPACK_BETA_BLOCKS` constant.
2. Create a new post, and add a Google Sheets block.
3. For some comprehensive testing instructions, see this testing post comment here: p8oabR-Vp-p2#comment-6581
	1. In brief - on the Brave browser, logged into Google, a private sheet did not display when embedded.
	2.

[2022-09-02 15:06] #25997 closed, assigned to retrofox

[2022-09-02 15:56] jeherve commented on #25987
I think it would make sense, especially given the recent discussions around this:
p9dueE-5iZ-p2

[2022-09-02 16:23] retrofox opened #26018 "VideoPress: VideoCard - mobile support"
Implement mobile support:

jOf6DtgAAE9yRBtC3uKRdt-fi-3938%3A61335

<img src="https://user-images.githubusercontent.com/77539/187682001-52af59a6-9458-445a-94c3-fa9d3cd3394d.png" />

[2022-09-02 16:25] retrofox opened #26019 "VideoPress: VideoGrid - mobile support"
![Image](https://user-images.githubusercontent.com/77539/188197475-37b58604-94d4-44ae-a018-96d9a85b9ac9.png)

[2022-09-02 17:13] #26012 closed, assigned to dhasilva

[2022-09-02 17:41] dhasilva opened #26020 "RNA: Add StatCard component"
p6TEKc-6xo-p2
03d46VtY9bYj41cITZm1Rh-fi-2598%3A8257

As part of a cross-plugin design standardization, the new version of the `StatCard` component needs to be implemented as a shared component.

![Screenshot_2022-09-05_11-38-53](https://user-images.githubusercontent.com/8486249/188473544-58b681d5-7cc3-4797-a969-13ea136b26ad.png)

![Screenshot_2022-09-02_14-42-35](https://user-images.githubusercont

[2022-09-02 17:44] retrofox opened #26021 "VideoPress: Find a way to transform unsupported `jetpack/videopress` block"
The typical situation happens for pre-existing `core/video` extended block instances into the post content. How do we deal with this?

# Scenarios

## Jetpack plugin with core/video videopress AND v6

Here, both `core/video` and `videopress/video` blocks are available. In this case, I think we'd like to convert to the new block on the fly. However, let's request a user interaction to convert the b

[2022-09-02 18:11] JoshuaGoode commented on #26023
Thanks, ya'll.

Please reach out to Reactor when Atomic-wide issues like this occur.  In Slack, on the requests P2, and @Automattic/reactor  work for that.

[2022-09-02 18:14] JoshuaGoode commented on #26023
Additional reports came in to at-help

* p1662141826442199-slack-C03TY6J1A
* p1662065620468649-slack-C03TY6J1A

@samiff mentioned potentially looking into this

[2022-09-02 18:14] samiff commented on #26023
@JoshuaGoode Currently looking into it 👍 Will likely transfer issue to Jetpack repo.

[2022-09-02 18:23] samiff commented on #26023
@danielpost @pablinos

I was able to reproduce this issue on `11.3-beta2` and latest trunk. The issue was not present in Jetpack version `11.3-a.11`. From a quick bisect, the problematic commit appears to be: #24617

[2022-09-02 18:28] JoshuaGoode commented on #26023
Adding that this has the potential to cause content loss.

Contributors can begin working on a post and an auto-draft gets created; however, revisions are not saved.  If the user attempts to save their draft it will fail.

If they leave the editor, without manually copying all their content, their work will be lost.

[2022-09-02 18:49] tvolpert commented on #26023
User encountered this issue here:

- [ ] 5527900-zen

Jetpack Social/Publicize is deactivated on their site for now.

[2022-09-02 19:14] #26023 closed, assigned to pablinos, danielpost

[2022-09-02 20:38] samiff commented on #26023
Jetpack version `11.3-beta3` should correct this issue for WoA sites.

Internal: check p9o2xV-2nq-p2 for when this version will deploy.

[2022-09-02 20:59] samiff opened #26027 "Tools: changelogger-release.sh should accept specific version option"
We should allow the `changelogger-release.sh` script to accept an optionally passed specific version number to create a release with.

For example, sometimes in pre-releases or standalone plugins we may want to release/consume a four-point version number (e.g. 0.12.0.1) if trunk has already released versions ahead (e.g. 0.13.0) and we don't want to incorporate all those trunk changes.

Internal Co

[2022-09-03 04:29] JeffBurris commented on #25477
Well for me it has a bit to do with Super Cache because I never get the error until I install Super Cache on any site. I suppose you're saying all Super Cache is doing is implementing garbage cleanup and exposing an erroneous error inherent in Wordpress?

[2022-09-04 06:25] formosattic opened #26029 "Enhancement - Search plugin: exclude specific posts, pages"
### Impacted plugin

Search

### What

Have an option to exclude specific pages, or posts.

User request: 5530185-zd-woothemes

### How

Two possible options:

* Option 1: have an option in the editor to mark it for exclusing
* Option 2: in Customize, have a way to select the pages or posts to exclude.

A current workaround is to have a special category for those specific posts and pages, then rem

[2022-09-04 20:04] ai2n commented on #18072
Still running into this. 36772792-hc

[2022-09-05 02:20] kangzj opened #26030 "Search requests are not intercepted on home page of https://wordpress.com/support"
### Impacted plugin

None / Other

### Steps to Reproduce

- Open `https://wordpress.com/support`
- Enter a keyword and click search button

### A clear and concise description of what you expected to happen.

Search overlay pops up without reloading the page

### What actually happened

Instant search scripts are not loaded on home page.

As a result, the page is reloaded and then Instant Search

[2022-09-05 02:31] kangzj opened #26031 "Search Enhancement: allow search through multiple blogs"
### Impacted plugin

Search

### What

Add a filter to allow passing `additional_blog_ids` to search API

### How

More information: `panfyZ-pf#comment-1277-p2`

[2022-09-05 02:40] jromales commented on #259
Another instance in 35542722-hc

[2022-09-05 10:51] retrofox opened #26033 "VideoPress: Redux - data handling"

[2022-09-05 12:53] renatoagds opened #26036 "VideoPress: Introduce edit details page/route"

[2022-09-05 18:10] dhasilva opened #26040 "RNA: StatCard component popover on large number"
Follow-up to https://github.com/Automattic/jetpack/issues/26020

For big numbers in the square variant, we need to shorten it (e.g. 1,005,377 -> 1m) in a localized way, with a tooltip showing the actual number.

p1662400369976909/1662399184.219759-slack-C03TA48NSUX

[2022-09-05 18:18] #26020 closed, assigned to dhasilva

[2022-09-05 18:39] retrofox opened #26041 "VideoPress: check width of the placeholder component"
![Image](https://user-images.githubusercontent.com/77539/188501264-0ad0f9f5-3862-443d-b684-f3655b557798.png)

captured in Simple sites

[2022-09-05 20:10] ecairol opened #26042 "Enhancement: add custom image for Publicize"
### Impacted plugin

Jetpack

### What

I'd like the option to upload a custom image to be used by social media, when sharing via Publicize connections

### How

While using Featured Image makes sense for most of the cases, we give maintenance to a website (https://seths.blog/) that doesn't use Featured Image on their posts very often.

They use Jetpack to publish to different social media and not

[2022-09-06 03:48] oskosk opened #26048 "Editor Extensions - Brand Jetpack features in publish flows"
Mentioned in p1HpG7-hDK-p2

- [x] #26044
  - [x] #26101
    - Update icon colors and make logo smaller
  - [x] #26162
- [x] #26064

  - [x] Brand Jetpack features in post-publish flows
    - [x] #26163
    - [x] #26257

[2022-09-06 04:16] oskosk opened #26049 "JS Components: DonutMeter - Follow up on recommendations from #25947"
Tracking issue. Recommendations from #25947

@annacmc Consider coming back to address these comments if needed.

### 1

@a8ck3n https://github.com/Automattic/jetpack/pull/25947#discussion_r961277859

_Should we add some bounds checking on our props here? For example, making sure the segmentCount is less than the totalCount, keeping thickness between 1 & some upper bound, setting a minimum donutWid

[2022-09-06 04:48] oskosk opened #26050 "Update all plugin footers byline links to direct to Automattic's site URL"
We've done it for Search in https://github.com/Automattic/jetpack/pull/26045 and previously for most plugins and the My Jetpack pages.

![image](https://user-images.githubusercontent.com/746152/188548939-936763c8-9855-49d3-b1d4-aaa95f284957.png)

We should make sure all plugins follow the same pattern

- [ ] WordAds
- [ ] Jetpack
- [x] #26075
- [x] #26111
- [x] Protect
- [x] #26045
- [x] Social
-

[2022-09-06 04:58] oskosk commented on #26050
@dhasilva can you tackle the update on remaining plugins?

[2022-09-06 05:09] #25917 closed, assigned to annacmc

[2022-09-06 06:14] a8ck3n commented on #26049
Just noting that I'll be tackling these follow-up issues as Anna is AFK for a bit. Cheers!

[2022-09-06 06:28] a8ck3n opened #26052 "JS Components: Build DonutMeter container"
A container for the [DonutMeter component](https://github.com/Automattic/jetpack/issues/25917) that adds the necessary labels, links, and layout handling.

![Image](https://user-images.githubusercontent.com/1425433/187353767-2e94e2e1-3541-48f3-b692-c65e780f13d7.png)

**Dynamic Properties:**

- localized title string
- callback for “info” button
- callback for “Show details” button

Please ensure t

[2022-09-06 06:36] a8ck3n commented on #25943
Closed as duplicate of #26052. I didn't realize this was the same issue. Sorry!

[2022-09-06 06:36] #25943 closed, assigned to nobody

[2022-09-06 06:45] a8ck3n opened #26053 "JS Components: Build CUT component"
A a message component (referred to as a CUT in the designs) that handles presentation and layout of the green box shown here:

![Image](https://user-images.githubusercontent.com/40267301/188564699-8199484d-8f32-4339-bff8-8f2efad3ec31.png)

**Dynamic Properties:**

- localized message string
- border colour
- callback for “action” button

Please ensure the component could be previewed by storybook.

[2022-09-06 06:50] a8ck3n opened #26054 "JS Component: Build Plan Summary component"
A simple header-type component that lists the plan, rollover date, and a label.

![Image](https://user-images.githubusercontent.com/40267301/188565969-0ae569c9-ddbb-4f55-8947-d6a0d3f866bb.png)

**Dynamic Properties:**

- localized message string
- plan type
- rollover date

[2022-09-06 06:54] a8ck3n opened #26055 "JS Components: Build Indeterminate Progress component"
An indeterminate status bar. This would be static as I don’t believe we have the ability currently to wire this up to an API. I’m not sure we’d want to do that either.

![Image](https://user-images.githubusercontent.com/40267301/188566519-aec05b56-095e-41f2-a9d1-0d4f381ab9b4.png)

**Dynamic Properties:**

- localized title string

Please ensure the component could be previewed by storybook.

**Not

[2022-09-06 08:27] a8ck3n opened #26056 "JS Components: Build Search Status Info component"
Presents the “we’re indexing your site” message to the user. Title, message, and icon. Possibly a callback to take action on clicking the icon? (jump to support docs)

![Image](https://user-images.githubusercontent.com/40267301/188585809-81f57874-9956-4627-9294-68c34ebd89d1.png)

**Dynamic Properties:**

- icon
- localized title
- localized message

Please ensure the component could be previewed b

[2022-09-06 09:31] thingalon commented on #20561
Ultimately, we've decided it's not working doing this as it's easy to break execution order / dependencies. Details: ppc9hqz-11W-p2

[2022-09-06 09:31] #20561 closed

[2022-09-06 10:32] bindlegirl opened #26057 "Payment button: upgrade nudge suggesting a wrong plan"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Try adding a payment button an a JN site with no plans attached.
2. Upgrade plan nudge will add Jetpack Security Daily plan to the cart instead of Jetpack Security (10GB)

Discussion: p8oabR-Vp-p2#comment-6595

### A clear and concise description of what you expected to happen.

_No response_

### What actually happened

_No response_

### B

[2022-09-06 10:38] oskosk commented on #26049
Thanks @a8ck3n !

[2022-09-06 11:25] mmtr commented on #26057
Thanks for the report!

The daily plans were discontinued in November 2021 (pbtFFM-XN-p2) so the issue has been present for a long time in the Payment button block (and possibly other blocks like the Pay with Paypal block). It's worth noting that the new Payment buttons block (https://github.com/Automattic/jetpack/pull/25297) also has the same issue given that it carries the same gating logic that

[2022-09-06 14:24] mmtr commented on #26057
I had some spare time today so decided to prepare a fix for this which is ready for review: D87260-code

[2022-09-06 15:00] coder-karen commented on #25182
Noting that I moved this to 'Handle Last' (or Later) because of the number of discrepancies between files (having only looked at `custom-css.php` so far).

[2022-09-06 16:46] retrofox opened #26068 "VideoPress: connect data layer with client App"
Once https://github.com/Automattic/jetpack/issues/26033 and https://github.com/Automattic/jetpack/issues/25899 ship, connect the pieces to start showing the admin page with real data.

[2022-09-06 18:25] retrofox opened #26070 "VideoPress: Fatal error when uploading video to Simple sites"
[06-Sep-2022 18:21:46 UTC] PHP Fatal error:  Declaration of VideoPressUploader\Memcache_Store::cache_get(string $key) must be compatible with VideoPressUploader\Tus_Abstract_Cache::cache_get($key) in /home/wpcom/public_html/wp-content/mu-plugins/videopress-uploader/includes/class-memcache-store.php on line 27

[2022-09-06 18:30] retrofox commented on #26070
* https://github.com/Automattic/jetpack/pull/25302 introduced it
* Fix https://github.com/Automattic/jetpack/pull/26026

[2022-09-06 18:33] oskosk commented on #25916
Maybe check if this component suits our Search needs. Was introduced some weeks ago for the Social plugin

https://automattic.github.io/jetpack-storybook/?path=/story/js-packages-components-pricing-table--default

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/746152/188712398-a46c9b02-d441-4488-98ff-eb2426f7734d.png">

[2022-09-06 18:36] dsas commented on #25927
@Copons, it doesn't show padding 🤔

[2022-09-06 18:36] #26033 closed, assigned to retrofox

[2022-09-06 18:39] dsas commented on #25928
The dimensions controls are intended for blocks that contain multiple blocks (e.g. columns, image galleries etc). Does adding it to the recurring-payments block which only ever contains one jetpack/button make sense? 🤔

The typography settings probably make more sense to be added to jetpack/button; it'll be usable for other contexts in which jetpack/button is used and it means text colour and typo

[2022-09-06 19:38] #26040 closed, assigned to dhasilva

[2022-09-06 19:43] retrofox opened #26071 "VideoPress: take advantage of the edit-when-uploading to store the video sizes"
![Image](https://user-images.githubusercontent.com/77539/188724418-495379e5-03f4-4ae3-8456-e80fd846cbbb.png)

Maybe we can get the video size initially, even before to get uploaded. It would be nice to store the size in the block attribute to reduce the jumps when rendering the block.

[2022-09-06 21:31] kangzj opened #26077 "Search: blog_icon_url and blog_name empty from Search API"
### Impacted plugin

Search

### Steps to Reproduce

Follow the test instructions in #26046

### A clear and concise description of what you expected to happen.

They shouldn't be empty:

<img width="301" alt="image" src="https://user-images.githubusercontent.com/1425433/188744030-5fb96e4b-5d6a-487b-8e8d-c44020613bcf.png">

### What actually happened

Blog icon and name are empty

<img width="351"

[2022-09-06 21:40] jp-imagines commented on #20767
Just replicated this while doing some personal testing. The caption is duplicated if I hit `enter` or the apostrophe ( ' ) or backtick ( ` ) keys.

[2022-09-06 21:49] #26031 closed, assigned to kangzj

[2022-09-06 22:06] #25899 closed, assigned to renatoagds

[2022-09-06 23:38] retrofox opened #26078 "VideoPress: add query parameter to getVideos() selector"
We need to be able to change the criteria when requesting the video data. It should be doable by passing a query object that allows defining the items per page,  order, etc.

[2022-09-07 00:08] retrofox opened #26080 "VideoPress: collect and expose VideoPress relevant data"
Some data are not exposed in the ~ajax request~ media endpoint, such as plays, duration, etc.

Videos data

- [x] total

Video data

- [x] `id`
- [x] `title`
- [x] `description`
- [x] `caption`
- [x] `filename`
- [x] `posterImage`
- [x] `date`
- [x] `uploadDate` 🤔
- [x] `dateFormatted`
- [x] `duration`
- [x] `plays`
- [x] `url`
- [x] `isPrivate`
- [x] `image`
- [x] `image.src`
- [x] `image.width`

[2022-09-07 02:06] kangzj commented on #25916
@oskosk Thanks for the information. It looks nice 👍 I guess we could reused it. Will have a deeper look and see.

[2022-09-07 02:22] kangzj commented on #26053
We should be able to reuse:
https://automattic.github.io/jetpack-storybook/?path=/story/js-packages-components-contextual-upgrade-trigger--default