[2015-01-19 21:48] aheckler commented on #375
Requested in 2062532-t.

[2015-01-19 22:11] dereksmart commented on #1288
Hm, will wait for JH to respond with what expected behavior should be.

[2015-01-19 22:48] dereksmart commented on #731
Looks like this was fixed?  Tested with 2015 and 2013 and worked as expected.

[2015-01-20 00:29] dereksmart commented on #106
I just looked into this briefly and Ian is right, there's some `the_content` competition going on.

Since they are using `apply_filter('the_content')` to get their map description, our likes, shares, and even related posts are trying to load themselves onto that filter which is applied here: https://cloudup.com/cAprgqRSA27

A simple fix would be for them to namespace their filter hook to something

[2015-01-20 00:49] samhotchkiss commented on #1510
I agree with your first paragraph, not with the second :)

I think that just saying "Comments" and "Widgets" leads people to say "Wait, I already have comments on my site, I don't need this"

What about something like "Connected Comments" and "Widget Power Pack"-- not married to those names, but something along those lines?

[2015-01-20 01:11] samhotchkiss commented on #1511
@squirk Can you do some testing on this this week?  Test single sign on against iTheme Security, Wordfence, Bulletproof WP-- any others we should hit, @georgestephanis?

[2015-01-20 01:25] samhotchkiss commented on #1516
@georgestephanis -- do tiled galleries allow some tiles to be vertical while others are horizontal?

Personally, I would love to see a prototype of this.  @swissspidy, if you wanted to build it out and submit it as a PR, maybe it flies and makes it in, maybe not, but if not you could still release it as a standalone plugin for people who want a more robust solution.

[2015-01-20 01:38] #1383 closed

[2015-01-20 04:01] michaeldcain commented on #1513
The custom control was written for the dotcom Customizer and before some recent Customizer changes. I'll take a look.

[2015-01-20 08:05] jeherve commented on #1288
That's a good point. I never thought about it this way.

![screen shot 2015-01-20 at 9 03 55 am](https://cloud.githubusercontent.com/assets/426388/5813769/4d8198a2-a083-11e4-900a-d1d70b140e07.png)

@beaulebens worked on the original Sharing plugin so he would know what the expected behaviour is:
- When choosing "Same Window", clicking on a sharing button makes you leave the post and open the shari

[2015-01-20 08:12] jeherve commented on #731
Yep, it seems fixed on my end as well. w00t! Closing this issue.

[2015-01-20 08:12] #731 closed

[2015-01-20 17:42] perdrix commented on #1499
We are now running MySQL 5.6.22. The issue remains with the 28 updates to the transient. We were able to additionally narrow it down to a conflict between Jetpack Stats and MathCaptcha by dFactory:

https://wordpress.org/plugins/wp-math-captcha/

Disabling either their plugin or Jetpack stats stops the pages from trying to update the database 28 times. In fact, disabling either plugin stops any ca

[2015-01-20 17:54] dereksmart commented on #1288
It would make sense if "same window" acted like the former, and "new window" acted like the latter, as I think it's fair to say if they click on a second sharing button before sending the first, they don't want the first one still floating around.

[2015-01-20 18:30] dereksmart commented on #1288
@georgestephanis, @jeherve how does this work for y'all?
41c2e2d

[2015-01-20 18:40] georgestephanis commented on #1288
I'd prefer to wait and get @beaulebens take on it before merging either direction.

[2015-01-20 18:57] aheckler commented on #708
Requested in 2063664-t.

[2015-01-20 19:15] mindctrl commented on #1253
@jeherve @michaeldcain any chance of getting this one fixed soon? If the caching can't be fixed by the next update can it at least be reverted until someone has time to give it a good look to fix it?

[2015-01-20 19:29] #1513 closed

[2015-01-20 19:55] beaulebens commented on #1288
It's been a while, but I believe the original intent was as @jeherve outlined (but I think you mean "New window" in the second bullet?).

I think a lot of services assume/only really provide UI that makes sense within a popup now though don't they? Maybe we can/should just simplify it and ONLY provide the "new window" approach (and thus remove/ignore this option entirely?)

[2015-01-20 20:51] samhotchkiss commented on #1288
The advantage of "same window" is that you could then overwrite it with your own JS

What if we ditched the option and made it a filterable thing?

[2015-01-20 20:54] samhotchkiss commented on #1499
Very odd-- have you reported this to them?

[2015-01-20 21:08] beaulebens commented on #1288
That'd work for me. On WP.com, since people can't filter, and since the most sensible option in that case is New Window, we should default it to that.

[2015-01-20 21:38] samhotchkiss commented on #1288
How clever is that?  @dereksmart, want to take another swing?

[2015-01-20 21:56] perdrix commented on #1499
I have now. I just discovered this today.

[2015-01-20 22:39] dereksmart commented on #1288
:+1: updated PR

[2015-01-21 02:49] samhotchkiss commented on #1499
Sounds good-- we probably aren't going to be able to check it out in this release cycle, but if you can report back with what they say, we'll look at it from our end for the next cycle

[2015-01-21 05:38] #1288 closed

[2015-01-21 07:41] #1205 closed

[2015-01-21 07:43] samhotchkiss commented on #1405
Fixed by #1406

[2015-01-21 07:43] #1405 closed

[2015-01-21 07:43] samhotchkiss commented on #733
Fixed by #1406

[2015-01-21 07:43] #733 closed

[2015-01-21 07:43] samhotchkiss commented on #210
Fixed by #1406

[2015-01-21 07:43] #210 closed

[2015-01-21 07:47] #1418 closed

[2015-01-21 08:46] zinigor opened #1523 "Infinite Scroll: Add a class name or identifer to the IS button"
As suggested by @davidakennedy in #1205 we may want to add a class name or an identifier to the button that triggers Infinite Scroll:

[2015-01-21 08:47] zinigor commented on #1205
Whoops, looks like @samhotchkiss has merged this already. I have created a new issue to further improve the IS handle: #1523
Sorry to have kept you waiting @davidakennedy, but the good news is that you can test this on the `master` branch :smile:

[2015-01-21 14:31] aheckler commented on #1510
What about these?

- Comments by Jetpack
- Widgets by Jetpack

These would preserve alphabetical ordering in the list and also avoid it seeming like you _need_ Jetpack to have comments and widgets in the first place.

[2015-01-21 15:21] samhotchkiss commented on #1510
Hrmm.  Let's punt this one to the next release, because I think there are some deeper considerations, and we don't want to change module names willy nilly and get people confused :)

[2015-01-21 15:48] #1502 closed

[2015-01-21 18:35] chaselivingston opened #1524 "Related Posts: Add filter to show Related Posts on blog/archives page"
A few requests have come in to allow Related Posts to display on the main blog or archives pages, not just single post pages, perhaps we could add a filter for this functionality.

[2015-01-21 19:04] mikeyarce opened #1525 "Subscriptions Widget: Remove the value from the email input field"
Right now in the Subscriptions Widget, no matter what the Placeholder text is, there is always the value of "Email Address" in the input field.  When someone goes to fill out their email, they first have to delete the current text and then input their address.

We should just let the Widget "Placeholder Text" be there, but leave the value out.

Widget screen:
![screen shot 2015-01-21 at 11 02 25 a

[2015-01-21 19:18] samhotchkiss commented on #1524
Looks like there already is one.  See `jetpack-related-posts.php:1022` :
```return apply_filters( 'jetpack_relatedposts_filter_enabled_for_request', $enabled );```

However, I'm not sure if the JS will support more than one instance of related posts on a page-- I think that may be our bottleneck here.  Maybe @xyu can chime in there?

[2015-01-21 19:22] samhotchkiss commented on #1525
This is already fixed in master #1448

[2015-01-21 19:22] #1525 closed

[2015-01-21 19:23] aheckler commented on #1525
Mentioned in 2065652-t.

[2015-01-21 19:53] mikeyarce opened #1526 "Tiled Galleries: circle galleries "squish" the images"
1. Add the Gallery Widget to your Widget Area
2. Add a few images
3. Select them to be displayed in the Circle Style
4. Some of the images will look squished - without proper dimensions.

My Widget:
![screen shot 2015-01-21 at 11 51 34 am](https://cloud.githubusercontent.com/assets/3220162/5843794/e33db28c-a163-11e4-9a98-744189e650e3.png)

My Sidebar:
![screen shot 2015-01-21 at 11 50 20 am](https

[2015-01-21 20:03] xyu commented on #1524
Unfortunately not :( our JS/CSS currently only supports displaying one related post section per page and is thus restricted to single posts/pages. Our APIs are not restricted however so I suppose it's possible to build something like this into a theme / plugin using the provided `Jetpack_RelatedPosts_Raw()` class:

https://github.com/Automattic/jetpack/blob/master/modules/related-posts/jetpack-rel

[2015-01-21 21:11] squirk commented on #1484
@dereksmart

Custom Content Types

Organize and display different types of content on your site, separate from posts and pages.
To enable a custom content type, head over to Settings → Writing → Your Custom Content Types to activate either "Portfolio Projects” or “Testimonials” by checking the corresponding checkbox. You can now add projects and testimonials under the new "Portfolio” or “Testimoni

[2015-01-21 21:22] squirk commented on #1511
Here's that tag from the dotorg repo: https://wordpress.org/plugins/tags/single-sign-on

[2015-01-21 22:31] duncandoo commented on #367
+1.

I've got jetpack markdown and shortcodes enabled. I can write posts in markdown, and can insert a \[presentation\] with \[slides\] successfully.

What I would like to do is to use markdown to write the contents of the slide, or whole presentation. This would correspond to [markdown](https://github.com/hakimel/reveal.js/#markdown) and [external markdown](https://github.com/hakimel/reveal.js/#e

[2015-01-22 09:59] nicolinuxfr opened #1530 "Related Posts : bad quality images"
On [my blog](http://voiretmanger.fr), I'd like to display three related posts with only pictures, and at 100 % width, so 1/3 of the width for each pictures. Unfortunately, the result isn't great, since the images are really blurry (open this screenshot at full size to see the problem).

![related-posts-bad-pictures](https://cloud.githubusercontent.com/assets/2078386/5853471/4dba2fda-a224-11e4-8d87

[2015-01-22 10:46] jeherve commented on #1530
Yes, you can use the `jetpack_relatedposts_filter_thumbnail_size` filter, like so:

[code]

[2015-01-22 10:46] #1530 closed

[2015-01-22 16:15] camaran opened #1532 "cache system"
Add a robust cache system

[2015-01-22 16:18] jeherve commented on #1532
If you're looking for caching plugins, I'd suggest trying [WP Super Cache](https://wordpress.org/plugins/wp-super-cache/) or [W3 Total Cache](https://wordpress.org/plugins/w3-total-cache/), as they already offer tons of options to add caching to your site. I'm afraid adding such options to Jetpack is not on our roadmap at the moment.

[2015-01-22 16:18] #1532 closed

[2015-01-22 16:20] camaran opened #1533 "add two step auth and app password"
add two step auth system with app password support like wordpress.com system

[2015-01-22 16:26] georgestephanis commented on #1533
You can use the WordPress.com auth system with two password currently with SSO.

[2015-01-22 16:26] #1533 closed

[2015-01-22 17:01] jeherve opened #1534 "Custom CSS: add flexbox support"
Try entering the following the custom CSS editor:

[code]

`justify-content: space-around;` will be stripped on save.

Reported here:
https://wordpress.org/support/topic/css-editor-issue?replies=1

[2015-01-22 18:30] chaselivingston opened #1535 "Comments: Resources loaded over HTTP when using Cloudflare's Flexible SSL"
A user is using Cloudflare's Flexible SSL to allow visits to their site over either HTTP or HTTPS. Their site and home URLs both just use HTTP, however when someone visits their HTTPS site, a Mixed Content message is seen for the resource at http://jetpack.wordpress.com/jetpack-comment since it's loaded over HTTP.

It seems that we should be able to serve that over HTTPS regardless of the user's s

[2015-01-22 18:37] georgestephanis commented on #1535
Where it's decided: https://github.com/Automattic/jetpack/blob/3.3/modules/comments/comments.php#L244

I'd be fine switching it to HTTPS only, I think.

[2015-01-22 18:38] georgestephanis commented on #1535
That being said, I'd say there is a problem with the CloudFlare bit as it's not being picked up as SSL properly by `set_url_scheme()` or `is_ssl()`

[2015-01-22 18:40] georgestephanis commented on #1535
This may help -- unsure -- https://wordpress.org/plugins/ssl-insecure-content-fixer/

[2015-01-22 19:09] emiluzelac opened #1537 "jp-carousel-comments-loading"
Hello,

In
https://github.com/Automattic/jetpack/blob/e4c9584e67f1cb4027590600624e67a6371ce85f/modules/carousel/jetpack-carousel.css#L864

and
https://github.com/Automattic/jetpack/blob/aea12bcaa8abaf31d965035071c7818b777e4069/modules/carousel/rtl/jetpack-carousel-rtl.css#L866

font weight is set to ```444``` instead of i.e. ```400``` or whatever you guys decided to be. First I was thinking wait,

[2015-01-22 19:10] xyu commented on #1535
The problem here is CloudFlare Flexible SSL should only be used when the origin server does not support SSL. Which means the connection looks something like this:

:bust_in_silhouette: ---HTTPS---> CloudFlare ---HTTP---> Origin (WP server)

So for all intensive purposes to WP there is no SSL at all. CloudFlare does send a header which can be used but trusting this header is a bit dodgy because any

[2015-01-22 21:07] pento opened #1538 "VideoPress: PHP notice caused by incorrect variable name"
https://github.com/Automattic/jetpack/blob/master/modules/videopress/class.videopress-player.php#L81

`$width` should be `$maxwidth`.

[2015-01-23 03:04] #1538 closed

[2015-01-23 18:08] pento opened #1539 "JSON API: PHP Notice can occur if the blog doesn't have VideoPress"
[code]

https://github.com/Automattic/jetpack/blob/master/json-endpoints/class.wpcom-json-api-get-site-endpoint.php#L201

[2015-01-25 11:43] shield-9 opened #1541 "Publicize: Not working for scheduled post"
It seems Publicize is not working for scheduled posts.

When I publish post manually, it works. But when I publish post using "scheduled post" (ex: [this post](http://www.extendwings.com/blog/2015/01/wordpress-u2f-login-intro/)), nothing is posted to SNS.

Environment: WordPress 4.2-alpha-31275 + Jetpack 3.3

[2015-01-25 20:45] jeherve commented on #1541
I can't seem to reproduce. Publicize seems to work for scheduled posts on my end.

Could you let me know what other plugins are currently active on your site?

[2015-01-26 06:55] mikemcalister commented on #1253
@jeherve @michaeldcain Hey guys, thanks for looking into this! I can confirm I'm seeing the same thing with several of our premium themes. The latest Infinite Scroll changes referenced above have broken masonry and seem to be causing unpredictable behavior.

It would be great to see a revert or temporary fix so Infinite Scroll isn't broken out of the box. Let me know if there's any info I can prov

[2015-01-26 16:40] morganestes opened #1544 "linktracker_init being called with missing parameter"
In `stats_template_redirect()`, `linktracker_init` is being called with parameters generated from PHP, but the `$blog` variable isn't always set, which causes the JS to fail when the page loads.

From the `stats_template_redirect()` method:
[code]
[code]

Results in:

[code]

Which throws
[code]

[2015-01-26 16:42] jeherve commented on #1544
cc @xyu

[2015-01-26 23:06] #1537 closed

[2015-01-27 13:51] xyu commented on #1544
I think I invariantly fixed this when working on #1506 so it should no longer be a problem with the next release. However, if `$blog` is empty then there would be no way for us to correlate a page view with the blog it's coming from making it useless.

We should either:
* Bail before appending any stats JS files.
* Throw some error / warning that stats can't work without `Jetpack_Options::get_opti

[2015-01-27 14:33] georgestephanis commented on #1544
That should already be in place -- the stats module requires a connection to wpcom, which should necessitate having an id.

[2015-01-27 14:34] georgestephanis commented on #1544
@morganestes -- I'd be very eager to find out how you've got a site where `Jetpack_Options::get_option( 'id' );` isn't set.

[2015-01-27 16:22] RCowles opened #1550 "Publicize: publicize_checkbox_default filter not respected"
The `publicize_checkbox_default` filter no longer seems to be working to prevent Publicize connections from being auto-selected.

Steps to repro:
1. On a site with active Publicize connections, include `add_filter( 'publicize_checkbox_default', '__return_false' );` in functions.php or a functionality plugin.
2. Create a new post: Dashboard > Posts > Add New.
3. Note the Publicize options in the Pu

[2015-01-27 16:39] richardmtl commented on #1365
@cfinke what do you or someone else on your team think of the above?

[2015-01-27 16:44] jeherve opened #1551 "VideoPress: activating the module breaks the "Add New" button in /wp-admin/upload.php"
Steps to reproduce:
1. Go to Jetpack > Settings, and activate the VideoPress module
2. Go to `yoursite.com/wp-admin/upload.php`
3. Click on "Add New". Here is what should be displayed:

![screen shot 2015-01-27 at 5 44 04 pm](https://cloud.githubusercontent.com/assets/426388/5922467/1c138cca-a64c-11e4-83ae-1177699e5a6d.png)

Unfortunately, nothing happens as long as VideoPress is active.

[2015-01-27 16:57] richardmtl commented on #448
@boogah Hi! We were wondering if this was enabled yet; could you let us know? Thanks!!

[2015-01-27 17:00] boogah commented on #448
@richardmtl It was supposed to go out as part of a deploy late last week. That deploy was halted and pushed back because of an issue with unrelated code during testing.

I'm really pushing hard to get this out ASAP. If we run into any other snags getting it out this week, I'll let you know!

[2015-01-27 17:13] jeherve opened #1552 "Comments: clicking on the comment text field on mobile zooms in"
Steps to reproduce:

1. Activate Jetpack Comments on your site
2. Visit one of your posts on mobile (Minileven doesn't have to be active)
3. Click on the comment field
4. The view zooms in, hiding part of the comment form, as well as part of the post content.

Reported here:
https://wordpress.org/support/topic/jetpack-comments-issue-on-devices

[2015-01-27 17:37] perdrix commented on #1499
The following is the conversation between Bartosz Arendt of dFactory and myself. I'll let him describe how he worked around the issue... he's still not sure why there was a conflict with Jetpack stats initially.

-------

I think I have an idea of how this happens, but I don't know why.

Math Captcha is using set_transient but it's done once for a cookie lifetime. But there's also a wp_generate_pa

[2015-01-27 17:57] jeherve opened #1553 "SSO: use CSS instead of Javascript to position the button"
It would allow plugin developers to customize the position of the button.

Suggested here:
https://wordpress.org/support/topic/location-of-login-button-for-wordpresscom-single-sign-on?replies=1

[2015-01-27 18:12] jeherve opened #1554 "Infinite Scroll: Missing posts when they share a publish date"
When more than one post shares the same publish date and it is the last item in the initial load, all other items with that same date get skipped.

The source of the issue seems to be line 449 of /modules/infinite-scroll/infinity.php:
`$operator = 'ASC' == $_REQUEST['query_args']['order'] ? '>' : '<';`

By changing that to `$operator = 'ASC' == $_REQUEST['query_args']['order'] ? '>=' : '<=';`
It f

[2015-01-27 18:32] jeherve opened #1555 "Minileven: add hooks around header"
That would allow plugin developers to add elements around the header.

Suggested here:
https://wordpress.org/support/topic/widget-area-below-header?replies=1

[2015-01-27 18:33] cfinke commented on #1365
I don't think it's Akismet -- I'm seeing the tags get stripped even when Akismet is disabled.

[2015-01-27 18:53] jawittdesigns commented on #1365
Well, there is the `<pre>` tag issue, but no there is something going on with Akistmet being activated. I contacted the Akismet support and Valerie tested it. She did confirm there is an issue with Akismet and Jetpack both active, but concluded that it is a Jetpack issue since there's nothing in the Akismet code to effect this.

I'm suspecting that maybe there's something elsewhere in Jetpack tied

[2015-01-27 19:01] cfinke commented on #1365
She also confirmed that disabling Akismet doesn't change the behavior:

<blockquote>Using the multi-line code syntax worked for me when Akismet was on and when Akismet was off while being logged out of the site completely. [...]  I do see that there's a different between the logged in and logged out comments: comments made by a logged in admin have the <pre> tag in addition to the <code> tag where

[2015-01-27 19:11] jawittdesigns commented on #1365
Yeah, like I said the `<pre>` tag issue. That something separate. That's happening because the `<pre>` tag isn't added to the allowed HTML list be default, so if it isn't added to the list for non-admin users it get's stripped out by kses. That's part one part of the tag stripping.

Yes, I've been able to reproduce this on multiple clean WP installs both on local and on a live server with the only

[2015-01-27 19:25] jawittdesigns commented on #1365
I just saw a Jetpack update and updated it.

Here's a new test post.

http://hl.jawittdesigns.com/new-post

[2015-01-27 19:30] chaselivingston commented on #150
Seeing this on http://bethesdacathedral.org/ running JP 3.3 and WP 4.1. I'm also able to reproduce on my JP sandbox running JP master and WP 4.1.

[2015-01-27 19:49] jrastaban commented on #1554
I was wrong about the duplicate posts, after further testing it does cause it to pull in the same posts again.

[2015-01-27 19:55] dereksmart commented on #150
I was able to replicate with WP Super Cache both activated, and installed but not deleted.  Once I deleted it, the link worked properly.

[2015-01-27 19:56] dereksmart commented on #150
Also worked if I just turn off caching https://cloudup.com/cnlLiL-U1ZO

[2015-01-27 20:47] dereksmart opened #1558 "SSO - opens site in pop-up window on "session expired""
Steps to reproduce:
- Enable SSO
- Log out of your site in another window
- Wait for "Expired Session" pop-up
- Click "Log in using wordpress.com"

It technically works, but fails to close the popup and instead loads the site in the popup

![screen shot 2015-01-27 at 3 15 34 pm](https://cloud.githubusercontent.com/assets/426388/5927032/1c373a3e-a670-11e4-979a-19467835d36a.png)

[2015-01-27 21:07] cfinke commented on #1365
Thanks for the examples; after uninstalling/reinstalling the latest Jetpack, I can reproduce the issue with the `pre` tag getting stripped when Akismet is enabled. I'm looking into it.

[2015-01-27 22:01] cfinke commented on #1365
@jawittdesigns This change: https://plugins.trac.wordpress.org/changeset/1076927/akismet/trunk should fix the problem you're seeing.

[2015-01-28 14:24] remcotolsma opened #1560 "Facebook count double on https://"
The Facebook share buttons displays count likes double. Jetpack requests the count of the http:// and the https:// URL's:

* https://github.com/Automattic/jetpack/blob/3.3/modules/sharedaddy/sharing.js#L14-L16
* https://github.com/Automattic/jetpack/blob/3.3/modules/sharedaddy/sharing.js#L19-L25

In the Facebook update count callback function those values are added to an total count:

* https://gi

[2015-01-28 14:26] jeherve commented on #1560
Related: 91c10c3c6c1090aa86197066c5732ba6b9f1b311

cc @justinshreve

[2015-01-28 14:57] #1446 closed

[2015-01-28 15:11] samhotchkiss commented on #1484
This has been merged in, @dereksmart just needs to get Stephen's copy in

[2015-01-28 15:15] #1126 closed

[2015-01-28 15:35] #1236 closed

[2015-01-28 15:39] #772 closed

[2015-01-28 15:58] morganestes commented on #1544
@georgestephanis So would I!

I'm going to open another issue about it, but something is causing Jetpack to get disconnected from wp.com. The plugin is still active, but I lose access to modules like Stats and Publicize. It happened again a couple of days ago, right at the time that I found this error.

[2015-01-28 16:06] morganestes opened #1561 "Jetpack connection drops, causing errors with Publicize and Stats"
I have Jetpack installed on multisite and activated for one of the sites. At irregular intervals, Jetpack disconnects itself from wp.com (but stays activated) with no indication in either the Jetpack or server logs as to why.

We notice this when Publicize stops working. I then reconnect Jetpack to wp.com and reconnect the Publicize accounts. After I connect the first one, all the previously conne

[2015-01-28 16:22] xyu commented on #1544
Ok, given that this is "fixed" with the new stats code in the latest release and the fact it should never happen in the first place (with issue #1561 opened to investigate how it happened) I'm going to mark this as closed.

[2015-01-28 16:22] #1544 closed

[2015-01-28 16:31] georgestephanis commented on #1561
Can you take a snapshot of this db query immediately after connecting, and then when you get problems?

[code]

(don't drop them here)

My guess is that something is messing up your `id` option which is serialized in the `jetpack_options` option.

[2015-01-28 16:54] dereksmart commented on #1484
@samhotchkiss updated the copy in aa7c62d

[2015-01-28 17:32] boogah commented on #448
I'm sitting in an internal chat room where the change is supposed to go out today. If it doesn't, I'll make sure to drop an update here.

[2015-01-29 01:34] boogah commented on #448
The deploy had to be briefly halted, but is still running. I'm going to check back in on this in the morning and will update here once I know what's up.

[2015-01-29 04:29] UaMV commented on #561
I am also finding a need for this.

[2015-01-29 05:04] nathangath commented on #1534
All flexbox attributes are being stripped out. Including: align-content, align-items, align-self, flex, flex-basis, flex-direction, flex-flow, flex-grow, flex-shrink, flex-wrap, justify-content, and order.

[2015-01-29 06:12] samhotchkiss commented on #1484
sweet!

[2015-01-29 06:12] #1484 closed

[2015-01-29 14:12] michaeldcain opened #1563 "Add Site Breadcrumbs"
A growing number of our themes on Dotcom use a basic shared breadcrumb navigation function that would be nice to have in Jetpack for our users.

[2015-01-29 14:32] #1563 closed

[2015-01-29 15:10] richardmtl commented on #448
THanks @boogah !

[2015-01-29 16:21] morganestes commented on #1561
We have a separate staging environment with the same JP connection info, but haven't had any problems with it. The production connection has dropped 3x since November, but without any pattern that we're aware of.

I'll alert Systems so they can grab the queries from the DB as soon as we notice any problems, then let you know when we have the data.

[2015-01-29 16:29] georgestephanis commented on #1561
Some staging to production deploy patterns delete the jetpack I'd option to
prevent identity conflicts, as Jetpack is a two way connection.
On Jan 29, 2015 11:21 AM, "Morgan Estes" <notifications@github.com> wrote:

[2015-01-29 16:30] kraftbj commented on #1561
Also, are you deactivating/disconnecting Jepack on the staging site? If you're changing the connection on the staging site, that would inform WP.com to terminate the token, in effect, breaking the connection with production.

[2015-01-29 17:26] roccotripaldi opened #1566 "Autoupdating under version control"
Currently the autoupdating of plugins does not happen if the site is under version control.  There is no indication of this when managing the site on wordpress.com

We need to decide how to provide this info to wordpress.com, and how to handle it in the UI.

[2015-01-29 19:14] tareq1988 commented on #833
It's possible with one trick:
1. Submit the form via ajax
2. Ajax handler handles the comment and inserts it
3. On success, grab the current page and replace the entire comment DOM. So in-theory, you are loading the next page via ajax, and replacing the comment section with updated content.

[code]

[2015-01-30 01:20] boogah commented on #448
@richardmtl Here's where we are right now...

The phased deploy we've been running since Wednesday required some pretty intensive server-side jobs to be run. In some cases — depending on the size & scope of sites on the server — the server side jobs are running *very* slowly.

Because of how the deploy last week failed, we're actually okay with things taking a little longer. But this means that th

[2015-01-30 14:51] aheckler commented on #1259
Forums user with same issue: https://wordpress.org/support/topic/youtube-embed-urls-1

[2015-01-30 15:43] chaselivingston opened #1568 "Infinite Scroll: Render filter ignoring custom query on second page load"
see https://www.screenr.com/KLtN

[2015-01-30 16:00] richardmtl opened #1569 "Widget does not show when using the Posts page"
This came up in 2067896-t ; at first, I thought it was #107 again, but it's actually a bit more than that; I can't get the widget to appear at all. Steps to reproduce:

1) In Settings -> Reading, select a Static front page and choose another page as your Posts page (we'll call that page "blog" for this example, ​http://example.com/blog/ )
2) In the Widget Visibility for a random widget, select Sho

[2015-01-30 16:20] aheckler opened #1570 "Sharing: Allow replacing FB "Like" button with "Recommend" button"
FB's like button allows you to change the text to "Recommend":

https://developers.facebook.com/docs/plugins/like-button

![screen shot 2015-01-30 at 11 19 19 am](https://cloud.githubusercontent.com/assets/5512652/5978988/de7f9d18-a871-11e4-8abd-eceb4f15097b.png)

Maybe we could add a filter that supports this?

However, if we end up switching to the Share button instead (#1441), this ticket becom

[2015-01-30 16:41] dereksmart commented on #1568
Since the custom query is not being compared against the "duplicated posts" array on second page load, I believe this is not a bug and will with transients.

[2015-01-30 16:42] #1568 closed

[2015-01-30 18:15] samhotchkiss commented on #1259
No good!  This should be a pretty easy fix, I'd imagine.  Tagging for 3.5

[2015-01-30 18:17] samhotchkiss commented on #1570
What's the difference between liking and recommending?  Is it just different terminology or things treated differently?

[2015-01-30 18:18] samhotchkiss commented on #1568
^ @dereksmart what do you mean by "I believe this is not a bug and will with transients."

[2015-01-30 18:19] dereksmart commented on #1568
will *work if the user stores the array in transient. typo

[2015-01-30 18:21] samhotchkiss commented on #1568
So, should we wontfix this, @dereksmart ?

[2015-01-30 18:28] aheckler commented on #1570
I believe it's just a terminology difference.

[2015-01-30 18:29] aheckler commented on #1259
@samhotchkiss I can't remember if I tested this on WP.com or not, so it may not work there either. I will have to test and get back to you.

[2015-01-30 18:54] samhotchkiss commented on #1259
Either way, it should just require us to make sure we're running the same filters.

[2015-01-30 19:13] RavanH opened #1571 "Request: Shortcode Embeds - add filter 'embed_oembed_html' in [youtube] and similar shortcodes"
Hi,

I've noticed that the filter embed_oembed_html can not be counted on because as soon as Jetpack's Shortcode Embeds is activated, this filter is no longer there even if the new shortcode [youtube] (or similar) is not used.

Please either add this filter like it was originally implemented in WP core -OR- please do not override the oembed that occurs when simply pasting a Youtube or other media

[2015-01-30 19:22] aheckler commented on #1259
Huh, weird. Now that I test it with a YouTube video, it works fine when you use the shortcode:

`[youtube=https://www.youtube.com/watch?v=3d2VnZu70IY]`

... but doesn't work when you just insert the link, like so:

`https://www.youtube.com/watch?v=3d2VnZu70IY`

This is probably expected. It also worked with the Facebook shortcode.

Did we maybe fix this at some point and I missed it? I swear it di

[2015-01-30 20:43] mikeyarce opened #1572 "Contact Form: 16314 Character limit in emails"
If you have more than 16314 characters in your message, you will not be sent an email, however it does go to the Feedbacks section.

[2015-01-30 21:51] aheckler opened #1573 "Publicize: Don't go beyond "more" tag when building og:description"
As it stands now, if you have a post/page like so:

[code]

... Publicize will build an `og:description` that ignores the more tag:

`<meta property="og:description" content="Short bit of content. Lorem ipsum dolor sit amet, consectetur adipisicing..." />`

You could make a case, though, that we should stop if we find a more tag and not pull in content that lies beyond it.

Came up in this thread:

[2015-01-30 22:14] chaselivingston commented on #1573
Looks like according to https://github.com/Automattic/jetpack/blob/df4d33a2089398096c1c73853e86f2b3c8b7883d/functions.opengraph.php#L69 the post excerpt should be used when creating the og:description, and I don't believe the excerpt is supposed to go beyond the `` tag, so if it is there's probably an issue.

[2015-01-30 22:46] ms-studio commented on #1573
If the post excerpt has content, then it should certainly be used. But it may happen that people use the `` tag while leaving the excerpt field blank.

Also, the excerpt isn't enabled for Pages, but the `` tag can be used on Pages, and pages also get their og:description.

[2015-01-31 16:09] chrisdc commented on #681
I think @ivankristianto is right in that there needs to be a hook in widgets.php before we can add anything in accessibility mode. Might it be worth opening a ticket on the main WordPress trac?

[2015-01-31 17:59] #1001 closed

[2015-01-31 18:16] richardmtl commented on #448
Thanks for the update, @boogah ! There was no real rush for things on our end, it was more a matter of keeping tabs on where things are with this. I appreciate the candor! :)

[2015-01-31 23:14] bradonpurpose commented on #535
Just want to put my vote in for a way to import emails from older services. I'd like to use only Jetpack for my blogs and get away from the cumbersome Subscribe2 plugin.  In the meantime, I appreciate the workaround to create a Subscribe page and have subscribers resubscribe.
BRAD

[2015-02-01 05:55] boogah commented on #448
The deploy finished after I had left for the day on Friday, but it appears to be done now.

Let me know if you see anyone still reporting issues!

[2015-02-01 13:59] chrisdc commented on #1453
As I understand the code the modal window is being created in javascript (modules/publicize/assets/publicize.js), so would there be any disadvantages to simply focusing the window when it's created, and moving focus back to the top of the page when it's closed?

[2015-02-02 14:55] richardmtl commented on #1572
16314..   There must be a secret code in that somewhere.

[2015-02-02 16:37] jenhooks opened #1576 "Category links in subscription emails are broken when a custom slug is used."
If a custom URL-friendly slug is assigned when creating a category, category links in Jetpack subscription emails will be broken, since the link URL in the email is derived from the name of the category rather than the slug.

Steps to reproduce:
1. Install Jetpack on a self-hosted WordPress blog. Make sure permalinks are set to Post Name format.
2. Subscribe to the blog by email.
3. Create a new c

[2015-02-02 16:40] richardmtl opened #1577 "Publicize to more than one Path account"
(Note: I didn't create a new Path account to test if this is actually valid, as I don't have another mobile number I can give for verification purposes when creating the account).

The user in 2077049-t asks if it could be possible to add more than one Path account to Publicize.

[2015-02-02 17:24] #1091 closed

[2015-02-02 17:26] samhotchkiss commented on #535
I would love to hear some ideas from folks on how to import lists without opening JP up as a platform for spammers to spam for free.

[2015-02-02 18:54] dereksmart commented on #1526
Is this a bug? This also happens for "square tile" view.
I feel like this is expected for images that aren't square.  In order to make a circle or square from a rectangle image, we either need to resize the image or crop part of it out.  Do you recommend we do the latter instead?

[2015-02-02 19:04] dereksmart commented on #1526
After a short internal discussion - cropping is way better

[2015-02-02 19:41] richardmtl opened #1578 "Subscriptions: Gallery not displaying"
Ported from 3290-wpcom

No matter what kind of gallery you try (thumbnail, tiled, slideshow), no images show in the email.

![screen shot 2015-02-02 at 2 38 38 pm](https://cloud.githubusercontent.com/assets/3676359/6007590/5d827c6a-aae9-11e4-8539-cfe2eab45a79.png)

If including the images is tricky, maybe we could include some placeholder text to indicate that there are images there, and that peop

[2015-02-02 22:14] abdellahaski commented on #1477
problem not sloved yet

Notice: Undefined index: QUERY_STRING in /hermes/bosnaweb05a/b944/ipg.apkgeekcom/almahwouscom/wp-content/plugins/jetpack/class.jetpack.php on line 2406

[2015-02-02 22:18] jeherve commented on #1477
@abdellahaski Could you try to install Jetpack's development version on your site? The fix is not part of 3.3, but will be included in 3.4.

[2015-02-02 22:35] emiluzelac opened #1579 "Tiled Galleries: Color Value Error in CSS"
Hi guys,

In https://github.com/Automattic/jetpack/blob/master/css/jetpack.css there is a small bug:

[code]

There is no color value none.

[2015-02-02 22:38] emiluzelac commented on #1579
Thanks bud :)

[2015-02-02 23:06] kraftbj opened #1580 "Manage: Need Module Info Text"
https://github.com/Automattic/jetpack/blob/master/modules/module-info.php needs Manage information so the card on the Jetpack wp-admin page is populated.

[2015-02-02 23:06] kraftbj opened #1581 "Protect: Need module info text"
https://github.com/Automattic/jetpack/blob/master/modules/module-info.php needs Protect information so the card on the Jetpack wp-admin page is populated.

[2015-02-02 23:14] kraftbj opened #1582 "Protect: Upgrading from BruteProtect fails to activate module"
Environment:
BruteProtect active and connected (API key installed)
Jetpack activated/connected + Protect module deactivated

Steps to reproduce:
1. Activate Protect module either from the module card on the main Jetpack page or via the Settings page

Expected:
Deactivate BruteProtect
Activate Protect module

Actual:
Deactivated BruteProtect
Protect module still inactive.

Trying to activate again

[2015-02-02 23:27] chaselivingston opened #1584 "Protect: IP address not valid when field is empty"
When the box is empty a la http://d.pr/i/14iIG and you click the Save button, a message appears that says "One of your IP addresses was not valid." http://d.pr/i/1iQrw

[2015-02-02 23:30] jeherve commented on #1581
On a related note, It'd be nice to add a module icon as well:

![screen shot 2015-02-02 at 6 30 34 pm](https://cloud.githubusercontent.com/assets/426388/6011427/9bc09a78-ab09-11e4-96f6-18e4bd3216ca.png)

[2015-02-02 23:34] chaselivingston commented on #1584
Maybe it should say "Please enter an IP address" or just nothing at all if left blank.

[2015-02-02 23:50] dereksmart commented on #1584
Related issues to this:
- throws php warnings for bad IPs:  `Warning: inet_pton(): Unrecognized address in /home/dereksma/public_html/wp-content/plugins/jetpack/modules/protect/shared-functions.php on line 86`
- There's no easy way to clear the field

[2015-02-03 00:06] sigginet commented on #1026
I agree with inlining.
It will not only fix the problem with high server loads, it will also increase performance (especially when doing either fragment or full page caching).

I sent this as a suggestion this weekend to Automattic and they sent me here ..

Anyway, I decided to just fix this and add the patch to Jetpack.
You can find the updated file here: https://github.com/sigginet/jetpack/blob/

[2015-02-03 00:10] MarceloPedra commented on #1026
Thanks sigginet. I currently have not a single place to test this because I switched all my sites to use custom code provided by free CJT plugin, which also provides ways to inject HTML and PHP, inline, and via shortcodes. Anyway, I'm very happy to see you have solved it finally. all ocdes should always be inserted inline. Thanks

[2015-02-03 01:22] squirk commented on #1511
@georgestephanis Any thoughts here?  So far, I've not seen issues with the 3 mentioned, but will test more with subsequent versions.

[2015-02-03 01:34] chaselivingston opened #1586 "Publicize: Custom message not saved when updating a scheduled post"
User reported that trying to save a custom Publicize message for a scheduled post does not save. See http://d.pr/v/18GoG for a screencast.

[2015-02-03 01:36] #1581 closed

[2015-02-03 01:36] #1582 closed

[2015-02-03 02:12] abdellahaski commented on #1477
i had install it but i've got the same problem

[2015-02-03 02:14] morganestes commented on #1561
@georgestephanis We don't deploy from staging to production in this case. We do deploy theme code, but plugins aren't version controlled.

@kraftbj I don't think we've made any changes to staging, but I'll look into it to see if there's any noticeable patterns on there around the time production got disconnected.

[2015-02-03 02:28] abdellahaski commented on #1477
@jeherve  also i've got a problem when trying to connect my site to wordpress.com
here is the error message:
Your Jetpack has a glitch. Something went wrong that’s never supposed to happen. Guess you’re just lucky: missing_secrets
Try connecting again.

[2015-02-03 02:31] squirk commented on #1580
How were you able to pull a card?  I'm not seeing one in 3.3 at all and @samhotchkiss said there isn't one present in 3.4.

[2015-02-03 04:01] squirk commented on #1580
When if/we do have one, we can probably use something like:

New in Jetpack: Centralized Site Management
Manage multiple sites and keep plugins up-to-date from one dashboard at wordpress.com/plugins. Enabling allows all existing, connected Administrators to modify your site from WordPress.com.

[2015-02-03 04:30] kraftbj commented on #1580
¯\_(ツ)_/¯ Just went to the main Jetpack page within wp-admin running master and it's sitting right there: https://cloudup.com/c7VeyGyNFkz

[2015-02-03 04:39] jeherve commented on #1477
@abdellahaski Could you try to install this plugin and let me know if it helps?
https://github.com/georgestephanis/object-cache-flusher-button

[2015-02-03 13:29] aheckler commented on #1579
I'm no CSS expert, but I think `color: initial;` is what should be used?

[2015-02-03 13:39] emiluzelac commented on #1579
I don't believe that initial exist, maybe inherit.

On Tuesday, February 3, 2015, Adam Heckler <notifications@github.com> wrote:

[2015-02-03 13:45] aheckler commented on #1579
`initial` exists in CSS 3:

https://developer.mozilla.org/en-US/docs/Web/CSS/initial

It basically resets the property to the browser default, if I understand it correctly. Not supported in IE though.

[2015-02-03 13:58] emiluzelac commented on #1579
Never seen it before, cool I learned something new today 😀

On Tuesday, February 3, 2015, Adam Heckler <notifications@github.com> wrote:

[2015-02-03 15:12] jenhooks commented on #869
Also reported here: 2076027-t

[2015-02-03 15:39] roccotripaldi commented on #1584
I fixed it. Now you can clear the field and have an empty whitelist.
Not sure how to suppress the warnings from inet_pton. That's just how the function behaves.
I'm closing this, and I may create a different issue for the warnings.

[2015-02-03 15:39] #1584 closed

[2015-02-03 15:43] samhotchkiss commented on #1584
@roccotripaldi can you quiet it with `@`?

[2015-02-03 15:50] kraftbj commented on #946
Holistically related to #1250 (use Photon is all the places)

[2015-02-03 15:55] roccotripaldi commented on #1584
I suppose I could.

[2015-02-03 16:27] roccotripaldi opened #1590 "Protect: whitelist save status needs styling"
success :
![screen shot 2015-02-03 at 11 22 47 am](https://cloud.githubusercontent.com/assets/2694219/6024184/53f38f46-ab97-11e4-9c86-3c279b517c85.png)

and error:

![screen shot 2015-02-03 at 11 23 01 am](https://cloud.githubusercontent.com/assets/2694219/6024190/5860479a-ab97-11e4-85cf-fcda0d911305.png)

[2015-02-03 17:02] jeherve opened #1591 "Protect: PHP notice"
When running Jetpack master, I sometimes get this notice in my logs:

[code]

[2015-02-03 17:13] jeffgolenski commented on #1590
Done: https://github.com/Automattic/jetpack/commit/152d9e2dd13a5dd4d95279d2bf9f05057c1e9439

[2015-02-03 17:14] #1590 closed

[2015-02-03 17:28] abdellahaski commented on #1477
the first time i used the development version i download it from this link:
https://wordpress.org/plugins/jetpack/developers/
now Adam Heckler told me (on wp.org forum) that i need to install the beta version from this link :
https://github.com/Automattic/jetpack/releases/tag/3.4-beta1

now whan i've instaled the beta version and the first problem was sloved
but i still can't connect my site to wp

[2015-02-03 17:32] jeherve commented on #1477
Could you let me know what other plugins are currently active on your site?

[2015-02-03 17:36] abdellahaski commented on #1477
I use:
BackWPup
Contact Form 7
Floating Social Bar
Image Watermark
iThemes Security
jetpack
Object Cache Flusher Button
OptinMonster
Quick Page/Post Redirect Plugin
Responsive Lightbox
Revolution Slider
TablePress
W3 Total Cache
WordPress SEO

[2015-02-03 18:04] gonzague opened #1593 "Improve auto posting to Twitter"
By also posting the first picture of post to illustrate the Tweet :)

[2015-02-03 18:19] jeffgolenski opened #1594 "JP Protect dashboard widget: Needs dismissible confirmation msg"
https://cloudup.com/cRZmg42KUv3

Per our discussion, errors should not be dismissible, but the green confirmation should be dismissible and should only display once per user.

[2015-02-03 21:38] abdellahaski commented on #1477
I have desactivate all my plugins and i was able to connect my site to wp.com
and i've activate all the pluging one by one and test the wp.com conection after activating any plugin and i was also able to connect to wp.com
i don't know how
now all my plugins are activated and the wp.com connection works also.
anyway thanks for the help
and sorry for my bad english

[2015-02-03 22:52] jeherve commented on #1477
I see you've been chatting about this problem with Adam in [this thread](https://wordpress.org/support/topic/undefined-index-query_string-1?replies=3). I'll let him reply to your questions there.

[2015-02-03 22:54] ms-studio commented on #1253
For debugging purposes, here is a very basic test case (theme: Designer): http://sandbox.4o4.ch/wp-git/portfolio/

In order to trigger the disappearance of the second item, the browser window has to be very narrow:

- width below 500px, so that the items are in one column.
- height below 490px, to allow the first item to disappear from view.

I created only two Portfolio items, and set the "Blog p

[2015-02-03 23:00] jeherve commented on #1593
Jetpack already adds Twitter Cards Meta tags to your posts, unless you already use another Twitter Cards plugin to do that.

Once your posts include the necessary tags, you can apply to get Twitter Cards displayed below each one of your tweets [here](https://cards-dev.twitter.com/validator).

Here is an example of a tweet including a "Summary Large Image" card:
https://twitter.com/jetpack/status/5

[2015-02-03 23:00] #1593 closed

[2015-02-03 23:00] abdellahaski commented on #1477
ok thank you very much

[2015-02-04 03:40] #1569 closed

[2015-02-04 15:01] dereksmart commented on #1580
That's interesting - I can't find any instances of that in our repo... Is it possible you have (git) ignored files in your Jetpack folder?

[2015-02-04 15:59] shield-9 opened #1598 "Goodreads Widget: stylesheet not found"
[goodreads.php#L36](https://github.com/Automattic/jetpack/blob/958cd3b/modules/widgets/goodreads.php#L36) is enqueueing `wp-content/plugins/jetpack/modules/widgets/css/goodreads.css`, but there is no such file.

[2015-02-04 17:05] dereksmart commented on #1598
Thank you, fixed in #1597

[2015-02-04 17:05] #1598 closed

[2015-02-04 18:34] kevmarsden commented on #1259
The same user contacted us in the [P2 theme forum](https://wordpress.org/support/topic/youtube-embed-urls?replies=4). I tested post by email using YouTube both HTTP and HTTPS raw links and found that neither links created a embedded video.

[2015-02-04 19:29] boboz commented on #269
I second this request.

Adding tel, time and date fields would greately improve the usefulness to end users.
If you manually add type="date" to a field a datepicker shows, so some work has been done here.

[2015-02-04 22:43] kraftbj commented on #1580
@dereksmart More or less, that's what it was. The git to production deploy I'm using was not deleting files deleted within git. Short of something else to prove to me it isn't just unique to me, closing as invalid.

[2015-02-04 22:43] #1580 closed

[2015-02-04 22:57] squirk commented on #1580
Should this still be open though?  I don't think other people can see it.

[2015-02-04 23:13] dereksmart commented on #1580
Closed issues are still searchable

[2015-02-04 23:19] dereksmart commented on #1580
Oh, you meant a Manage card isn't viewable.  Technically manage isn't a module, so should it be added?

[2015-02-04 23:39] kraftbj commented on #1580
In my case, the module/manage.php file was still present on production, even though it had been deleted in the git repo. That is what was causing the card to appear, so not really a Jetpack problem.

[2015-02-05 00:01] aheckler commented on #1573
The above PR should work for pages and posts. :smile:

[2015-02-06 10:12] mbnn commented on #261
I still dont get this, it posts to Twitter fine but it does not include any of the tags set as #hashtags in the tweet it sends out. Is there any solution for this yet? :)

[2015-02-06 10:58] boboz commented on #269
:)

[2015-02-07 19:13] jackdh commented on #1440
Still not working for me on 4.1

[2015-02-07 19:17] dereksmart commented on #1440
@jackdh are you running 3.3 or master?  The fix has been merged, but has not been released yet.

[2015-02-07 19:19] jackdh commented on #1440
Yes i'm on 3.3. Sorry If I spoke out too soon.

[2015-02-07 19:21] dereksmart commented on #1440
No worries :) feel free to test it out, the fix is <a href="https://github.com/Automattic/jetpack/pull/1460/files">here</a>, or you can pull from master.

[2015-02-08 17:24] kraftbj commented on #446
Another situation to handle is when the connection is working, but when the native WP site is down. An example on a site today:
1. Site loads
2. Visitor writing comment while the native site goes down
3. Submits comment
4. Error shown (comment lost) in the iframe space when the frame passes from wpcom to local install.

[2015-02-09 14:50] kraftbj opened #1605 "Custom CSS: Use Standard URL"
WP Engine, perhaps others, have a "Redirect Bots" options that redirect pages with query arguments to the main page when the UA matches a known bot.

This impacts users with Custom CSS whose custom code modifies their design to make it mobile-friendly and they're looking for Google's mobile-friendly "badge".

Since our Custom CSS is loaded via /?custom-css=1...., when the `Googlebot` or `Smartphon

[2015-02-09 14:51] kraftbj commented on #1605
My inclination would be to wontfix this as an edge case, unless there are more/other issues related to our method for custom CSS. Posted it to get wider comment before dismissing it out of hand.

[2015-02-09 14:55] jeherve commented on #1605
Does that break Related Posts as well?

[2015-02-09 14:59] kraftbj commented on #1605
It does break it _when loaded with a Googlebot UA_. I'm not sure how often/if ever the RPs failing for a bot would cause problems for users.

[2015-02-09 15:00] georgestephanis commented on #1605
Honestly, I'm not sure what a more reliable url to pull from would be.  We can't assume pretty permalinks, and there are a number of sites that password protect their `wp-admin` directory, so admin-ajax for normal site visitors probably isn't the best choice.

Honestly, I'm thinking this is a wontfix, and WPE's overoptimization is at fault for breaking things and should be examined on that end.

[2015-02-09 15:51] Cornelisboreas commented on #668
Dear all, is this already resolved?

[2015-02-09 16:02] jeherve commented on #668
@Cornelisboreas No, We're not working on this at the moment. We'll post here as soon as make progress.

[2015-02-09 23:17] bhubbard opened #1608 "Support Organization Logo Schema for Site Logo"
Not sure if it should be default or not, but would like the ability to use the Jetpack Site Logo feature with schema support Organization Logo, example:

    <div itemscope itemtype="http://schema.org/Organization">
    <a itemprop="url" href="http://www.mysite.com">
    <img itemprop="logo" src="http://www.mysite.com/logo.jpg" alt="My Site Name" />
    </a>
    </div>

[2015-02-09 23:32] bhubbard commented on #1608
Digging into code a bit, we just need to let users define the `itemprop` for the url and Image tags.

[2015-02-10 00:26] aheckler commented on #1251
@TheJeffr0 -- Is this still occurring for you?

[2015-02-10 01:05] TheJeffr0 commented on #1251
Nope, it looks fine now.

[2015-02-10 04:17] kraftbj commented on #1605
Before diving into the code, _if_ we do anything, I'd suggest a filter that would enable a better option. Though, as I type that, unless this become a bigger issue, that may be overkill. Marking as wontfix and closing, though always open for further discussion if this kind of optimization becomes more widespread.

[2015-02-10 04:17] #1605 closed

[2015-02-10 04:23] #1251 closed

[2015-02-10 13:03] rachelmcr opened #1610 "Contact Form: invalid notification email address causes submission to fail silently"
If an invalid email address is entered for the contact form's notification email, the form can be saved but fails silently on submission.

For example, entering the email address `name@provider` instead of `name@provider.com` in the shortcode:

`[contact-form to='name@provider'][/contact-form]`

Will result in no one to send the email to:

https://github.com/Automattic/jetpack/blob/master/modules/

[2015-02-10 13:04] georgestephanis commented on #1610
I want this fixed soon.  We should never be silently losing submissions.

[2015-02-10 13:52] georgestephanis opened #1611 "Better handle odd connection cases."
Currently there are a number of ways that a connection can get out of sync.  Some are more innocuous -- the url on a site changes, and doesn't get updated in the wpcom dataset for the site.  This we can easily detect using `Jetpack::check_identity_crisis()` https://github.com/Automattic/jetpack/blob/3.4-beta1/class.jetpack.php#L4910-L4956

More complicated issues arise when the .org site believes

[2015-02-10 13:59] georgestephanis commented on #1611
Should we be deleting the wpcom keys on a disconnect?  Maybe just purge them on a successful reconnect instead?

[2015-02-10 16:12] morganestes commented on #1561
@georgestephanis  It happened again, so I'm going to get Systems to run the query, reconnect, and run it again. What should I be looking for?

Also, if I set staging to development mode, will that prevent conflicts with production since there won't be any connection to wp.com?

[2015-02-10 16:30] keeslina commented on #80
Anyone with a quick hack to temporarily solve this issue , until it is fixed in an official update?
I really need this asap for a client :)

[2015-02-10 17:45] jeherve commented on #1368
Also suggested here:
https://wordpress.org/support/topic/the-new-recaptcha-and-jetpack-email-sharing?replies=1

[2015-02-10 18:15] mikeyarce commented on #1183
In my tests I get the same error - on initial crawl Facebook does not use the `og:description` from Jetpack, but later on it does.  Other social networks I publicize to work fine, just not FB.

[2015-02-10 19:26] bkerensa opened #1613 "Add Email Piping"
It would be great if Jetpack supported sending contact form to a specific email address based on selections in the form. This would be good for companies with multiple departments or a non profit even which is my use case.

[2015-02-10 20:09] mikeyarce opened #1614 "Monitor: Enhancement request - add an option to turn Monitor OFF from the montior emails"
We get quite a bit of support tickets that ask us to turn Monitor off for people who either
A) Are moving servers and know their site is down for a bit
or
B) Shut down their sites but forgot to turn Monitor off before deleting their sites

It would be great if we added something like
`Click here to disable these emails: for the next 24 hours / forever.`

[2015-02-10 20:10] georgestephanis commented on #1614
I like it.

[2015-02-10 20:11] kraftbj commented on #1614
Link to https://wordpress.com/settings/general/[JP-DOMAIN] which links to the manage settings or directly to https://wordpress.com/manage/[JP-BLOG-ID] to simply deactivate monitor completely.

I assume the latter will eventually be rolled into the former?

[2015-02-11 01:59] georgestephanis commented on #1561
If you could, also grab the contents of the `jetpack_log` option and email
it all to me directly -- gs@automattic.com

On Tue, Feb 10, 2015 at 11:12 AM, Morgan Estes <notifications@github.com>
wrote:

[2015-02-11 02:18] richardmtl commented on #800
Another request in 2092656-t

[2015-02-11 05:27] shield-9 commented on #1560
It seems Facebook consider `https://~` and `http://~` is same if the value of `<link rel="canonical">` matches.

[2015-02-11 09:59] nb opened #1618 "CONTRIBUTING.md"
Adding a new issue can be a daunting task. There are a ton of labels and maybe some conventions I don’t know about. As a reporter, it would be great if I can have a hint about how it will works.

If there is a `CONTRIBUTING.md` file in the root of the repository, GitHub [will show a nice yellow bar](https://github.com/blog/1184-contributing-guidelines) with a link to the file:

![screenshot](https

[2015-02-11 11:07] jeherve commented on #1618
I like that! When we created the GitHub repo I added a new page in the Wiki and mentioned contributing there, but I didn't know about `CONTRIBUTING.md`. I'll take care of that.

[2015-02-11 11:30] jeherve commented on #1618
I did a first pass at contributing docs in 1855059baa397493bbe0cb10e87b3bee9624c1c0. I'd be happy to get feedback on it.

- Should we mentions [tests](https://github.com/Automattic/jetpack/tree/master/tests)?
- Should we mention [Grunt](https://github.com/Automattic/jetpack/blob/master/Gruntfile.js)?

[2015-02-11 14:33] kraftbj commented on #1618
I think it would be good to mention both, but stress what is minimum for contributing and what's nice to have, either within the repo here or on the jetpack.me page we're linking to.

[2015-02-11 14:36] kraftbj commented on #1618
@nb : Specifically on that, only a12s can add/modify labels as members of the Automattic GH group.  Internally, the JP devs and/or HEs can manage the labels. Generally, we'll update the issue to match conventions. The only one I can think of initially is the issue title is generally "[Module]: [Bug Title]"

[2015-02-11 14:42] jeherve commented on #1618
Yeah. I would just be afraid to turn contributors away by mentioning things that seem too complicated.

[2015-02-11 14:44] zinigor commented on #1610
@rachelmcr @georgestephanis What do you think about confirming the email address just as services usually do instead of just validating? Because I don't think validation solves the problem - I can enter a valid but nonexistent address and have all emails bounce on delivery.

[2015-02-11 15:47] rachelmcr commented on #1610
I don't mind nonexistent or incorrect emails being entered, because the submission will still go through and be captured in the dashboard (even if the email bounces). In that case, the site owner would have an opportunity to investigate why the emails aren't coming through without losing any submissions.

That said, I'm not entirely opposed to confirming the email address and I'll defer to the sol

[2015-02-11 16:32] richardmtl commented on #80
@keeslina: there's an open Pull request in #1599 ; it hasn't been reviewed yet so use at your own risk. Maybe you can test it and report back if it worked for you?

[2015-02-11 17:00] keeslina commented on #80
Thanks! Works for me!

[2015-02-11 18:51] kismetjess opened #1620 "Tiled Gallery - Choose images doesn't work"
I have installed jetpack and am trying to add the tiled images gallery to my sidebar. When I click "Choose Images" nothing happens. I have tried multiple browsers. Any ideas?

Http://www.southwestern.edu/suonline
![screen shot 2015-02-11 at 12 51 17 pm](https://cloud.githubusercontent.com/assets/10964304/6153778/b2d71e14-b1ec-11e4-84f1-84031bc480e2.png)

[2015-02-11 19:04] richardmtl commented on #1620
Hi! Something in your site is changing how widgets are behaving, and is likely affecting the media chooser as well. Can you contact us at http://jetpack.me/contact-support/ so we can help you? Please include a list of active plugins on your site. Thanks!

[2015-02-11 19:04] #1620 closed

[2015-02-11 19:23] aheckler commented on #1618
Maybe link to some small-ish "Good First Bugs" that had PR's to show what good ones look like?

[2015-02-11 20:46] jeherve commented on #1620
The problem is most likely caused by a conflict between Jetpack's widgets and WordPress' accessibility mode. It might be worth trying to deactivate the accessibility mode and see if it changes anything. You can access accessibility options by clicking on Screen Options at the top right of the page.

[2015-02-11 21:01] kismetjess commented on #1620
Thanks for the quick reply. Unfortunately, that did not fix my issue.

On Wed, Feb 11, 2015 at 2:46 PM, Jeremy Herve <notifications@github.com>
wrote:

--
*Jessica Corliss*
Assistant Director of University Relations - Graphic Designer
Southwestern University
Georgetown, Texas
512.863.1036
<http://goog_1806220589>

<http://goog_1806220589>
<http://www.southwestern.edu/175>

[2015-02-11 21:02] jeherve commented on #1620
Sorry to hear that. Could you then contact us [via this contact form](http://jetpack.me/contact-support/) as @richardmtl suggested above? We'll be happy to run more tests with you to get to the bottom of the issue.

[2015-02-11 21:14] BinaryMoon opened #1621 "Custom CSS: add to Customizer / merge with WordPress Core"
**Synopsis:** Custom CSS is being added to WordPress Core, and will ship with 4.7, scheduled to be released at the end of the year. Jetpack's Custom CSS module needs to be compatible with that new core Feature.

**Responsible:** TBD

**User experience:** We'll need to figure out a way to:

- Be compatible with the Core CSS editor.
- Stay compatible with existing Jetpack Custom CSS users.
- Stay co

[2015-02-12 00:38] mikeyarce opened #1622 "Likes: Notifications go to blow owner, not post author"
When liking a post, only the blog owner currently gets notified of the Like, not the post author, even if the post author has linked their WordPress.com account.

Tested this twice on my test site and each time the blog owner gets a notification but not the post author.

I think if the Author has linked their account with WordPress.com, the notification should go there.

[2015-02-12 01:07] dereksmart commented on #1622
Duplicate of #620

[2015-02-12 01:07] #1622 closed

[2015-02-12 12:46] jeherve opened #1623 "Subscriptions: allow basic HTML tags in confirmation emails"
Steps to reproduce:
1. Enable Jetpack Subscriptions
2. Go to Settings > Reading > Follower settings in your dashboard.
3. Enter some custom confirmation text, including basic HTML tags like links, or `strong`.
4. Save your changes.
5. Your tags appear in the saved text.
6. Subscribe to your site.
7. The confirmation email you receive doesn't include any of these tags.

It would be nice to allow th

[2015-02-12 13:02] jeherve commented on #1618
I added a few more things in ed23939a3cc5e78689c454c937059167cdfebde3

[2015-02-12 13:30] georgestephanis commented on #1623
Sounds like they're being kses'd out when used, but not when saved.

What tags and attributes do we want to allow?

[2015-02-12 13:35] jeherve commented on #1623
It feels like anything in [here](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/kses.php#L60) would be useful. We could limit it to [this](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/kses.php#L419) if we don't want anything that would break the email layout.

[2015-02-12 16:13] gregoirenoyelle opened #1624 "[markdown] html short code remove markdown formating 2"
Hello @jeherve

I get the same bug please see [#1151](https://github.com/Automattic/jetpack/issues/1151) . This time I really have `wpcom-markdown` with this post type and the shortcode (custom made this time) only display the content of an other post type (please see the code bellow).

**Content in the WordPress Editor of the custom post type**

[code]

**Code for the shortcode used at the beginn

[2015-02-12 17:14] jeherve commented on #176
Also suggested here:
https://wordpress.org/support/topic/suggestion-for-the-plugin-e-mail-subscriptionnotification?replies=1

[2015-02-12 17:28] theukedge opened #1625 "Allow custom post statuses to be set"
In the Post By Email module, it would be nice if the [status] shortcode supported custom post statuses, such as those created by [Edit Flow](https://wordpress.org/plugins/edit-flow/).

[2015-02-12 20:10] gregoirenoyelle opened #1627 "[Widget visibility] make it with BuddyPress"
Hi
Great plugins. Thanks.
For managing, I use a custom taxonomy as filter to make my conditionals.
in BuddyPress, you can choose a Page for the members. In this physical page, I have apply the same taxonomy but the filter do not works. Is it a BuddyPress limitation?
Have you a better way to do it?
Thanks

[2015-02-12 23:30] kraftbj opened #1628 "RSS Links Widget: Option to open in new window"
Like #1603 and #643, suggestion to add option to open in a new window.

2094423-t

[2015-02-13 03:42] richardmtl commented on #869
Also 2094857-t

[2015-02-13 05:47] ryanmarkel opened #1629 "Site Icon: Images not on local filesystem don't work"
When in an environment where uploads are not on the local filesystem of the host blog, uploading a site icon creates a junk response and the image is not properly updated.

Here's an example of the output on trying to save the new site icon:

![e2c006c0-a082-11e4-9891-02f1172327f4](https://cloud.githubusercontent.com/assets/4636317/6182845/62eef0ae-b311-11e4-9618-486990772490.png)

[2015-02-13 11:21] jeherve commented on #1629
Could you try to test again with Master? We've made a few changes in #1380, but the commits are not part of any stable release yet, they'll be shipped with 3.4.

[2015-02-13 13:12] ryanmarkel commented on #1629
I pulled master last night before filing the report. The same problem is still happening.

[2015-02-13 13:16] jeherve commented on #1629
Thanks!

cc @enejb

[2015-02-13 14:59] jeherve opened #1631 "Carousel: Javascript error in IE8"
Carousel uses `Date.now` ([#](https://github.com/Automattic/jetpack/blob/3.3.1/modules/carousel/jetpack-carousel.js#L395), [#](https://github.com/Automattic/jetpack/blob/3.3.1/modules/carousel/jetpack-carousel.js#L565)), that is not supported in installed versions earlier than Internet Explorer 9:
https://stackoverflow.com/questions/9430357/please-explain-why-and-how-new-date-works-as-workaround-f

[2015-02-13 15:37] georgestephanis commented on #1631
I'd like to add a line or two to make it work, if it's not terribly difficult

IE8 I'm fine with graceful degradation on, but something that might kill JS evaluating -- I'd like to not have it crash.

[2015-02-13 15:38] georgestephanis commented on #1631
IE8 still seems to have substantial market share, by my first googling anyways -- https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=0

[2015-02-13 16:33] enejb commented on #1629
@ryanmarkel My guess this is not the case for you. (But just for my sanity). Do you have problems uploading images to your site though the media uploader build into WordPress?

[2015-02-13 19:46] chaselivingston opened #1633 "Publicize: Add Pinterest as a Publicize option"

[2015-02-13 20:59] sc0ttkclark commented on #1560
Having the same issue here as well

[2015-02-13 22:23] sc0ttkclark commented on #1560
Perhaps you can add an argument and filter for forcing http or https (default blank) in the localized variable for sharing-js, which, if set, would only add one or the other to the Facebook and Twitter service urls. Then, in the update_facebook_count you'd also want to change this:

`if ( 'undefined' != typeof data[Object.keys(data)[1]].shares )`

to

`if ( 'undefined' != typeof Object.keys(data)[

[2015-02-13 22:31] dereksmart commented on #1572
I just tested with 37272 characters in the message, and I received an email.  Can anyone else reproduce?

[2015-02-13 22:50] dereksmart commented on #1572
@mikeyarce confirmed that this no longer happens in 3.3.1 - was able to reproduce it with a message of 130,000+, which pretty much makes it a non-issue.

[2015-02-13 22:50] #1572 closed

[2015-02-13 22:52] emiluzelac opened #1637 "jetpack-admin-rtl.css"
From: https://github.com/Automattic/jetpack/blob/master/css/jetpack-admin-rtl.css

The value of 90 needs a length, number alone will not work.

[code]

Max with does not support auto: https://developer.mozilla.org/en-US/docs/Web/CSS/max-width

[code]

There is a typo here:

[code]

Margin top can't have more than one value.

[2015-02-13 22:56] jeffgolenski commented on #1637
Great finds @emiluzelac Ill fix those up over the weekend. Thank you!

[2015-02-13 23:00] emiluzelac commented on #1637
You guys are super fast :+1:

[2015-02-13 23:04] jeffgolenski commented on #1637
@emiluzelac Just love what we do... always trying to make the web a better place!

[2015-02-13 23:05] emiluzelac commented on #1637
Same here.

[2015-02-14 00:41] emiluzelac commented on #1637
Sorry, this will also affect: https://raw.githubusercontent.com/Automattic/jetpack/master/css/jetpack-admin.css as well :)

[2015-02-14 08:27] jeherve opened #1638 "Photon: handle Rocket Lazy Load"
Jetpack's Photon already supports Lazy load plugins that use `data-lazy-src` to handle original images ([ref](https://github.com/Automattic/jetpack/blob/master/class.photon.php#L158)). It'd be nice to handle plugins using another handle.

Rocket Lazy Load, for example, uses `data-lazy-original` ([ref](https://plugins.trac.wordpress.org/browser/rocket-lazy-load/trunk/rocket-lazy-load.php#L78)).

[2015-02-15 18:52] bradonpurpose commented on #535
I'm hardly a web guru on such subjects but seems like you could use the same kind of Captcha options to prevent most spammers. Truthfully, I don't understand how JP works enough to know how spammers would take advantage of it. If someone with JP could start by explaining that, maybe we could collectively come up with some ideas.

[2015-02-15 20:19] jeffgolenski commented on #1637
Cleaned up in: https://github.com/Automattic/jetpack/commit/03689be5a78cebf3dc1d7fb9f0970d8b43603337

Thanks for discovering these. Moving forward I'll be cleaning up a lot more css, so anytime you find anything like this, just let me know!

[2015-02-16 05:12] kraftbj commented on #687
Noting that we're seeing a number of reports of this reoccurring. Have not yet independently confirmed yet.

[2015-02-16 06:37] #1637 closed

[2015-02-16 13:32] amerikssonse commented on #1550
This is also not respected when posting from android or importing stuff from like ifttt.com. It only works from desktop.

[2015-02-16 13:57] jeherve commented on #426
Also reported here:
https://wordpress.org/support/topic/share-in-the-forums-do-not-show-up?replies=1

[2015-02-16 15:09] jeherve commented on #1526
Also reported in 2093606-t

[2015-02-16 18:07] chaselivingston commented on #760
Requested in 2096887-t

[2015-02-16 19:29] emiluzelac commented on #1637
Thanks

On Monday, February 16, 2015, jeffgolenski <notifications@github.com> wrote:

[2015-02-16 19:44] enejb commented on #215
Updated .com to fix this issue.

[2015-02-16 19:44] #215 closed

[2015-02-16 21:07] roccotripaldi opened #1641 "Email site users to request they whitelist their IP"
Allow a site admin email all the site's users with a click of a button, asking them to whitelist themselves on the Protect module.
Users will receive a special link that they can use to automatically add their current IP address to the whitelist

[2015-02-16 21:33] kraftbj commented on #1455
Added by 6c9fb19602ff59039722f9443e745edc54ae91a3#diff-bb4cdd668875277a872fa405ada05064

[2015-02-16 21:33] #1455 closed

[2015-02-17 06:25] bfintal opened #1642 "Admin becomes unscrollable after contact form modal closes"
While editing a post/page, opening and closing the contact form modal prevents the page from scrolling. I removed all plugins aside from Jetpack and it still occurs.

Steps to replicate:
1. Create a new page/post
2. Click on the **Add Contact Form** button
3. Add a new contact form
4. Click again on the **Add Contact Form** button
5. Close the modal by either clicking on the **X** button then the

[2015-02-17 06:45] gregoirenoyelle commented on #1624
Hello @jeherve
Any idea?
Thanks

[2015-02-17 08:12] nb commented on #1618
Looks like a great start, thanks guys.

[2015-02-17 08:12] #1618 closed

[2015-02-17 09:59] jeherve commented on #1642
I could reproduce:

https://cloudup.com/cyzFCvUyo_k

[2015-02-17 10:03] bfintal commented on #1642
@jeherve Oh yea, no errors in the page. Thanks

[2015-02-17 10:04] jeherve commented on #1624
I'm not sure I understand. There isn't any markdown in your example above.

[2015-02-17 10:26] gregoirenoyelle commented on #1624
@jeherve
Sorry about that, I've updated the first message.
I think, when you use shortcode (see first message) which display some content from somewhere else it cause some bugs sometimes. Not always.

[2015-02-17 10:28] jeherve commented on #1624
What happens when you use an enclosing shortcode instead of the self-enclosing one? ([ref](http://codex.wordpress.org/Shortcode_API#Enclosing_vs_self-closing_shortcodes))

[2015-02-17 11:04] gregoirenoyelle commented on #1624
But I don't need to put content between the two shortcode (open and close).
Is it more stable?

[2015-02-17 11:06] jeherve commented on #1624
It's not more stable, but it would just help us narrow down the problem to a specific set of shortcodes.

[2015-02-17 11:10] gregoirenoyelle commented on #1624
Ok. Thanks. I will try. The problem is that the bug occurs only from time to time.

[2015-02-17 13:20] jeherve commented on #261
Here is another working example, for tags this time:
http://jeremy.hu/jetpack-hashtags-tweets-publicize/

[2015-02-17 13:29] boboz commented on #269
Thanks for the attention. Much appreciated!

[2015-02-17 13:32] elliott-stocks commented on #755
+1 to this! We had to implement it with a custom service.

If no one is currently tackling this I'd be happy to contribute.

[2015-02-17 13:34] elliott-stocks opened #1643 "Sharing: add edit options to custom service"
If a custom service needs to be changed the only option is to delete it and re-add. Not a huge issue but it'd be nice if they could be edited instead.

[2015-02-17 13:36] elliott-stocks opened #1644 "Sharing: add option to upload/insert icon to custom service"
When specifying an Icon URL for a custom service it requires the full URL. We could still keep that option but also add a button which opens up the media frame for quicker uploading/inserting of icons hosted locally.

Retina support for icons would be a bonus too!

[2015-02-17 13:40] elliott-stocks opened #1645 "Sharing: ThickBox doesn't close after creating custom button"
A quick fix would be to force a page refresh, which is required at the moment to show the newly created button.

[2015-02-17 14:31] richardmtl opened #1646 "Carousel: Remove "Link to" options in Gallery Settings when Carousel is enabled"
When the Carousel module is enabled, the "Link to" options (Attachment Page / Media File / None) in the Gallery settings don't actually do anything, because the Carousel will show no matter which one is selected. To prevent user confusion, we should remove the "Link to" dropdown when Carousel is enabled, if possible.

Suggested here: https://wordpress.org/support/topic/link-to-not-removed-with-gal

[2015-02-17 14:44] richardmtl commented on #1560
cc @aduth

[2015-02-17 14:52] richardmtl commented on #755
@elliott-stocks do it! No-one's working on this at the moment, so feel free to work on a PR for it; thanks!

[2015-02-17 18:46] squirk opened #1647 "yourgroovysite.com leads to spammy site"
In Jetpack 3.1, yourgroovysite.com has been used as the example site for Custom Content Types.  That currently leads to a suspicious site and should be changed to yourgroovydomain.com or mygreatnewblog.com.  This is also present in most translations of Jetpack 3.1.

[2015-02-17 18:52] squirk commented on #1647
We're no longer using this URL in master, marking as closed

[2015-02-17 18:52] #1647 closed

[2015-02-17 20:17] aheckler commented on #1287
IMHO, I don't think this is a bug. (Or at least, the bug is something different than what is described here.)

With the Tiled Galleries module active and the "Tiled Galleries" option in Settings > Media unchecked, I can still change the number of columns just fine.

With the Tiled Galleries module active and the "Tiled Galleries" option in Settings > Media checked, @jenhooks is correct: I do not s

[2015-02-17 22:01] aduth commented on #1560
@sc0ttkclark, can you provide me with an example URL you're having issues with? I've found that sometimes Facebook caches invalid counts, which can be cleared up if you force a rescrape of all related using the Open Graph debugger:

https://developers.facebook.com/tools/debug/og/object/

[2015-02-17 22:47] kraftbj commented on #1037
Requested also in 2101261-t

Generating a normal WP.com notification (like a comment already does) would be a huge win.

[2015-02-17 22:52] krogsgard opened #1649 "General: Improve visibility of the primary WP.com connected account from /wp-admin/"
When someone doesn't know what WordPress.com account is connected to their .org install, there is no easy way to find out within the website administrative panel. There should be.

Even the "disconnect from WordPress.com" button just _does it_, it doesn't  go to a screen to say what you're doing. That's also troublesome, because the disconnect can cause headaches. It should be double opt-in imo an

[2015-02-17 22:57] kraftbj commented on #1649
@krogsgard What about via the Debug link in the footer? The page that loads has a "The primary connection is owned by xyz@example.com" line?

[2015-02-17 23:01] kraftbj opened #1650 "General: Make Disconnect double opt-in"
Disconnecting is a single-click experience which requires a fair amount of extra work to reconnect if done accident.

Add an AYS to the disconnect link?

(h/t @krogsgard via #1649)

[2015-02-17 23:02] krogsgard commented on #1649
@kraftbj Ah, that's nice! Wish it was easier to find but that's cool. I thought I clicked all the links looking for it but I was wrong. Any way to make that a bit more clear?

[2015-02-17 23:03] kraftbj commented on #1649
Always open for improvements! Any particular ideas/thoughts on how to do that? @jeffgolenski has some beginning plans in the works to generally improve the Jetpack admin UI.

[2015-02-17 23:06] krogsgard commented on #1649
It could easily include the email address somewhere under "You're successfully connected" https://cloudup.com/ci3mvjwJMji

[2015-02-18 00:02] sc0ttkclark commented on #1560
I've privately sent you the URL in question.

[2015-02-18 06:35] gregoirenoyelle commented on #1624
I get the same bug this morning on a [normal page](http://www.gregoirenoyelle.com/formations/liens/wordpress-plugins/) without shortcode in it. Just links.
All the markdown disappear and I just have html instead.
In my settings, the visual editor is disable.

[2015-02-18 17:39] jrparks opened #1651 "Featured Image not being passed to Pinterest"
The sharedaddy module has a bug where it is not passing the media parameter to Pinterest with the featured image URL. I patched my own code however I would like you to include this in your next release.

In the sharing-sources file I changed the following line:

FROM:
$pinterest_url = esc_url_raw( 'http://pinterest.com/pin/create/button/?url=' . rawurlencode( $this->get_share_url( $post->ID ) ) .

[2015-02-18 19:40] aduth commented on #1560
It's not immediately relevant to this issue, but we're going to face another problem with Facebook's [impending removal of 1.0 APIs on April 30](https://developers.facebook.com/docs/apps/changelog) on which these count requests rely. From that point onward, there will be no official API for retrieving share counts that won't require an authenticated, rate-limited request. With this in mind, we may

[2015-02-18 23:06] RCowles opened #1654 "Subscription Widget: Optional text and Success message fields not working as expected."
The success message for the Blog Subscription widget does not seem to be working as expected. The success message does not show after submitting the form, and instead the original text persists.

Steps to repro:

1. Create a Blog Subscriptions widget with default settings:

![screen shot 2015-02-18 at 2 56 49 pm](https://cloud.githubusercontent.com/assets/1421894/6258590/a21f2b92-b77e-11e4-8534-04

[2015-02-19 11:08] jeherve commented on #1651
I believe that's done on purpose, so you can select just about any image in the post for your pin.

![screen shot 2015-02-19 at 12 07 04 pm](https://cloud.githubusercontent.com/assets/426388/6265529/db305fbc-b82f-11e4-91d6-a1d26a5f99e8.png)

If we were to limit the images you could pin form the button, that would most likely make the majority of our users unhappy, so I'll close this issue as a won

[2015-02-19 11:08] #1651 closed

[2015-02-19 13:16] patschi opened #1655 "General: Deactivating of WP-Stats prevents the site from working correctly"
It seems that deactivating the WP-stats plugin of Jetpack does corrupt the wordpress site, because some elements on the site didn't load correctly anymore. When I re-activated the plugin, the site was working well again as before. While WP-stats was deactivated, the following error appeared each visit on website in the apache2 error log:
<pre>[Thu Feb 19 13:58:12 2015] [error] [client X.X.X.X] PHP

[2015-02-19 13:44] georgestephanis commented on #1655
Yes, the Jetpack Popular Posts third-party plugin is indeed dependent on the Stats being module being active.

https://wordpress.org/plugins/jetpack-popular-posts/

Unfortunately, it's a third-party module, we have no control over the quality or content of its code.  But if you just disable that plugin on your install, you should be able to safely disable the Stats module.

[2015-02-19 13:44] #1655 closed

[2015-02-19 13:50] patschi commented on #1655
I just read "/plugins/jetpack-*"... Sorry! Didn't even knew that someone installed this plugin. Sorry for disturbing you with this!

[2015-02-19 13:50] naokomc opened #1656 "Publicize: Japanese body text is not trimmed for Facebook post"
When you publicize a Japanese post (without manually inserted excerpt) to Facebook, full body text is attached to the Publicized item.

![facebook-publicize](https://cloud.githubusercontent.com/assets/34067/6267481/d05d22fc-b887-11e4-8c2b-1d4fb25ded2b.png)

The above post has 809 characters according to the WordPress editor screen. The whole post content minus the image is shown on Facebook.

Step

[2015-02-19 18:11] georgestephanis commented on #1026
Fixed by #1592

[2015-02-19 18:11] #1026 closed

[2015-02-19 18:15] CFXd commented on #1223
@kasparsd @ronalfy

Just wanted to bump this, since it's causing jQuery console errors in themes with jQuery properly enqueued in the footer.

Perhaps we can get a temporary fix as @kasparsd suggested of changing the action priority?

My git is acting funny but a PR would be much appreciated!

[2015-02-19 19:40] #1642 closed

[2015-02-19 20:16] dereksmart commented on #1645
I've failed to reproduce this.  As you see <a href="https://github.com/Automattic/jetpack/blob/master/modules/sharedaddy/admin-sharing.js#L400">here</a>, we are refreshing the page on a successful submit, and throwing an error otherwise.

Could you tell me more about your setup?  Any console errors?

[2015-02-19 20:23] dereksmart commented on #1654
Hm, I've failed to reproduce this running current master on both FF and Chrome.  Also using 2015.
https://cloudup.com/cMW-Rzfj5Yy
https://cloudup.com/cHxtPgvFoaU
https://cloudup.com/c86Szg0y8mz

[2015-02-19 20:28] RCowles commented on #1654
Hm... I'll dig into this deeper today.

[2015-02-19 21:09] elliott-stocks commented on #1645
Tested on two different sites with the latest stable release and I see the following error in console -

`Uncaught ReferenceError: sharing_js_options is not defined`

Though it looks to be fixed in beta - https://github.com/Automattic/jetpack/commit/783ec263305303bd8c4e26f30cea49bda00878d3

[2015-02-19 22:43] MarceloPedra commented on #1026
Hi. I'm not sure if I understand the fix of commit a6681fc:

If the CSS code length is > 2000 characters, it will be pasted within <style>...</style> tags rather than being loaded using
<link rel="stylesheet" id="custom-css-css" type="text/css" href="....." />

I'm getting it right?

[2015-02-19 22:52] sigginet commented on #1026
If it is shorter than 2000 characters, the code will be inline in a "style" tag in the head.
If it is longer, it will use a "link" tag, causing it to be slow on non optimized hosting servers.

[2015-02-19 23:07] georgestephanis commented on #1026
Yes, however there's a filter you can use to force it either direction if you'd like.

[2015-02-19 23:13] dereksmart commented on #1645
Ah yup, it's in our <a href="https://github.com/Automattic/jetpack/blob/master/modules/sharedaddy/sharing.js#L1">master branch</a> as well but hasn't made its way into a stable release.  I will make sure it gets in the next one.  Thanks for the report!

[2015-02-20 10:16] jeherve commented on #1645
@elliott-stocks Could you try to install the Beta and let us know if that commit fixes things for you?

[2015-02-20 14:44] miservice99 opened #1658 "Unable to create file /tmp/jetpack.tmp"
Installing Plugin: Jetpack by WordPress.com 3.3.2

Downloading install package from https://downloads.wordpress.org/plugin/jetpack.3.3.2.zip…

Warning: touch(): Unable to create file /tmp/jetpack.tmp because No such file or directory in /home/website/public_html/wp-admin/includes/file.php on line 153

Warning: unlink(/tmp/jetpack.tmp): Operation not permitted in /home/website/public_html/wp-admin/

[2015-02-20 14:48] jeherve commented on #1658
I'm afraid that problem is not linked to Jetpack, but to your WordPress installation settings. Take a look at these posts, they should help you solve these issues:
- http://wordpress.stackexchange.com/a/95278/27574
- https://wordpress.org/support/topic/wp-and-plugin-updates-cant-create-tmp-file?replies=6&view=all

[2015-02-20 14:48] #1658 closed

[2015-02-20 17:49] EnigmaSolved commented on #124
@georgestephanis The `"NetworkError: 410 Gone - https://videos.files.wordpress.com/crossdomain.xml"` error via SSL seems to be fixed (ie, that NetworkError is no longer present).

Also, the thumbnail image is now properly scaled to fill the player when using SSL.

I'm also not seeing any mixed content warnings in Jetpack.

So I'm thinking maybe this issue can be closed now (unless I'm missing some

[2015-02-20 18:38] chaselivingston opened #1659 "Publicize: Lots of Facebook pages managed by a single account chokes the connection process"
A user was trying to connect Facebook to Publicize, but their Facebook account was a manager/admin on over 100 pages, and thus once they authorized with Facebook and came back to Jetpack try and choose a page, Jetpack choked on all of those pages and spit out an error as follows:

[code]

[2015-02-20 19:03] iandunn opened #1661 "Grunion: New prefixed field labels break back-compat"
The new unique indexes that are prefixed to form labels break backwards compatibility with plugins using the `grunion_pre_message_sent` hook, since the data used to be passed without prefixes.

Commit:  334a713
PR: #652
Issue: #145

That commit breaks things like [the wordcamp-forms-to-drafts](https://meta.trac.wordpress.org/browser/sites/trunk/wordcamp.org/public_html/wp-content/plugins/wordcamp-

[2015-02-20 19:56] georgestephanis commented on #1661
If there's a way to support backcompat without being incredibly ugly and troublesome, I'm totally fine with getting it implemented.  But yeah -- you're the first issue we've heard about on the case.

[2015-02-20 20:49] jeherve opened #1663 "Sharing: jetpack_static_url staticize_subdomain serve non-existing loading.gif on SSL sites"
On a site using SSL, you'll run into the following issue when using the Email sharing button:

`Failed to load resource: the server responded with a status of 404 (Not Found) https://s-ssl.wordpress.com/wp-content/plugins/jetpack/modules/sharedaddy/images/loading.gif`

https://github.com/Automattic/jetpack/blob/febfeece3968559062bbe0fd9e9465c128debdbf/modules/sharedaddy/sharing-sources.php#L329

R

[2015-02-20 21:39] kraftbj opened #1664 "General: Use Site Icon as avatar fallback"
`Jetpack_PostImages::get_images()` includes an option to use an avatar fallback that first hits `blavatar`, then `gravatar`, which is used throughout Jetpack, notable the Top Posts widget.

`Jetpack_PostImages::from_blavatar()` could be extended to use Site Icon as a blavatar.

[2015-02-20 23:32] kraftbj commented on #687
@csonnek and I confirmed this came back:
1. On a WP site with JP/Publicize activated.
2. The main admin user who activated Jetpack add a Twitter account, shared.
3. A secondary user, linked to JP, adds a non-shared Twitter account.
3. Main user publishes a post -> Publishes to shared Twitter account :+1:
4. Secondary user publishes a post -> Publishes to shared Twitter account, does NOT publish to

[2015-02-21 07:09] FellowTuts commented on #687
I admit that this issue is with G+ too with slight change. Facing the issue since last one year.

1. On a WP site with JP/Publicize activated.
2. The main admin user who activated Jetpack add a G+ account, non-shared.
2. The main admin user who activated Jetpack add a G+ account, shared.
3. A secondary user, linked to JP, adds a non-shared G+ account.
3. Main user publishes a post -> Publishes to

[2015-02-23 08:12] duduik opened #1667 "The Carousel is not displayed correctly on IE if the language direction is RTL"
Incorrect next and previous image position. There is no image on the previous link. The previous image is displayed on the next link instead, the image is displayed too big and sometimes it covers the main image.

It works on Chrome 40, Firefox 35, Opera 27 and IE 8 (no previous and next images).
It doesn't work on IE11, IE10 and IE9.

Steps to reproduce:
1. Use an RTL language. Or use RTL Tester

[2015-02-23 14:19] jeherve commented on #785
Also suggested here:
https://wordpress.org/support/topic/some-more-suggestions-for-jetpack-subscriptions?replies=3&view=all

[2015-02-23 18:29] jenhooks commented on #869
2108180-t

[2015-02-23 21:59] aheckler commented on #1663
This should just be loading from the user's site, correct? Not sure what that filter does, but the image is present in the plugin itself.

[2015-02-23 23:08] elliott-stocks commented on #1645
Confirmed as fixed in the beta!

[2015-02-23 23:08] #1645 closed

[2015-02-24 09:26] davegregg commented on #1554
I have provided some additional information about this bug on the [original Support thread](https://wordpress.org/support/topic/infinite-scroll-missing-posts-when-they-share-a-publish-date).

I'm not familiar with the code in Infinite Scroll, but in the interest of speed, since this bug is a barrier to my current project, I can devote time to contributing if it so happens that this bug requires mo

[2015-02-24 09:58] jkudish commented on #687
This has been fixed (in a more complete fashion -- we missed something last time) on the WordPress.com side. Please let me know if any of the related issues persist.

[2015-02-24 11:31] jeherve commented on #1663
I'd think so, yeah.

[2015-02-24 13:11] chaselivingston commented on #813
2101541-t

[2015-02-24 15:39] chaselivingston commented on #869
2109247-t

[2015-02-24 16:44] jeherve opened #1672 "Tonesque: error when trying to get colors from an image returning a 404"
If you try to use Tonesque with an image returning a 404 error, it outputs the following warnings:

[code]

Would it be possible to fail silently instead?

[2015-02-24 17:15] RavanH commented on #66
Just ran into the same issue and found that when using "src:" TWO times (as in the suggested CSS by FontSquirrel for example, same as on http://wordpress.org/support/topic/font-embedding?replies=3) then Jetpack will strip out the second instance in the compressed output while on the Custom CSS settings page, the full CSS is still visible.

[2015-02-24 17:32] georgestephanis commented on #1672
Is this an internal call that references a url, or a third party theme/plugin using tonesque?

[2015-02-24 17:41] jeherve commented on #1672
It's a third-party plugin, [color-posts](https://github.com/jeherve/color-posts). Do you think I should handle the 404 in my plugin (probably somewhere around [here](https://github.com/jeherve/color-posts/blob/master/functions.jeherve-get-color.php#L30)?

I do see some room for improvement in our code as well, though. We could check for 404s in `Jetpack_PostImages::get_image`, or in Tonesque?

[2015-02-24 18:13] georgestephanis commented on #1672
The plugin could just prepend an @ to the calls to avoid 404 errors.  I'd be fine adding some error handling in to core in theory.

[2015-02-24 20:52] hilja opened #1673 "Backslashes gets stripped from the Markdown code blocks"
If I have a backslashs anywhere in a codeblock:

[code]

It get's stripped out on save.

If I escape with another backslash:

[code]

The first one get's stripped on first save and the second after that.

They don't get stripped from outside code blocks. I've got no other plugins active in my theme.

[2015-02-24 22:27] mikeyarce commented on #1614
Got this in an email today:

[2015-02-25 00:45] samhotchkiss commented on #535
Hey @bradonpurpose,

The issue would be that someone could take a list of, say, 100,000 email addresses that they obtained in a non-kosher way (say, they bought a list of stolen email addresses, or they collected them in some way not approved by CAN-SPAM), then send spam/marketing emails to them using the WordPress.com servers.  This would both put us in a questionable position legally and make th

[2015-02-25 00:51] samhotchkiss commented on #1526
@jeherve @dereksmart -- any reason we need to push this to 3.5?  Should be a pretty simple param to crop instead of squish, right?

[2015-02-25 12:34] jeherve commented on #1673
cc @mattwiebe

[2015-02-25 14:17] aheckler commented on #1663
The problem here stems from `staticize_subdomain()`:

https://github.com/Automattic/jetpack/blob/3.3.2/class.jetpack.php#L4422-4437

This regex `/.?(?:wordpress|wp)\.com$/` will match any domain that ends in "wp":

http://regexr.com/3agd1

Thus the issue with this user's site: `calderawp.com` I don't have an SSL handy for testing, but I would bet this issue only affects SSL domains that end with `

[2015-02-25 14:31] #1573 closed

[2015-02-25 14:52] dereksmart commented on #1526
It may have been tagged 3.5 because of 3.4 beta?  Since it's not broken on wpcom, the culprit is probably in Jetpack.  I'll take a look today.

[2015-02-25 15:11] samhotchkiss commented on #1641
I don't know about this-- the goal of protect is to be totally invisible and not need pro-activity from users in 99.999% of situations.

I'd be more apt to support a better tool for helping locked out users.

[2015-02-25 15:34] jeherve opened #1674 "Subscriptions: use site Icon in top right corner of Subscriptions emails"
Right now the subscription emails include 2 customizable spaces:
- The author can change their profile picture by uploading a Gravatar.
- The WordPress logo on the right can be changed by uploading a Blavatar (available only on WordPress.com).

Since we've added the Site Icon module to Jetpack, it'd be nice if Subscription emails could use that Site Icon if it exists.

Suggested here:
https://word

[2015-02-25 15:38] jeherve commented on #1578
Also reported here:
https://wordpress.org/support/topic/gallery-images-not-appearing-in-subscription-emails-1?replies=1&view=all

[2015-02-25 18:10] dmsnell commented on #682
How would it feel if we simply displayed a message that said something like the following?

"Notifications are only available when logged into WordPress.com. Please login with those credentials in order to see all the things."

ping @kraftbj @georgestephanis @mdawaffe @blobaugh

[2015-02-25 19:29] mdawaffe commented on #682
Where do they log in?

[2015-02-25 20:37] miroslawlis opened #1676 "Stats: add Browser, OS Detection"
- Browser Detection
- OS decetion
  I miss these options in your plugin

Cheers.

[2015-02-25 20:55] kraftbj commented on #259
Requested in 2111488-t

[2015-02-25 21:21] flamadiddle commented on #259
The landscape for LinkedIn's API has changed a lot in the past 2 years, but sharing to a Company page is possible (and appears it will remain so for the foreseeable future). Here are direct links to some relevant sections in the (REST) API docs:

 * [List Companies](https://developer.linkedin.com/docs/company-pages#list_companies)
 * [Company Share](https://developer.linkedin.com/docs/company-page

[2015-02-25 23:10] kraftbj opened #1677 "General: Certain passwords fail when using XMLRPC clients"
When Jetpack is activated, certain passwords with special characters will fail when using other XMLRPC applications—WP mobile apps, desktop apps, etc.

This occurs because Jetpack assumes the `wp.GetOptions` xmlrpc method, escapes the `$args`, then call the original `wp.GetOptions` method, which escapes the `$args` a second time unexpectedly (to WP) which causes the password to fail.

PR incoming

[2015-02-25 23:58] RCowles commented on #1555
Having some (very apparent) issues with my local dev environment. Need to figure out what's going on, then I'll submit a PR.

[2015-02-26 00:38] dereksmart commented on #1526
Actually, may have been tagged for 3.5 because the url params to resize & crop only work for images served from wpcom/photon.  I'll look for another way to do this on our end that won't interfere with wpcom, since all the gallery widget code is synced.

[2015-02-26 01:53] Barralait opened #1679 "[Infinite Scroll] Uncaught type error: cannot set property 'html' of undefined"
So I'm trying to get Infinite Scroll to work on this custom theme on a website. The posts are correctly loaded, however, each time the user scrolls past an infinite-view, the error *Uncaught type error: cannot set property 'html' of undefined* appears.

I tried deleting these two functions which are the cause of this error, and everything works fine afterwards. But this is hacky and bad and I'd li

[2015-02-26 04:18] kraftbj opened #1680 "Sharing: Remove sharing option of page_for_posts page"
In https://core.trac.wordpress.org/changeset/31550, when an user is attempting to edit the page that is set for the Posts view (Settings->Reading), the Editor is replaced with a notice that the user is attempting to edit the latest posts page.

Let's remove the Sharing metabox too as it has no effect. Otherwise, we look a little... out there.
![screen shot 2015-02-25 at 22 17 24](https://cloud.git

[2015-02-26 05:49] kraftbj opened #1681 "Tiled Galleries UI doesn't load in Core/trunk"
https://core.trac.wordpress.org/changeset/31373/ refactors how JS is handled in core. We may be declaring a dependency that is no more in https://github.com/Automattic/jetpack/blob/master/functions.gallery.php#L38-39

Result is when editing a post and adding a gallery, there are no Tiled Galleries options.

Noting it here so we can discuss with Core if this is something they could account for or i

[2015-02-26 07:02] swissspidy commented on #1516
I haven't had time yet to dig deeper into that. Hope I'll be able to build something in the near future.

[2015-02-26 09:42] jeherve commented on #1679
For reference, the error refers to [this line](https://github.com/Automattic/jetpack/blob/3.3.2/modules/infinite-scroll/infinity.js#L530).

Could you try to dequeue your `script.js` file ([#](http://www.cblawparis.com/wp-content/themes/crossenborowsky/js/script.js?ver=4.1.1)), and let us know if it changes anything?

[2015-02-26 09:56] Barralait commented on #1679
Hey @jeherve, and thanks for the answer!

I dequeued script.js, to no avail...

As I was already dequeuing `script.js`, I also tried with all the external js files I'm enqueuing (`jquery.vegas.js`, `bootstrap.min.js` and custom `navigation.js` and `skip-link-focus-fix.js`), the error was still there.

[2015-02-26 11:02] jeherve commented on #1679
Could you paste the code you used to add Infinite Scroll support here, so I can take a look?

[2015-02-26 11:03] Barralait commented on #1679
[code]

[2015-02-26 11:14] jeherve commented on #1186
Also reported here:
https://wordpress.org/support/topic/tiled-galleries-using-full-sized-imaged?replies=1&view=all

[2015-02-26 13:24] jeherve commented on #1679
Could you try to rename the HTML elements that use the `raw` class outside of the post container? Infinite Scroll is probably failing because the `raw` class should only be used for containers meant to be used with Infinite Scroll.

Let me know how it goes.

props @folletto for finding this! :)

[2015-02-26 13:51] Barralait commented on #1679
Ok this is definitely it. My only problem is that I need the posts to be wrapped in `rows` for correct alignment - Bootstrap limitation. But this is a Bootstrap and theme code issue, and I thank you for the time you spent helping me on this, I've got this covered from now on! And I guess thanks to @folletto are also in order!

[2015-02-26 13:51] #1679 closed

[2015-02-26 14:24] richardmtl opened #1682 "Subscriptions: Site owner added as Subscriber if someone comments and checks the "Subscribe to blog/site" checkboxes"
How to reproduce:

1) Connect a site to WordPress.com, but don't Follow or Subscribe to it; activate Jetpack Comments and Subscriptions.
2) Have someone else leave a comment on it, and check the "Notify me of new comments via email." and "Notify me of new posts via email." boxes.
3) The WordPress.com account that made the primary connection to WordPress.com is now a WordPress.com Follower for the

[2015-02-26 14:48] samhotchkiss commented on #1650
Can we at least do this via a JS `confirm()` for now, and pretty it up in 3.5?

@jeherve @georgestephanis - do we forbid `confirm()`?

[2015-02-26 15:19] lezama opened #1683 "Jetpack::(*)_option duplicated methods."
@georgestephanis are there any reasons to keep this methods alive?
https://github.com/Automattic/jetpack/blob/master/class.jetpack.php#L1231-L1258

Let me know if you want me to kill them all.

[2015-02-26 15:34] samhotchkiss commented on #1554
@dereksmart - Do you have any time to take a look at this?

[2015-02-26 15:34] #687 closed

[2015-02-26 15:38] samhotchkiss commented on #869
@moraitis - I like this direction

Since the emails get sent from WordPress.com, not your local server, maybe we add a custom field on the post called `rendered_content`, where we store the content after do_shortcode has been run on it?

Anybody have any thoughts on this idea?  Not sure if it's just crazy talk...

[2015-02-26 15:42] samhotchkiss commented on #813
:+1:

[2015-02-26 15:44] #1664 closed

[2015-02-26 16:48] jeherve commented on #1683
@lezama I believe we still use a few of those in quite a lot of places in Jetpack. Third-party plugin developers also use them, for things like this for example:

[code]

If you decide to remove them, can you deprecate them nicely?

Thanks!

[2015-02-26 16:59] kraftbj commented on #687
Thanks @jkudish. @csonnek and I reran our tests and confirmed.

[2015-02-26 17:14] kraftbj opened #1684 "Publicize: Better announce secondary reconnection is necessary"
Problem: When a secondary JP user (e.g. user whose linked their account to WP.com on a site already connected by another user) has added Publicize connections, then the master connection is cycled, those connections are still present even though the user's link was severed.

Steps to reproduce:
1. User "A" connects a JP site to his/her WP.com account.
2. User "B" connects their JP user account to

[2015-02-26 17:25] lezama commented on #1683
@jeherve: I want to delete `Jetpack::update_option` and siblings in favor of `Jetpack_Options::...`

[2015-02-26 17:40] georgestephanis commented on #1683
I left them initially as a backcompat for any old plugins or the like that used the old way

https://github.com/Automattic/jetpack/blob/master/class.jetpack.php#L1195-L1258

If we can, I'd prefer to add in a `_doing_it_wrong()` call to catch anyone still using them for a release or two, but if you need to burn them, I won't shed too many tears.

[2015-02-26 18:06] samhotchkiss commented on #1614
@kraftbj - that should be pretty easy to roll in.  Something like:

Would you like to disable these notifications?  Manage your monitor settings here:
https://wordpress.com/settings/general/[JP-DOMAIN]

[2015-02-26 18:17] samhotchkiss commented on #682
I would imagine they would click "login with those credentials" and get the pop-up

[2015-02-26 18:20] #1663 closed

[2015-02-26 18:26] #1683 closed

[2015-02-26 19:13] dereksmart opened #1686 "Omnisearch: post_type_obj not accepted in WP_List_Table's Compatible Fields since 4.2"
Any time Omnisearch tries to set $this->post_type_obj, it throws a php notice.  We need to add that field to the list of compatible fields.

[2015-02-27 14:02] theukedge commented on #1677
@kraftbj Thanks for your persistence in running this issue down. I'll be very glad to see the back of this issue soon!

[2015-02-27 14:23] thisislawatts opened #1688 "Embedded Contact Forms within nested pages"
When a child page is displayed on the same URL as it's Parent page it's not possible to submit the form.
I believe this is where I've rewritten the child's permalink so that it would read **/parent#childslug**.  Using the existing filter `grunion_contact_form_form_action` I have been able to fix the problem of 2 hashes appearing, however at this point once submitted it's trying to submit a contact

[2015-02-27 14:38] salcode opened #1690 "Google Maps shortcode generates a bad url for "View Larger Map""
Issue was discovered on http://lancasterpa.wordcamp.org/2015/location/

When the [View Larger Map](https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3053.9383820957555!2d-76.282494!3d40.054476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c624a8aa2d1bb9:0x7e35e940194b567f!2s1020%20New%20Holland%20Ave,%20Lancaster,%20PA%2017601!5e0!3m2!1sen!2sus!4v1422973712907) link is clicked, the result is
[code]

Si

[2015-02-27 14:56] kraftbj commented on #1690
This is fixed in `master` via d09a4ecbd30e48042cfdc8a0017afdaa458ebfa6 . Assigning it to the 3.4 milestone so it can get picked up for the next release.

[2015-02-27 15:18] #1690 closed

[2015-02-27 15:19] georgestephanis commented on #1690
Drat, wish I'd have caught that in a point release.  Ah well.

[2015-02-27 16:03] mikeyarce opened #1691 "Shortcodes: Soundcloud mini-player not embedding properly"
When embedding a "mini-player" using Soundcloud's "WordPress Code" shortcode they give you, it doesn't show up properly:
![screen shot 2015-02-27 at 7 57 58 am](https://cloud.githubusercontent.com/assets/3220162/6415896/d20ccfba-be56-11e4-87c9-a7ecb31c7efc.png)

The second example on that screenshot is using the `iframe` version which looks fine.

here is the code used for that post:
[code]
Note,

[2015-02-27 22:02] dereksmart commented on #1673
@hilja, could you help me reproduce this?  Here's what I tried with Jetpack 3.3.2 & WP 4.1 (no other plugins):

\`\`\`echo "you\'re awesome!  Here\'s a single backslash: \"; \`\`\`

\<code>echo "you\'re awesome! here\'s a single backslash: \"; \</code>

\<pre>echo "you\'re awesome!  Here\'s a single backslash: \"; \</pre>

Which gives me this, when saving from both the visual and text editor:
http

[2015-02-28 09:50] hilja commented on #1673
This seems to keep the backslashes:

[code]
[code]

But if I put line breaks  before and after it like this:

[2015-02-28 10:44] jeherve commented on #1673
I could reproduce on my end as well. Since you're supposed to leave line breaks before and after ```, that seems like a bug with Markdown.

When disabling Markdown, backslashes don't get stripped anymore.

[2015-02-28 11:11] jeherve commented on #431
Also suggested here:
https://wordpress.org/support/topic/jetpack-49

[2015-02-28 17:08] hilja commented on #1673
How would I then give a class to the code block? This:
[code]
Will output:

![screenshot 2015-02-28 18 07 31](https://cloud.githubusercontent.com/assets/2558021/6427044/afcb0aec-bf74-11e4-9610-90bd8661a61c.png)

Is Jetpack using Markdown Extra as a parser?

[2015-02-28 17:13] jeherve commented on #1673
That's what I meant. :) You are supposed to leave line breaks, so the fact
that it doesn't  work with line breaks is a bug.

We'll look into it.

[2015-02-28 17:22] FellowTuts opened #1698 "Why is 'My Tweet' in twitter timeline widget"
I don't understand what is purpose behind placing 'My Tweets' in line number 93

`echo '>' . esc_html__( 'My Tweets', 'jetpack' ) . '</a>';`

in file <blockquote>modules/widgets/twitter-timeline.php</blockquote>
Won't it be better to ask for username inside widget form in dashboard and update 'My Tweets' with user handler (Tweets by @User) accordingly.

[2015-02-28 22:58] hilja commented on #1673
Ah, exactly :) :hammer:

[2015-03-01 10:31] theblackwidower opened #1699 "SSO does not work whenever one hides wp-login and wp-admin"
So, my new site just went live, and it's running Jetpack because I like it. Particularly the single-sign-on feature. Makes things much easier, since I'm always logged onto WordPress.com anyway, and it uses two-step and other good stuff like that.

But once the site went live, I was advised to do what I could to hide wp-login and wp-admin. I quickly found a plugin that did the job, but quickly ran

[2015-03-01 19:35] digisavvy commented on #1439
I'm having the same issue in Jetpack 3.3.2, so I'm just adding info to this issue.

 The issue: Infinite scroll renders a number of posts correctly until it gets to
 a post using the wpvideo shortcode, once rendered infinite scroll ceases to
 work.

 To reproduce I setup infinite scroll w/ Jetpack and got it to where posts were
 scrolling. Then as a particular post renders using wpvideo I get an e

[2015-03-02 13:06] jeherve commented on #1698
The Twitter Timeline widget allows you to create timelines that are not linked to a specific Twitter user. You can for example create a timeline that will list tweets including a hasthtag:

![screen shot 2015-03-02 at 2 03 14 pm](https://cloud.githubusercontent.com/assets/426388/6441130/f41a5d4e-c0e4-11e4-9f32-0d0e659ce1d1.png)

It could also be used to display a list:

![screen shot 2015-03-02 at

[2015-03-02 13:06] #1698 closed

[2015-03-02 13:10] jeherve commented on #1699
Closing as duplicate of #1511.

[2015-03-02 13:10] #1699 closed

[2015-03-02 15:16] marygalioto commented on #1586
Thank you, Chase. The problem was resolved within a day or so but reappeared yesterday, 3/1/15.

[2015-03-02 15:54] jessefriedman opened #1702 "Sharing: sharing counts not showing after update to master"
After updating jes.se.com to Master (latest commit is: https://github.com/Automattic/jetpack/commit/d396079f89e402de4610dccd8ac7e488288b6a8f), the share icons at the bottom of the posts lost their counts.

https://cloudup.com/ciKv7wc9Dlc

After working with @jeherve he found issues with the commits below. Jeremy advised:
git checkout febfeece3968559062bbe0fd9e9465c128debdbf modules/sharedaddy/shar

[2015-03-02 16:02] georgestephanis commented on #1702
Yup, I need to find which change did it.  There were a lot of small things.

If you could do some testing to isolate it, it would be helpful.

[2015-03-02 23:24] kraftbj opened #1705 "Monitor: Include Site ID in the e-mail"
In the event of oddities with the Monitor e-mails, it would helpful for HEs to know exactly the Site ID generating the Monitor alerts.

[2015-03-02 23:33] kraftbj commented on #1705
I'm thinking something at the end of the e-mail: "If you need to contact support regarding this e-mail, please include Site ID xxxxx in the message", etc.

The problem, on our end, is when someone changes the URL and it doesn't flow up to us, the site we search for and/or see displayed in the NA might be one URL, while the home/site URL within the site settings indicate another. It makes it easy f

[2015-03-03 06:59] FellowTuts commented on #1698
The Embedding with a shortcode `[twitter-timeline id=1234 username=jeherve]` offered by Jetpack gives users the facility to provide username while embedding shortcode in a page or post and widget appears as 'Tweets by @jeherve'

So there should be no different in appearance since both are used for same purpose.

Furthermore as you said:

Then as tweets are not related to a particular user so the w

[2015-03-03 16:02] theukedge opened #1707 "Shortcode embeds on HTTPS"
I just noticed that my HTTPS site had a mixed content warning. I traced it back to me having embedded a TED talk in one of my posts using the [ted] shortcode. Evidently, the freeze frame used in that embed is only delivered over HTTP, even when the page/site you're embedding on is HTTPS. I'm not sure if this is just limited to the [ted] shortcode, but you can see it in action [on my site](https://

[2015-03-03 16:27] georgestephanis commented on #1707
Interesting.

It looks like the video iframe itself is loaded over https, so it's up to the folks over at TED that goofed and are serving up a http image.

Not much we can do about that, I'm afraid. :\

[2015-03-03 16:27] #1707 closed

[2015-03-03 16:29] georgestephanis commented on #1705
cc: @lezama -- probably a quick fix.  Maybe just include it in the footer so if they reply/fwd the email, it gets included automatically?

[2015-03-03 16:30] theukedge commented on #1707
Thanks for looking into it. I'll contact TED and see if they can do anything about it.

[2015-03-03 20:41] morganestes commented on #1561
@georgestephanis I emailed you the data a couple of weeks ago (on 2/13). Have you had a chance to review it yet?

[2015-03-04 11:56] boboz commented on #269
:+1:

[2015-03-04 20:33] jeherve commented on #1698
I just submitted #1710 to add a new filter, `jetpack_twitter_timeline_placeholder`, that will allow you to customize that title with something like this:

[code]

[2015-03-04 21:56] #1686 closed

[2015-03-04 21:59] samhotchkiss commented on #1677
Thanks, @kraftbj!

[2015-03-04 23:59] devinsays commented on #460
+1

[2015-03-05 04:37] #1691 closed

[2015-03-05 05:11] FellowTuts commented on #1698
Thank You.

[2015-03-05 16:42] fredy31 commented on #662
Any update on the matter?

[2015-03-05 17:40] dereksmart commented on #1673
Reopening, as my attempt (<a href="https://github.com/Automattic/jetpack/commit/8975d80835d0e2e125b782e210593eb94857772f" target="_blank">#</a>) caused more problems than it solved - see #1703.

After running through again, I tracked the root problem to when the text is run through `codeblock_restore()`'s <a href="https://github.com/Automattic/jetpack/blob/master/_inc/lib/markdown/gfm.php#L161" ta

[2015-03-05 20:06] jenhooks commented on #800
Another request here: 2110200-t

[2015-03-05 21:30] aheckler opened #1712 "Exclude scripts from CloudFlare's Rocket Loader"
On our [Known Issues page](http://jetpack.me/support/getting-started-with-jetpack/known-issues/), we discourage use of CloudFlare's Rocket Loader feature because it apparently interferes with some of our JS. We should just exclude our scripts from it instead:

https://support.cloudflare.com/hc/en-us/articles/200169436-How-can-I-have-Rocket-Loader-ignore-my-script-s-in-Automatic-Mode-

We'll need t

[2015-03-06 01:55] shawnajroberts commented on #1682
Pretty sure I have another instance of this here - http://en.forums.wordpress.com/topic/im-receiving-subscription-notifications-for-my-own-site-im-not-subscribing

[2015-03-06 10:01] matt-schroeder-datalytyx commented on #1586
We're having the same issue. We change the custom message, click Update. We click customize again to ensure that the change has saved, but it reverts back to the default message.

[2015-03-06 18:05] ChaosExAnima opened #1713 "WP CLI Commands Not Working"
Summary of the issue: Using WP-CLI commands cause warnings and do not work.

Steps to reproduce:

Using wp-cli, type the following command: `wp jetpack module list`, or `wp jetpack module activate infinite-scroll`, or `wp jetpack disconnect blog`.

Version of wp-cli is 0.18.0, version of Jetpack is 3.3.2, pulled from Github as of 3/6/2015.

Expected behavior or result: The function works as expect

[2015-03-06 18:41] jeherve commented on #1713
Closing as duplicate of #1175

[2015-03-06 18:41] #1713 closed

[2015-03-06 18:57] Atlas7 commented on #1673
Hello. I'm so glad there there is actually an open issue ticket on this! Here are some sample snapshots.

Markdown code (I mean to have the backslash in the code block):

![markdown-extra-bug-backslash-code](https://cloud.githubusercontent.com/assets/11135428/6531603/553c7616-c432-11e4-9c02-c78d306c7d37.PNG)

Wordpress displays this (backslash got stripped unexpectly.):

![markdown-extra-bug-backs

[2015-03-06 20:25] aheckler opened #1715 "Site Icon: Add more tags for increased compatibility"
[RealFaviconGenerator.net](http://realfavicongenerator.net/) is the most comprehensive tool I've found for generating favicon tags. An example of what it creates for you:

[code]
A walkthrough of why all of these tags are needed is [in their FAQ](http://realfavicongenerator.net/faq). As it stands now, the Site Icon module only generates three tags:

[code]

 Jetpack should consider adding whatever

[2015-03-06 20:26] aheckler commented on #1715
Related to #1279

[2015-03-07 01:07] samhotchkiss commented on #662
Flagged this for 3.5, we'll get it knocked out with the next release, @fredy31

[2015-03-07 01:15] samhotchkiss commented on #1712
This seems pretty straightforward, and I think we can get it in for this release.  I'm going to try to knock this out over the weekend.

[2015-03-07 01:22] samhotchkiss commented on #1715
Sounds like a good idea, @aheckler!

One potential gotcha-- the largest version we currently serve is 128x128, but these go up to 192x192 -- do we keep a large enough copy to be able to upscale?

[2015-03-07 02:07] aheckler commented on #1715
I believe the module won't accept images less than 512x512, so upscaling shouldn't be necessary.

[2015-03-07 15:26] MarceloPedra opened #1719 "Automattic IP Ranges: offer IP list via API endpoint."
Hello guys. I was under a heavy xmlrpc attack, and had to block access to xmlrpc.php using the iThemes Security plugin. But to allow JetPack to work in the meantime, I allowed this IP range:

[code]

My question is: is there any other IP range that should be allowed for JetPack to work properly?

Thank you!

[2015-03-07 19:51] georgestephanis commented on #1719
Our list of IP ranges do change, so I really couldn't recommend whitelisting.  Nearly all of our requests do come in with the `?for=jetpack` get string on the end.

Plus, you can use the `add_filter( 'xmlrpc_enabled', '__return_false' );` filter to turn off xmlrpc from with WordPress safely without negatively affecting Jetpack.

[2015-03-07 19:54] jeherve commented on #1719
Here are the IPs you can use:
http://whois.arin.net/rest/org/AUTOM-93/nets
You'll also need to `185.64.140.0/22` and `a04:fa80::/29` to the list.

Overall, we don't suggest this approach since our IP block will change over time, changing the possible IP addresses and this would prevent any of the mobile apps or other desktop clients from working.

Alternatively, Jetpack requests are routed to `/xm

[2015-03-07 23:40] oojacoboo commented on #259
@jeherve any update on this?

[2015-03-08 01:32] jeherve commented on #259
@oojacoboo I don't have any news yet, but we'll post here as soon as we start making progress on this.

[2015-03-09 01:16] #1555 closed

[2015-03-09 14:09] jessefriedman commented on #1654
Chrome (latest) running 2015 I was also unable to reproduce the problem. https://cloudup.com/c7NeJNTgHhl

[2015-03-09 16:19] #1702 closed

[2015-03-09 19:34] georgestephanis commented on #1650
As we're already under string freeze, can you scan for an existing string we could use, or just use a stock confirm()?

[2015-03-10 13:23] samhotchkiss commented on #1715
Fantastic!  Would you want to work on a PR, @aheckler?  I'm happy to review it for you.

[2015-03-10 13:32] samhotchkiss commented on #1654
@RCowles - bump...

Can we get some verifiable proof that this issue exists?  Let's close if that doesn't come to light in the next few days...

[2015-03-10 13:33] aheckler commented on #1715
Will do.

[2015-03-10 16:13] aheckler commented on #1715
I think we can strike a happy medium between our current (very basic) device support and supporting ALL THE THINGS by using the second example provided [here](https://css-tricks.com/favicon-quiz/) under "Example 2: Medium support".

This would support:

- IE11+
- Chrome
- Google TV
- Safari
- iOS + Touch icons + full Retina support
- Android Chrome

Ideally we could support past versions of IE, bu

[2015-03-10 18:40] RCowles commented on #1654
Sorry for letting this one fall through the cracks. I'm traveling today, but I'll investigate tomorrow.

[2015-03-11 18:46] bhubbard opened #1748 "Add schema.org markup to social share buttons"
Would like to support schema for the social sharing buttons provided by Jetpack.
https://schema.org/interactionCount

[2015-03-11 18:47] bhubbard opened #1749 "Add Houzz Button to Jetpack Sharing"
Would like to see support for the houzz button in jetpack sharing:
http://www.houzz.com/buttonsAndBadges/page=houzzbutton

[2015-03-11 19:02] georgestephanis commented on #1749
related: https://github.com/Automattic/jetpack/issues/449

[2015-03-11 19:17] SN0WKRASH commented on #224
Hi, any solution for this? I'm about to have to pay someone to hack the plugin (something I don't want to do since we want to be able to update easily).  Please add is_paged condition for home (front page).  We use this for ads, and the money we make depends on which pages they show up on.  We are currently unable to make any money for the paged front page, even though they get lots of traffic.  T

[2015-03-11 19:22] jeherve commented on #224
@SN0WKRASH We haven't made any progress on this yet, but feel free to add the option on your site and submit a Pull Request so others can benefit from your change. You can follow the instructions here to submit a Pull Request:
https://github.com/Automattic/jetpack/blob/master/CONTRIBUTING.md

[2015-03-11 19:26] bhubbard opened #1750 "Support Schema for Tiled Gallery and Carousel"
Would be great if the Tiled Gallery and Carousel could have schema support.

http://schema.org/ImageGallery
http://schema.org/ImageObject

[2015-03-11 19:56] #1566 closed

[2015-03-11 20:06] bhubbard opened #1753 "Add schema.org support to social links"
Would like to support schema for social links. Need option to add `itemprop="sameAs"` in the urls.

http://jetpack.me/support/social-links/
https://developers.google.com/structured-data/customize/social-profiles

[2015-03-12 02:40] samhotchkiss commented on #1715
Yeah, I don't know that we want to get in to converting image formats :-/

[2015-03-12 02:42] samhotchkiss commented on #1654
No worries!  Fly safe, thanks @RCowles!

[2015-03-12 02:47] samhotchkiss commented on #224
This should probably be a filter, not a front-end option, IMO

[2015-03-12 02:48] samhotchkiss commented on #1750
:+1: to schema!

Feel free to drop in a pull request if you'd like to see this soon, @bhubbard

[2015-03-12 02:53] #1628 closed

[2015-03-12 02:55] #1638 closed

[2015-03-12 02:56] #1677 closed

[2015-03-12 04:34] samhotchkiss commented on #269
Modified the title, as "date" is part of 3.4.  Punting on "tel" and "time", this would be a good first patch for someone to pick up if they are interested...

[2015-03-12 04:54] samhotchkiss commented on #1614
As this isn't release dependent, I'm clearing the milestone.  @richardmuscat, would you mind taking a look at this when you get a chance?  This is in `footer-jetpack.php` on wpcom

[2015-03-12 04:58] #1610 closed

[2015-03-12 05:01] samhotchkiss commented on #1594
Invalid because pivot!

[2015-03-12 05:01] #1594 closed

[2015-03-12 05:05] #1591 closed

[2015-03-12 05:06] samhotchkiss commented on #757
@dereksmart - are you still working on this?  I'm punting to 3.5

[2015-03-12 05:10] samhotchkiss commented on #1650
I can't find anything :-1:

I'm just going to put it in, this isn't something most users are going to run across, and it'll get picked up for translation for 3.4.1

[2015-03-12 05:21] #1650 closed

[2015-03-12 05:23] samhotchkiss commented on #1681
Kicking down the road to 3.5...

[2015-03-12 05:30] samhotchkiss commented on #1712
Not quite so straightforward.

Either we can add in a bunch of filters, or we wait for this w.org issue to get resolved:
https://core.trac.wordpress.org/ticket/22249

@aheckler - do you know WHICH scripts have an issue with rocket loader?  If it's only one or two scripts, then we should go the filter method, it just seems unwieldy to add in filters for all of our JS

[2015-03-12 09:50] cambiatufisico commented on #855
Please, this issue was released several months ago... I do not understand why the option is not allowed...

[2015-03-12 11:01] aheckler commented on #1712
The only things I've found mention of in MGS that CloudFlare's Rocket Loader *for sure* breaks are Likes and Tiled Galleries. We also mention it breaking Stats on Jetpack.me's Known Issues list, but I can't find anything more about that.

Agreed, though I don't think we need to exempt *all* of our JS. CloudFlare [suggests not caching wp-admin](https://support.cloudflare.com/hc/en-us/articles/20171

[2015-03-12 18:01] enejb opened #1757 "PHP Notices in RSS Links Widget when added through the customizer"
Just notices a lot of PHP Notices errors in the RSS Links widget
See https://cloudup.com/cfpuDWDPIAl

[2015-03-12 19:09] squirk opened #1759 "Issue with Akismet button in Jetpack Dashboard"
In the new Jetpack dashboard widget, the Akismet button isn't working.  The link appear to link to ```/wp-admin/index.php#```.    Once Akismet is activated via the plugins page, the button disappears – even if you haven't obtained an API key.  I assume there should be a message that you need to configure Akismet.

![jetpack-akismet](https://cloud.githubusercontent.com/assets/3333136/6625891/60d059

[2015-03-12 19:48] georgestephanis commented on #1757
Can you try resaving the widget in the admin and see if they go away?  It looks like the array keys normally present are unset.

[2015-03-12 19:52] georgestephanis commented on #1759
Yeah, I hadn't fleshed that out.  About to.

[2015-03-12 20:16] samhotchkiss opened #1760 "readme.txt needs to be reviewed and updated"

[2015-03-12 21:45] enejb opened #1762 "Jetpack Setting Modal for Gravatar Hovercards looks off"
Just notices that the Modal for Gravatar Hovercards looks broken
![image](https://cloud.githubusercontent.com/assets/115071/6628883/5d7ea63a-c8c6-11e4-9c6c-e440a0c0197a.png)

[2015-03-12 22:03] jeffgolenski commented on #1762
Got it covered. h5 was clearing everything instead of just left items.

[2015-03-12 22:06] jeffgolenski commented on #1762
fixed: https://github.com/Automattic/jetpack/commit/125334263b89f4d5a598c42466ff27edddfeb209

[2015-03-12 22:06] #1762 closed

[2015-03-12 23:48] RCowles commented on #1654
Hm... I'm unable to repro. I tried using 3.4-beta on a brand new install as well as on the install that produced the error before. Nothin'.

I've asked the user if they're still running into trouble. Will update this Issue when I hear back.

[2015-03-13 13:11] yelly commented on #1654
If there really is a problem (although I can't reproduce it either), it's probably with code I wrote. Fell free to assign to me.

[2015-03-13 15:33] mikeyarce opened #1766 "Jump Start: Success message repeats itself"
![screen shot 2015-03-13 at 8 04 58 am](https://cloud.githubusercontent.com/assets/3220162/6640943/ebea54a0-c957-11e4-9752-ed22650b2d9f.png)

Having successfully "jump started" my site, I feel like the text "Jump Start your site" should be removed for just "Success! You've jump started your site."

Example:
![screen shot 2015-03-13 at 8 32 17 am](https://cloud.githubusercontent.com/assets/3220162/

[2015-03-13 15:42] mikeyarce opened #1767 "Jump Start: after Jump starting site, Jetpack page goes blank"
I click Jump Start, and get a success message.  When I click back to go to Jetpack, I get a blank page:

![screen shot 2015-03-13 at 8 41 24 am](https://cloud.githubusercontent.com/assets/3220162/6641730/e2421942-c95c-11e4-98c7-642a5fdc13d1.png)

[2015-03-13 15:48] mikeyarce opened #1768 "Dashboard Widget: Footer details"
![screen shot 2015-03-13 at 8 45 42 am](https://cloud.githubusercontent.com/assets/3220162/6641814/6c69baee-c95d-11e4-8bca-5ec6ac6b91e1.png)

I just installed the Beta - seems weird that after a few minutes I would already have 35 blocked Malicious attempts?  Or is this a placeholder?

The "Activate Akismet" button also should be better vertically centred.

[2015-03-13 15:51] mikeyarce commented on #1768
Note: I also did not have BP installed on my test site.

If I don't have Akismet installed, this text also looks slightly off centre horizontally - and doesn't really communicate what the link does.  Will it take me to a new tab telling me more about Akismet?  Will it install the plugin on my site?  Is it a free plugin?
![screen shot 2015-03-13 at 8 49 54 am](https://cloud.githubusercontent.com/as

[2015-03-13 15:58] mikeyarce opened #1769 "Authorize Screen: Old Logo and not mobile friendly"
When connecting a page with Jetpack, you are sent to this screen to authorize your account:
![screen shot 2015-03-12 at 2 14 19 pm](https://cloud.githubusercontent.com/assets/3220162/6641994/b6cfab74-c95e-11e4-9b95-568163aab85b.png)

- The page is not responsive so it's tricky to do on a phone.
- It uses an old Jetpack Logo
- If your site name is too large, it wraps around oddly
![screen shot 2015

[2015-03-13 16:10] kraftbj commented on #1769
Related and duplicate of #823 :)

[2015-03-13 16:10] kraftbj commented on #823
Noting too that long site titles breaks layout too.

[2015-03-13 16:12] #1769 closed

[2015-03-13 17:03] jeherve commented on #1681
@samhotchkiss Seeing that WordPress 4.2 is planned for next month, shouldn't we aim to fix this as soon as possible, so we have as many people as possible running a version of Jetpack including the fix when 4.2 comes out?

[2015-03-13 17:47] shield-9 opened #1770 "Unsubscribe Link Not Working"
![screenshot](https://cloud.githubusercontent.com/assets/3660715/6643703/cfc61a76-c9f1-11e4-82f5-26df3a0e6c26.png)
It seems the link "Unsubscribe" is not working in Japanese.

Because it is `https://subscribe.wordpress.com/?key=~~~&email=~~~&b=~~~ からの更新を今後受信しない場合は<a style="text-decoration: underline; color: #2585B2;"  href="Make WordPress Core">購読を解除</a>してください。` in HTML. (In English, `<a style="te

[2015-03-13 18:48] georgestephanis commented on #1770
Agreed.  Flipping the order of the arguments in the translation was the cause.  Thanks!

[2015-03-13 20:06] richardmtl opened #1771 ""ReferenceError: _ is not defined" in Multisite Jetpack Sites and Settings"
On `wp-admin/network/admin.php?page=jetpack` and `wp-admin/network/admin.php?page=jetpack-settings` on a site running Beta2, I see this javascript error:

`Uncaught ReferenceError: _ is not defined` referring to this bit of code:

[code]

and more in particular, this exact line:

`jQuery(window).resize( _.debounce( function(){`

[2015-03-13 20:38] morganestes commented on #1561
We've finally narrowed it down to a single cause: flushing memcached. Any time we manually flush the cache, or when it's triggered by some other action, Jetpack loses the connection.

We've done it three times this past week for various server and code updates, and each time the connection was broken. I've checked the Jetpack Debug screen and get the connection error message (XMLRPC is working fin

[2015-03-14 10:48] jeherve commented on #1768
I can reproduce the alignment issue:

![screen shot 2015-03-14 at 11 46 46 am](https://cloud.githubusercontent.com/assets/426388/6651378/f596e14c-ca3f-11e4-9dd1-e4433aff781e.png)

[2015-03-14 10:50] jeherve commented on #1768
And a few more layout issues with the widget:

![screen shot 2015-03-14 at 11 49 43 am](https://cloud.githubusercontent.com/assets/426388/6651384/49a60d94-ca40-11e4-9d6a-fae3537512f8.png)

[2015-03-14 11:57] jeherve opened #1772 "Errors when enabling Jetpack"
- Multisite network
- New site in that network
- Running Jetpack master as of Saturday, March 14, 11:53 UTC

[code]

cc @dereksmart Anything from 5810dcc41261de8afb2cfb57e13b2d7936df9b1e that may have caused that problem?

[2015-03-14 15:25] dereksmart commented on #1772
cc @lezama because It looks like he originally authored the changes to that file.  Sorry about that.  Good reason to rebase instead of merge here.

[2015-03-14 15:47] enejb commented on #1772
Thanks for reporting this @jeherve! Should be fixed in #1773

[2015-03-14 16:12] kraftbj commented on #1681
+1 to not letting this hang. The only way to add a Tiled Gallery in next month's 4.2 is to set the global Settings->Media.

Additionally, if we can track exactly why this breaks, we can bring it up to core before 4.2 ships. We're likely not the only plugin that this will happen to. It might be something we have to fix or something that core didn't consider (in terms of backwards compat) when refac

[2015-03-14 17:03] pixedelic opened #1774 "Deregister scripts"
Hi, tried this solution https://gist.github.com/jeherve/df4e349a209d532a7978 both with a theme developed by me, and with TwentyFifteen. No success all... Is there anything with the recent versions of JetPack? In particular subscriptions, slideshow and carousel CSS are always loaded (I'm testing those features at the moment). Does it have anything to do with the fact the subscriptions CSS (for inst

[2015-03-15 14:27] marygalioto commented on #1586
I'm still following this thread but have not seen an update about the progress of working toward a solution. Matt and I can't be the only people with this problem.

[2015-03-15 19:20] kraftbj commented on #1586
We have this currently marked to be worked on for 3.5, which is the version after the one that will be released (most likely) in the next few days.

It doesn't appear to be straightforward as I can't duplicate using the steps used in the screencast, so may need additional information/testing to determine what's actually happening.

[2015-03-15 20:07] kraftbj commented on #712
An idea from an user: If the site has been down for a very long time (e.g. months), suspend monitoring and/or disconnect the JP connection on our end.

[2015-03-16 02:40] kraftbj commented on #259
Requested in 2126804-t

[2015-03-16 09:45] jeherve commented on #1774
You're correct. These stylesheets are enqueued differently to make sure they're only enqueued when the widget is present (either added to a sidebar or inserted into a post via the shortcode). You'll probably need to change the priority where the dequeuing function is hooked to make sure it's run late enough.

I hope this helps.

[2015-03-16 11:23] pixedelic commented on #1774
Any clue...? I mean, I tried with many priority values and different hooks as well... nothing seems enough.  Are you sure there is a way to deregister styles and scripts once are added in that way? Thanks

[2015-03-16 13:02] kraftbj commented on #407
After building on Press This more, I would defer to https://core.trac.wordpress.org/ticket/12017 as a future core enhancement since this is really a limitation of PT, IMO.

[2015-03-16 13:03] jessefriedman commented on #1767
This was solved with this https://github.com/Automattic/jetpack/commit/49558a248d4af6992956123587b2a6d1da5b91ee  I didn't see the ticket before I fixed the problem.

[2015-03-16 13:03] #1767 closed

[2015-03-16 13:05] jessefriedman commented on #1766
Can you please confirm this problem exists? I have not been able to duplicate it
![screen shot 2015-03-16 at 9 04 59 am](https://cloud.githubusercontent.com/assets/1749986/6666517/9b411dc0-cbbb-11e4-8ac2-a04815be9af2.png)

[2015-03-16 13:07] jeherve commented on #1766
I can't reproduce it either.

[2015-03-16 13:58] jeherve opened #1780 "Shortcodes: add Display Posts shortcode"
WordPress.com includes a ["Display Posts" shortcode](https://en.support.wordpress.com/display-posts-shortcode/). It'd be nice to add it to Jetpack as well.

[2015-03-16 14:08] kraftbj commented on #1780
WordPress.com's shortcode is https://wordpress.org/plugins/display-posts-shortcode/ with a helper function to allow caching the output.

[2015-03-16 15:04] jeherve commented on #844
Also suggested here:
https://wordpress.org/support/topic/feature-request-display-social-share-count-in-stats

[2015-03-16 15:25] mikeyarce commented on #1766
Updated to the latest Beta and it looks good now.

[2015-03-16 15:25] #1766 closed

[2015-03-16 15:29] mikeyarce opened #1781 "Jump Start: button spinner is not aligned properly"
When clicking on the `Jump Start` button, the loading icon used to be inside the button, now it's floating on top:

![screen shot 2015-03-16 at 8 27 01 am](https://cloud.githubusercontent.com/assets/3220162/6669499/79b6eee6-cbb6-11e4-92ca-98dcd45a36a9.png)

[2015-03-16 15:31] mikeyarce commented on #1781
This is on Chrome 41 (Mac)

[2015-03-16 15:31] obenland commented on #1774
@jeherve Not sure if it warrants a new ticket, but it fits into the broader scheme of JP enqueueing its styles when it shouldn't:
You probably know that if JP is network activated, it enqueues its styles on the front end on every site of that network. The kicker is that it does that even if JP is not connected to wp.com on that site. Example: wordpress.org/themes.

I briefly chatted with @samhotch

[2015-03-16 15:44] mikeyarce opened #1782 "Jump Start: Prompt comes back after connection cycle"
If you Jump Start a site, and then do a disconnect and reconnect, the Jump Start prompt comes back.

Steps to reproduce
1. Install Jetpack 3.4 beta 2
2. Connect Jetpack
3. Jump Start site
4. Disconnect Jetpack
5. Connect Jetpack
6. Jump Start will show again

[2015-03-16 15:57] pixedelic commented on #1774
@jeherve I'm so stupid, I tried 'wp_enqueue_scripts' and 'wp_print_styles' (and many other without any relation, to be honest) and I haven't tried 'wp_print_scripts', that is the only one I should have try.

So, in this way it seems to work:

[code]

Thank you and sorry!

[2015-03-16 16:14] jeffgolenski commented on #1781
Thanks @mikeyarce. This was intentional since the spinner sitting on top of the button isn't that crisp. But now that I let it sit over the weekend, I'll revisit placing the spinner on top of the button and reducing the button opacity even more.

[2015-03-16 16:25] mikeyarce opened #1785 "General: Jetpack logo squished in IE 9 & 10"
The Jetpack logo in the wp-admin pages looks squished in IE9 and 10:
![screen shot 2015-03-16 at 9 21 18 am](https://cloud.githubusercontent.com/assets/3220162/6670783/e9be38e6-cbbd-11e4-900a-edd9ebd866d1.png)

Looks fine in IE11:
![screen shot 2015-03-16 at 9 24 17 am](https://cloud.githubusercontent.com/assets/3220162/6670836/4531e6d2-cbbe-11e4-8ded-c3d567f31852.png)

[2015-03-16 16:42] jeherve commented on #1774
@obenland That seems like a different problem, so a new GitHub issue would probably be better. I guess we should wait until Jetpack is connected to WordPress.com or used in development mode before to enqueue anything on the frontend.

@pixedelic I'm glad you could figure it out!

[2015-03-16 16:42] #1774 closed

[2015-03-16 16:47] obenland opened #1786 "Do not enqueue styles until connected"
From #1774:
If JP is network activated, it enqueues its styles on the front end on every site of that network. The kicker is that it does that even if JP is not connected to wp.com on that site. Example: wordpress.org/themes.

I briefly chatted with @samhotchkiss about it last week and wanted to follow up on that.

[2015-03-16 17:02] jeffgolenski commented on #1785
oh wow, I wonder how long this has been like this for. I'll look into it!

[2015-03-16 17:07] jeherve opened #1788 "Random Redirect: add option to get random posts from specific author"
Random Redirect currently offers 2 options: `random_cat_id` and `random_post_type`. It would be nice to add a new `random_author_id`, or `random_author_slug` option.

Suggested here:
https://wordpress.org/support/topic/how-to-use-random-redirect-for-custom-post-types?replies=2&view=all

[2015-03-16 17:10] samhotchkiss commented on #1768
@mikeyarce : we've definitely seen multiple cases where people's blocked attack counts can go up significantly immediately after installing.  Many sites are pretty constantly under slow brute force attacks.  We've even seen people get into the thousands of blocked attacks within minutes of installing

[2015-03-16 17:12] jeherve commented on #1009
Also suggested here:
https://wordpress.org/support/topic/send-jetpack-form-to-input-field-email-address?replies=1&view=all

[2015-03-16 17:13] jeffgolenski opened #1789 "Enhancement: more prominent wpcom disconnect button in wp-admin"
https://cloudup.com/cQ_DPgqE1eB

Just need a slightly more prominent style on the disconnect link. slightly.

[2015-03-16 17:16] jeherve commented on #224
Also requested here:
https://wordpress.org/support/topic/widget-visibility-home-page?replies=1&view=all

[2015-03-16 17:21] samhotchkiss opened #1790 "Intermittent endless spinner on stats page"
Reported by Mika and @csonnek -- not reproducible, but we should investigate and make sure that there isn't something obviously amiss that could cause an intermittent failure

[2015-03-16 17:23] samhotchkiss commented on #1654
Alright, closing this for now, please reopen @RCowles if it becomes reproducible

[2015-03-16 17:23] #1654 closed

[2015-03-16 17:33] RCowles commented on #1654
Sounds like a plan. No reply from the user, will reopen if necessary.

[2015-03-16 17:34] #1772 closed

[2015-03-16 18:08] csonnek commented on #1790
This is the error I'm seeing in the console:

<img src="http://d.pr/i/543e+">

Updated to the latest beta using the testing plugin (v. 1426451422) and still see the error.

[2015-03-16 19:00] georgestephanis commented on #1786
You mean the concatenated stylesheet?

Any extra conditional would probably go in here: https://github.com/Automattic/jetpack/blob/master/class.jetpack.php#L5456-L5524

I'd like to see this in a 3.4.1 point release.

@obenland Do you see anything that looks like `"\r\n"` in the source if you run it with WP_DEBUG on?

[2015-03-16 19:04] georgestephanis commented on #1789
Why?

[2015-03-16 19:22] jeffgolenski commented on #1789
Per a internal slack / p2 discussion regarding Jetpack's UI with @mikeyarce @kraftbj , and @richardmtl around Feb. 17th:

"Users have a hard time finding the “Disconnect” button, and it should be a little more prominent so JP support doesn’t have to show them where it is every time, when troubleshooting. We don’t want to something obnoxious, but something a little more noticeable would help."

Fee

[2015-03-16 19:35] samhotchkiss commented on #1561
@georgestephanis - any ideas on this?

[2015-03-16 19:40] samhotchkiss commented on #1768
@jeherve - I'm not seeing these issues any more, it looks like they were cleaned up.  Will you update and see if they're still there, and, if not, close?

[2015-03-16 19:41] mikeyarce commented on #1768
@samhotchkiss thanks for the tip!  That's good for us to know since that will likely be a question we get from a lot of users :)

[2015-03-16 19:42] samhotchkiss commented on #1681
Makes sense-- this isn't going to make it for 3.4, but I'm tagging it for 3.4.1, which should happen within 3 weeks, probably sooner

[2015-03-16 19:43] samhotchkiss commented on #1681
cc: @michaeldcain

[2015-03-16 19:48] obenland commented on #1786
I don't. Yes, it looks like it just needs another check there. With `SCRIPT_DEBUG` on it doesn't enqueue it, as expected.

[2015-03-16 19:50] samhotchkiss commented on #407
@kraftbj - leaning toward tagging this as `wontfix` - opinion?

[2015-03-16 19:58] richardmtl opened #1793 "Subscriptions: Clicking on Subscribe button without having entered an email address reloads the page"
If you have the Subscription widget and click the Subscribe button without having added an email address to the field, it simply reloads the page. Ideally, it'd avoid the page reload and display a message notifying the user that they should add an email address.

[2015-03-16 20:32] georgestephanis commented on #1793
We could probably get this in to a point release by adding some js that just fails the submit and focuses the box.

Alternately use html5 required attributes.  Or both.

[2015-03-16 22:49] RCowles commented on #1534
Another report here:
https://wordpress.org/support/topic/custom-css-editor-doesnt-like-flexbox?replies=1

[2015-03-17 00:33] samhotchkiss commented on #1782
@jessefriedman ^

I don't think this needs to be addressed for 3.4, we can handle in 3.4.1

[2015-03-17 00:45] samhotchkiss commented on #1790
@georgestephanis -- who would be the right person to help look at this?

[2015-03-17 00:51] samhotchkiss commented on #1786
Tagged for 3.4.1

[2015-03-17 01:30] #1759 closed

[2015-03-17 07:40] jeherve commented on #1768
@samhotchkiss I still see some alignment issues. Some of the elements are left aligned, while others are centered:

![screen shot 2015-03-17 at 8 39 28 am](https://cloud.githubusercontent.com/assets/426388/6683065/34a2667a-cc81-11e4-9993-74cf7f509f75.png)

[2015-03-17 07:59] Clorith opened #1796 "Stats overflowing and underflowing on desktop and mobile"
These all occur on the individual stats page.

The Search Engine Terms can overflow as they please, this happens on all devices, see desktop screenshot below
![desktop-view](https://cloud.githubusercontent.com/assets/468735/6683234/bc406f1c-cc83-11e4-97e3-24475f95c9b7.PNG)

The same overflow makes some awkward sidescrolling on mobile, but mobile also cuts off everything else on the stats page unfo

[2015-03-17 10:20] adiacone commented on #1774
@pixedelic I've been pulling my hair for the last few hours trying to figure out how to remove the default styling for the <code>[portfolio]</code> shortcode. I'm currently using this:

[code]

Seems to work fine for all modules, except for the Portfolio, even though I tried all sorts of hooks and priorities. Is it because it's loaded in the footer?

Thanks!

[2015-03-17 11:36] jeherve commented on #1774
@adiacone `wp_deregister_style( 'jetpack-portfolio-style' );` should do the trick ([#](https://github.com/Automattic/jetpack/blob/master/modules/custom-post-types/portfolios.php#L469)). `sharedaddy` and `grunion.css` are used for the sharing buttons and the contact form.

[2015-03-17 12:58] #1771 closed

[2015-03-17 12:58] #1790 closed

[2015-03-17 13:07] samhotchkiss opened #1800 "Link from WordPress.com to enable Manage is improper"
Pointed out by @jeherve:
Since Manage now has its own module instead of a setting under Jetpack > Settings > JSON API > Configure, the links asking you to enable Manage on <a href="http://wordpress.com/plugins">wordpress.com/plugins</a> lead you to an empty page (`/wp-admin/admin.php?page=jetpack&configure=json-api`)

Since there's no longer a fixed page to enable this, how should we handle?  Shou

[2015-03-17 13:39] #1781 closed

[2015-03-17 14:46] mikeyarce commented on #1800
also reported here: https://github.com/Automattic/calypso-pre-oss/issues/4540

[2015-03-17 16:47] jeffgolenski commented on #1785
I believe I just repaired this with: https://github.com/Automattic/jetpack/commit/ebfdf429a3d5d15cf503990bedf27929ef10071d @mikeyarce can you verify? I tested in ie 9 + 10 on windows 7 (within browser stack).

Please be sure to clear your cache and test master again!

[2015-03-17 19:02] lizthefair commented on #1682
As a follow up the user in Shawna's thread above did more testing and reports the following:

[2015-03-17 20:44] mikeyarce commented on #1785
Odd - I'm still seeing the issue after updating Master and clearing the caches.

[2015-03-17 20:46] jeffgolenski commented on #1785
I'll check it out again either en route to London or once I get there

On Tuesday, March 17, 2015, Mikey Arce <notifications@github.com> wrote:

[2015-03-17 21:00] jeffgolenski commented on #1785
@mikeyarce in the meantime, here's a screenshot of what I've got right now. But again, see above message. I'm sure there's something getting in the way.
![screen shot 2015-03-17 at 4 52 08 pm](https://cloud.githubusercontent.com/assets/214813/6697438/e414de04-ccc6-11e4-8086-779c690b6e7b.png)

[2015-03-17 21:17] mikeyarce commented on #1785
I spun up a new site to test the changes, looks good now.  Probably a Windows problem with my old site.  I'm going to blame mr. Paperclip.

[2015-03-17 21:18] #1785 closed

[2015-03-18 12:12] jeffgolenski opened #1807 "Jetpack settings sidebar overlaps footer"
The sidebar within the Jetpacks settings area overlaps into the footer, slightly. Changes depending on vertical height of content. Problem is due to absolute positioning.

https://cloudup.com/c0E-rPMg5xy

[2015-03-18 12:38] #1807 closed

[2015-03-18 13:47] jeffgolenski commented on #1768
Left aligned!

[2015-03-18 13:49] jeffgolenski opened #1809 "Style Jetpack dash widget connect box more appropriately"
The connect box for the Jetpack dash widget needs to be restyled to be less distracting for users.

https://cloudup.com/cA_YeLFCcKo

[2015-03-18 17:03] jeherve opened #1812 "Omnisearch: notice when Omnisearch is activated on some sites"
This seems to be related to the changes added in #1687:

https://twitter.com/royboyprods/status/578237476055048192

![cazp6mjuwae-wgt](https://cloud.githubusercontent.com/assets/426388/6714550/2255c214-cd99-11e4-946e-78f5c1e971c7.jpg)

cc @dereksmart

[2015-03-18 17:19] adiacone commented on #1774
@jeherve Yes, I thought so too, but it doesn't work. I left the other two lines of code to check if <code>wp_deregister_style</code> works for other modules. It works for the Sharing and Contact Form modules (and probably for all other modules), but not for the Portfolio. Seems really weird, the only reason I could think of is some sort of priority issue.

[2015-03-18 17:34] kraftbj opened #1813 "Widgets: Contact_Info_Widget conflicts with other themes"
We should namespace this better.

[2015-03-18 17:36] kraftbj commented on #1813
Reported in 2131614-t

[2015-03-18 18:05] kraftbj commented on #1813
Also in https://wordpress.org/support/topic/jetpack-34-breaks-site?replies=11#post-6707927

[2015-03-18 18:33] #1812 closed

[2015-03-18 22:00] dzver commented on #1516
This could be another option, equal to Tiles and Squares and I suspect that many people will find it nice and use it.

The original idea of the Tiled Gallery is not to create a perfectly balanced gallery. It was to create a rectangle full with photos with no white space other than margins, and with greatly varying sizes of the photos.

The example you're giving has only one shape - N images per ro

[2015-03-18 22:06] dzver commented on #84
Very nice idea. I have a question though. What happens if I have 154 images in my gallery?

The implementation of this isn't hard at all, but it wouldn't scale beyond 5-10 photos and the first one cannot be landscape.

[2015-03-18 22:14] dzver commented on #320
Currently the Tiled Gallery has shapes named Two, Three, Four, Five. Last two can get some adjusting so that they are more used with wider themes. We could also add a shape that puts variable number of photos per row.

[2015-03-18 23:33] ryelle opened #1817 "Infinite Scroll "infinite-scroll" in body_class is not applied when using click to scroll"
When Infinite Scroll is enabled using the click type to load more posts, the `body_class` function thinks it's disabled and doesn't add the class. I think this was introduced in #1208. This is causing duplicate buttons in themes that use `.infinite-scroll` to hide the core pagination links: https://themes.redradar.net/museum/

It looks like the `infinite_scroll` setting is not set, which is why `b

[2015-03-19 00:34] pento opened #1819 "Activating Jetpack Protect with BruteProtect already active causes a whitescreen"
To reproduce:

* Deactivate Jetpack Protect, if it's active
* Delete the `jetpack_protect_activating` and `jetpack_protect_key` options, for that never activated shine.
* Activate BruteProtect
* Activate Jetpack Protect

To fix, add this to the top of `Jetpack_Client_Server::deactivate_plugin()`.

[code]

[2015-03-19 01:13] roccotripaldi opened #1820 "BruteProtect blocked attempts are not imported on activation"
To fix, add Jetpack_Protect_Module::protect_call( 'check_key' ) either when the key is first obtained or in the dashboard widget.

[2015-03-19 06:43] DonTimo commented on #84
Thanks for your reply. I thought that this would be an option for small galleries nice to have, as you said. Currently you cannot set a fixed height value for the gallery (especially with smaller ones) right? So this might be the answer, to have one photo to which the others around are adjusting. Depends on how wide the landscape would be. Than there is the option to only show the landscape image

[2015-03-19 08:06] dzver commented on #84
Could you give an example of a theme that will benefit of this kind of galleries?

If you fix the height, the width will become variable. So the screen will need to be infinitely wide.

[2015-03-19 08:25] #1760 closed

[2015-03-19 10:38] #1819 closed

[2015-03-19 15:12] DonTimo commented on #84
A problem I experience sometimes with the fixed width is that Jetpack creates very high images but meanwhile puts some images in another line that would fit in one row if some images would be smaller in a whole. Maybe you know a solution to this issue?

[2015-03-19 15:13] richardmtl opened #1824 "Protect: Call to undefined function inet_pton()"
From 2132428-t:

[code]

See https://github.com/piwik/piwik/issues/2385

cc @samhotchkiss

[2015-03-19 16:14] dzver commented on #84
When #1799 gets merged, the mosaic tiles will be way more balanced.

[2015-03-19 16:17] DonTimo commented on #84
Okay, looking forward to new version. Thank you for replying!

[2015-03-19 17:30] RCowles commented on #1654
Just to close the loop, it seems the issue has been resolved as of

[2015-03-19 18:00] ryanmarkel commented on #1629
@enejb Any word on this one? We'll be putting clients on v2 before long and I just tested and it's still broken for me. I have no trouble uploading to the media library.

[2015-03-19 18:25] pippinsplugins opened #1825 "Jetpack is causing timeout errors on update-core.php"
Since Jetpack 3.4, it is causing timeout errors when loading update-core.php, both when checking for updates and when performing updates.

The timeout appears to happen after the the update checks are performed but before the results are displayed to the site admin.

It also seems to happen when attempting to install new plugins.

I've confirmed this across 5-6 sites.

The problem immediately goes

[2015-03-19 18:26] pippinsplugins commented on #1825
For example:
![screen shot 2015-03-19 at 1 25 50 pm](https://cloud.githubusercontent.com/assets/1034109/6737742/7bdebce4-ce3b-11e4-8141-6b83a6f2f315.png)

[2015-03-19 18:28] pippinsplugins commented on #1825
My sites are running on Pagely but I saw this on other sites on other hosts too.

[2015-03-19 18:39] pippinsplugins commented on #1825
One more detail: my sites are a mix of multisite and single site, so it doesn't appear to be specific to one setup.

[2015-03-19 18:50] georgestephanis commented on #1825
@pippinsplugins Do you have xdebug active on any of them that you can get a profiling dump as to the cause?

[2015-03-19 18:52] pippinsplugins commented on #1825
No I don't. I'll try and get more info for you.

[2015-03-19 19:19] samikeijonen commented on #1817
I confirm this and it'll probably affect all _s based themes. I was wondering why it's milestone is 3.5.? I think it could be fixed sooner.

[2015-03-19 19:40] bradyvercher commented on #1817
This is affecting some client sites, so I'd like to see the milestone bumped as well. I've added some unit tests and a fix if it'll help get this through faster. Thanks!

[2015-03-19 21:52] Ipstenu commented on #1825
@pippinsplugins I don't know if this is related, but I ran into this:

Hit refresh, it went away.

[2015-03-19 21:55] pippinsplugins commented on #1825
Hmm, I have not seen that but this did happen on a site without EDD, so I'd venture a guess that it is unrelated.

[2015-03-20 11:08] samhotchkiss commented on #1825
I've not been able to recreate this-- anybody else?

[2015-03-20 14:12] aheckler opened #1828 "Post By Email: Email addresses in links are half-stripped"
If I send some plaintext content with email addresses like so:

[code]

Everything comes out in the post OK. Screenshot: http://d.pr/i/1hVNw/iUvAu8IC

If I link one of the addresses with a `mailto` link, however, the `@` and everything after is stripped. Screenshot: http://d.pr/i/au7l/38Fd9ZEi

2077516-t and 2130038-t

[2015-03-20 14:17] JayGeorge opened #1829 "Mobile Theme: .screen-reader-text should be used in favour of .assistive-text"
# Summary of the issue

The Jetpack minieleven module is using .assistive-text rather than the [official WordPress class of .screen-reader-text](http://codex.wordpress.org/CSS)

Furthermore the .assistive-text class used has the visibility property set to hidden which is incorrect.
# Where to find

This can be found in wp-content/plugins/jetpack/modules/minileven/theme/pub/minileven/style.css:

CC

[2015-03-20 14:21] kraftbj commented on #1829
Related: https://make.wordpress.org/themes/2015/01/26/supporting-screen-reader-text/

[2015-03-20 14:46] richardmtl opened #1830 "Stats: Configuration options are no longer available on dashboard widget"
It used to be possible to configure the dashboard stats widget by hovering over the Title bar and clicking "Configure":

![image](https://cloud.githubusercontent.com/assets/3676359/6753698/52497ec4-ceee-11e4-9907-d6e5c57ba389.png)

As of 3.4, it's no longer possible.

[2015-03-20 14:48] richardmtl commented on #1830
Reported in 2132660-t

[2015-03-20 14:57] pippinsplugins commented on #1825
Happened again this morning:
![screen shot 2015-03-20 at 9 56 42 am](https://cloud.githubusercontent.com/assets/1034109/6753925/73cfa048-cee7-11e4-875c-8fedc648e34e.png)

I'm going to try and track it down to a specific module (if possible).

[2015-03-20 15:38] kraftbj commented on #407
`wontfix` without prejudice, so willing to take it up later as PT evolves. The current core thought that this would be better in a browser extension rather than a bookmarklet for native PT. Since it is leaning in that direction (away from the /wp-admin/press-this.php page), it would be nice to figure out something that works in Sharing. But, I wouldn't want to go through a lot of work until that l

[2015-03-20 15:38] #407 closed

[2015-03-20 20:22] sc0ttkclark opened #1833 "sharing_meta_box_content meta box should only get added for post types sharing is enabled for"
Currently, Sharedaddy does this:

[code]

Shouldn't it be checking against the Sharing settings that enable sharing for specific post types only?

[code]

[2015-03-20 20:38] kraftbj commented on #1833
There could be an odd use case for it as it is. Set to show on home/front page, not to show on Posts. On the homepage, the sharing links would display for posts, only not on single post pages.

The option is for display not enablement, per se. That said, the change makes sense to me.

[2015-03-20 20:47] georgestephanis commented on #1830
Is possible, hover over stats header in the widget.

[2015-03-20 20:55] jeremeylduvall opened #1834 "Bulk Editing Previously Published Posts from Draft to Published Resends Notification Email"
Steps to reproduce:

1. Publish a post. It sends a notification email as it should.

2. Change that post to a draft.

3. Switch that post back to "Published" using the Bulk Edit Tool (I think this happens with Quick Edit as well). Provided the Subscription Module is activated, a new email is sent out.

We should probably only send one post notification out when the post is originally published and

[2015-03-20 20:59] sc0ttkclark commented on #1833
I see 'index' used elsewhere, so then this would be acceptable IMO:

[code]

[2015-03-20 21:08] mikeyarce commented on #1834
I was able to reproduce in both Bulk Edit and Quick Edit.

[2015-03-21 10:34] jessefriedman commented on #1789
I would suggest better documenting how to disconnect on jetpack.me. If we do it right a simple google search for "Disconnect Jetpack" will answer the users problem pretty quickly.

[2015-03-21 10:56] jessefriedman commented on #1649
What do we think of a profile button at the top of the page (1) that leads to your .com profile (2)?

1. https://cloudup.com/iHnIkCQCjpc
2. https://cloudup.com/iaIBR23UCIF

[2015-03-21 11:00] jeherve commented on #1649
That would only work when people have access to that WordPress.com profile. Other admins and users on the site don't, and in many cases the primary admin isn't connected to their WordPress.com account anymore.

I like the idea of the profile button, though. How would you display that button to other users on the site? There would have to be a difference between the existing master connection and t

[2015-03-21 11:47] jessefriedman commented on #1649
Round two

https://cloudup.com/c1x5Zrxq6c5

Users who are connected will see links to their .com profile. If you are a non owner it defines that in the profile.

[2015-03-21 14:34] krogsgard commented on #1649
Would this show the owner account to the non-owner? That's part of the point, to try and figure out which account is actually connected.

[2015-03-21 14:55] aheckler opened #1835 "Protect: Add link to IPv6 range calculator?"
IPv6 formatting is hard. We should consider adding a link to a range calculator (like [this one](https://www.ultratools.com/tools/ipv6CIDRToRangeResult?ipAddress=2001%3A980%3A5686%3A1%3A%3A%2F64)) to the Protect configuration page:

![screen shot 2015-03-21 at 10 55 08 am](https://cloud.githubusercontent.com/assets/5512652/6765494/c179699c-cfb8-11e4-93d0-55e71f37dcdd.png)

Requested in 2131883-t.

[2015-03-21 15:00] jeherve opened #1836 "Publicize: wpas_default_prefix doesn't apply for scheduled posts"
Reported here:
https://wordpress.org/support/topic/wpas_default_prefix-doesnt-work-for-scheduled-custom-post-types-with-publicize?replies=1&view=all

[2015-03-21 17:56] aheckler commented on #1824
Seeing a related problem on my personal site. On `wp-login.php` I am seeing this error:

`Warning: inet_pton(): Unrecognized address 2601:8:3200:7125:6d67:7d94:9b8:84db in /home/adamheck/public_html/wordpress/wp-content/plugins/jetpack/modules/protect.php on line 276`

The IP shown is my IPv6 IP, but it turns out that the version of PHP on my server was not compiled with IPv6 support, so `inet_pto

[2015-03-21 18:31] jeherve commented on #453
Related: #1550

[2015-03-21 18:31] jeherve commented on #1007
Related: #1550

[2015-03-21 18:42] jeherve opened #1837 "Protect: searching for "Security" in Jetpack > Settings should return the Protect module"
A short term solution would be to change the module description to include the word "Security", but on the long term we would need to improve the way Search works, so it becomes more relevant.

Related: #614

Suggested here:
https://twitter.com/robertdall/status/579350661080293376

[2015-03-22 16:58] lkwdwrd opened #1838 "Jetpack Fatal Errors"
Something in the most recent update caused my site to start fataling. I'm getting the following

[code]

Running on php-fpm results in a bad gateway error.

[2015-03-22 17:42] kraftbj commented on #1838
Can you confirm which version of Jetpack you're running and what line 85 of class.jetpack-heartbeat.php has?

Looking in the tagged 3.4.1, L85 is blank: https://plugins.trac.wordpress.org/browser/jetpack/tags/3.4.1/class.jetpack-heartbeat.php#L85 so would like to make sure we're looking at the same thing. We've seen in a couple cases where a server would retain an older version of a particular fil

[2015-03-22 22:41] EvanHerman opened #1839 "Upgrade to 3.4.1 throws undefined wp_get_current_user() fatal error"
After upgrading to 3.4.1 yesterday, I can no longer access the front end of my site. It throws a fatal error :
[code]

I've seen a thread or two pop up in the wordpress.org forums, but not in the jetpack support forum specifically or here on github.

reference: https://wordpress.org/support/topic/jetpack-34-breaks-site

Only solution I've found is to temporarily deactivate Jetpack.

Evan

[2015-03-22 23:21] antonio-petricca opened #25600 "Mobile caching not working (debug log provided)"

[2015-03-23 00:01] emiluzelac opened #1840 "Weird iframe after the update"
Hi folks,

Few moments ago I've upgraded the Jetpack and all went well:

[code]

However just under this Jetpack page showed up in an iframe: `/wp-admin/admin.php?page=jetpack`

![screen shot 2015-03-22 at 6 24 05 pm](https://cloud.githubusercontent.com/assets/1784526/6772186/b2c03134-d0c5-11e4-8530-5b18c32edbda.png)

Thanks!

Cc: @georgestephanis

[2015-03-23 00:42] kraftbj commented on #1839
Evan—would it be possible to get a stack trace of that error? I haven't been able to duplicate this on my end.

If not, could you include additional details on your site—what version of WP are you running, what modules of Jetpack did you have active, etc?

Thanks!

[2015-03-23 01:07] kraftbj commented on #1840
Taking a bit of a stab in the dark. Perhaps something tied onto the `upgrader_process_complete` action or the output buffer having the JP stored (by way of the upgrader firing `$this->skin->footer();`

[code]

[2015-03-23 02:59] kraftbj commented on #1840
No real determination of cause, but here's where it is coming from on the WP level:
Could duplicate it with the single plugin installer (via Plugins->Installed Plugins-> Upgrade on the JP line item).

Loading: `<iframe style="border:0;overflow:hidden" width="100%" height="170px" src="update.php?action=activate-plugin&amp;networkwide&amp;plugin=jetpack%2Fjetpack.php&amp;_wpnonce=xxxxx"></iframe>`

[2015-03-23 03:21] emiluzelac commented on #1840
Thanks Brandon 😀

On Sunday, March 22, 2015, Brandon Kraft <notifications@github.com> wrote:

[2015-03-23 10:17] jeherve commented on #1774
Hm, that's weird.

@michaeldcain Any idea how to dequeue the Portfolio stylesheet that's enqueued inside the shortcode?

[2015-03-23 14:04] kraftbj opened #1841 "Protect: Ensure Math_Autentication class is loaded"
Quick read of the code suggests that the `Jetpack_Protect_Math_Authenticate` class is only defined via `include ... /protect/math-fallback.php` which is called in `check_use_math`, which is fired on `add_action( 'login_head', ..) L50 or `check_login_ability`

In `check_preauth` (fired as a filter on `authenticate`), the `Jetpack_Protect_Math_Authenticate::math_authenticate();` function is fired on

[2015-03-23 15:01] kraftbj opened #1842 "Protect: WP.com should have global whitelist"
With the to-be-launched Security tab, I have to add my IP to the whitelist on every single site, either via /wp-admin/ or wp.com/settings/security/[url]. It would be nice to have a field at wp.com/settings/security/ to "These IPs should be whitelisted on all my JP sites".

[2015-03-23 15:09] jeherve commented on #855
Also suggested here:
https://wordpress.org/support/topic/comments-via-local-account?replies=1&view=all

[2015-03-23 15:15] kraftbj opened #1843 "Subscriptions: Restore option to display subscriber count"
3.4 changed the way subscriber widget displays sub count (previously include it via an option vs now requiring user to add a quasi-shortcode)

Generating a solid amount of user pushback.

Related: #1556, #1527, 4ca209da5c8dd544981bd7129f3592f5e3de34ae, 5e9e97b0e4f17588cbb1a9d6cf9f0e1730ca3db8

[2015-03-23 15:16] kraftbj commented on #1843
Idea: If option from former versions is present (if we still have that in the db), add predefined text. Still allows editing and new users could follow new way.

[2015-03-23 15:21] aheckler commented on #1843
A couple I'm handling right now:

- 2133801-t
- 2132786-t

There were more over the last few days, but they're somewhere in my closed tickets and I can't find them now.

[2015-03-23 17:04] CFXd opened #1844 "Modify or override the Tiled Gallery template"
In response to https://wordpress.org/support/topic/possible-to-modify-or-override-the-tiled-gallery-template?replies=2#post-6727884

I'd really like to be able to customize the Tiled Gallery template. The specific customizations I have in mind for my project are:

1. Replacing the "original image" that's hosted on the CDN to the actual original image on my server
2. Adding some markup to the galle

[2015-03-23 17:28] jeherve commented on #1844
We'll need to add a filter [here](https://github.com/Automattic/jetpack/blob/3.4.1/modules/tiled-gallery/tiled-gallery.php#L123) to make that possible.

It might be worth trying this small plugin: it enables Lazy Load for Tiled Galleries:
https://github.com/rase-/Jetpack-Tiled-Gallery-Lazy-Load

cc @rase-

[2015-03-23 17:48] pmgarman opened #1845 "Module idea: SMTP Relay Service"
Email deliverability is a thing, most WordPress site owners just do not know that it is a thing. Emails "just work" and their WordPress site sends emails from their cPanel hosts just fine... BUT sometimes it needs a little help. Not to mention the number of sites going to "the cloud" (read: any sort of virtual machine) ... but sending emails from any sort of virtualized network is generally not gr

[2015-03-23 17:56] pippinsplugins commented on #1825
I've tracked this down to a conflict with our custom plugin updater in Easy Digital Downloads: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/EDD_SL_Plugin_Updater.php

My guess is that the auto update class and EDD's is conflicting: https://github.com/Automattic/jetpack/blob/master/class.jetpack-autoupdate.php

[2015-03-23 18:00] samhotchkiss commented on #1825
Hey Pippin, can you send me a copy of EDD to test with?  sam at automattic

[2015-03-23 18:01] pippinsplugins commented on #1825
It's available on .org: https://wordpress.org/extend/plugins/easy-digital-downloads/

Or github: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/

[2015-03-23 18:01] samhotchkiss commented on #1825
:+1: will check this out

[2015-03-23 18:01] pippinsplugins commented on #1825
My best guess so far is that it's due to this: https://github.com/Automattic/jetpack/commit/46851431e0ed54df6a470b989ae49efd8aedfd1d#diff-ac54787f5c8bcac1491098d8fb5a8d18

[2015-03-23 18:02] samhotchkiss commented on #1825
@roccotripaldi can you take a look at ^

[2015-03-23 18:03] CFXd commented on #1844
I can try to put together a PR for the filter.

It seems like quite a bit of overhead to add a plugin just to lazy load part of a site, especially when the remaining site may already use a custom (i.e., non-plugin) lazy loading solution.

[2015-03-23 18:04] pippinsplugins commented on #1825
Oh! There's no return in `save_update_data`. It needs to the value passed to it since it's being called on a filter. I'll submit a PR now.

[2015-03-23 18:05] pippinsplugins commented on #1825
Wait, maybe not, you're using the action instead of the filter, so that could be fine.

[2015-03-23 18:07] pippinsplugins commented on #1825
Ok scratch that, I forgot there was an action called `set_site_transient_{transient}` and not just filters.

[2015-03-23 18:09] arkonlabs commented on #1841
If it helps at all, i'm also experiencing this issue. None of my users are able to log into their own website.
![screen shot 2015-03-23 at 1 09 04 pm](https://cloud.githubusercontent.com/assets/5146215/6787021/d84a3dda-d15d-11e4-9f74-abd4074ba4f0.png)

[2015-03-23 18:11] mikeyarce commented on #259
Requested in 2134159-t

[2015-03-23 18:18] samhotchkiss opened #1846 "Error on plugin activate immediately after install"
https://cloudup.com/c0qW91ox_Q9

Redirecting back to reinstall the plugin after it's already been installed

[2015-03-23 18:19] samhotchkiss opened #1847 "Missing "Connect" banner on plugin list after activation"

[2015-03-23 18:49] jeherve commented on #1845
Jetpack already uses WordPress.com mail servers for most of the features that require emails, with the exception of the emails generated by contact form submissions. I think we'd rather start using WordPress.com mail servers for that too, instead of adding a new module.

But we'll consider your idea!

[2015-03-23 18:55] kraftbj commented on #1843
Another idea: If the show count option is in the db to show subs number and the text matches the default, save the widget instance again dropping the show count option and saving the previously used text.

[2015-03-23 19:11] pmgarman commented on #1845
Yeah figured wordpress.com had a smtp service of some sort that already powers millions of sites, so tapping into that to give any Jetpack user the ability to send reliable emails would be awesome.

[2015-03-23 20:04] krishaamer commented on #1844
+1. A site I'm building uses isotope on all the other pages and I'd like to create a template for the gallery to follow the same style.

[2015-03-23 20:52] jenhooks commented on #869
2133205-t

[2015-03-23 23:10] galbaras opened #1848 "Feature request: Floating page-based social sharing sidebar/widget"
Floating social sharing sidebars are quite common nowadays and encourage visitors to share the page they're on by having the sharing buttons visible to them all the time. It would be a great addition to Jetpack to have something like this.

Styling can be easily "borrowed" from other plugins (a quick Google image search for "floating social sidebar" shows many great options). However, the main poi

[2015-03-24 02:18] melchoyce opened #1849 "Contact Form: Form builder loads and then jumps up 10-20px"
I'm seeing this issue on both WordPress.com and WordPress.org. When you open the contact form builder, once it finishes loading, the entire builder window hops up 10-20px or so. It's not so much of an issue on .org, but on .com, the window label and "x" cut really close to being underneath the admin bar.

Video recording of both: https://cloudup.com/c5lbMRctVj7

[2015-03-24 09:55] cambiatufisico commented on #855
"enejb removed their assignment"

Hummm... this looks bad...

[2015-03-24 11:05] jeherve commented on #855
@cambiatufisico Enej works on other parts of Jetpcak now, but don't worry:  if that suggestion becomes popular we'll consider adding it to Jetpack!

[2015-03-24 14:59] jeherve opened #1850 "Devicepx: add it as a module or a theme tool to avoid confusion"
Right now, `devicepx-jetpack.js` is enqueued on your site as soon as you activate Jetpack, and even before you connect your site to your WordPress.com account. There is no mention of it anywhere in the Jetpack menu, and no way to deactivate it without code.

It would be nice to offer an option to disable it from the dashboard, or add it as a theme tool via `add_theme_support()` so it's not on by d

[2015-03-24 15:03] jeherve commented on #1850
Related: #804

[2015-03-24 15:54] georgestephanis commented on #1850
Honestly, I really want to just drop devicepx entirely, we just need to get browser native support up first.

[2015-03-24 17:15] pippinsplugins opened #1851 "JS ReferenceError from stats module"
There's a `ReferenceError` coming from the stats module:
![screen shot 2015-03-24 at 12 11 39 pm](https://cloud.githubusercontent.com/assets/1034109/6807839/f28951f6-d21e-11e4-988a-3f209f3cac99.png)

Looks like this is happening because `stats_dashboard_head()` is loading on non-dashboard pages.

[2015-03-24 17:38] jeherve commented on #1842
Also suggested here:
https://wordpress.org/support/topic/jetpack-protect-how-to-define-whitelist-ips-network-wide-on-multisite?replies=3&view=all#post-6734232

[2015-03-24 18:20] jeherve commented on #1842
Also suggested here:
https://wordpress.org/support/topic/jetpack-protect-and-wordpress-multisite?replies=1&view=all

[2015-03-24 19:19] BinaryMoon opened #1854 "Add Custom Colors from wp.com"
I make premium themes for wp.com and so it would be great if I could set up the custom colours through the customizer on my dev environment.

Currently the colour annotations are controlled by wordpress.com theme team. Moving it to Jetpack would mean I can control the colours - this would mean better coverage (since I know the theme better than anyone) and I can update the annotations when new col

[2015-03-24 19:53] kraftbj commented on #1854
cc: @ianstewart

[2015-03-25 06:14] kraftbj opened #1856 "Protect: Resolve PHP unindexed notices"
Notice: Undefined index: jetpack_protect_num in /srv/www/wordpress-develop/src/wp-content/plugins/jetpack/modules/protect/math-fallback.php on line 25

Notice: Undefined index: jetpack_protect_answer in /srv/www/wordpress-develop/src/wp-content/plugins/jetpack/modules/protect/math-fallback.php on line 27

Steps to duplicate:
1. Open wp-login.php (no math fallback)
2. Kill the server's ability to c

[2015-03-25 09:38] samhotchkiss commented on #1841
Hey @arkonlabs -- I've got a fix for this ready to go here: https://github.com/Automattic/jetpack/pull/1857/files

Can you try manually applying this and let us know if it clears things up?

[2015-03-25 11:20] jeherve opened #1858 "Site Icon: module outputs extra characters in the RSS feed that cause the feed to be invalid"
`rss2_icon` seems to output the site URL before the `<image>` tag:

![screen shot 2015-03-25 at 11 58 09 am](https://cloud.githubusercontent.com/assets/426388/6823199/3d047644-d2e6-11e4-85f7-a0ebe0c5c366.png)

It breaks all RSS feeds on sites using the Site Icon module.

Reported here:
https://wordpress.org/support/topic/jetpack-invalidates-my-rss-url

[2015-03-25 11:57] Konceptuel commented on #1841
Hi @arkonlabs
this is what we experience as well:

[2015-03-25 13:55] swissspidy commented on #755
+1 for this. I just wanted to add WhatsApp as a custom provider, but it's not possible because of the `esc_url_raw` call in the `new_service()` method ([example](https://github.com/Automattic/jetpack/blob/c55697060646b1e03b79c19e402c746ab4441bcc/modules/sharedaddy/sharing-service.php#L82)), which disallows using `whatsapp://`or any other protocol.

[2015-03-25 14:18] richardmtl commented on #1122
Another: 2136751-t

[2015-03-25 14:26] jeherve commented on #755
@swissspidy Yeah, you'd have to add that service through a separate plugin, like in [this example](https://github.com/jeherve/mwp-sharing-jetpack).

[2015-03-25 14:49] chaselivingston commented on #1839
Also reported in 2132721-t

[2015-03-25 15:57] Schweinepriester commented on #1534
push for flexbox :)

[2015-03-25 17:15] jeherve opened #1860 "Tiled Galleries: improve layout when printing"
When printing Tiled Galleries, the image layout gets broken because of the lack of Javascript. Things get worse when lazy loading the images, and shown in this thread:
https://wordpress.org/support/topic/tiled-gallery-printing-javascript

It'd be nice to come up with a better tiled layout just for print.

[2015-03-25 17:17] jeherve commented on #1824
Also reported here:
https://wordpress.org/support/topic/jetpack-34-update-fatal-error-call-to-undefined-function-wp_generate_password?replies=11&view=all#post-6734219

[2015-03-25 17:23] jeherve opened #1861 "Protect: add network-wide panel on multisite networks"
It would be nice to add a security panel allowing Mutlisite super admins to change whitelist settings for all sites in their network, at once.

Suggested here:
https://wordpress.org/support/topic/jetpack-protect-and-wordpress-multisite?replies=3&view=all#post-6734629

Related: #1842

[2015-03-25 17:56] jeherve commented on #1824
Also reported in these threads:
https://wordpress.org/support/topic/error-in-jetpack-2?replies=1&view=all
https://wordpress.org/support/topic/connecting-jetpack-to-wordpresscom-causes-error-in-wp-login?replies=5&view=all

[2015-03-25 18:03] jeherve commented on #1813
Could we revert to a unique namespace instead of [looking for a theme name](https://github.com/Automattic/jetpack/blob/master/modules/widgets/contact-info.php#L9)? Many themes are based off Avada, and we won't be able to check for each theme name in Jetpack.

Reported here with a theme named `jwe`, for example:
https://wordpress.org/support/topic/help-just-updated-now-cant-get-in-admin-panel-500-s

[2015-03-25 18:20] lumpysimon commented on #1841
I'm seeing this too since the Protect module was added, it's happening on every login attempt (blank white screen, fatal error in the PHP error log).

@samhotchkiss's fix works for me.

[2015-03-25 18:29] jeherve opened #1862 "Site Icon: support transparent background in icons"
It'd be nice if site owners could upload icons with transparent backgrounds.

Suggested here:
https://wordpress.org/support/topic/background-on-ios-favicon-with-transparent-png?replies=1&view=all

[2015-03-25 18:56] kraftbj commented on #1813
The solution in #1814 is still valid.

The item we cannot change is https://github.com/Automattic/jetpack/blob/e47fb86d08d5c153398c521211ce66afeb58bb26/modules/widgets/contact-info.php#L49 . That instance of `widget_contact_info` is what WP is using to link the widget to the db.

The PHP class and related functions can be changed without impacting existing instances of the widget from the testing

[2015-03-25 19:43] odie2 commented on #1860
The simplest CSS solution for brutal force disable tiled layout could be:

[code]

[2015-03-25 22:09] JayHoltslander commented on #1841
@samhotchkiss Thank you.

[2015-03-26 10:06] shield-9 commented on #1541
I couldn't find solution, but it works now.
(maybe WP.com server-side problem)

[2015-03-26 10:06] #1541 closed

[2015-03-26 10:07] shield-9 commented on #1770
I've confirmed that this issue is fixed.

[2015-03-26 10:07] #1770 closed

[2015-03-26 10:35] jeherve commented on #1858
Also reported here:
https://wordpress.org/support/topic/rss-feed-now-invalid?replies=1&view=all

[2015-03-26 11:41] jeherve opened #1863 "Admin UI: add standard WP footer to the bottom of the admin pages"
Jetpack doesn't include the standard admin footer that appears on all other dashboard pages, and for that reason site owners can't use hooks like `in_admin_footer` to add content to the footer on our pages.

It'd be nice to add this footer back. It was removed when we switched to the new UI back in Jetpack 3.0.

Suggested here:
https://wordpress.org/support/topic/main-jetpack-and-settings-page-do-

[2015-03-26 13:33] jeherve commented on #1841
Also reported here:
https://wordpress.org/support/topic/jetpack-with-protect-breaks-all-my-websites?replies=6&view=all

[2015-03-26 13:49] jeherve commented on #1841
Also reported here:
https://wordpress.org/support/topic/php-fatal-error-in-protect-math-authenticate?replies=1&view=all

[2015-03-26 15:30] jeherve commented on #1839
Also reported here:
https://wordpress.org/support/topic/update-caused-white-page-of-death?replies=3&view=all

[2015-03-26 15:44] richardmtl commented on #1824
Also 2138955-t

[2015-03-26 16:36] kraftbj opened #1864 "Photon: Limit to originating domain"
For popular posts, scrapers will often pick up the entire post, including referencing the original `img` tags. For Photon-enabled sites, this means the scrapers are effectively hotlinking from Photon.

Suggested: Disallow requests from non-originating domains or make an option to do so.

Originally requested in WP Core Slack via private message.

[2015-03-26 16:37] kraftbj commented on #1864
cc: @topher1kenobe

[2015-03-26 16:45] kraftbj commented on #1838
@lkwdwrd Checking in again on these details.

[2015-03-26 16:51] jeherve commented on #1071
Similar issue with the Jetpack Comment form.

Reported here:
https://wordpress.org/support/topic/please-fix-w3-validation-errors?replies=1&view=all

[2015-03-26 16:58] jeherve commented on #1841
Also reported here:
https://wordpress.org/support/topic/fatal-error-1569?replies=1&view=all

[2015-03-26 17:02] jeherve opened #1865 "Fatal error in class.jetpack.php: Using $this when not in object context"
When activating the plugin:

`Fatal error: Using $this when not in object context in /home3/tony/public_html/wp-content/plugins/jetpack/class.jetpack.php on line 1534`

Reported here:
https://wordpress.org/support/topic/jetpack-causing-fatal-errors?replies=1&view=all

[2015-03-26 17:58] richardmtl opened #1866 "Publicize doesn't respect the OG tags set by other plugins"
If setting a different OG tag (such as the og:description through Yoast's SEO plugin), the Publicized post doesn't respect the new OG tag; instead, it Publicizes what the OG tag would be if it were Jetpack that was generating the tags.

However, running the post through Facebook's debugger shows the OG tags as set by the other plugin. This is unexpected behaviour for a user. First mentioned in 213

[2015-03-26 18:08] bobbingwide opened #1867 "contact-field shortcode issues Warning if used on its own with no parameters"
I was documenting the syntax of Jetpack's shortcodes and inadvertently tried
[contact-field] on its own.

It produced.

Warning: Invalid argument supplied for foreach() in C:\apache\htdocs\oikcom\wp-content\plugins\jetpack\modules\contact-form\grunion-contact-form.php on line 1177

Not a major problem.

As an aside. If you do something silly like
[contact-form show_subject="no" submit_button_text=

[2015-03-26 18:33] jeherve commented on #1841
Also reported here:
https://wordpress.org/support/topic/jetpack-protect-is-locking-me-out?replies=4&view=all

[2015-03-26 18:37] jeherve commented on #1813
Also reported here with a theme named `archerindustries`.
https://wordpress.org/support/topic/fatal-error-cannot-redeclare-class-contact_info_widget

[2015-03-26 18:43] jeherve commented on #1841
Also reported here:
https://wordpress.org/support/topic/jetpack_protect_math_authenticate

[2015-03-26 19:16] jwenerd opened #1868 "Updating from older Jetpack version causes redirect to admin even when requesting frontend site"
We are upgrading from Jetpack 3.3 to 3.4.1

The activate_new_modules method in the Jetpack class calls activate_default_modules which then results in a redirects to /wp-admin/admin.php?page=jetpack from this line: https://github.com/Automattic/jetpack/blob/3.4.1/class.jetpack.php#L1956

This is the backtrace I used to find the problem: https://gist.github.com/jwenerd/ae8c924fb8c9a215f9dd

[2015-03-26 20:03] richardmtl opened #1869 "Publicize: Add StumbleUpon as a service"
As requested in 2137808-t

[2015-03-26 20:03] richardmtl opened #1870 "Publicize: Add Instagram as a service"
As requested in 2137808-t

[2015-03-26 21:29] kraftbj opened #25599 "Preload Schedules may not flush on change"

[2015-03-26 23:55] kadimi commented on #1839
@kraftbj

Maybe this could help

- WordPress 4.1.1
- PHP 5.4
- Jetpack 3.4.1 with all modules deactivated

This happens on my server, I'll migrate to my computer to produce a backtrace.

[2015-03-27 01:31] jenhooks commented on #869
2138537-t

[2015-03-27 03:52] lkwdwrd commented on #1838
Thanks @kraftbj It was running 3.0, so there was probably an issue there, sorry. I've had an issue with two of my sites, though, where I activate jetpack and nginx starts throwing 502s, which is why I was trolling the logs a bit for jetpack errors. I have a couple of small sites co-located on the server. Everythign starts working again when I comment out the the auto-updates module.

https://githu

[2015-03-27 03:52] #1838 closed

[2015-03-27 03:55] lkwdwrd commented on #1846
I've been having similar issues on a couple of my sites. Both https://lkwdwrd.com and another non-public site.

I got both working again after commenting out the include of the auto-updates module: https://github.com/Automattic/jetpack/blob/master/jetpack.php#L50

Haven't dug in deeply to see why this caused nginx to start throwing 502s, but they are both at least operational again.

[2015-03-27 08:38] bobbingwide opened #1871 "portfolio shortcode missing ob_start() when there are no posts to display"
The portfolio / jetpack_portfolio shortcode misbehaves when there are no posts to display.
The page can become very badly formatted.

Expected output:
Your Portfolio Archive currently has no entries. You can start creating them on your dashboard.

Actual output:
This message appears in the wrong place

Problem explanation:
missing call to ob_start() in the else for if ( $query->have_posts() )

Fix

[2015-03-27 09:42] bobbingwide commented on #1871
Same problem and fix for the testimonial shortcode.

[2015-03-27 11:15] jeherve commented on #1871
cc @michaeldcain

[2015-03-27 11:17] jeherve commented on #1869
Closing as duplicate of #265

[2015-03-27 11:17] #1869 closed

[2015-03-27 11:22] bobbingwide opened #1872 "remove_shortcode( 'portfolio' ) probably does more harm than good."
The removal of the portfolio shortcode ( at the end of the portfolio_shortcode_html() method ) can lead to unexpected and unwanted results.

The first is that this message is issued.

`Warning: call_user_func() expects parameter 1 to be a valid callback, no array or string given in C:\apache\htdocs\wordpress\wp-includes\shortcodes.php on line 283
`

The second is that the user doesn't get to see t

[2015-03-27 11:27] jeherve commented on #1872
cc @michaeldcain

[2015-03-27 13:03] bobbingwide commented on #1872
Same applies for the [recipe] shortcode.

[recipe title="A nice cuppa" time="2 mins"]
Include [[recipe]] shortcode
[/recipe]

[recipe title="How to make a cup of coffee"]
Similar to tea but you use coffee.
[/recipe]

[2015-03-27 13:20] aheckler opened #1873 "Contact Form: Other user using admin email as notif address doesn't work"
To reproduce:

1. On test site, set the admin email (under Settings > General) to `something@domain.com`.
2. As a second user (with email `different@domain.com`), create a page with a contact form.
3. In the contact form, don't set a custom email notification address.
4. Fill out contact form and send.
5. Email goes to `different@domain.com` as expected, since they are the page author.
6. Edit pag

[2015-03-27 14:37] jeherve commented on #1813
Same issue with the [Terra theme](http://themeforest.net/item/terra-responsive-multipurpose-wordpress-templete/4396320).

[2015-03-27 14:55] aheckler commented on #1873
From 2134072-t.

@chaselivingston also had one like this. Mind dropping the ticker # here? :)

[2015-03-27 14:55] jeherve opened #1874 "Custom CSS: add option or filter to turn off some of CSSTidy's features"
It would be nice if site owners could disable some of the features that create code that doesn't match their coding standards, such as removing leading zeros.

Suggested here:
https://wordpress.org/support/topic/css-stylesheet-editor-is-buggy-use-simple-custom-css-instead?replies=3&view=all#post-6745116

[2015-03-27 15:04] chaselivingston commented on #1873
2138026-t

[2015-03-27 15:47] RCowles opened #1875 "Protect: Add admin notice upon activation"
When Protect is enabled (manually or auto-activated) it would be nice to include an admin notice. This notice could briefly explain Protect, and prompt the admin user to whitelist their IP Address right away. This would help to avoid situations where an admin is accidentally locked out from their Dashboard. (See #2139552-t for reference)

[2015-03-27 16:20] jeherve commented on #1813
Same issue [on that thread](https://wordpress.org/support/topic/broken-403?replies=3&view=all#post-6748999) with a theme named `Avada 2`.

[2015-03-27 18:36] kraftbj commented on #1824
2139071-t

[2015-03-27 19:29] richardmtl opened #1876 "Protect: Add option to always have the Captcha"
The user in 2139913-t would like to always have the captcha on the login screen; perhaps a filter can be made for that?

[2015-03-27 22:11] dixonge commented on #1534
Strange behavior here: display: inline-flex; is fine, flex-wrap: wrap; gets stripped.

[2015-03-28 01:54] nathangath commented on #1534
I believe inline-flex is part of the old 2009 or 2011 specification and not the modern implementation. See [this article](https://css-tricks.com/old-flexbox-and-new-flexbox/) on CSS-Tricks/

[2015-03-28 14:58] jeherve commented on #1813
Also reported with the [nimva theme](http://www.rockythemes.com/nimva/).

[2015-03-28 16:26] jeherve commented on #709
Also suggested here:
https://wordpress.org/support/topic/notifications-subscribers?replies=1&view=all

[2015-03-28 17:23] jeherve commented on #1824
Also reported here:
https://wordpress.org/support/topic/fatal-error-call-to-undefined-function-after-upgrade?replies=6&view=all

[2015-03-29 12:11] puikinsh opened #1878 "Infinite Scroll: Body class is not applied with multisite."
Body class for infinite scroll (.infinite-scroll) is not applied therefor I can't hide existing page navigation using CSS. This happens only on multisite as you can see [here](http://colorlib.com/dazzling/)

And here is [another website](http://www.armybases.co/) using the same plugins but works as a standalone installation. Infinite scroll works the same way but body class is applied, so I can hi

[2015-03-29 13:46] dereksmart commented on #1865
Looks like an oversight when the method was changed to static a few days ago.  <a href="https://github.com/Automattic/jetpack/commit/93a4a7f505a0332427ded7fb4b598e7cdcc2c1cc">#</a>

[2015-03-29 19:32] paulschreiber opened #1880 "Avoid mixed-content warnings when embedding videos"
To avoid mixed-content warnings when embedding videos, If the site is a secure site (`https://`), then we should always output a secure embed.

Currently, if the user pastes in a Vimeo or YouTube link beginning with `http:` instead of `https:`, the outputted iframe/embed begins with http, even if the site is loaded https.

Jetpack should either:
• always use https (preferred), or,
• always use htt

[2015-03-29 21:52] kraftbj commented on #1880
Right now, we use `set_url_scheme` which should return http or http based on the result of `is_ssl`. [youtybe code ref](https://github.com/Automattic/jetpack/blob/e6004a22d9582ed96d2e1ab5c9394cae6f2b05ff/modules/shortcodes/youtube.php#L294), so it should already output the second option.

Any harm in always using https or worst case, can go protocol neutral.

[2015-03-30 05:26] kraftbj commented on #681
Adding a ticket in Core makes sense if a hook is needed. Before going too deep down that path, assuming a hook in Core was present, how would we display all of the various options without JS?

[2015-03-30 05:35] kraftbj opened #1882 "Widget Visibility: Styling negatively impacts Accessibility Mode"
With Widget Visibility on, the Widgets Accessibility Mode's Save button is turned to grey:

![31754-sample](https://cloud.githubusercontent.com/assets/88897/6890574/8e5bd362-d673-11e4-9210-7de03c60557e.png)

[2015-03-30 07:35] jeherve commented on #1882
Related" #681

[2015-03-30 07:40] jeherve commented on #1878
I'm not sure the problem is linked to Multisite. Could you try to apply the fix in #1826, and let me know if it helps/

[2015-03-30 08:48] puikinsh commented on #1878
Thank you! It did the trick. However, I am a bit puzzled as it affected only my multisite and not dozens of sites that I checked that use Dazzling theme. All were using "click" type infinite scroll as this is how theme is built by default.

Thanks again for your help!

[2015-03-30 08:48] #1878 closed

[2015-03-30 13:36] dereksmart commented on #1873
It strips the admin email even if the admin is the one who created the post.  I'll look into this today, but in the meantime you can tell users that manually adding the `to="admin@email.com"` attribute will work.  It's only getting stripped from the form builder.

[2015-03-30 14:55] jeherve opened #1886 "Display Posts Widget: remove !important from CSS"
We should remove `!important` from the Display Posts Widget CSS to make it easier for folks to style the widget.

Reference:
https://github.com/Automattic/jetpack/blob/3.4.1/modules/widgets/wordpress-post-widget/style.css#L18

Reported here:
https://twitter.com/tsiger/status/582536932372164608

[2015-03-30 15:00] jeffgolenski commented on #1886
I'll take a look at this. @jeherve feel free to assign me to any CSS related issues. Ideally, we need to remove every instance of `!important` within our css.

[2015-03-30 15:17] verkoren commented on #785
Also looking for this solution... Any progress?

[2015-03-30 15:23] jamesmehorter commented on #561
+1 For this feature as well, even if we needed to hook into a filter and run our own code..

[2015-03-30 18:41] mikeyarce commented on #1824
also here: 2140171-t

[2015-03-30 19:07] roccotripaldi opened #1888 "Autoupdates: Improve stats"
Let's differentiate between an actual autoupdate failure and an autoupdate that was blocked by VCS

[2015-03-30 20:41] richardmtl commented on #1813
Also reported with  [creativo theme](http://rockythemes.com/creativo/) (same author as in Jeremy's comment right above mine).

[2015-03-30 21:06] mowse-ink opened #1891 "Publicize option or filter to make default view open"
Hi, gang...

Would you please add an option (or a filter) to make the default view open instead of having to click "Edit Details" every time?

We have set the Publicize to uncheck the boxes by default so that users publicize intentionally. It would be really handy to be able to have the details open by default so that users don't forget to publicize when they're publishing.

Thanks for listening..

[2015-03-31 02:52] kraftbj commented on #1681
Resolved in Core via https://core.trac.wordpress.org/changeset/31935

[2015-03-31 02:52] #1681 closed

[2015-03-31 11:46] tsiger commented on #1886
Also, the line-height and font-size styles should be removed. I have tested this widget in more than 30 themes and it breaks visual hierarchy, especially the line-height style.