[2015-11-17 12:52] kraftbj commented on #3026
Being done here https://github.com/Automattic/jetpack/blob/master/functions.opengraph.php#L193
https://github.com/Automattic/jetpack/blob/master/locales.php#L557
Vs https://glotpress.trac.wordpress.org/browser/trunk/locales/locales.php#L572

[2015-11-17 13:01] pento opened #3027 "Likes count is misaligned in the posts list on mobile"
The out-of-place (and strangely highlighted) "1" in the post details I'd the like count, but it didn't fit in with the new post details style on mobile.

![screenshot_20151117-235226](https://cloud.githubusercontent.com/assets/352291/11211933/ff29f964-8d86-11e5-9fc4-dd7612d324b0.png)

[2015-11-17 13:12] kraftbj commented on #3027
The highlight I thought was fixed, at least at full width. @jeffgolenski something I can throw onto your plate?

[2015-11-17 13:17] kraftbj commented on #3027
Ah, bet the responsive list table stuff tripped us up. The highlight is copying the comment bubble on full.
![image](https://cloud.githubusercontent.com/assets/88897/11212407/39541700-8cfb-11e5-98f1-a6a3ee4f3340.png)

[2015-11-17 14:02] jeherve commented on #3024
Closing as duplicate of #1125

[2015-11-17 14:02] #3024 closed

[2015-11-17 14:27] jeherve commented on #3026
Related: #2791, #2821, #2707

[2015-11-17 15:30] TheJeffr0 opened #3028 "Someone Shown As the Post Author"
Ok, the title of this issue is weird but I had a hard time coming up with something else. This occurs in Jetpack Notifications and also on the WordPress for iOS Mobile App. When a person leaves a parent comment on an article, Someone shows up as the post author. This screenshot does a better job of explaining. Where it says Someone should actually be the Post Author.
![notificationssomeone](https:

[2015-11-17 15:32] kraftbj commented on #3028
For the post author of that post, is their local site's account linked to their WP.com account?

[2015-11-17 15:33] TheJeffr0 commented on #3028
I'm the author of that post and the Tavern is linked to my WP.com account.

[2015-11-17 15:35] TheJeffr0 commented on #3028
The site this is happening on is using WordPress 4.4 beta 4.

[2015-11-17 15:38] kraftbj commented on #3028
Confirmed on my test site too. Post author info doesn't seem to be passed to Notif. @dmsnell something else for your collection? :)

[2015-11-17 15:41] jeherve commented on #565
Also suggested here:
https://wordpress.org/support/topic/how-do-i-use-publicize-to-tweet-with-a-featured-image?replies=6&view=all#post-7671980

[2015-11-17 16:18] dmsnell commented on #3028
Usually this means that the author information isn't available. @kraftbj can you go one step further and double check that not only is the Jetpack site linked via the WordPress.com user, but also that the Jetpack user itself is connected to a WordPress.com user?

[2015-11-17 16:26] kraftbj commented on #3028
@dmsnell Indeed. Local user is the master user for the JP connection, so they are.

[2015-11-17 16:34] jeherve commented on #1125
This issue seems worse in Jetpack 3.8, as an extra `#` is added to the URL when you close the Carousel view. It brings you back to the top of the page every time.

This could be related to #2719.

[2015-11-17 16:35] jeherve commented on #1125
Reported here:
https://wordpress.org/support/topic/since-latest-update-closing-gallery-goes-back-to-top-of-post?replies=2&view=all

[2015-11-17 17:07] jeherve commented on #261
Also suggested here:
https://wordpress.org/support/topic/publicize-on-facebook?replies=3&view=all#post-7673956

[2015-11-17 22:20] pento commented on #3027
This goes away when I updated Jetpack, I guess it was just my janky old version.

[2015-11-17 22:20] #3027 closed

[2015-11-17 23:17] kraftbj commented on #1419
Another report in 2418740-t. Reopening.

[2015-11-18 08:23] dereksmart commented on #2747
done in #2979

[2015-11-18 08:23] #2747 closed

[2015-11-18 09:16] dereksmart commented on #1125
@jeherve, fwiw js `history.pushState` is not supported in < IE10, so this (leaving the hash, and probably the scrolling to top) was still happening in those browsers.

This fix will work for all browsers.  and I can add in the history check to remove the hash from browsers that are able to.

@MisterWP can you check out #3033?

[2015-11-18 13:30] jeherve commented on #1518
Also reported here:
https://wordpress.org/support/topic/like-button-broken-on-attachment-pages?replies=1&view=all

[2015-11-18 13:46] #2822 closed

[2015-11-18 16:03] kraftbj opened #3036 "Carousel: Ampersands in title and description failed duplication check"
Carousel usually checks to see if the description and the title are the same. If so, it does not display the title.

If there is an ampersand is the duplicated text and description, we still display both. I couldn't quite track where the failure is occurring, but https://github.com/Automattic/jetpack/blob/3.8.0/modules/carousel/jetpack-carousel.js#L1090 is on my watchlist.

I don't think it is act

[2015-11-18 16:21] kraftbj commented on #1419
Er, after further investigation, other things was causing 2418740. I'll re-close.

[2015-11-18 16:21] #1419 closed

[2015-11-18 17:21] #2916 closed

[2015-11-18 18:34] kraftbj opened #3038 "Related Posts: Option to leave tracking URLs"
Related Posts adds tracking args to the URL when clicking on a RP:
[code]

But then we clean them up. It may be beneficial to some users to leave them so Google and other stats programs have easier access to use that for performance tracking.

Suggestion: Add a filter that sets a variable that gets localized into JS to determine if `cleanupTrackedUrl` is fired or not.

@xyu thoughts?

[2015-11-18 19:09] #2946 closed

[2015-11-18 20:35] claudiosmweb opened #3039 "Allow markdown in "Post by Email""
One of our users requested this feature.

Adding a new command:

[code]

[2015-11-18 20:38] kraftbj commented on #3039
@claudiosmweb Did you test that Markdown didn't work? As of #164, it did and there hasn't been changed that I know about have touched that (with #454 noted as a `wontfix` known issue).

[2015-11-18 20:39] claudiosmweb commented on #3039
@kraftbj I just tested on wp.com and didn't work.

[2015-11-18 20:52] #3039 closed

[2015-11-18 20:53] claudiosmweb commented on #3039
Closing because we need to look on wp.com.

[2015-11-18 22:00] dereksmart commented on #2919
@ChrisBegley, we've merged a patch for this in our `master` and `master-stable` branch. I'd like to take you up on your offer to test it out :)

If you'd rather wait for a beta, we'll be releasing one within a day or two.

Thanks in advance!

[2015-11-18 22:16] ChrisBegley commented on #2919
No problem! I just tested it out. The srcset attributes are added to the post thumbnails now. However, it's not respecting the crops of the thumbnails. It's adding "w" instead of "resize" to the Photon URLs. For example:

This:
http://i1.wp.com/super.techyourworld.com/wp-content/uploads/2015/10/Batman_1989_0331.jpg?w=408

Should be this:
http://i1.wp.com/super.techyourworld.com/wp-content/uploads/

[2015-11-18 22:23] kraftbj commented on #2919
@ChrisBegley Is that the primary src, the srcset(s), or all of them?

[2015-11-18 22:26] ChrisBegley commented on #2919
@kraftbj it's only on the srcsets that aren't respecting the thumbnail crops. The primary src is correct. Here's what it's outputting:

`<img src="http://i1.wp.com/super.techyourworld.com/wp-content/uploads/2015/10/Batman_1989_0331.jpg?resize=408%2C227" class="attachment-home-panel size-home-panel wp-post-image" alt="Batman_1989_0331" srcset="http://i1.wp.com/super.techyourworld.com/wp-content/upl

[2015-11-18 22:34] kraftbj commented on #2919
Well, that's good news... this specific issue is being resolved, but failing at https://github.com/Automattic/jetpack/blob/master/class.photon.php#L582 that was fixed previously :)

Not sure if I'll be able to hit this today, but noting for @dereksmart and @zinigor that we'd need to checkout what is available to us via the core filter, probably, and set the args smarter than just using the `w`.

[2015-11-18 22:56] dereksmart commented on #2919
There was some discussion in #2885 about whether we should be grabbing the height as well through the 2nd param of the filter $size_array, and went against it b/c it "worked" with minimal intrusion.  seems like we need them for custom image sizes.  Let's try and add them in.

[2015-11-18 22:57] dereksmart commented on #2919
of course as I was writing this @kraftbj wrote a patch <3

[2015-11-18 23:06] kraftbj commented on #2965
Also noting on sites that were registered under www or the naked, but accessible via both, IDC throws out the prompt.

[2015-11-18 23:49] csonnek commented on #1578
Also 2424410-t

[2015-11-19 00:51] jeffgolenski opened #3042 "Single Sign On configurations need more information"
Setting up single sign on, on a few of my sites I realized...

To a non-technical user these two things would leave me very confused if I didn't already know what they were. We should provide more information so they don't have to go digging for it. At the very least ? icons to get them to the right place.

![screen shot 2015-11-18 at 7 50 18 pm](https://cloud.githubusercontent.com/assets/214813/1

[2015-11-19 01:51] kraftbj commented on #3042
For a bit of back history, there were/are more options there that were commented out with "hide in 2.9" notes :) ( https://github.com/Automattic/jetpack/blob/master/modules/sso.php#L159-L176 )

Personally, I'd like to see this in 3.9 along with reviewing the Hidden Options and seeing if whatever rationale for hiding them still applies and since I know @dereksmart is chopping on the bit to get 3.8.

[2015-11-19 08:47] jeherve commented on #477
Also suggested here:
https://wordpress.org/support/topic/pictures-in-comments-1?replies=3&view=all

[2015-11-19 11:19] bfintal commented on #2281
Thank you for fixing this :)

[2015-11-19 16:58] #2919 closed

[2015-11-19 16:59] dereksmart commented on #2919
@ChrisBegley we've pushed another patch for height dimensions.  Mind giving it another spin?

[2015-11-19 17:27] designsimply opened #41509 "Stats: static front page stats are labeled with the page title instead of "Home page""
Steps to reproduce:
1. Set a static front page and a posts page
2. Log out and load each page a few times to register some views for them<br><sup>(fewer for one of them so you can tell them apart easily when you check stats for them next)</sup>
3. Log in and go to https://wordpress.com/stats/day for the site
4. Look in the "Posts & Pages" box and check to see how the stats are labeled

<strong>Res

[2015-11-19 19:07] jeffgolenski commented on #3042
@kraftbj Awesome. Thanks for being on top of things man!

[2015-11-19 19:14] chaselivingston opened #3044 "Custom Content Types: Testimonial Post type available even if module is deactivated"
1. Install Jetpack.
2. Do not turn on the Custom Content Type Module
3. Install a theme that supports the Testimonials post type (User was using
Sequential and someone else saw the same thing with Sela and Twenty
Fifteen.)
4. The testimonial post type is available even though the module is
turned off.
5. Toggling the module on and off again does not solve the problem.

https://wordpress.org/suppor

[2015-11-19 19:20] mrwweb commented on #3044
I think this is a duplicate of this: https://github.com/Automattic/jetpack/issues/2890

[2015-11-19 19:20] mrwweb commented on #2890
I can confirm this bug: https://wordpress.org/support/topic/testimonials-active-regardless-of-jetpack-custom-content-types-module?replies=1#post-7675546

[2015-11-19 19:26] chaselivingston commented on #3044
Indeed, closing as duplicate of #2890

[2015-11-19 19:26] #3044 closed

[2015-11-19 21:18] ChrisBegley commented on #2919
@dereksmart everything looks good!

One side note... When I just overwrote all of the files in the plugin folder, it was acting like Photon wasn't active. I had to deactivate Photon and reactivate Photon in order to see the changes here, but everything looks like it's working fine now.

[2015-11-19 21:27] xyu commented on #3038
There's a function that gets fired that's currently a noop that was intended to be used to track clickthrough stats.

https://github.com/Automattic/jetpack/blob/master/modules/related-posts/jetpack-related-posts.php#L1159-L1166

Would it be good enough to allow people to hook into an action there for tracking? I'm hesitant to add this functionality to JS as it locks us into supporting it in the fu

[2015-11-19 23:44] enejb opened #3045 "Jetpack Disconnect Weirdness"
I get this screen after disconnection Jetpack.
<img width="909" alt="screen shot 2015-11-19 at 3 41 14 pm" src="https://cloud.githubusercontent.com/assets/115071/11287927/2b3872bc-8ed4-11e5-919f-951efb02c8b1.png">

The white text on white says
You are currently running a development version of Jetpack. Submit your feedback

Hope that helps with the debugging.

CC @jeffgolenski

[2015-11-20 10:42] ollietreend opened #3047 "Domain mismatch in 'change of domain' admin notice"
Hi,

I've just setup a development version of a live website, and have noticed that the domain names are the wrong way around in the 'change of domain' admin notice which is displayed.

In this example, the existing domain is `existing-domain.org.uk` however the CTA link in the admin notice says "`existing-domain.org.uk` is **now** my domain".

Whereas for the new domain, the CTA link reads "`new-

[2015-11-20 12:00] kraftbj commented on #3047
We've removed this prompt in the in-beta 3.8.1 since it is throwing a lot of unexpected situations into the mix, so closing as invalid on those grounds.

If/when it returns, the prompts will probably be completely rewritten. That said, looks to be the wrong language as shown.

[2015-11-20 12:00] #3047 closed

[2015-11-20 14:00] vladolaru opened #3048 "Responsive videos display Warning"
I've had several of our customers that use one of our themes that activates responsive videos, report back that after the latest Jetpack update (3.8.0) they started seeing this on their sites (multiple times):

`<b>Warning</b>:  Missing argument 2 for jetpack_responsive_videos_maybe_wrap_oembed() in <b>[...]/public_html/wp-content/plugins/jetpack/modules/theme-tools/responsive-videos.php</b> on li

[2015-11-20 15:04] kraftbj commented on #3048
Thanks for the report Vlad. That sounds like a reasonable solution. @michaeldcain IIRC, this is your wheelhouse, right?

[2015-11-20 15:43] michaeldcain commented on #3048
on it.

[2015-11-20 15:59] jeherve commented on #2890
@mrwweb I think the 2 issues are actually a bit different. I replied in #3044

[2015-11-20 16:04] jeherve commented on #2890
Since there seems to be a bit of confusion, I'd like to clarify things a bit:

1. Testimonials and / or Portfolios should get unregistered when you go to Settings > Writing and uncheck the CPT box => that works. ✅
2. Testimonials and / or Portfolios should get unregistered when you deactivate the Custom Content Types module. => that doesn't work and we need to fix that. 🐛
3. Testimonials and / or

[2015-11-20 17:05] jeherve commented on #520
Also requested here:
https://wordpress.org/support/topic/publicize-not-posting-image-to-tumblr

[2015-11-20 17:25] mrwweb commented on #3044
I've read both your replies twice and will try to respond.

I didn't realize that `add_theme_support ( 'jetpack-testimonial' );` was intended to override all settings. I figured it was intended to indicate that the CPT would be available when the module was turned on.

The settings on Settings > Writing are new to me. I didn't even know they were there. It also seems a little odd that `add_theme_s

[2015-11-20 17:29] jeherve commented on #3044
That's where we have a bug. You should be able to disable the post type by deactivating the Custom Content Types module. Unfortunately, deactivating the module doesn't deactivate the post types right now. That's what we need to fix!

[2015-11-20 17:34] mrwweb commented on #3044
That I understand and I'm glad you'll fix it. I was more referring to this though:

![image](https://cloud.githubusercontent.com/assets/1238696/11306871/691c3b14-8f69-11e5-962a-e62765cd6876.png)

If there are plans to add more post types to the Custom Content Types Module in the future, I think it's more likely that you'll have people who want one theme-supported post type or another but not all.

[2015-11-20 17:40] jeherve commented on #3044
I see what you mean. That's certainly an option worth considering. We might want to do more than just checking the box, to let site owners know that the box was checked by default because of their theme. Maybe we could leave that "Your theme supports testimonials" message there, in addition to the checkbox.

Would you mind creating a new issue with that suggestion?

[2015-11-20 17:47] jeherve commented on #261
Also suggested here:
https://wordpress.org/support/topic/publicize-add-url-variables?replies=1&view=all

[2015-11-20 17:58] kraftbj opened #3049 "Debugger: Include "Beta" in the subject when using a dev version"
To assist support with triage beta issues, we should append "BETA!" on contact form messages.

[2015-11-20 18:21] blowery commented on #1262
We have like support now, most of the time. Comments are still a ways off.

[2015-11-20 19:07] mrwweb opened #3050 "Allow Granular Control of Custom Content Types on Settings > Writing"
Splitting off from #3044, my expected behavior for the Custom CPT module is the following:

The use-case for this expected behavior is the following:

Currently, Settings > Writing looks like this:

![image](https://cloud.githubusercontent.com/assets/1238696/11308956/e7b431be-8f75-11e5-919e-9a85507912b6.png)

I'd propose that:
1. ALL post types have check boxes to enable/disable
2. Theme-supported

[2015-11-20 23:12] jeherve commented on #3044
@mrwweb Thank you! :)

[2015-11-21 00:26] niallkennedy commented on #2747
The Tweet button's new visual design is now deployed. The new design removes the share count component. Sites with an older version of Sharedaddy code using the official buttons may see what appears to be extra padding due to the previous iframe dimensions.

[2015-11-21 01:29] gwwar opened #3052 "Latex Path Not Specified"
When embedding latex into posts, the following notice `latex path not specified` appears.

To reproduce:
Navigate to the [Calypso WordPress.com editor](https://wordpress.com/post)
Select a site if prompted.
In the html tab, type in:
[code]
Publish the post.

Expected: Pretty formulas appear
Actual:
![latex path not specified](https://cloud.githubusercontent.com/assets/1270189/11315722/dc553cec-8fa

[2015-11-21 08:09] dereksmart commented on #3045
@enejb I can't reproduce this.  Which browser/branch are you running?  If you can get it to happen again, can you paste the HTML structure from the inspector?  Thanks!

[2015-11-21 17:10] shawnajean commented on #3052
I have several users reporting similar errors in the WP.com forums:

http://en.forums.wordpress.com/topic/latex-path-not-specified-errors-1

The errors are inconsistent - it seems due to caching.

[2015-11-21 17:40] tsaomao commented on #3052
Emptying out all caches (DNS, browser, proxy, etc., OS reboot) seemed to make the error show up consistently for me.

[2015-11-21 18:16] tsaomao commented on #3052
A very small amount more of additional information (comparing QuickLatex plugin to Jetpack's Beautiful Mathematics component) on the Wordpress.org support forum here: https://wordpress.org/support/topic/latex-path-not-specified-errors?replies=1#post-7685268

[2015-11-21 22:48] vadikcoma commented on #2858
I have the same issue

[2015-11-22 22:33] pento opened #3053 "WP.org !== WordPress.org"
This is probably the most minor bug I've ever reported, but there are [a couple of comments](https://github.com/Automattic/jetpack/search?utf8=%E2%9C%93&q=%22wp.org%22&type=Code) that reference WP.org, a URL that doesn't actually point to WordPress.org.

[2015-11-23 02:31] kraftbj commented on #3053
w.org is the way to go. @pento Keep trying, I'm sure there something more minor out there.

[2015-11-23 11:40] jeherve opened #3055 "Plugin banner: create rtl version"
It would be nice to create an RTL version of our plugin banner, as explained here:
https://make.wordpress.org/plugins/2015/11/11/making-better-banners-for-your-plugins/

It seems to me that it would only be a matter of moving the Jetpack logo a bit, to avoid that kind of overlay:
https://he.wordpress.org/plugins/jetpack/

cc @jeffgolenski

[2015-11-23 15:43] kraftbj commented on #3038
@xyu I'm open to the action hook if changing the JS is not something we want to do for long-term maintenance. I'm not sure how to get something there into Google Analytics, but that would be a question for a different day.

[2015-11-23 16:28] #3053 closed

[2015-11-23 17:04] xyu commented on #3038
@kraftbj very good point about GA... it's called on a redirect so it's not even like we can export some JS global vars onto the page. Maybe what you suggested of having something not cleanup the page would be the most flexible. I guess the question then comes down to would it be alright if we changed the URL params in the future thus breaking some tracking or do we need to keep things BC?

[2015-11-23 18:03] jeherve opened #3056 "General: make sure Jetpack can't be executed outside of WordPress"
See https://codex.wordpress.org/Writing_a_Plugin#Plugin_Files

`defined( 'ABSPATH' ) or die( 'No script kiddies please!' );`

Suggested here:
https://wordpress.org/support/topic/periodic-fatal-error?replies=11&view=all#post-7691891

[2015-11-23 19:47] KienTrong opened #3057 "Get rid of css and jquery being loaded while no module active"
As the title above, just try Jetpack and no module active but on the front-end the devicepx-jetpack.js and jetpack.css are being loaded. is it a bug or jetpack enable it by default?

Thanks.

[2015-11-23 20:03] kraftbj commented on #3057
That is by design. The CSS, specifically, we load all front-end into one file to reduce http requests (can be disabled via `add_filter( 'jetpack_implode_frontend_css', '__return_false' );` to return to the older way of each module enqueing separate CSS files.

devicepx-jetpack.js is loaded by default when Jetpack is active (e.g. a token is present indicating a valid connection to WordPress.com) It

[2015-11-23 20:03] #3057 closed

[2015-11-23 21:42] jeherve opened #3058 "Heartbeat: Fatal error with get_plugins"
It seems that an issue was introduced in #3025:

[code]

Reported here:
https://wordpress.org/support/topic/undefined-function-get_plugins-in-jetpack-381-beta?replies=1&view=all

cc @dereksmart

[2015-11-23 21:56] bhubbard opened #3060 "Site Logo & Site Icon Widget"
Sometimes we have clients who want to use the Site Logo in widget areas. While they can use the Image widget, I think it is easier for them if we have a specific widget to display the Site Logo. It would be great to have one for the Site Icon as well.

[2015-11-23 22:22] kraftbj opened #3061 "JSON API: Private metadata not available for authenticated user"
Per https://developer.wordpress.com/2013/04/26/custom-post-type-and-metadata-support-in-the-rest-api/ , private metadata should be available when requested by an authenticated user with rights to edit the post. This appears to not be happening.

Steps to reproduce:
0. Have a post with private meta data (e.g. `_private_meta_key`).
1. Via the https://developer.wordpress.com/console/ while logged int

[2015-11-24 04:45] deBhal commented on #2821
The relevant notifications issue is https://github.com/Automattic/notifications-client/issues/525

[2015-11-24 17:07] #3058 closed

[2015-11-24 17:46] kraftbj commented on #3038
@xyu It would be nice to not break people's tracking.

The easy option, today, would be to add a filter to stop clean up so GA can use the existing args, adds BC issue.

The other option would be to add a filter to append query strings that are ignored by the clean-up that the site admin can set. They could, basically, mock the existing ones. It would be harder for someone to add them, but give th

[2015-11-24 17:46] kraftbj commented on #2858
@vadikcoma It'll be fixed in the next version of Jetpack, 3.8.1, due out in the next week or so.

[2015-11-24 17:48] kraftbj commented on #3011
See https://github.com/Automattic/jetpack/pull/3012#issuecomment-156910317 -- it doesn't look like to be a change to me, but various options depending on the setup of specific accounts.

[2015-11-24 17:50] kraftbj commented on #2969
@Draikin The PR would still be good. It's all in some flux, but I would expect all images to be served by Photon while active. Your PR would likely land sooner than anything bigger, which may or may not actually touch what is in flux.

[2015-11-24 17:56] kraftbj commented on #2240
@Aganator -- Item 5, or the cousin of it, is likely the fix. `define( 'JETPACK_SIGNATURE__HTTPS_PORT', XXXXXX );`, replacing XXXXX with the port number of the server.

They probably have HTTPS terminating at the edge, so PHP itself is using a different port number than 443, which is expected for HTTPS site. In the future, reaching out via https://jetpack.me/contact-support/ is a great way to troub

[2015-11-24 21:29] gouch opened #3064 "Jetpack seems to ignore WP_PLUGIN_DIR"
I've set an alternate directory for plugins using the WP_PLUGIN_DIR constant. Jetpack seems to ignore that and instead tries to load resources from the default wp-content/plugins/ directory.

![jetpack-plugins-path](https://cloud.githubusercontent.com/assets/38445/11381160/65a202e0-92c8-11e5-9133-dc89027b9e8d.png)

[2015-11-24 21:42] kraftbj commented on #3064
Noting that twentyfifteen is enqueued using `plugins_url`: https://github.com/Automattic/jetpack/blob/master/modules/theme-tools/compat/twentyfifteen.php#L25

as is genericons: https://github.com/Automattic/jetpack/blob/master/_inc/genericons.php#L11

Haven't checked the others.

`plugins_url` uses the `WP_PLUGIN_URL` constant, which by default is `WP_CONTENT_URL . '/plugins`.

@gouch Could you pr

[2015-11-24 21:46] richardmtl commented on #2991
another report in 2426526-t

[2015-11-24 22:08] gouch commented on #3064
Steps for bug reproduction:

1. Brand new WordPress install
2. Add `define('WP_PLUGIN_DIR', dirname(__FILE__) . '/wp-content/plugins-custom');` as first line in wp-config.php
3. Activate the Jetpack plugin
4. Activates successfully, but admin pages generate 404 network errors because of Jetpack-related requests to wp-content/plugins

[2015-11-24 22:45] kraftbj commented on #3064
I'm still tracking it, but I believe this is a core bug.

Add this to a functionality plugin:
[code]

Expected: `/wp-content/plugins-custom` mentioned in both.
Actual: `/wp-content/plugins`.

I'll track it to an existing ticket and/or try to isolate the issue and create one shortly. Will update this issue with a link, but closing as it isn't a Jetpack bug.

[2015-11-24 22:45] #3064 closed

[2015-11-24 22:54] kraftbj commented on #3064
Actually, I misspoke. There are two constants.

`WP_PLUGIN_DIR` changes the file system directly.
Separately, the `WP_PLUGIN_URL` is needed to set the URL, if the default URL doesn't point to the WP_PLUGIN_DIR. Once you set the `WP_PLUGIN_URL` constant as well, you'd be set.

[2015-11-24 23:15] gouch commented on #3064
Thanks for that troubleshoot. I didn't know the plugin url was a separate constant unaffected by changing the path constant.

[2015-11-25 04:15] richardmtl commented on #3052
Closing; this was fixed on the WordPress.com side.

[2015-11-25 04:15] #3052 closed

[2015-11-25 09:47] bonny opened #3066 "Options not in database results in extra SQL queries"
Using Query Monitor I can see that several calls to `get_option()` results in 0 rows returned. I believe it would be better if those options where in the database, so they could be autoloaded, and that way save several queries to the database.

I can find 6 options that Jetpack tries to fetch from the db on the site I'm currently working on: `jetpack_id`, `gplus_authors`, `jetpack_json_api_full_ma

[2015-11-25 19:06] jeherve commented on #259
Also suggested in 2433382-t

[2015-11-25 19:07] jeherve commented on #584
Also suggested in 2433381-t

[2015-11-26 02:10] chuckreynolds opened #3070 "Undefined index has_children in widget-conditions.php"
Trying to track this error down when loading /wp-admin/widgets.php.

[code]

WordPress v4.3.1
Jetpack v3.8.0

I know that's not a great bug report but not familiar w/ the plugin/functionality.

[2015-11-26 04:04] boogah commented on #2240
This just got dropped back on my radar. Anything I can do from the WPE side to help?

[2015-11-26 04:04] kraftbj commented on #3070
Still helpful!

L282 moved to L290 https://github.com/Automattic/jetpack/blob/3.8.1-beta3/modules/widget-visibility/widget-conditions.php#L290

Sounds like `$instance['conditions']` has `rules` already set, so no empty options are being added https://github.com/Automattic/jetpack/blob/3.8.1-beta3/modules/widget-visibility/widget-conditions.php#L246 , but the conditions being passed lack the expect

[2015-11-26 04:36] Aganator commented on #2240
Hey! Thanks for checking. I actually don't know yet. I've been so slammed
with all the holidays coming up that I've had to put it on the back burner.
I'll try again Wednesday when I'm back in town. It's still important to me,
but I just can't keep working on it at the moment.

––

*Joshua Agan(623) 866-5343*
*JoshuaAgan.com <http://JoshuaAgan.com>*

*“…we look not at the things which are seen, but

[2015-11-26 16:45] kraftbj opened #3073 "Site Icon: Prune old code"
When WP 4.4 is released, the next major version of Jetpack will support 4.3+. This means we can remove all Site Icon code, except for any upgrade code for folks catching up to latest and greatest versions.

[2015-11-27 09:42] Vuzz74 commented on #3048
Hello Michael,
how does your work go on? My blog spotbehind.com still shows up the errors although I tried Vlad's tip - look at http://www.spotbehind.com/page/2/. Is there any change to roll back Jetpack to the former version?

[2015-11-27 18:15] enejb opened #3076 "Autoupdate: Provide a better information if plugins are under version control or not"
Currently we do a simple check if the site is under version control and then disable the autoupdates. If that is the case. This prevents the user from doing autoupdates on plugins even if they are not under version control or any other files for that matter.

We should provide a better way to check if the directory is under version control then core ( or even update core ) and only then not allow

[2015-11-28 13:53] htrex commented on #320
It's not yet possible to adjust the max number of tiles per row, or max image width, or anything that would allow to fit more images per row. Please, can someone which is part of the team give an insight if there are chances this feature request is going to be implemented?

[2015-11-28 16:07] lezama opened #3077 "Notices thrown when installing Woocommerce"
`get_current_screen()` and `$current_screen` return `null` if called from the admin_init hook

![image](https://cloud.githubusercontent.com/assets/104869/11452709/71fb64cc-95d0-11e5-8b49-7c4ed4fff437.png)

[2015-11-29 14:20] L34XXOR commented on #259
I also want this one :(

[2015-11-29 16:25] kraftbj opened #3080 "Photon + Portfolio: srcset only returns very small images"
HTML without Photon:
[code]

HTML with Photon
[code]

No Photon:
![screen shot 2015-11-29 at 10 17 04](https://cloud.githubusercontent.com/assets/88897/11458276/7861823a-9682-11e5-83ba-8d026280a26d.png)

Photon:

![screen shot 2015-11-29 at 10 16 43](https://cloud.githubusercontent.com/assets/88897/11458284/92957d6e-9682-11e5-81f8-333705f527cc.png)

Steps to reproduce:
0. Photon + Custom Content T

[2015-11-29 20:38] dereksmart commented on #3080
Where can I see this image live?

Can you provide exact setup (theme) and steps you took to get there (did you upload new image or use an existing one from the media lib).

I can't reproduce it in default 2015, using the same image you provided.
http://dereksmart.wpsandbox.me/portfolio-shortcode/

[2015-11-30 00:59] kraftbj commented on #3080
https://kraftbj.wpsandbox.me/port-test/

Theme: Twenty Fifteen
Modules active: Photon, Tiled Galleries, Custom Content Types

I activated portfolio, assigned the image above as the feature image of a new portfolio piece, added the shortcode.

I activated SSO and set you up with an account at https://kraftbj.wpsandbox.me/wp-admin/ so you can poke around there too.

[2015-11-30 01:07] kraftbj commented on #3080
@dereksmart On your page, I'm not seeing any srcset for the portfolio image. Can you double-check that you're on latest trunk/master? I up/pull both to confirm I'm not seeing anything already fixed and still happening on both my sandbox and my prod site.

[2015-11-30 04:57] kraftbj opened #3081 "JSON API: Check if on wpcom before using blog_id"
https://github.com/Automattic/jetpack/blob/d5cd54ee52fa6369d5b39710e8dc7f9c88dda5fb/json-endpoints/class.wpcom-json-api-get-site-endpoint.php#L286 is attempting to grab the site ID based on the blog_id set by https://href.li/?https://github.com/Automattic/jetpack/blob/d5cd54ee52fa6369d5b39710e8dc7f9c88dda5fb/json-endpoints/class.wpcom-json-api-get-site-endpoint.php#L73 , which is set as the wp.com

[2015-11-30 10:57] vladolaru opened #3082 "[Site Logo] Stop changing the section name into Site Title, Tagline & Logo"
WordPress has changed that section to Site Identity since 4.3 so you shouldn't mess with it anymore as the new name is more inclusive. At least you shouldn't do this for 4.3 or newer.

@https://github.com/Automattic/jetpack/blob/master/modules/theme-tools/site-logo/inc/class-site-logo.php#L78

[2015-11-30 11:58] jeherve commented on #320
That's not on our roadmap at the moment, but this issue is still open and we'll consider it when we start working on Tiled Galleries again. Since you've commented here, you should receive a notification for each new comment here so you'll be one of the first to know when we pick this task up!

[2015-11-30 12:01] jeherve opened #3083 "Debugger: add more troubleshooting depending on your site setup"
It would be nice if the Debugger could include more troubleshooting steps depending on your site setup.

Here are a few examples:
- If your site uses SSL, recommend `$_SERVER['SERVER_PORT'] = 443;`
- If you've enabled Manage, some tips about why auto-updating plugins might not be an option (version control, subsite in Multisite, ...)

Related:
https://github.com/Automattic/wp-calypso/pull/872/

[2015-11-30 13:54] jeherve commented on #2770
Reopening this, as we'd need to add the domain name to all the messages, not just the initial one.

e.g. `This is a development environment` could be `{domain}  is a development environment`

[2015-11-30 14:51] kraftbj commented on #3082
I'm open to this. The next version of Jetpack would require 4.3+, so would be set there. @michaeldcain Any thoughts on this idea from the themers' side?

[2015-11-30 18:17] NathanLawrence commented on #3036
I have a sneaking suspicion that this has to do with the way title and description escape ampersands. I'll look into it further.

[2015-11-30 19:02] enejb commented on #1435
There should be an explanation in calypso about it. This now. As to why you site can't update files.
The problem is that http and https ( in most cases ) are the same site but they also could not be.

[2015-11-30 19:17] macmanx2 commented on #1435
I'm conflicted in calling that a fix, since the administration over HTTPS instructions for WordPress do not mention changing this, and it has never been required before. In other words, I'm sure we'll have a lot of WordPress sites running admin over HTTPS with this problem.

The fact that no average user following https://codex.wordpress.org/Administration_Over_SSL will make this change, and that

[2015-11-30 19:25] Ipstenu commented on #1435
Sorry... what does that mean? Are you saying if we do admin over SSL, we should set siteurl to HTTPS?

That's going to cause a lot of complaints since we have, for ... god 10 years now? told people to use the define.

There's no way to push notices out to all the users to tell them to edit that. Also you'll be shooting Multisite in the foot since there is no difference between home and site URLs.

[2015-11-30 21:15] roccotripaldi commented on #1435
@Ipstenu @macmanx2 - i think we can safely tell users to do both. if they want to force ssl on the admin, the codex instructions still stand. if they want calypso to function properly, they'll need to update their settings.

here is where the comparison happens:
https://github.com/Automattic/wp-calypso/blob/master/client/my-sites/plugins/plugin-autoupdate-toggle/index.jsx#L66

one solution would b

[2015-11-30 21:21] enejb commented on #1435
Sorry for my poor english.

We have been always careful in Jetpack Manage to only allow sites to modify files if the site has the right permissions. One of the criteria that we look for is if the site_url() matches the network_site_url(). Which is intended to prevent sub sites that are on part of a multisite install from updating files. Currently it also catches sites that have https enabled for t

[2015-11-30 21:43] macmanx2 commented on #1435
So, we're going to favor the 20% who use HTTPS in a weird way, over the 80% who have followed the official WordPress instructions which have stood that way for about 10 years?

When embracing WordPress's philosophy of "Decisions, not Options" that seems like the wrong direction, by a *very* large margin.

I'd be in favor of this, even if it required a new version. Anticipating users' needs FTW.

O

[2015-11-30 21:55] #3080 closed

[2015-11-30 22:13] Ipstenu commented on #1435
I have to agree with @macmanx2 - users have a right to expect WordPress to work as it's worked and that Calypso would not require something that is _impossible_ for multisite.

@roccotripaldi I'm serious. I _cannot_ make the change in Multisite:

![screen shot 2015-11-30 at 2 09 07 pm](https://cloud.githubusercontent.com/assets/807903/11486137/f0735a2a-976b-11e5-96da-509f450ef71c.png)

So no, that

[2015-11-30 22:30] roccotripaldi commented on #1435
Sorry @Ipstenu - I didn't realize it was not possible to change the protocol of the main site's URL.
I think @enejb 's solution will work.

[2015-11-30 22:32] kraftbj commented on #1435
Marking as 3.8.2 wrt mocking an option for `FORCE_SSL_ADMIN` or however @enejb sees best to implement that :)

[2015-11-30 22:52] jeherve commented on #1674
Also suggested here:
https://wordpress.org/support/topic/using-blavatar-to-replace-wp-logo-in-subscribe-emails?replies=1&view=all

[2015-11-30 23:41] enejb commented on #1435
@macmanx2 and @Ipstenu: I completely agree that:
1. Users should expect things to work and not have to make any changes on their end.
2. That the likelihood of someone using multisite is far greater then have a separate http and https site.

Thanks for bringing this issue up.

[2015-11-30 23:46] macmanx2 commented on #1435
Thanks, @enejb , looking forward to sharing the fix with our users. :)

[2015-12-01 02:32] kraftbj commented on #3080
For the future record, the issue was the way our `image_downsize` filter handled situations where the requested image size was larger than the full-size of the image. The return included the requested size, not the actual size of the image, which led to Core's srcset processing to be a bit confused.

[2015-12-01 07:02] kraftbj opened #25583 "Debug should not break XML/JSON"

[2015-12-01 11:25] zinigor commented on #1349
I'm afraid this one won't make it in time for this year's holiday snow, moving it to Community milestone.

[2015-12-01 11:27] zinigor commented on #1013
I don't think this issue is going to be valid for much longer, feel free to reopen if you don't agree.

[2015-12-01 11:27] #1013 closed

[2015-12-01 11:29] zinigor commented on #875
Moving to NCJ milestone to maybe start the ball rolling from dotcom side.

[2015-12-01 11:38] zinigor commented on #946
After going through several issues with Core responsive images ( #2919 #3080 ... ) I don't think it's going to work very well to just use Photon for all attachment URLs. Let's handle this feature by feature.
Correct me if I'm wrong.

[2015-12-01 11:38] #946 closed

[2015-12-01 11:40] zinigor commented on #1250
Let's look at this in relation to the Core responsive images feature.

[2015-12-01 11:43] zinigor commented on #1032
I vote to close this one in favor of developments to happen in 4.0

[2015-12-01 11:43] #1032 closed

[2015-12-01 11:53] zinigor commented on #1278
Let's look at this in relation to Core's responsive images feature.

[2015-12-01 13:36] zinigor commented on #690
@samhotchkiss is spot on, both cases are what looks like best practice when dealing with sensitive data.

[2015-12-01 13:36] #690 closed

[2015-12-01 13:41] centminmod opened #25582 "other gzip compression methods ?"

[2015-12-01 14:35] blobaugh commented on #690
Would it be better to verify the data before attempting to use it?

I.E:
[code]

It should never really be a best practice to suppress error messages. If you are doing so that probably means the data being used is not properly verified.

[2015-12-01 14:48] blobaugh commented on #690
A discussion http://programmers.stackexchange.com/questions/219788/is-error-suppressing-bad-practice

[2015-12-01 15:07] zinigor commented on #690
On second thought I admit that you're right. It looks like the only thing that the operator suppresses in this case is a possible `Undefined offset` notice. I fail to see any possible way that the sensitive data could get echoed if the stfu operator was omitted.
On the other hand, this seems like a fairly legitimate use case for the `@` because it wouldn't possibly hide any problem. It just makes

[2015-12-01 15:19] eliorivero opened #3086 "Twitter widget overlapping content"
This was reported in 2439671-t and I reproduced it with iOS Simulator. Can't be reproduced using Chrome's or Safari's mobile emulation.

<img width="285" alt="overlapping-widget" src="https://cloud.githubusercontent.com/assets/1041600/11504068/42584524-9822-11e5-80c9-ef3077098302.png">

Only found this issue with the Adventure Journal theme. Most responsive themes change the layout into a single c

[2015-12-01 15:33] ChrisBegley opened #3087 "Photon isn't working in 4.3.1 after latest update"
I just upgraded to Jetpack  3.8.1 on my WordPress 4.3.1 sites, and noticed some issues with Photon. It's no longer resizing my images to the sizes defined in my themes. On one of my sites it's now loading in the full sized images (with the resize query). On another site that's using the Twenty Fifteen theme, it's loading in small 80x80 featured image sizes instead of 825x510.

[2015-12-01 15:53] kraftbj commented on #3087
Thanks @ChrisBegley. Can you contact us at https://jetpack.me/contact-support/ . We'd like to dig in with your specific setup a bit more to see what made it past us in testing so we can correct it.

[2015-12-01 16:32] ChrisBegley commented on #3087
Thanks @kraftbj, I just sent an email with more info.

[2015-12-01 16:59] kraftbj commented on #3087
@ChrisBegley's issue is due to Photon now supporting post_thumbnails and srcset, and srcset relying on the sizes contained within the metadata for an attachment. On his site, he unset the larger sizes since Photon, strictly speaking, doesn't need those files, but Core's srcset does. The result is Core thinks the 80x80 is as best as it can get, at least is my understanding.

To resolve, we need to

[2015-12-01 17:19] ChrisBegley commented on #3087
I just thought of another example where some users may run into this problem.

One of the benefits of Photon was that when you switched themes, it automatically generated the new post thumbnail sizes for you, eliminating the need for plugins like Regenerate Thumbnails. I don't think that will happen anymore.

[2015-12-01 17:27] kraftbj commented on #3087
Indeed. We didn't regen thumbnails, but basically didn't care about the sizes that already existed. As of now, since we use Core's srcset support, which does care, situations like that may appear.

[2015-12-01 17:28] markjaquith opened #3088 "Publicize: modals get cropped/hidden on mobile"

[2015-12-01 17:35] kraftbj commented on #1278
Related: #2918 (tracking ticket for HiDPI and srcset)

[2015-12-01 17:41] jeherve commented on #3088
@markjaquith Could you post a screenshot? I tried to reproduce on one of my sites, but the modals appear to be displayed properly:

![2015-12-01 17 39 19](https://cloud.githubusercontent.com/assets/426388/11508819/fd85c4d8-985a-11e5-9707-b43e06ad6b74.png)

This was on an Android phone running 5.1.1, in Chrome, and when clicking on the Widgets module title under Jetpack > Settings.

[2015-12-01 18:00] kraftbj commented on #1250
The link is generated in JS. We'd probably need to photonize the URL and pass it through to JS through the localization function.

[2015-12-01 18:26] mikakaltoft commented on #259
Ditto!

[2015-12-01 19:03] markjaquith commented on #3088
http://i.imgur.com/ey6NbJC.png

Twitter connect success dialog. Cannot access the checkbox to share the account. iPhone 6S Plus.

[2015-12-01 19:05] jeherve commented on #3088
Thanks, that helps!

[2015-12-01 20:55] tristanleboss opened #3090 "alert_identity_crisis doing remote request on every admin page load"
Hello,

Isn't there a way to improve the "alert_identity_crisis" function in "class.jetpack.php" in order not to make a remote request to the "https://jetpack.wordpress.com/xmlrpc.php?for=jetpack
&wpcom_blog_id=XXXXXXXX" on every admin page load? Indeed, this request is taking 1/4 of a second to be processed and so, slow down the page load a bit.

Here is the call stack which is produced on every

[2015-12-01 20:58] kraftbj commented on #3090
@tristanleboss - Can you confirm the version of Jetpack you're on? 3.8.1 removed the prompt from all admin pages and, unless you're running a development version, disables the check completely.

[2015-12-01 21:07] tristanleboss commented on #3090
@kraftbj I was using 3.8.0, I didn't saw there was a new version. After updating, the problem seems to be gone.

I don't know if it's normal but the comment block of the "check_identity_crisis" states that "Will cache the results for up to 24 hours." but I fail to find how it does the caching. There is a "get_transient( 'jetpack_has_identity_crisis' )" call but I failed to find where was the "set_

[2015-12-01 21:21] kraftbj commented on #3090
That's an old function, all in all. Looks like the setting of the transient was removed in https://github.com/Automattic/jetpack/commit/995ff014efeec073c605d9e68fe234f4c336f1a2

I'll open a new issue to address this. Thanks!

[2015-12-01 21:21] #3090 closed

[2015-12-01 21:25] kraftbj opened #3091 "`jetpack_has_identity_crisis` transient not set"
In `check_identity_crisis`,  we inline doc that the value is cached for 24 hours and have multiple references to `jetpack_has_identity_crisis` transient.

The function that set the transient was removed in quite a long time ago in https://github.com/Automattic/jetpack/commit/995ff014efeec073c605d9e68fe234f4c336f1a2

We need to reconcile this. My suggestion: Re-add the transient for a shorter amoun

[2015-12-01 23:50] nicoladj77 opened #3092 "When I authorize Twitter to use publicize on a staging sites, I get redirected to prod site"
I've a staging site which I marked as staging.
I activate publicize and I'm trying to connect to Twitter.
After I authorize the app on Twitter, I get redirected to the prod site, not to the staging site.

Dirty Fix: when you get redirected, change the http address of the prod site with the address of the staging site in the Browser bar and press "return"

[2015-12-02 00:56] kraftbj commented on #3092
Can you contact us at https://jetpack.me/contact-support/ ? This is a specific issue with your setup and not a bug per se (though there are enhancements planned to handle this situations better).

[2015-12-02 00:56] #3092 closed

[2015-12-02 06:09] shprink commented on #636
+1

[2015-12-02 09:42] richards1052 commented on #2240
I installed Easy Updates Manager plugin & it fails to update plugins.  I tried contacting WPE techs and they tried various fixes on their end which haven't worked.  I tried installing Jetpack Manage and it shows all my plugins as not being eligible for auto update.  I see this error msg: "Core autoupdates are explicitly disabled by a site administrator." Troubleshooting tips suggested activating J

[2015-12-02 11:25] torounit opened #3093 "iframe of vimeo is not wrapped in a div."
Write vimeo's video url in editor , replace iframe. but not wrapped by div.
Should be wrapped by div.embed-vimeo.

in editor.
[code]

output
[code]

[2015-12-02 11:32] torounit commented on #3093
I was fix the issue in this code.

[code]

But, I think that it is not a good solution.

[2015-12-02 13:17] #636 closed

[2015-12-02 13:17] jeherve commented on #636
Fixed in #2978.

@shprink I'd suggest updating 3.8.1 and see if that helps!

[2015-12-02 13:19] jeherve commented on #2240
@richards1052 Could you send us more information about your site via [this contact form](http://jetpack.me/contact-support/), so we can take a closer look?

Thanks!

[2015-12-02 13:20] jeherve commented on #3093
For reference, here is how it's done for Youtube:
https://github.com/Automattic/jetpack/blob/3.8.1/modules/shortcodes/youtube.php#L310

[2015-12-02 13:23] jeherve commented on #3088
Somewhat related: #2709

The whole sharing settings screen would benefit from a redesign to be responsive and accessible.

Until that happens, the only way to manage Sharing and Publicize on mobile is via Calypso:
https://wordpress.com/sharing

[2015-12-02 13:55] zinigor commented on #2950
Moving this to 3.9 since the corresponding PR was moved there.

[2015-12-02 14:57] blobaugh commented on #690
I have spent hours chasing around bugs in WP core only to narrow it down to a line with an @ in it (There are a few in the media stuff). Removed that and I could see the issue and resolve it. Errors really never should be hidden, they should be dealt with.

[2015-12-02 17:29] jeherve opened #3096 "Protect: add option to reset blocked_attempts in API"
A good first step would be to offer this option to Happiness Engineers, before to make that option available in Jetpack itself.

Suggested here:
https://wordpress.org/support/topic/is-there-a-way-to-clear-results-of-the-protect-module?replies=4&view=all#post-7729389

[2015-12-02 18:46] fclaussen commented on #1135
Using @davidmosterd solution worked for me. But since I was only using orderby for one post_type I was having trouble with the `infinite_scroll_query_args` returning default results.

Thanks to @pavelevap I tried a higher priority and it worked.

Final Code:

[code]

[2015-12-02 20:27] richardmtl opened #3097 "Google+ Badge widget: Don't add a default title if widget title is left blank in settings"
As requested in 2409132-t, don't default to "Google+" as a widget title if the title is left blank.

[2015-12-02 22:23] kraftbj opened #3098 "Photon: Resize is always used"
In 3.8.1, when asking for a specific size, if it doesn't exist, we fallback to the full-size image. In doing so, the logic will always assign the `resize` parameter to the Photon URL, never the `fit`, even though that may be a better arg to use.

We should use fit when we fail to get an intermediate size.

Will tack this onto #3089.

[2015-12-02 23:12] enejb commented on #1435
This should be fixed with https://github.com/Automattic/wp-calypso/pull/1080
@lezama pointed out that we do many more permissions checks when a user tries to update files.

No update to Jetpack needed.

[2015-12-02 23:12] #1435 closed

[2015-12-03 15:59] kraftbj opened #3101 "Carousel: Master kill switch for comments"
The Carousel window allows comments, that are associated with the attachment post, based on each media item's Discussion settings.

Individual attachments will have comments enabled based on Core's generic option for opening comments on new articles. To disable for an individual media item, users need to visit the Media Library, choose a particular image, click the "Edit More Details" link, (enabl

[2015-12-03 16:25] jeherve commented on #3101
Related:
http://jetpack.me/2013/05/01/remove-comments-carousel/

[2015-12-03 16:38] stevector commented on #1410
Is it the expected behavior that wpcom info would be returned even when the given site is hosted elsewhere?

https://github.com/Automattic/jetpack/blob/d35f362b49e392d50fe32ad8f24af05d459be61f/class.json-api-endpoints.php#L1038 The check for IS_WPCOM skips trying to load wpcom info when hosted elsewhere.

[2015-12-03 16:40] jeherve opened #3102 "i18n: module names not translated in Jetpack > Settings"
e.e in Spanish:

![screen shot 2015-12-03 at 5 39 03 pm](https://cloud.githubusercontent.com/assets/426388/11566910/c86f490a-99e4-11e5-944c-47927e5d3b24.png)

Related: #3016

Reported here:
https://wordpress.org/support/topic/module-names-and-module-descriptions-not-translated-in-version-381?replies=1&view=all

[2015-12-03 17:04] zinigor commented on #690
Yes, I agree with you, but in this case it can only hide a notice which we check against immediately after the statement. Do you see a possibility that it will hide something else?

[2015-12-03 19:05] jeherve commented on #3087
Also reported here:
https://wordpress.org/support/topic/freaky-size-of-some-thumbnails-since-the-update

[2015-12-04 17:19] mikemcalister opened #3107 "Better Responsive Video Display"
Howdy folks,

Writing in to see if we can do anything about the display of responsive videos on smaller screens. As you can see in this [screenshot](http://cl.ly/e0O2), the video is responsive, but it has large black bars at the top and bottom of the video, which take up a good amount of vertical space. This behavior is also seen in videos from YouTube, etc.

Compare that to fitvids, another respo

[2015-12-04 17:41] kraftbj commented on #3107
First screenshot
![image 2015-12-04 at 11 12 19 am](https://cloud.githubusercontent.com/assets/88897/11596607/b15646fa-9a7b-11e5-87fa-701720122e32.png)

Second screenshot
![image 2015-12-04 at 11 10 59 am](https://cloud.githubusercontent.com/assets/88897/11596620/c68deabe-9a7b-11e5-98b9-521ecca351bc.png)

[2015-12-04 20:02] jeherve commented on #642
Also reported here:
https://wordpress.org/support/topic/cant-edit-contact-form?replies=3&view=all

[2015-12-04 20:33] jeherve commented on #1290
Also suggested here:
https://wordpress.org/support/topic/post-a-article-on-facebook?replies=1&view=all

[2015-12-07 14:33] jeherve opened #3109 "Contact Form: ensure compatibility with 3rd-party editors like Page Builder by SiteOrigin"
This Page Builder calls the Visual Editor, and all extra buttons like the Contact Form one, in a modal:

![screen shot 2015-12-07 at 2 48 48 pm](https://cloud.githubusercontent.com/assets/426388/11628450/059d668a-9cf2-11e5-9d0e-f67b0288bd1c.png)

Unfortunately, it doesn't quite work. You can't edit existing forms, and adding new forms sometimes fails to bring up the default form, and opens the for

[2015-12-07 17:20] lschuyler opened #3110 "Subscriptions: Entering a subscribed email in a site's subscription form returns an opted out message"
When an email address is entered into a website's "Blog Subscriptions (Jetpack)" widget, but they are already subscribed, a message is displayed saying:

"The email address has opted out of subscription emails.
You can manage your preferences at subscribe.wordpress.com"

A user in #2443637-t found this confusing when troubleshooting her subscriptions. Should it instead say a user is already succes

[2015-12-07 20:19] ambroseya opened #3112 "JS errors on dashboard conflicting with other plugins"
On every site that I am running 3.8.1, I am getting these errors in the dashboard console.

s0.wp.com/wp-includes/charts/flot/jquery.flot.selection.js:40 Uncaught TypeError: Cannot read property 'plugins' of undefined

jquery.flot.retina.js:3 Uncaught TypeError: Cannot read property 'plugins' of undefined

Original problem was that on sites where I upgraded this and then upgraded Yoast SEO, one of

[2015-12-07 22:22] kraftbj commented on #2791
en-ca impacted as well per 2444063-t

[2015-12-08 10:55] jeherve commented on #3112
I can reproduce:

![screen shot 2015-12-08 at 11 52 16 am](https://cloud.githubusercontent.com/assets/426388/11653946/2a0885f8-9da2-11e5-99a8-51ec39825447.png)

That seems to be coming from the Stats dashboard widget.

Until we fix that issue, removing the Stats widget should allow you to remove the Yoast notice. You can do so by going to Jetpack > Settings, and clicking on Configure next to the S

[2015-12-08 12:08] jeherve commented on #584
Also suggested here:
https://wordpress.org/support/topic/count-share-not-work-until-latest-update?replies=5&view=all#post-7751114

[2015-12-08 13:44] 108Bis commented on #1290
I'm interesting for.

[2015-12-08 14:53] jeherve commented on #869
Also reported here:
https://wordpress.org/support/topic/emails-to-subscribers-includes-shortcakes?replies=1&view=all

[2015-12-08 19:34] eliorivero commented on #2490
This is already fixed. The function used is now `stripcslashes()`. I did checked that it was a valid issue, changing it briefly to `stripslashes()` and reproduced the issue, but it's fixed now.
https://github.com/Automattic/jetpack/blob/270014d00c95324436477635a6efe4370df55d3a/_inc/lib/icalendar-reader.php#L756
https://github.com/Automattic/jetpack/blob/270014d00c95324436477635a6efe4370df55d3a/_in

[2015-12-08 19:39] aharonium commented on #520
Any movement on this? Thank you.

[2015-12-08 20:49] richardmtl opened #3115 "Contact Form: Undefined Index when not using expected content template on Feedbacks CPT"
Reported in 2446131-t

[code]

I have not tested nor confirmed this (I don't have access to a site with PHP7)

[2015-12-08 20:56] kraftbj commented on #520
Hi @aharonium - No updates. We'll post updates here when there is something to add.

[2015-12-08 22:36] #3077 closed

[2015-12-08 22:38] #2953 closed

[2015-12-09 02:47] sybrew commented on #3115
Happens in page `/wp-admin/edit.php?post_type=feedback` On each Post.

No plugin/theme conflict found. PHP7 RC6.

[2015-12-09 03:05] kraftbj commented on #3115
This occurred on w.org at least once, so I don't think (at this point) it is PHP7-related.

@sybrew Can you send me a link to the contact form for the site impacted by this, the shortcode used on that page, and a screenshot of the Edit page for an impacted Feedback post (e.g. a screenshot of the https://example.com/wp-admin/post.php?post=318&action=edit page, completed with the "meta" info, like t

[2015-12-09 03:41] sybrew commented on #3115
Dashboard:
http://i.imgur.com/BkCXHMv.png

Front-end is 404, on Genesis default and WordPress 2016 and 2014.

The edit page outputs no errors.

Users are tainted with bbPress/BuddyPress data.

[2015-12-09 03:51] eliorivero commented on #3115
@kraftbj I've replicated the issue locally using PHP 5.5 in a fresh WP installation and fresh Jetpack.
1. Enabled Contact Form
2. published a Feedback entry
3. went back to Feedback and all notices were displayed.
If you haven't beat me by tomorrow I'll submit a PR as soon as possible.

[2015-12-09 03:59] kraftbj commented on #3115
Ah, I got it now. I think there are a few different things here:
1. We assume all Feedback posts came in via a Contact Form, and aren't confirming that we have all of the data we assume we have (the quickest fix).
2. We allow you to create a Feedback via wp-admin. It is supposed to be a holding pin for contact form submissions; I'm leaning toward the fact you can create one is a bug too that shoul

[2015-12-09 04:01] kraftbj opened #3117 "Contact Form: Feedbacks should not be created in the admin"
The Feedback CPT used to store contact form submissions should not be allowed to create new entries via wp-admin. The module, as of now, expect certain text in the content and will throw notices otherwise.

Short-term fix to a broader fix to using proper post meta and meta boxes in the admin.

Discovered via #3115

[2015-12-09 04:04] kraftbj opened #3118 "Contact Form: Use proper post meta"
The Contact Form's Feedback CPT mocks meta data by parsing the html for certain content, which can cause issues when not present ( #3115 ). We should use proper post meta instead.

Any updates here would need to be backwards-compat. A short-term partial fix would be #3117 to prevent new ones from being creating, breaking form.

[2015-12-09 09:22] stl99 opened #3119 "Sharing: Email button -- wp_mail_from_name & wp_mail_from should not overwrite wp_mail headers"
When you use the wp_mail_from_name & wp_mail_from filters to implement a custom from name and email address, replying to an email sent via "Jetpack share via email feature" uses the wp_mail_from email address instead of the address the user added as email address to the Jetpack share via email form.

It would be great if replying to an email shared via Jetpack would actually use the sender's email

[2015-12-09 17:08] richardmtl opened #3121 "Youtube shortcode stopped working after upgrading to WordPress 4.4"
Several reports in the forums:

https://wordpress.org/support/topic/youtube-shortcode-no-longer-working-after-updating-to-44?replies=10#post-7755539
https://wordpress.org/support/topic/youtube-shortcode-stopped-working-with-wp-44?replies=5

I confirmed with this shortcode:

`[youtube=https://www.youtube.com/watch?v=zbn5_3yf6VQ&w=660]`

[2015-12-09 17:11] becklz commented on #1952
Any update on this issue?

[2015-12-09 17:16] kraftbj commented on #1952
@becklz No, more will be posted here when there's something to update. There is a team assigned to this for a pretty massive overhaul.

[2015-12-09 17:23] bhubbard opened #3122 "Function/Filter to check Primary user?"
Hey guys,

So I wrote a function for a plugin we use on our client sites. The job is to present a notice in wp-admin to our team user if the jetpack primary user is not set to the client's user account.

If possible I would also like to make sure our team user account `imforza-dev` is always connected to our wordpress.com account. Any suggestions or help on how I can check the jetpack user connect

[2015-12-09 17:38] kraftbj commented on #3121
Caused by https://core.trac.wordpress.org/changeset/34747 per `git bisect`

Looks like Core no longer trips on the `[shortcode=something]` style, which it still did in 4.3.1.

[2015-12-09 18:00] kraftbj commented on #3121
I can't tell if 34747's breaking of the format was intentional or not per the Shortcode Roadmap. Opened https://core.trac.wordpress.org/ticket/34939 to get a clarification/report it.

[2015-12-09 18:02] dereksmart commented on #3122
We have a function that checks if a user id is connected <a href="https://github.com/Automattic/jetpack/blob/4325a1eb7481b4bfc260797c64e28c58d57b3755/class.jetpack.php#L1459">`is_user_connected( $id )`</a>.  You can check against any user ID.

So you can get the master user ID with `Jetpack_Options::get_option( 'master_user' )`, and pass that into is_user_connected().  Does that help?

[2015-12-09 19:10] bhubbard commented on #3122
That should work for me, thanks!

[2015-12-09 19:10] #3122 closed

[2015-12-09 19:55] RCowles commented on #760
Suggested in 2447672-t

[2015-12-09 22:32] pilarmonge80 commented on #3121
Hello,

I can't see any video from my blog.

I only see de the shortcode for example [youtube=https://youtu.be/IGrqiSYc1oM&w=600&h=440] in my post http://postresoriginales.com/pastel-de-naranja/ and i have more than 200 pages with this shortcode for YouTube

![shortcode](https://cloud.githubusercontent.com/assets/16228422/11700722/c0eba138-9ecb-11e5-8ca5-de76307cef90.png)

Also I inserted your cod

[2015-12-09 22:41] kraftbj commented on #3121
Hi @pilarmonge80 - your issue is the one being discussed in this ticket. WordPress 4.4 stopped processing shortcodes built like that (e.g. `[youtube=http://something]`), though unintentionally. We're working toward determining best path forward.

For an immediate fix, you can update to `[youtube url=http.....]` instead. If you feel able to do so, inclusive of creating and restoring backups, you ca

[2015-12-09 22:52] pilarmonge80 commented on #3121
Thanks @kraftbj I'll wait because I find myself unable to make that change :)

[2015-12-10 02:41] kraftbj commented on #3121
While https://core.trac.wordpress.org/ticket/34939 is still in play, we should start preparing a PR to do an early filter on `the_content` to `str_replace` to a proper shortcode. I'm not sure we'll be able to help the further edge cases if anyone used a shortcode outside of `the_content` somehow.

Also noting the en.support docs need to be updated as they have this format all over the place. :)

[2015-12-10 06:10] Musicuratum commented on #3121
Do you happen to know yet whether the Youtube shortcode will be reinstated in the same form -- and when? Likewise I have used it a great number of times on my website, and should very much prefer to avoid having to change all that code.

[2015-12-10 06:21] kraftbj commented on #3121
@musicuratum - Details will be posted here as they're known. Long-term, it is probably best to not use this format (rather `[youtube url=` format or simply paste the URL directly in as it'll auto-embed without the need of a shortcode).

[Per my comment above](https://github.com/Automattic/jetpack/issues/3121#issuecomment-163467930), we'll likely have a shim to convert, on display, the `[youtube=`

[2015-12-10 06:27] Musicuratum commented on #3121
Of course I won't be using that shortcode again -- unless it's simply reinstated. For all the instances when I have used it, however, I'm waiting eagerly for your solution. All the more as it was the official Jetpack shortcode and as such abandoned without notice. (Given that I modify several of the parameters, embedding YT works best, I've found, with a shortcode, as opposed to simply including t

[2015-12-10 06:31] kraftbj commented on #3121
@Musicuratum - It wasn't abandoned, as much as an unintended change upstream by WordPress led to it no longer being seen as a shortcode. We'll figure out something so you're not stuck. But, in any case, I would suggest using `[youtube url=http://example.com]` format over `[youtube=http://example.com]`.

[2015-12-10 06:35] Musicuratum commented on #3121
For the moment I don't have any YT materials to embed, fortunately. Yes, when I do, I'll use that other shortcode. Do you happen to know when the documentation concerning it and its various possible parameters will be written?

[2015-12-10 06:35] kraftbj commented on #3121
It's the same shortcode. Same exact behavior. https://en.support.wordpress.com/videos/youtube/

[2015-12-10 06:41] Musicuratum commented on #3121
Very well, I see that that page has been updated -- earlier it provided the shortcode I've been using.

Please do let me know when the solution for dealing with the now deprecated one is ready.

[2015-12-10 06:45] ChrisBegley opened #3125 "Photon isn't loading entire image"
I'm not sure if this is an issue with my host or Photon, but it just started happening yesterday. Some photos aren't fully being loaded by Photon.

![Photon](http://i.imgur.com/2IKQYh7.png)

Here's the live URL: http://i1.wp.com/superheronews.com/wp-content/uploads/2015/12/Captain-America-Civil-War.jpg?quality=80&strip=info&resize=408%2C227&zoom=2

I think that URL needs to be viewed in a non-WebP

[2015-12-10 06:53] DeanMarkTaylor opened #3126 ""Publicize: Not Connected" should not be displayed to users who can't change this setting"
The "Publicize: Not Connected" text in the "Publish" meta box whilst editing a post should not be displayed if the user is unable to edit the settings to correct it.

Here is a screen grab as a Contributor:
![image](https://cloud.githubusercontent.com/assets/52425/11708900/c81c1b38-9f0a-11e5-8990-636e5ced079a.png)

[2015-12-10 06:54] ChrisBegley commented on #3125
Sorry, I'm going to close this. I confirmed that it's an issue with my host by loading up the image from my server and not via the Photon URL. Same thing is happening there. It's only loading part of the image.

[2015-12-10 06:54] #3125 closed

[2015-12-10 12:58] jeherve commented on #3097
Fixed in #3111

[2015-12-10 12:58] #3097 closed

[2015-12-10 13:07] jeherve commented on #3119
`wp_mail_from_name` & `wp_mail_from` indeed work as expected here: they overwrite the data Jetpack's Email sharing button sets for the sender name and sender email address, before to send out the email with `wp_mail`.

Unfortunately, the email sharing button is the one case where the 2 filters should **NOT** be able to overwrite the default `wp_mail` settings.

This issue seems like a good idea!

[2015-12-10 17:02] #2627 closed

[2015-12-10 17:45] jeherve commented on #2904
@richardmtl Did you have the chance to look into this?

[2015-12-10 17:48] #2765 closed

[2015-12-10 17:54] jeherve commented on #2533
@chaselivingston Did you have the chance to look into this?

[2015-12-10 18:08] jeherve commented on #2394
I can't reproduce this anymore. Closing.

[2015-12-10 18:08] #2394 closed

[2015-12-10 18:13] jeherve commented on #2417
I can't seem to reproduce anymore, using JP 3.8.1 / WP 4.4 / PHP 5.4.

Closing for now, since we haven't had any other reports about this. @mattwiebe If this is still an issue for you, could you paste a text sample here, so I can try to reproduce with the exact same markup you used?

Thanks!

[2015-12-10 18:13] #2417 closed

[2015-12-10 18:27] jeffgolenski commented on #2671
@justinkropp Can you take a look at this?

[2015-12-10 18:34] jeherve commented on #2314
Closing this for now, as you can already use OpenID through your WordPress.com account.

[2015-12-10 18:34] #2314 closed

[2015-12-10 18:42] justinkropp commented on #2671
@jeffgolenski How do I recreate this? From what I can tell just looking at the above screenshot, I would venture to guess that the text  (and icon) have been set at a reduced opacity, making them difficult to read. Changing that opacity should fix the readability issue.

But I agree with @enejb, the content of the actual message doesn't really make a lot of sense. I had to read it a couple times t

[2015-12-10 21:21] ryanmarkel opened #3130 "Contact Form: Export to CSV option doesn't always include all fields"
Some contact form constructions don't appear to be exporting the correct amount of data. A contact form that we've created for a site skips including questions 3 through 12 in output - they just don't appear, in the CSV header or otherwise. I'm including source for the contact form that provides the incomplete export. (Slightly sanitized to not reveal the source.)

```[contact-form][contact-field

[2015-12-10 21:22] kraftbj commented on #3130
Initially marking as 3.9 as this is impacting VIP Go.

[2015-12-10 21:46] voldemortensen commented on #3093
I'm not sure this is an issue. Just pasting the url would use the generic video embedding. Using the shortcode is supposed to wrap it in a div.
i.e.
`[vimeo https://vimeo.com/9940327]`

I confirmed that using the shortcode does wrap the iframe in a div.

[2015-12-10 21:51] ryanmarkel opened #3131 "Contact Form: checkbox-multiple and required option for field don't jibe"
If you assign a `checkbox-multiple` field in a contact form as a required element, any answer to that field will not register as completed and the form will never submit.

To reproduce:

1. make contact form
2. create a `checkbox-multiple` field
3. make it required
4. save contact form
5. try to fill it out and submit
6. you can't :)

[2015-12-10 21:54] kraftbj commented on #3131
VIP Go.

[2015-12-10 22:11] pilarmonge80 commented on #3121
Thank you for being looking for a solution because I do not feel able to enter the code to put the patch :)

[2015-12-10 22:26] mattwiebe commented on #2417
I can still reproduce in my own theme, but I tried previewing in a core theme in the Customizer and the footnote links render fine. It must be an issue in my theme somewhere.

[2015-12-11 01:29] torounit commented on #3093
Of course, there is no problem when using the shortcode.
If only not using the shortcode, HTML of vimeo is wrong.

In the case of youtube,
URL and shortcode are replaced to the same HTML.

However, it differs in the case of vimeo.

[2015-12-11 02:34] yj-soh opened #3133 "Comments: Page reloading instead of moving comment form on reply"
Tested on a fresh installation of WordPress 4.4, latest Firefox & Chrome.
Jetpack 3.8.1 with only Comments activated, no other plugins.

`addComment.moveForm`, called on reply links for comments, should move the comment form to below the comment it's replying to.
It's just falling back by reloading the page with an appended query string (`[post-url]/?replytocom=[comment-id]#respond`) now, though.

[2015-12-11 03:31] kraftbj commented on #3133
Duplicated this on my production site. It creates a really janky experience that we should fix. Thanks for the report!

[2015-12-11 05:00] darrenbrett commented on #3121
I assume it's known that this goes beyond just YouTube shortcode. I use the popular Starter theme in various places, and it's shortcode functions are also broken with 4.4.

[2015-12-11 05:08] kraftbj commented on #3121
@darrenbrett - For the broader conversation, see https://core.trac.wordpress.org/changeset/34747 . This format is non-standard, though, so we're going to work toward not using them here on out.

[2015-12-11 09:30] pilarmonge80 commented on #3121
Sorry @kraftbj  but I do not hear . If you have already prepared a patch why not directly upload that file to modify it with FILEZILLA .
Or do we have to get into those files to write the new code.
Thanks :)

[2015-12-11 13:03] johnbillion commented on #1349
This is actually a really obnoxious feature on several levels.

A few years ago it may have been cute and entertaining for a small number of people, but I would like to recommend that this functionality is removed completely from Jetpack, and if that's not an option then it should at least carry a warning that its use will piss off most visitors for no good reason.

Reasoning:

 1. CPU usage. This

[2015-12-11 13:15] jeherve commented on #1349
For reference:
https://twitter.com/johnbillion/status/675291197527695361

I couldn't reproduce this. Could you give us more details, so I can try to reproduce? Did you have multiple tabs with snow, by any chance?

For reference:
https://aftergadget.wordpress.com/2013/01/23/waspish-wednesday-how-autoplays-let-it-snow-disable-visitors-to-your-website/

You can disable each and every feature in Jetpa

[2015-12-11 13:27] johnbillion commented on #1349
"I'd love it if it snowed on this web page!" said no-one ever. Know what I mean? :) It's just one of those features that serves no purpose other than to satiate naïve webmasters who thing it's cute and want to add as many features to their website as they can.

I'm using Chrome 47 on OS X on a 15 inch MacBook retina. CPU climbs to 99%/100% usage after about a minute of viewing https://norway.wordc

[2015-12-11 13:38] jeherve commented on #1349
One could argue that's not no-one. :) I don't use the option on my own site, you don't either, but that doesn't mean no-one wants the option. [There are dozens of Snow plugins in the repo](https://make.wordpress.org/plugins/2015/11/11/tis-the-season-for-snow/), I assume they're there for a reason.

Since the option is enabled on https://norway.wordcamp.org/2016/ , that's at least one person (one o

[2015-12-11 14:27] johnbillion commented on #1349
There are dozens of plugins in the repo that implement full-screen takeover ads and social media popups that cover the content you're trying to read. There's no correlation between quantity (of plugins or downloads) and quality.

I was talking about visitors to the site, not the admins. Think of the following user scenario that would never exist: "As a user, my experience on this website would be

[2015-12-11 14:35] dereksmart opened #3134 "Make holiday snow opt-in"

[2015-12-11 14:36] #3134 closed

[2015-12-11 14:41] jeherve commented on #3121
@pilarmonge80 The patch is available here:
https://github.com/Automattic/jetpack/pull/3127/files

If you don't feel comfortable editing PHP files yourself, I'd suggest joining [Jetpack's Beta group](http://jetpack.me/beta/) and installing the Beta plugin. You will then get to test the patch as soon as we release a Beta for the next version of Jetpack, 3.8.2. It should happen in the next few days.

[2015-12-11 15:42] #3087 closed

[2015-12-11 15:48] pilarmonge80 commented on #3121
thanks @jeherve

I've change the two files functions.compat.php and modules/shortcodes/youtube.php but now i don't see the videos again.

Have I change more codes??

[2015-12-11 15:50] dereksmart commented on #3121
@pilarmonge80 on the front-end of your site, are you seeing the shortcode text or nothing at all?

Could you please paste the exact shortcode you're using? Thanks!

[2015-12-11 15:52] pilarmonge80 commented on #3121
Hello @dereksmart

I have this type of code in more than 200 pages in my blog
[youtube=https://youtu.be/IGrqiSYc1oM&w=600&h=440]

And I see this
![shortcode](https://cloud.githubusercontent.com/assets/16228422/11748232/975c1b88-a027-11e5-9def-fe780dbccb39.png)

[2015-12-11 15:56] jeherve commented on #3121
@pilarmonge80 Could you try the following:

1. Go to the Plugins menu in your dashboard, deactivate Jetpack, and then delete it.
2. Go to Plugins > Add New > Upload, and upload and install this version of Jetpack:
http://i.wpne.ws/e3YB
3. Once activated, go to the Jetpack menu and connect Jetpack to your WordPress.com account again.

Let us know how it goes.

[2015-12-11 15:57] dereksmart commented on #3121
It's worth noting that the link to https://youtu.be/IGrqiSYc1oM&w=600&h=440 is a 404, which is probably why it's not showing.  I tested it in WordPress 4.3.1 and no luck there either.

[2015-12-11 15:57] dereksmart commented on #3121
When I remove the width and height arguments, it works ok

[2015-12-11 16:11] dereksmart commented on #3121
I don't think the youtu.be urls work with parameters.  When I use [youtube=https://www.youtube.com/watch?v=IGrqiSYc1oM&w=600&h=440] it works ok

[2015-12-11 16:12] pilarmonge80 commented on #3121
@jeherve I've done the three steps and go on whatching only the code like [youtube=https://youtu.be/IGrqiSYc1oM&w=600&h=440]
Have I do something else?
Regards,

@dereksmart I wrote the shortcode for whatching the video. The last parameters are the width and height. Before the update of wordpress i could see the vide like this
![shortcode 03](https://cloud.githubusercontent.com/assets/16228422/1174

[2015-12-11 16:15] dereksmart commented on #3121
thanks @pilarmonge80 working up a patch to look for the shortened youtu.be urls

[2015-12-11 16:17] pilarmonge80 commented on #3121
thanks @dereksmart so i have to wait and i don't to change anything, don't I??

[2015-12-11 16:25] dereksmart commented on #3121
yep we will have a patch ready today!

[2015-12-11 16:26] pilarmonge80 commented on #3121
Great!!! @dereksmart thanks a lot for being working so much :D

[2015-12-11 16:43] darrenbrett commented on #3121
Just to clarify, will the patch cover the shortcodes issue in general, or just the YouTube issue specificaly?

[2015-12-11 16:44] dereksmart commented on #3121
@darrenbrett I believe our youtube shortcode is the only one that we use the `[shortcodeName=]` syntax, so it's the only one we are aiming to fix for this release.

[2015-12-11 16:55] dereksmart commented on #3121
@pilarmonge80.  If you update to the most recent version of this <a href="https://github.com/Automattic/jetpack/pull/3127/files">this patch</a> it should work ok now.

<a href="https://github.com/Automattic/jetpack/pull/3127/files#diff-4022100acca3ed34c622459b74c603f6R374">this line</a> is what changed from the last patch:

[2015-12-11 17:03] pilarmonge80 commented on #3121
Thank you very much @dereksmart and @jeherve I've change the line

$content = preg_replace( '@\[youtube=(.*?youtu(be)?\.(com|be).+?)\]@', '[youtube $1]', $content );

and now everything is ok :)

Have a nice weekend

[2015-12-11 17:11] dereksmart commented on #3121
you as well, thanks for testing :)

[2015-12-11 17:20] darrenbrett commented on #3121
So just to clarify, re: the issues discussed here: https://core.trac.wordpress.org/changeset/34747, will it be up to individual people to update the PHP - or will there be some patching made available via WordPress at some point? Just trying to understand this in terms of the commitment to backwards compatibility as well. Thanks.

[2015-12-11 17:20] lancewillett opened #3136 "Carousel: after exiting a Carousel permalink on a site's index view, scrolling doesn't work"
Raised by @zandyring

Tested in P2 theme and Twenty Fifteen with Jetpack 3.8.2-alpha and and WP 4.5-alpha-35776-src. Happens in Firefox, Safari, and Chrome.

**Steps to repeat:**
1. With Carousel setting active in Jetpack, publish a new post with a gallery in it.
2. Go to the post permalink. Click an image in the gallery, copy the permalink from your browser address bar.
3. Paste that URL into a n

[2015-12-11 17:23] dereksmart commented on #3121
I can't speak for the core team ATM, but afaik they have no plans to rollback that change and it will be up to theme/plugin devs to update their products to adhere to this change.

https://core.trac.wordpress.org/ticket/34939 would be a good place to ask / follow for more info.

[2015-12-11 17:24] darrenbrett commented on #3121
Okay, thanks.

[2015-12-11 17:48] BigDave44 commented on #3121
If it helps, I successfully changed 1,786 instances of [youtube= ...] to [youtube url= ...] on posts going back over 6 years, using the excellent "Search Regex" plugin - and it only took a few seconds.

[2015-12-11 20:40] #3121 closed

[2015-12-11 22:07] #3018 closed

[2015-12-11 22:34] darrenbrett commented on #3121
So, generally, if [shortcode=XXX] no longer works, what should be used in it's place?

[2015-12-12 01:33] melindahelt commented on #1483
Any updates on this yet? I have a few users asking for solutions for this.

[2015-12-12 03:33] jenhooks commented on #869
2454197-t

[2015-12-12 06:17] scriptgeni commented on #2369
Top Posts & Pages (JetPack) stopped working, I had 10 posts displaying yesterday, now it's only showing one. What can be wrong?

[2015-12-12 13:13] kraftbj opened #3140 "Twitter Cards: Don't use full-size image"
`twitter:image` tags must point to an images less than 1 MB in size per Twitter docs. It appears we're currently using full-size with a wpcom-style resize query string, even when Photon is active.

https://dev.twitter.com/cards/markup

[2015-12-13 08:29] jeherve commented on #1483
@melindahelt No, no updates yet. We'll post here as soon as we work on this.

[2015-12-13 08:31] jeherve commented on #2369
@scriptgeni Can you please use Jetpack's Debugger module to send us some more information about your site?

1) Go to the Jetpack page in your dashboard.
2) Click on the Debug link appearing at the bottom of the page.
3) Click the link that says "click here to contact Jetpack support."
4) Fill in the description box and your name and email address.
5) Click the "Contact Support" button.

Thanks!

[2015-12-13 12:18] ghost opened #25581 "Root index.html deleted unpredictably"

[2015-12-13 13:01] jeherve commented on #3112
Also reported here:
https://wordpress.org/support/topic/site-stat-module-causing-uncaught-typerrors?replies=1&view=all

[2015-12-13 15:00] jeherve commented on #261
Also suggested here:
https://wordpress.org/support/topic/publicize-creating-utm-tracking-links-specific-to-diferent-social-media?replies=1&view=all

[2015-12-13 15:08] #2047 closed

[2015-12-14 17:17] jeherve commented on #2856
@egill It might be worth addressing #1963 as well at the same time, since the 2 changes are related.

[2015-12-14 17:19] jeherve commented on #1963
Also suggested here:
https://wordpress.org/support/topic/width-and-height-for-httppixelwpcomggif

[2015-12-14 17:29] jeherve commented on #1101
Closing this in favor of #261

[2015-12-14 17:29] #1101 closed

[2015-12-14 17:30] jeherve commented on #261
Also suggested here:
https://wordpress.org/support/topic/how-publicize-publish-my-posts-with-short-url?replies=1&view=all

[2015-12-15 14:19] harrymilatz commented on #1963
Hello,

i think i got it.
In the e-201551.js just add right after this <code>i.src=document.location.protocol+'//pixel.wp.com/'+t+'?'+q+'&rand='+Math.random();</code> the width and height for it: <code>i.width='6';i.height='5';</code>

I tested it and my stats still working:D
I hope i am right and it will be in the next update of the .js file.

Best regards,
Harry

[2015-12-15 18:11] kraftbj opened #3154 "Manage: Remove posts/pages from module info"
Manage is not required for post/pages editing on WP.com.
![screen shot 2015-12-15 at 12 10 44](https://cloud.githubusercontent.com/assets/88897/11819342/e792287c-a324-11e5-93d2-d03caf20cb5e.png)

[2015-12-15 18:53] dereksmart commented on #3098
Fixed via #3089

[2015-12-15 18:53] #3098 closed

[2015-12-15 22:32] buley commented on #2218
FWIW object-cache with memached backend was used on our site as well when we ran into this

[2015-12-16 00:34] shawnajean commented on #1953
Another report in 2436294-t

[2015-12-16 07:55] felixarntz commented on #2218
@dereksmart looks good! Sorry I have been inactive here for a while

[2015-12-16 13:32] vladolaru commented on #3048
@michaeldcain How are things going? I've managed to track down some specifics regarding when the $url came in null:
- when using the [audio] shortcode like this
[code]

[2015-12-16 18:25] jeherve commented on #3026
Fixed for the Like Box in #3160

[2015-12-16 19:47] georgestephanis opened #3164 "/sites/$site/media/new/ doesn't accept non-image files in the `media_urls` for sideloading."
In `WPCOM_JSON_API_Endpoint::handle_media_sideload()`

[code]

https://github.com/Automattic/jetpack/blob/5daf269bfa2040388710443e0725827891721a31/class.json-api-endpoints.php#L1903-L1906

The `file_is_displayable_image()` is a WordPress core function that rejects anything other than a gif, jpg, png, or bmp -- https://github.com/WordPress/WordPress/blob/7ad65267b61fb50e862433b4139cb63fd4fcfec2/wp-

[2015-12-16 19:49] georgestephanis commented on #3164
Relevant changeset: https://github.com/Automattic/jetpack/commit/690d135a3f2f7e30633e0553e0c92be1436a7640 by @jkudish -- any thoughts?

[2015-12-16 22:18] kraftbj opened #3166 "Subscriptions Widget: 2nd instance of the widget fails to hide placeholder"
The subscriptions widget [includes code](https://github.com/Automattic/jetpack/blob/3.8.1/modules/subscriptions.php#L882) to hide the label above the e-mail address input field (the same placeholder text is used in both places).

When two or more instances of the widget appear on the same page, the additional ones will not have their placeholders hidden.

[2015-12-16 22:30] beaulebens opened #3167 "Likes: Label in toolbar is mis-aligned in WP 4.4"
I just did a fresh testing install of WP 4.4, and activated everything in Jetpack. I noticed the Like button in the toolbar is pretty misaligned:

![screen shot 2015-12-16 at 3 26 04 pm](https://cloud.githubusercontent.com/assets/108942/11855803/986c8b9e-a409-11e5-8eec-1f25f50c3a0a.png)

That's loaded as an iframe from wp.com, so it'll need to be fixed there, but I believe it's only used for Jetpa

[2015-12-16 22:30] beaulebens commented on #3167
In case it's relevant, that was in Chrome/latest.

[2015-12-16 22:40] kraftbj commented on #3167
Duplicate, I believe, of #3002

[2015-12-16 22:40] #3167 closed

[2015-12-16 23:57] lancewillett commented on #3002
Fix: https://github.com/Automattic/jetpack/commit/8ff66302ab38062b67feeac45e1e50176fc471ba

[2015-12-17 00:02] lancewillett commented on #3002
CSS fixes are in on WP.com, r128381-wpcom and r128382-wpcom

Pull request bumps cache buster string.

[2015-12-17 00:21] lschuyler commented on #259
Also in 2460137-t

[2015-12-17 00:39] #3002 closed

[2015-12-17 02:10] paunikar opened #3170 "Add Skype share button to Jetpack"
Hello, I am following up on a twitter request by one of your users. We recently launched the Skype Share button. The configuration page is available here: https://www.skype.com/en/create-share-buttons/

We offer a JS button with SDK. We also offer a raw URL option. The URL is:
https://web.skype.com/share?url=<urlencoded_url_to_share>&lang=en-US&flow_id=<GUID>&source=JetPack

Expected usage, with i

[2015-12-17 16:14] jeherve commented on #276
Also reported here:
https://wordpress.org/support/topic/blog-subscriptions-widget-1?replies=1&view=all

[2015-12-17 16:15] jeherve commented on #276
Other reports:
- https://wordpress.org/support/topic/email-subscription-6?replies=7&view=all#post-3891223
- https://wordpress.org/support/topic/want-to-resend-subscription-confirmation-email?replies=1&view=all
- https://wordpress.org/support/topic/feedback-on-the-jp-subscriptions-feature?replies=1&view=all
- https://wordpress.org/support/topic/subscriptions-not-working-1?replies=35&view=all
- 1582

[2015-12-17 16:34] jeherve commented on #3133
Also reported here:
https://wordpress.org/support/topic/jetpack-comments-do-not-work-1?replies=2&view=all

[2015-12-17 19:14] lschuyler commented on #949
This was requested in 2459124-t as well.

[2015-12-17 22:35] #889 closed

[2015-12-17 22:44] jeherve commented on #744
I can't reproduce anymore. Closing this.

[2015-12-17 22:44] #744 closed

[2015-12-17 22:45] jeherve commented on #2008
Closing this, as we don't use this plugin anymore.

[2015-12-17 22:45] #2008 closed

[2015-12-17 23:49] sweigand opened #3180 "Could you provide a detailed security report?"
This is more of a feature request: Could JetPack provide a sort-of Security Analytics report on the Blocked malicious login attempts? I would be curious to see the ways/methods. I'm running Sucuri Security in-addition, so I do get a bit of a view into the attempts.

JetPack does a GREAT job of protecting my WordPress sites, definitely carrying on from BruteProtect which saved my bacon many many ti

[2015-12-18 01:48] kraftbj commented on #3180
Generally, we don't comment on specific ways and methods as that would give those looking to bypass our methods more information to work with.

Protect works through cloud-sourced brute force data. When we see a particular actor perform what appears to be a brute force attack—either isolated to one site or a number of sites within the Protect family—all sites are able to use that information to pr

[2015-12-18 02:30] sweigand commented on #3180
Could Protect maybe provide a list of IPs and/or Usernames attempted on a particular site? Protect already provides a nice count of attempts blocked, but Management/C-Level love details.

[2015-12-18 08:52] samhotchkiss commented on #3180
Hey @sweigand, part of the ways that protect protects your site is by limiting database interactions which are a major contributor to the denial-of-service component of a brute force attack.  As a result, we don't track which particular IPs are trying to get into your site, as that would reintroduce one of the problems we were trying to solve.

There is, however, a hook that we added if you'd like

[2015-12-18 08:52] #3180 closed

[2015-12-18 10:30] navjotjsingh opened #3181 "Add Telegram SVG Icon"
Telegram allows to link via profile urls (https://telegram.me/userid ). Can you please add support for Telegram via the Genericons library?

SVG Icon available: https://commons.wikimedia.org/wiki/File:Telegram_logo.svg

[2015-12-18 10:36] navjotjsingh commented on #3181
Telegram also allows you to share posts. Format is

https://telegram.me/share/url?url=<url>&text=<text>

So if sharing support for it can be added, it would be great.

[2015-12-18 13:46] jeherve opened #3182 "Sharing: add Telegram"
Existing Jetpack add-on:
https://wordpress.org/plugins/telegram-sharing-button-for-jetpack/

Sharing URL:
`https://telegram.me/share/url?url=&text=` as per #3181. I haven't been able to find any official documentation, though. I also didn't find any official button.

[2015-12-18 13:47] jeherve commented on #3181
If you'd like to see a new Telegram icon added to Genericons, I'd recommend opening a new issue here:
https://github.com/Automattic/Genericons/issues/new

I created #3181 to track your suggestion.

Until we add Telegram support to Jetpack, I'd recommend installing this plugin:
https://wordpress.org/plugins/telegram-sharing-button-for-jetpack/

[2015-12-18 13:47] #3181 closed

[2015-12-18 14:24] navjotjsingh commented on #3181
I would have asked at Genericons but they have stopped taking any more requests.

[2015-12-18 14:29] navjotjsingh commented on #3181
Is there any way of disabling Jetpack's version of Genericons? I created my own custom copy but can't Jetpack's copy is taking precedence.

[2015-12-18 15:06] georgestephanis commented on #3181
Sure, you can always deregister a stylesheet and reregister your own.

https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-includes/functions.wp-styles.php#L119-L132

That being said, why do you need to call your custom font 'genericons' ?  Why not just have make `navjotjsinghicons` or something with the custom icons you want to use and run it beside canonical g

[2015-12-18 15:08] jeherve commented on #3181
I just talked with the current maintainer of Genericons, and he pointed me to this GitHub issue:
https://github.com/Automattic/Genericons/issues/54

It looks like you're right. In order to keep Genericons light, we won't be able to keep adding icons. Luckily, you can fork the project and create your own set.

Sure thing. Something like this should do the trick:
https://gist.github.com/georgestepha

[2015-12-18 16:27] richardmtl commented on #2051
requested in 2461936-t

[2015-12-18 16:40] kraftbj opened #3184 "Photon: wp_get_attachment_metadata() doesn't always give us an array."
As reported:
[code]

It appears that Core may not create size meta for an attachment, or at least it can break. Need to investigate why/how this would happen, as well as ensure we know the h/w is present before continuing on.

2442460-t

[2015-12-18 17:10] dereksmart commented on #3184
Couple of thoughts.
- could be possible that someone is changing the output of the meta for the image.  Should we skip the filters with `wp_get_attachment_metadata( $attachment_id, true )` to ensure we always get the raw metadata?
- We could also make sure it's an array, or do some isset checks

[2015-12-18 17:13] kraftbj commented on #3184
I'm hesitant to skip the filters in case someone is using them correctly. The array check seems safer, though we'd need three of them at least without refactoring anything.

[2015-12-18 17:14] dereksmart commented on #3184
:+1:

[2015-12-18 18:11] ntpixels commented on #259
Also in 2462176-t

[2015-12-18 18:14] stdangerous opened #3187 "Contact Form: Dynamic attributes lost when submitting form, when using do_shortcode"
I know there have been several other threads discussing this, but I can verify that trying to dynamically change the 'to' address of a Jetpack contact-form shortcode in a do_shortcode situation fails. The dynamic 'to' address isn't recognized. To repeat, try something like the following in your PHP:

`echo do_shortcode( "[contact-form to='".$dynamic_user_email_addy."' subject='Custom Subject'][con

[2015-12-18 18:17] kraftbj commented on #3187
@stdangerous -- To help cross-link everything, which pull request did you make months ago that went stale? I couldn't find one after a quick search.

[2015-12-18 18:34] stdangerous commented on #3187
HI Guys, I don't make many pull requests, so forgive me if I don't have the nomenclature correct, but my list of pull requests says *#1 on Aug 10, 2015. - https://github.com/WebServicesManagement/jetpack/pulls*

Looking at it now, maybe that just went to my fork? Apologies for my lack of experience.

![screen shot 2015-12-18 at 11 33 13 am](https://cloud.githubusercontent.com/assets/1596859/119041

[2015-12-18 18:43] kraftbj commented on #3187
@stdangerous GitHub's website for making edits and submitting PRs is really confusing. I've done that same thing before too. It did only get submitted to your fork, so we never saw it :-(. Thanks for your patience!

WebServicesManagement#1

[2015-12-18 18:51] stdangerous commented on #3187
@kraftbj Thanks for all the tireless work you guys put in! Any estimated timeline on 4.0?

[2015-12-18 19:16] jeherve commented on #3187
I created #3188 so we can test and discuss your changes.

Thanks!

[2015-12-18 22:42] kraftbj commented on #565
Also in 2462468-t

[2015-12-19 18:49] pnaw10 opened #3197 "Feature request: Contact form post-submit redirect"
1st time poster, was referred here by Lisa from Jetpack Support after I initially sent this idea via email.

I'm currently using a third-party contact form plugin on one of my websites.  I like almost everything about Jetpack's Contact Form module better, but it's missing just one feature: when users submit a form, it stays on the same page.  The only reason I continue to use my third-party plugin

[2015-12-19 19:22] eliorivero commented on #3133
I tracked down the bug to `addComment.moveForm` in `comment-reply.js` where it expects to find a `form` tag inside the `#respond` element
[code]
it later checks for it returns if it doesn't exist. The `undefined` value returned causes:
- element is not moved to the proper comment
- since `false` is not returned, the element default behaviour is triggered, leading to the page reload

I did a quick

[2015-12-19 21:39] aheckler commented on #3197
@pnaw10: You can do this using Jetpack's `grunion_contact_form_redirect_url ` filter shown here:

https://github.com/Automattic/jetpack/blob/3.8.2/modules/contact-form/grunion-contact-form.php/#L1734

Here are two examples:

https://gist.github.com/kraftbj/0238a0bbef3526c32f27

[2015-12-19 21:39] #3197 closed

[2015-12-21 05:02] galbaras opened #25580 "Redirections not working for cached target pages"

[2015-12-21 09:31] ediamin opened #3198 "$plugins_to_deactivate has two duplicate keys"
The public property `$plugins_to_deactivate` of Jetpack object has two duplicate key "contact-form" and "widget-visibility"

[code]

[2015-12-21 16:20] kristianserrano commented on #584
If we can't get counts consistently across share icons, can we at least have an option to disable counts?

[2015-12-22 18:33] macmanx2 commented on #2015
Commenting, because I like to. :)

HTTPS/SSL is becoming a big thing in the web these days. It's the best way to stay secure on public WiFi, extensions like https://www.eff.org/https-everywhere are forcing all sites into HTTPS, new groups like https://letsencrypt.org/ and are providing free SSL certificates to everyone, Google https://support.google.com/webmasters/answer/6073543?hl=en is giving a

[2015-12-23 08:52] #3154 closed

[2015-12-23 19:33] bhubbard opened #3205 "Monitor -- Offer filter to temporarily disable"
Hey Guys,

The monitor feature is great, however many times the clients will get the email notifications when we are performing a scheduled maintenance on the site. It would be useful to offer a hook/filter for any hosting provider/developer to temporarily disable the feature for a set time window, such as:

* 5 mins
* 10 mins
* 15 mins
* 30 mins
* 1 Hour
* 3 Hour
etc

Maybe even let developers pr

[2015-12-24 20:44] atrus1701 commented on #2369
I recently fixed the issue #2196 mentioned above.  I can tell you that in resolving that issue, it did not fix this issue.  This is due to the way Top Posts are retrieved from the server.

Issue 1:
The Top Posts endpoint on the REST API does not support filtering by post type.  So if the widget is setup to view the top posts of a not-often-viewed custom post type, those posts might be low on the o

[2015-12-28 12:02] #3093 closed

[2015-12-28 19:52] #3117 closed

[2015-12-28 19:54] #3115 closed

[2015-12-28 19:59] bisko commented on #3130
I think I saw where the problem lies and I will make a fix for it.

[2015-12-28 20:02] #460 closed

[2015-12-28 21:17] RCowles commented on #3184
Also reported here:
https://wordpress.org/support/topic/started-getting-photon-error?replies=2

[2015-12-29 13:29] cliffordp commented on #2890
This is still happening on WP 4.4 and Jetpack 3.8.2. Should this issue be Open instead of Closed?

[2015-12-29 13:31] cliffordp commented on #3044
Just chiming in to say this is still happening on WP 4.4 and Jetpack 3.8.2.

Thanks for working on it.

[2015-12-29 13:33] cliffordp commented on #2890
Just chiming in to say this is still happening on WP 4.4 and Jetpack 3.8.2.

Thanks for working on it.

[2015-12-29 13:39] eliorivero commented on #2890
@cliffordp this will be included in the upcoming 3.9 release. You can see the milestone (at the beginning of this issue, on the right side bar, below the labels) that this was/will be included in, which is directly related to the plugin version.

[2015-12-30 07:09] bradyvercher opened #3216 "Photon displays extremely small images in some cases"
I've received some reports over the past few days that some images are no longer appearing after updating to the latest version of Jetpack. After a bit of debugging, this is what I've been able to gather:

If a theme calls `the_post_thumbnail( array( 800, 800 ) )` using an array for the size that happens to be larger than the original image (say 500 x 500 for this example), Photon appends `fit=1,1

[2015-12-30 12:12] jeherve commented on #584
@kristianserrano This should help you:
http://jeremy.hu/jetpack-remove-the-share-counts-from-the-sharing-buttons/

[2015-12-30 22:06] jb510 opened #3219 "Ability to filter content of posts sent via subscriptions"
We'd like the ability to filter content sent via JetPack Subscriptions.  Specifically in this case to add a unique post footer when a post is delivered via email.

By comparison MailChimp's RSS to Email grabs the content from the RSS feed (obviously), so modifying the RSS template affects this content.

The ability to filter both post content and the post title should be considered.

I could see o

[2015-12-31 06:07] kraftbj commented on #2015
Just need to get the nod for #2992!

[2015-12-31 06:11] kraftbj commented on #3216
Good catch. I haven't verified but reads well. Need to update our unit tests as well (new test after https://github.com/Automattic/jetpack/blob/3.8.2/tests/php/test_class.jetpack_photon.php#L602 ) to account for this.

[2015-12-31 06:12] kraftbj commented on #3216
Related: #3186

[2015-12-31 18:18] #2381 closed

[2015-12-31 18:23] #3126 closed

[2016-01-03 05:54] kraftbj opened #3220 "AtD: Saves Twiemoji img tag in Text mode"
Steps to duplicate:

0. Create a post with errors that AtD would detect, content includes emoji, using the Text/HTML editor in Chrome (to ensure Core's emoji replacement)
1. Trigger AtD (the proofread button or publishing the post)
2. Click Proofread again to return to normal editor mode.

Expected: Emoji remains emoji

Actual: Emoji is converted to an img tag.

cc: @pento This is the hot dog fail

[2016-01-03 15:48] TwisterMc opened #3221 "Gallery: Disable Hovers on Mobile Devices"
When I add a gallery to my blog, it looks great on mobile devices, but the interactions are a bit off.

Example:
On an iOS or Android Device visit http://www.twistermc.com/42148/big-thrill-factory/ and scroll down to the gallery. Tap on an image and notice nothing happens. Tap again and it'll open the image bigger.

Ideal Solution:
Detect mobile devices and take out the hover state which is happen

[2016-01-04 16:21] bisko commented on #2991
The proposed fix should fix the error from appearing in the future.

[2016-01-04 23:12] lschuyler opened #3224 "Likes: Adding Likes to comments"
Is it possible to add Likes to comments?

Requested in 2478187-t

cc: @beaulebens

[2016-01-04 23:34] dbtlr commented on #3164
So here is the $20,000 question, do we simply remove this check, or should we add some sort of file extension check that also allows for common video and audio file types?

Ideally, I'd like to do something that does a sanity check to also check that the video file is readable and not just a faked file extension, however this would need to wait until the transcoding step. So file-extension is prob

[2016-01-05 01:42] beaulebens commented on #3224
Right now, this is not possible unfortunately, due mainly to performance problems.

We looked into porting the implementation we have on WordPress.com over to Jetpack, and went down the path of doing it similar to how Post Likes work. On a technical level, they are displayed in an iframe for a number of reasons, with the biggest one being around making sure that people can't artificially create Li

[2016-01-05 06:08] jeherve commented on #758
Also suggested here:
https://twitter.com/DigitalClasses/status/684252094392438784

[2016-01-05 06:11] jeherve commented on #1262
Closing this, as Comment Likes don't exist on Jetpack sites yet (see #3224)

[2016-01-05 06:11] #1262 closed

[2016-01-05 06:11] jeherve commented on #3224
Also suggested here:
https://wordpress.org/support/topic/adding-likes-to-comments

[2016-01-05 08:08] iaikart commented on #259
I am also waiting for this..

[2016-01-05 08:53] jeherve opened #3227 "Sharing: color contrast ratio accessibility issue with text button style"
When choosing the text button style, the sharing buttons do not pass the color contrast ratio with most light themes, like Twenty Fifteen.

The color contrast ratio between for the buttons (#777777) and their background (#F8F8F8) is not at least 4.5 to 1.

[2016-01-05 08:55] jeherve opened #3228 "Contact Form: color contrast ratio accessibility issue with "required" text"
The "required" label appearing next to contact form fields does not pass the color contrast ratio with most light themes, like Twenty Fifteen.

The color contrast ratio between for the text (#aaaaaa) and its background (#F8F8F8 for Twenty Fifteen) is not at least 4.5 to 1.

[2016-01-05 10:29] jeherve opened #3229 "Carousel: make comment form visible on mobile"
It seems that we purposely hide the comment form in the Carousel view on smaller devices:
https://github.com/Automattic/jetpack/blob/3.8.2/modules/carousel/jetpack-carousel.css#L1130

It would be nice if mobile readers could leave comments on images as well.

Reported here:
https://wordpress.org/support/topic/carousel-comments-on-mobile?replies=1&view=all

[2016-01-05 14:15] jeherve commented on #3184
Also reported here:
https://wordpress.org/support/topic/photon-not-working-8?replies=1&view=all

[2016-01-05 14:42] developdaly opened #3230 "Add support for oEmbed provider Wistia"
Wistia is supported as WordPress.com oEmbed provider:
https://en.support.wordpress.com/videos/wistia/

See also https://github.com/Automattic/vip-quickstart/pull/476

[2016-01-05 17:40] kraftbj commented on #3216
Verified via unit test on `fix/photon-39` branch. @zinigor I'd like to fix this up in time for 3.9. I'm playing catch up from being off for two weeks, but will PR if I get to it before anyone else.

[2016-01-06 10:39] paunikar commented on #3170
@jeherve any update on this? let me know if you need any additional information to move this forward.

[2016-01-06 10:42] jeherve commented on #3170
@paunikar See #3171. The Pull Request was reviewed, and will be included in the next Jetpack release.

[2016-01-06 10:43] paunikar commented on #3170
Thanks @jeherve Any approximate timing on that, so we can be ready at our end and monitoring metrics?

[2016-01-06 10:45] jeherve commented on #3170
It should be released before the end of the month, after we go through a Beta testing phase, and if we find no bugs during testing.

[2016-01-06 12:46] jeherve opened #3234 "Comments: minify all scripts loaded in the iFrame"
Some of the scripts loaded in the Jetpack Comment form iFrame are not minified. It'd be nice to minify them all.

Suggested here:
https://wordpress.org/support/topic/jetpack-comments-minification?replies=1&view=all

[2016-01-06 14:39] jeherve commented on #535
Also suggested here:
https://wordpress.org/support/topic/import-followers-from-csv?replies=1&view=all

[2016-01-06 14:47] Jip-Hop commented on #3234
Thanks for making the ticket :+1:

[2016-01-06 16:38] richardmtl commented on #3048
This came up again in 2411504-t

[2016-01-06 16:49] #2993 closed

[2016-01-06 17:01] chaselivingston opened #3235 "Related Posts: Add filter for post excerpt"
Some themes add shortcodes that aren't registered in the proper way, and thus don't get stripped from the post excerpt in our usual way. We could add a filter [here](https://github.com/Automattic/jetpack/blob/master/modules/related-posts/jetpack-related-posts.php#L775) to help users avoid having tons of shortcode spit out.

[2016-01-06 19:30] guss77 commented on #2821
I'm also seeing this - it is really annoying, and I had to disable jetpack.

[2016-01-07 13:26] jeherve commented on #2821
@guss77 Until we fix this issue, you don't have to disable the whole Jetpack plugin. You can go to Jetpack > Settings and only disable the Notifications module, it will solve the issue.

[2016-01-07 14:16] turtlepod opened #3237 "AtD: Incorrectly modifies pre tag content"
When i was writing a tutorial with several code, I found that Spelling and Grammar will mess up my pre tag.

How to replicate the issue:
1. Paste this content in the text editor : https://dl.dropboxusercontent.com/u/32880842/etc4/spell-grammar-test.txt
2. Switch to visual/text back and forth (it will work fine, no error in the content).
3. Click the Proofread Writing editor toolbar icon https://dl

[2016-01-07 14:44] chaselivingston opened #3238 "General: Timezone string not synced properly when UTC offset is used"
When setting the timezone on a site, using a city/location-based timezone syncs that timezone string over to WordPress.com successfully, but if a user sets a UTC-based offset instead, the timezone string is empty in the blog settings on WordPress.com.

[2016-01-07 15:08] kraftbj commented on #3237
Possibly related to #3220. Something else very similar was reported to us last night via WordPress.com VIP too ( poqVs-bBt-p2 ); @azaozz will be taking a look soonish.

[2016-01-07 21:26] jeherve commented on #3096
Also suggested here:
https://wordpress.org/support/topic/blocked-malicious-login-attempts-stats?replies=5&view=all#post-7859105

[2016-01-08 10:38] Korvacs commented on #259
This has been open for almost 2 years, has any consideration been given to it yet?

[2016-01-08 11:25] jeherve commented on #259
@Korvacs We haven't made any progress on this yet. We'll update this issue as soon as we start working on it.

[2016-01-08 17:57] jeherve opened #3242 "Photon: filter_image_downsize should return an array with 4 elements"
In #3029, we added image dimensions to the `$image` returned by `filter_image_downsize`, and hooked into core's `image_downsize` filter.

`$image` is now an array with 3 different elements:

[code]

We'd need to return a fourth element as well:

- https://codex.wordpress.org/Function_Reference/image_downsize#Return_Values
- https://github.com/WordPress/WordPress/blob/master/wp-includes/media.php#L

[2016-01-08 18:16] dereksmart commented on #3242
I can look more into this later, but popping in to point out that `$image has been 3 elements since the beginning of Photon.  <a href="https://github.com/Automattic/jetpack/commit/d16147442668e17d9023f0ba67ff2d1e264266ec#diff-71f62265b9fb89148ee4f42b3c900faeR319">#</a>

[2016-01-08 18:41] michaeldcain commented on #3048
Sorry, lost track of it with other work. I wasn't able to reproduce the warning in my own environment, so it'd be helpful if you could take a look, @vladolaru.

[2016-01-08 19:51] kraftbj commented on #436
Need to test this one again. I think we may have solved this through the work for WP 4.4 support.

[2016-01-08 19:59] kraftbj commented on #436
Twenty Fourteen works for now. Marking as resolved.

[2016-01-08 19:59] #436 closed

[2016-01-08 20:02] kraftbj commented on #821
This was added in https://code.trac.wordpress.org/changeset/357/photon back in Sept 2014.

[2016-01-08 20:02] #821 closed

[2016-01-08 21:40] #3242 closed

[2016-01-09 16:54] KokkieH commented on #760
Another request here: https://twitter.com/user/status/685770900835295232

[2016-01-10 04:20] dgw commented on #2206
Not sure if this library being horribly outdated is related to my issue (my custom CSS is not preprocessed at all even though I've selected Sass), but it can't be helping.

[2016-01-11 12:01] jeherve commented on #2206
@dgw Could you send us an email with more info about the issues you're having, so we can take a look?
http://jetpack.me/contact-support/

Thanks!

[2016-01-11 13:50] jeherve commented on #1844
Also suggested here:
https://wordpress.org/support/topic/tiled-galleries-4?replies=10&view=all#post-7864090

[2016-01-11 15:46] annezazuu commented on #259
Requested in  2483159-t

[2016-01-11 16:05] richardmtl opened #3248 "Carousel: Direct link to individual image stopped working"
You used to be able to link directly to individual images in a Carousel, but changeset #3033 seems to have broken that behaviour ( @dereksmart confirmed it by reverting that PR) . We should fix it as some users depend on that behaviour. First reported in 2482864-t.

[2016-01-11 16:09] richardmtl commented on #709
Requested in 2482921-t

[2016-01-11 16:13] richardmtl commented on #3248
I misunderstood; the issue still exists when that changeset is reverted, so more investigation is needed.

[2016-01-11 17:05] richardmtl commented on #869
2481237-t

[2016-01-11 17:09] richardmtl commented on #2810
2483356-t

[2016-01-11 17:31] dereksmart commented on #3248
this problem was introduced by #3128

[2016-01-11 18:03] #3230 closed

[2016-01-11 18:57] dgw commented on #2206
@jeherve Done. Hopefully the example Sass I included in the ticket comes through un-mangled.

[2016-01-11 19:13] kraftbj opened #3252 "VideoPress: Delay checking user details"
Spin off of #3246.

From the relevant comment there:

@georgestephanis - Looks like https://github.com/Automattic/jetpack/blob/3.8.2/modules/videopress/videopress.php#L25 is calling in the code that is leading to the bbPress/BuddyPress notices being thrown. With your in-progress work on VideoPress, deferring to your thoughts on this and don't want to propose something that makes your work harder t

[2016-01-11 19:42] #3170 closed

[2016-01-11 19:43] #3131 closed

[2016-01-11 19:46] #3216 closed

[2016-01-11 21:13] jenhooks commented on #261
Suggested here 2484957-t

[2016-01-11 22:22] kraftbj commented on #1748
That schema item superseded by https://schema.org/interactionStatistic

[2016-01-11 23:39] buley opened #3254 "Comments are erroring out after recent deploy"
<img width="1415" alt="screen shot 2016-01-11 at 3 34 49 pm" src="https://cloud.githubusercontent.com/assets/86985/12250124/859ac59c-b879-11e5-8b01-cee43266aa01.png">

[2016-01-12 00:07] chaselivingston commented on #3254
Thanks for the report @buley, we're working on getting this resolved ASAP.

[2016-01-12 00:07] #3254 closed

[2016-01-12 00:09] buley commented on #3254
Appreciated @chaselivingston

[2016-01-12 01:24] jenhooks commented on #785
Here: 2485318-t

[2016-01-12 03:27] #2015 closed

[2016-01-12 03:27] #2839 closed

[2016-01-12 03:47] #3248 closed

[2016-01-12 13:09] aduth commented on #1748
What's the proposed benefit of adding the schema?

Is there any precedent of services including these in their official buttons?

[2016-01-12 16:02] annezazuu commented on #849
requested 2486150-t

[2016-01-12 19:34] #2892 closed

[2016-01-12 20:31] richardmtl commented on #254
Requested in 2487775-t

[2016-01-12 20:45] #2689 closed

[2016-01-12 23:16] kraftbj opened #3260 "Sharing: Add label for honeypot"
The Share by e-mail form includes a spam honeypot, but we do not include a label or other hint for screen readers to indicate the use of the field.

We should add a label with something along the lines of "This field is for validation and should be left unchanged."

Reported in 2484787-t

[2016-01-13 00:31] lschuyler commented on #1186
Also reported in 2488146-t.

[2016-01-13 13:17] jeherve opened #3261 "Sharing: allow editing of previously created custom services"
Steps to reproduce:
1. Go to Settings > Sharing
2. Click on the "Add a new service" link to create a new custom sharing service.
3. Once it's been added, you won't be able to go back and edit it. You'll need to remove it, and start the process from scratch.

It'd be nice if you could edit existing custom sharing buttons.

Suggested here:
https://twitter.com/user/status/687251701603016704

[2016-01-13 13:51] eliorivero opened #3262 "Modules: after closing a modal with ESC key, page is no longer scrollable"
To reproduce:

1. go to wp-admin/admin.php?page=jetpack_modules
2. click on a module name to show its modal
3. press ESC key

modal is removed but page can no longer scroll.

This is because body element continues to have its overflow property set to hidden.

[2016-01-13 15:14] annezazuu commented on #709
requested in 2485678-t

[2016-01-13 15:16] richardmtl commented on #709
requested in 2490644-t

[2016-01-13 15:22] #2848 closed

[2016-01-13 15:24] #3166 closed

[2016-01-13 16:07] kraftbj commented on #3260
Report from accessibility testing tool:
![screen shot 2016-01-13 at 10 05 47](https://cloud.githubusercontent.com/assets/88897/12299661/5c2e1410-b9dd-11e5-924e-39702efe2851.png)

[2016-01-13 16:22] #2986 closed

[2016-01-13 16:22] #2995 closed

[2016-01-13 16:22] #2996 closed

[2016-01-13 16:29] annezazuu commented on #709
requested in 2489646-t

[2016-01-13 17:09] adamgamble opened #3265 "Related Posts: Customizing title in output"
So we're currently using the jetpack plugin to show related posts on our articles. This is working great but we would like the customize the html output pretty dramatically. We also would like to add in extra data to the api output to be used in the html.

Are there plans to create hooks to return more data in the api for a post? If not would you accept a PR providing this?

Are there plans to cre

[2016-01-13 17:14] jeherve opened #3266 "Top Posts Widget: add new filter to customize post permalinks"
It would be nice if site owners were able to customize the permalink used in the Top Posts widget, regardless of the list type (Image Grid, Text, Text + Image). It would allow someone to add tracking to those links, for example.

Suggested here:
http://jetpack.me/2016/01/12/hooks-customize-top-posts-pages-widget/#comment-19829

`sharing_permalink` is a good example of such a feature, in the Sharin

[2016-01-13 17:18] kraftbj commented on #3265
One idea is to use the https://github.com/Automattic/jetpack/blob/master/modules/related-posts/jetpack-related-posts.php#L1266 Raw class. This is meant to get back results from the API without any front-end work, meaning you can build out anything you'd like.

That would return the post IDs only (all that the related posts API itself returns, the rest of the processing is done locally).

As far as

[2016-01-13 17:43] adamgamble commented on #3265
Ok I think i'll just build a custom plugin that uses your Raw class and build the functionality I need.

Thanks!

[2016-01-13 18:27] kraftbj commented on #3265
Sounds great. Cheers!

[2016-01-13 18:27] #3265 closed

[2016-01-13 18:32] eliorivero commented on #2969
@ChrisBegley after updating to latest Jetpack, are you still experiencing this issue you mentioned?

[2016-01-13 18:51] ChrisBegley commented on #2969
@eliorivero do you mean 3.8.2 or the latest release in the "master" build? It's still an issue in 3.8.2.

[2016-01-13 18:53] eliorivero commented on #2969
@ChrisBegley please check with the master build that includes latest changes in this repo.

[2016-01-13 19:40] #3184 closed

[2016-01-13 20:00] #3262 closed

[2016-01-13 21:14] gibrown opened #3267 "Post Sync should happen whenever any part of a post changes"
Posts currently only seem to be synced on the transition_post_status and delete_post actions: https://github.com/Automattic/jetpack/blob/master/class.jetpack-sync.php#L343

This leaves out a number of other ways that a post's data can change. Here is the list of actions we hook into for reindexing posts to Elasticsearch on wp.com:
- transition_post_status
- publish_post
- save_post
- delete_post
-

[2016-01-14 02:09] ChrisBegley commented on #2969
@eliorivero sorry for the delay. Unfortunately I can't get Tiled Galleries working with the master build. I have it activated, but it's behaving like it's not. I deleted 3.8.2 and installed the master build.

[2016-01-14 12:50] philiparthurmoore opened #3269 "Site Logo: Do not require a connection to WordPress.com to work."
It appears that on live, remote websites, a connection to WordPress.com is necessary in order for the site logo feature to work, but on localhost (when Jetpack is in debug mode), the site logo feature works fine. I've attempted to put a remote site into debug mode but the site logo feature won't show up.

Is there a reason why a connection to .com is required for remote sites to use the site logo

[2016-01-14 13:07] eliorivero commented on #2969
@ChrisBegley oh that's interesting, in an unfortunate way of course. We've released a 3.9 beta
https://github.com/Automattic/jetpack/releases/tag/3.9.0-beta
Can you please try one last time with it? link is at the bottom of that page. If it's still not working, can you let me know which part is behaving like it's inactive? a) you're not seeing the additional options for galleries in Media Library

[2016-01-14 13:16] jeherve commented on #3269
I can't seem to be able to reproduce the issue. I installed a theme using the Site Logo feature (Sapor) on a remote site set to use Jetpack's Development mode, and the Site Logo option was there:
![screen shot 2016-01-14 at 2 13 49 pm](https://cloud.githubusercontent.com/assets/426388/12325254/2e2257ce-bac9-11e5-83e4-e5afe1ab87fe.png)

The logo was also displayed on the frontend:
![screen shot 201

[2016-01-14 13:49] philiparthurmoore commented on #3269
@jeherve, Thanks for the sanity check on this. I'll close the issue because I trust that if it's working with your setup, then it should be working. Thanks for the heads up about Theme Tools not requiring the .com connection.

[2016-01-14 15:06] brdhouse commented on #869
It seems like a simple solution to all this would be if Jetpack had an intermediate step to review/edit/approve/send this translation of the content before it's cross-posted.

[2016-01-14 16:19] bisko opened #3270 "Contact Form: telephone field not working properly"
While I was working on #3215 I noticed that the `telephone` field has been partially added to the Contact Form code, but it is not working properly.

It seems the field has no way to be selected and added to the form. It is missing from the dropdown, when creating a new Contact Form, which means that I have to add it by hand in the shortcode.

If I add it by hand it renders broken HTML - an `input

[2016-01-14 18:10] ChrisBegley commented on #2969
@eliorivero Got it working! I had another gallery plugin activated that was conflicting with Tiled Galleries.

Unfortunately, the issue does not appear to be fixed. I have Photon, Tiled Galleries, and Carousel activated with Jetpack 3.9.0 beta and the "View Full Size" link is still not using a Photon URL.

[2016-01-14 19:02] Draikin commented on #2969
It does in fact appear to be working now for me using the beta version, even without the workaround I made earlier (https://github.com/Automattic/jetpack/pull/3200).

@ChrisBegley Is Photon actually working for the other images? Perhaps something else is causing it not to work for you.

[2016-01-14 19:10] ChrisBegley commented on #2969
@Draikin yes, Photon is working for the Carousel images, just not for the "View full size" link. I can try it on a different server a little later tonight when I get home from work. I'll let you know how it goes.

[2016-01-14 19:55] jeherve commented on #3270
Related: #1562, #955.

I'll close this issue in favour of the original issue about this, #269, that was never closed because the implementation was never completed, as you discovered.

I'll copy your comment there, as it includes some useful information for whoever wants to pick this up.

[2016-01-14 19:55] #3270 closed

[2016-01-14 19:56] jeherve commented on #269
From #3270, cc @bisko

[2016-01-14 20:13] eliorivero commented on #2969
@ChrisBegley can you please try it on a fresh WP install, maybe there's something that's conflicting like with Tiled Galleries. If it works in a fresh install, maybe that will help diagnose what is going on in your other site.

[2016-01-14 20:26] ChrisBegley commented on #2969
@eliorivero @Draikin unfortunately it's still not working. The "View full size" link isn't using Photon. I'm on a different test site running WordPress 4.4.1 with Jetpack 3.9.0 beta. Jetpack is the only plugin that I have activated, and I'm using the default Twenty Sixteen theme. Here's the test gallery:
http://halo.techyourworld.com/carousel-tiled-galleries-photon-test/

[2016-01-14 21:04] Draikin commented on #2969
Interesting. After doing some more testing, the problem does indeed persist at times. The original link doesn't appear to be always pointing to the Photon image. When it does, my workaround isn't needed. If it doesn't, my workaround should fix the problem for the actual image being displayed, but not for the "View Full Size" link. I could be wrong, but I don't think the latter problem was introduc

[2016-01-14 21:07] ChrisBegley commented on #2969
Wow, I'm sorry! I was confusing this with another issue I reported (the "view full size" issue).

Yes, the image being loaded *is* using Photon.

[2016-01-14 21:15] Draikin commented on #2969
But if the full image is shown in the carousel, it's not using Photon, right? In the link you posted above, the full sized images aren't using Photon for me (both the image and the link). This of course depends on your screen resolution. What's weird is that something has changed, and now the original file link is pointing to Photon sometimes (but not always). And I'm not sure what's causing the d

[2016-01-14 21:17] ChrisBegley commented on #2969
Right now I'm at work on a PC laptop (1366x768) and the full image is using Photon:
http://i0.wp.com/halo.techyourworld.com/wp-content/uploads/2016/01/BVS-25543r-CC.jpg?fit=840%2C560

I can let you know what I see when I get home on my 4K iMac.

[2016-01-14 21:20] Draikin commented on #2969
What you linked to is actually the resized version though... The original is a lot bigger, and that's what it's showing here on my desktop (1920x1080):

http://halo.techyourworld.com/wp-content/uploads/2016/01/BVS-25543r-CC.jpg

[2016-01-14 21:24] ChrisBegley commented on #2969
Oh ok. Yes, that's what happened to me too on a desktop (iMac) and prompted me to log this issue.

[2016-01-14 23:14] kraftbj commented on #1646
An idea/decision is allow, either by default or via a filter, those options to be visible and matter. Without looking at the code, add a default option to show in the carousel, and let the other options retain their original behavior.

Suggested in 2492177-t

[2016-01-15 11:49] jeherve commented on #2884
Closing in favor of #3235

[2016-01-15 11:49] #2884 closed

[2016-01-15 11:50] jeherve commented on #3235
See #2884 for more information.

[2016-01-15 11:55] jeherve commented on #2565
@kraftbj Could you test this, and see if this has been resolved? I'm not sure how to test this myself :/

Thanks!

[2016-01-15 12:53] jeherve commented on #1071
The Facebook Like Box was deprecated by Facebook, and we now use the Facebook Page Plugin instead:
https://developers.facebook.com/docs/plugins/page-plugin

Sine the new Page Plugin doesn't use an iFrame, this issue only concerns the Comment form now.

[2016-01-15 12:56] jeherve commented on #766
This was fixed in cb5404e96e040e152e7b97122c857d2c47a76f09

[2016-01-15 12:56] #766 closed

[2016-01-15 13:34] #3237 closed

[2016-01-15 14:15] #3220 closed

[2016-01-15 17:38] richardmtl opened #3279 "Protect: Login link from Bluehost causes PHP errors"
I think this also involves SSO but I'm not sure.

In 2489890-t the site owner says that, to log in to her site, she first logs in to Bluehost's control panel. From there, she has a green button that says "Log into my site". If Jetpack is active, she then gets the following error (but it logs her in if Jetpack is deactivated):

*Warning*: Missing
argument 2 for Jetpack_Protect_Module::log_successfu

[2016-01-15 17:47] jeherve commented on #2856
Also reported here:
https://wordpress.org/support/topic/ggif-fails-accessibility-test?replies=1&view=all

[2016-01-15 18:04] richardmtl commented on #1646
Noting that the user came up with this code, which works for him as a workaround:

[code]

[2016-01-15 18:37] gibrown opened #3280 "Related Posts tag/category/taxonomy filtering not always correct"
We provide methods for filtering related posts by tag/category/custom_taxonomy using the slug: https://github.com/Automattic/jetpack/blob/master/modules/related-posts/jetpack-related-posts.php#L583

But unfortunately the syncing of terms to wp.com will not necessarily result in the same term slug on wp.com as is used on the original site. This is partly a problem with syncing, and partly a problem

[2016-01-15 19:40] Shelob9 opened #3281 "Unauthorized sharing to Facebook"
In the publicize module, at sometime I authorized the connection to Facebook. I have since removed it. I am still seeing my posts shared to Facebook and it is happening via WordPress.com.

Maybe there is another setting on WordPress.com I should be aware of, in which case, yes this is a support issue and I can take it up with them, but then I would argue this is a UI issue in Jetpack.

![screen sh

[2016-01-15 19:41] eliorivero commented on #3112
In progress at 7668-wpcom

[2016-01-15 20:29] melchoyce opened #3282 "Site Logo: Restrict uploading to just image files"
I discovered in a user test today that you can upload any kind of file to use as your site logo. Here's a video: https://cloudup.com/c9T9EmO2CqJ

We should restrict the files you can upload as your logo to just images.

[2016-01-15 21:49] GLWalker commented on #2194
I agree a filter should be in place, unless I'm missing the obvious. I know the short code is very robust in terms of displaying what we need, but the issue lies in where we want it to display.  Presently the output is in order of:

Image
Title
Project Type
Project Tags
Content

Though it can be manipulated with some jQuery, it would be nice to filter in to do something as:

Image
New Element
Cont

[2016-01-16 14:48] jeherve commented on #3281
Could you [send us an email](http://jetpack.me/contact-support/) with more information about your site, and the steps you followed to disconnect your Facebook account? Once we can reproduce the issue and understand what happened, we should be able to update this issue with more actionable info!

Thanks!

[2016-01-16 18:32] Shelob9 commented on #3281
@jeherve I honestly just noticed this. I thought I turned if off months ago, which is before I did a site migration. I presume I clicked disconnect button in the Jetpack settings.

And yes, on WordPress.com, Facebook was still listed as connected. I disconnected that. I don't have any posts queued up right now to test with though.

Seems like if there is going to be two buttons, they should be syn

[2016-01-16 19:55] Quanitha commented on #3110
I too have the same issue as mentioned by lschuyler , how to fix it?

[2016-01-17 15:33] rachelbaker opened #3284 "Replace use of the deprecated `get_currentuserinfo()`"
In WordPress 4.5 `get_currentuserinfo()` will be deprecated (see https://core.trac.wordpress.org/ticket/19615), and should be replaced by `wp_get_current_user()`.

`get_currentuserinfo()` is used in two locations within Jetpack:
https://github.com/Automattic/jetpack/search?utf8=%E2%9C%93&q=get_currentuserinfo

[2016-01-18 09:57] jeherve commented on #3110
@Quanitha [Send us an email](http://jetpack.me/contact-support/), we'll help!

[2016-01-18 10:09] jeherve commented on #3281
That'd be best, yes! :) It turns out that there won't be two buttons for much longer, though.

I'll close this issue since that second interface will disappear in Jetpack 4.0, and thus solve that synchronization issue. Feel free to subscribe to #3258 to follow our progress on this.

[2016-01-18 10:09] #3281 closed

[2016-01-18 16:44] #3284 closed

[2016-01-18 16:45] #3049 closed

[2016-01-18 17:37] dereksmart opened #3290 "Display Posts Widget shows Sharing buttons if "show excerpt" option is set"
1. Delete all transients from your site.
2. Make sure Sharing is active, and that there are buttons to display.
3. Add a Display Posts widget to any sidebar
4. Use your own domain as the Blog URL
5. Make sure "show excerpts" is checked
6. See that each post displayed in the widget has sharing buttons.

Expected: no sharing buttons should appear in the widget at all.

Note: does not happen when que

[2016-01-18 17:49] dereksmart commented on #3290
This is only happening for some sites, and persists even if Sharing is inactive.

For example, try pulling from dereksmart.wpsandbox.me or csonnek.wpsandbox.me

[2016-01-18 17:57] dereksmart commented on #3290
this only happens with #3207

[2016-01-18 19:22] bisko commented on #3290
As this was recently in my domain I will check it out :)

[2016-01-18 19:45] dereksmart commented on #3290
Update:  I can only reproduce this when the *remote* site has BOTH of these options checked

https://cloudup.com/cVDzFzOI8_A

[2016-01-18 20:47] bisko commented on #3290
It seems that Sharedaddy adds the share buttons to the excerpts and that is the content that is returned by the remote site.

It is reproduced on both `master` and #3207 as the code that runs them is the same - just render what is returned in the excerpt.

[2016-01-18 21:18] #2969 closed

[2016-01-18 23:14] lschuyler opened #3293 "Contact Info widget: Add email address field"
We should add a field to the Contact Info widget for an email address. It should auto-format the email entered to be a clickable mailto link.

There likely are a couple of reasons we don't include an email address field on the Contact Form widget, possibly for either spam reasons, or perhaps because the widget is used for brick and mortar businesses. But for users it feels like an oversight. There

[2016-01-19 08:19] zinigor opened #3294 "Debugger: the support request subject string shouldn't be translated"
We have introduced a new translated string in 3.9, and it only came to me when I began translating it into Russian that we don't need it. The string is meant to be only read by Happiness Engineers:

https://github.com/Automattic/jetpack/blob/master/class.jetpack-debugger.php#L218

We need to remove the translation function.

[2016-01-19 08:29] zinigor opened #3295 "Widgets: concatenated translation string is being used"
To be able to properly display error messages we need to get rid of translation concatenations here:
https://plugins.trac.wordpress.org/browser/jetpack/trunk/modules/widgets/wordpress-post-widget.php#L974

[2016-01-19 08:36] zinigor commented on #3130
Should be fixed by #3215

[2016-01-19 08:36] #3130 closed

[2016-01-19 08:38] zinigor commented on #2918
Let's take a look at it in 4.0

[2016-01-19 08:41] zinigor commented on #1250
Should be fixed by #3200

[2016-01-19 08:41] #1250 closed

[2016-01-19 11:19] jeherve commented on #3294
Users will see that string as well, when they receive a reply to an email they sent to us via the debug form. I think it should be translated, so email subjects are in the user's language when we reply to them.

[2016-01-19 11:19] #3294 closed

[2016-01-19 11:22] jeherve commented on #3290
I'd be tempted to move this to the 3.9 milestone We'll want to avoid adding so many new elements to all the sites that use the Display Posts widget.

[2016-01-19 11:51] jeherve commented on #3290
@bisko let me know this is broken in the current widget as well. Moving this back to 3.9.1.

[2016-01-19 16:55] kraftbj opened #3298 "Photon: Add ssl=1 when source image is HTTPS"
Photon now will convert HTTPS images by default, as of 3.9. To save the Photon server extra work, we need to add `ssl=1` to the those URLs so Photon will directly request the HTTPS images.

Current behavior has it request the HTTP version, which typically redirects to HTTPS. This not only adds the extra request but may not work depending on server config.

[2016-01-19 18:00] paolofid commented on #295
Is there any chance to add geo location information on carousel and link to google maps with pin on the photo geo location?

[2016-01-19 19:01] lschuyler commented on #295
Also requested in 2497155-t.

[2016-01-19 22:32] enejb opened #3305 "Install Plugin: API"
cc @roccotripaldi

Currently the install plugin fails if you have installed a plugin that has a simular name.
To recreate follow these steps.
1. Install Shortcodes for WooCommerce plugin.
2. Try installing WooCommerce.
You will see that you are not going to be able to install the plugin.

The reason why it fails is because the plugin slug matches the already contained plugin.

See https://github.c

[2016-01-19 22:58] eliorivero commented on #2969
Hi @ChrisBegley, I've pushed a commit that modifies this fd57ed85271e796d29546a101a8b96405b2a1b59
You can quickly test it if you open `/wp-content/plugins/jetpack/modules/carousel/jetpack-carousel.js` in your installation and replace its contents with these https://raw.githubusercontent.com/Automattic/jetpack/fd57ed85271e796d29546a101a8b96405b2a1b59/modules/carousel/jetpack-carousel.js
After that,

[2016-01-20 00:19] ChrisBegley commented on #2969
@eliorivero yes, that fixed it!

[2016-01-20 00:46] lschuyler commented on #760
Requested in 2497836-t

[2016-01-20 02:21] eliorivero commented on #2969
@ChrisBegley great! :tada: Thank you very much for your report and all the help testing this.

[2016-01-20 02:22] ChrisBegley commented on #2969
@eliorivero my pleasure! Thanks for getting it fixed.

[2016-01-20 19:15] paolofid commented on #295
Thank you to jeherveand and lschuyler
I undertand it is something planned to be added but it's not clear to me if it is something that will happen soon.
You are really making a wonderful work with updates and maintenance of jetpack and carousel.

however it seems that this issue is on hold since long time and this is making me somehow sad... :(

do you have any forecast for that? I think this woul

[2016-01-20 20:29] #3305 closed

[2016-01-21 00:45] ethitter opened #3314 "Sitemaps: for larger sites, adopt approaches from msm-sitemap to scale sitemap building"
The current Sitemaps implementation works for most sites, but for large sites, content will either be missing (only the latest 1,000 published entries in supported content types are included) or the process will fail before it completes. Automattic's [msm-sitemap](https://github.com/Automattic/msm-sitemap) plugin, designed for large WordPress.com VIP sites, offers one solution to these scaling iss

[2016-01-21 06:42] jeherve commented on #295
@paolofid We don't have any ETA to add this feature back to Jetpack's Carousel module, but we've discussed some possible ways to add the feature back above. If you'd like, you can contribute to the plugin by [proposing a Pull Request](https://github.com/Automattic/jetpack/blob/master/CONTRIBUTING.md) adding the options we mentioned above.

[2016-01-21 07:25] macmanx2 opened #3316 "Fatal Error when Mojo Marketplace is Present"
When the Mojo Marketplace plugin is present, activating Jetpack 3.9.0 triggers the following fatal error:

[code]

There was no conflict with Mojo Marketplace and Jetpack 3.8.2.

[2016-01-21 07:44] jeherve commented on #3316
cc @dereksmart #3240

[2016-01-21 10:31] jeherve commented on #1845
Closing this as `wontfix` for now, as there haven't been any other requests for a similar service.

We'll reopen if we get other requests.

Thanks for the feedback!

[2016-01-21 10:31] #1845 closed

[2016-01-21 13:51] grappler opened #3322 "Remove translations from plugin"
As plugin language packs are released can the language files be removed as they are nearly 6 MB?

[2016-01-21 13:58] jeherve commented on #3322
We do remove all language files for languages that are fully translated (the list is available [here](https://github.com/Automattic/jetpack/blob/3.9.0/tools/export-translations.php#L11)):
https://plugins.svn.wordpress.org/jetpack/tags/3.9.0/languages/

We must leave the other language files in place though, as a language pack only becomes available once the plugin is fully translated into that lan

[2016-01-21 13:58] #3322 closed

[2016-01-21 14:04] grappler commented on #3322
Ah, thanks for explaining it :smile:

[2016-01-21 14:09] jeherve commented on #3133
Also reported here:
https://wordpress.org/support/topic/comments-reply-stoped-working?replies=5&view=all#post-7917755

[2016-01-21 14:30] #3316 closed

[2016-01-21 14:51] Digiover opened #25579 "Windows Server IIS web.config support"
Hi,

I'm not sure this is the right place for this, but here goes:
It bugs me that WP-Super-Cache lacks IIS web.config support, even though this support is available in WordPress Core through the `$is_iis7()` boolean. What can I do to fix that? :) It'll be horror to write the appropriate web.config rewrite rules, I know, but I think it'll help a lot of WordPress users hosted on Windows Server IIS.

[2016-01-21 15:18] kraftbj opened #3324 "Sitemaps: Include links to the sitemaps"
When activating Sitemaps or when clicking the module title via Jetpack->Settings, the module info should include the links to the sitemaps available (instead of passing users to the Support site and seeing the URLs there).

There doesn't seem to be a natural way to figure this out.

[2016-01-21 15:47] georgestephanis opened #3325 "In SSO "what info is being shared" there is no value when Two-Factor is disabled."
It looks like this:

![screen shot 2016-01-20 at 10 40 49 am](https://cloud.githubusercontent.com/assets/426388/12485679/a897f72a-c05f-11e5-8983-48ddd3633c22.png)

and without a "No" or some entry below it, it looks like it's falsely indicating that Two-Factor is turned on.

[2016-01-22 10:53] jeherve opened #3331 "Post-update errors"
The following PHP warnings are generated on each release, on first pageload, on sites that have been running Jetpack for a long time (long enough to have used a module that has since been deprecated).

[code]

It looks like something in the routine to deactivate/remove no-longer-shipped modules might be a little broken. For reference, here’s the related `active_modules` (which includes the twitter

[2016-01-22 14:41] chaselivingston opened #3332 "Vimeo shortcode: Vimeo embedded videos are letterboxed in 3.9"
Confirmed a user report that starting in 3.9, Vimeo videos that are embedded by simply pasting the Vimeo link into a post are page are letterboxed, whereas in 3.8.2 they were not.

Screenshot of video in 3.8.2: https://www.dropbox.com/s/qh1m569vszoxxqb/Screen%20Shot%202016-01-21%20at%208.59.19%20AM.png?dl=0

Screenshot of same video in 3.9: https://www.dropbox.com/s/a4j2qlbaae5kdd9/Screen%20Shot%2

[2016-01-22 14:53] chaselivingston commented on #3332
Also reported in 2501935-t

[2016-01-22 16:01] jeherve opened #3333 "Sitemaps: use Jetpack_PostImages for regular sitemaps as well"
In 57571c1818a64478459c747063991038db95a2a8, we started using `Jetpack_PostImages` to look for an image to be used in the News sitemap.

I think we should follow the same method for regular sitemaps as well, instead of relying on code that ignores all images that aren't attached to the post:
https://github.com/Automattic/jetpack/blob/3.9.1/modules/sitemaps/sitemaps.php#L284

Reported here:
https:/

[2016-01-22 18:48] chaselivingston opened #3335 "Use minified jquery.cycle.js in place of expanded version"
Requested in 2502815-t

[2016-01-22 19:49] csonnek commented on #813
2503672-t

[2016-01-22 21:42] Leland commented on #3332
Am seeing this on a client's site as well. The Shortcode Embed module in 3.9 altered the sizes of all oEmbeds added via plain text links across the site – not just Vimeo videos.

[Vimeo oEmbed 3.8.2](https://cloud.githubusercontent.com/assets/714017/12523437/c5d21238-c10b-11e5-9f61-e4c3ad418839.png) / [Vimeo oEmbed 3.9.1](https://cloud.githubusercontent.com/assets/714017/12523436/c5d1583e-c10b-11e

[2016-01-23 15:35] v18 commented on #261
Asked in 2503594-t

[2016-01-23 16:27] kasparsd commented on #820
This is a very serious issue because it's forcing the browser to recalculate and redraw the whole layout in case of Safari. Here is the sequence of events:

![jetpack-zoomimages-recalc](https://cloud.githubusercontent.com/assets/169055/12531209/6670d0fc-c1fd-11e5-9374-13cac7d0b8ee.png)

and here is the offending part:

![jetpack-changing-dom](https://cloud.githubusercontent.com/assets/169055/12531

[2016-01-24 04:25] kraftbj commented on #3332
For Vimeo, caused by 2f5f7b8e54cf18499020dee23f63a87bb4aa5db1
I wasn't able to duplicate a YouTube difference between those two versions, but the offending Vimeo commit brings Vimeo to the same method YouTube embeds used.

I might be missing something, but what is the advantage of Jetpack getting involved on plain-text links for either Vimeo or YouTube? Both will oEmbed on Core without Jetpack.

[2016-01-24 04:32] kraftbj commented on #3093
Follow up in #3332

[2016-01-24 16:32] cfinke opened #3339 ""Notify me of follow-up comments by email" produces PHP Warning"
Checking the "Notify me of follow-up comments by email" checkbox when commenting produces a PHP Warning on the next pageload:

```Notice: Trying to get property of non-object in [...]/wp-content/plugins/jetpack/modules/subscriptions.php on line 730```

Running Jetpack 3.9.1, WP 4.4.1. Happy to provide any additional debugging information that you need.

[2016-01-24 17:03] kraftbj commented on #3339
Line in question: https://github.com/Automattic/jetpack/blob/master/modules/subscriptions.php#L730

Looks like we're calling the global `$post`, but probably not set based on the error.

[2016-01-24 17:05] kraftbj commented on #820
I'd like us to look at devicepx-jetpack.js overall. Now that Photon supports responsive imaging, how useful is devicepx? Can we reduce/drop usage of devicepx in addition to making this more efficient.

[2016-01-25 00:07] emiluzelac opened #3340 "Subscriptions widget: remove #subscribe-email input padding"
Remove the following padding because it overrides themes input styles:

[code]

https://github.com/Automattic/jetpack/blob/8a30daea4c9caea855c24b0ea7e9758d35e01e32/modules/subscriptions/subscriptions.css#L3

![screen shot 2016-01-24 at 18 01 38](https://cloud.githubusercontent.com/assets/1784526/12540002/06c6cd46-c2c5-11e5-9d1e-d893c339b5ce.png)

Basic input styles are fine, but this one isn't nee

[2016-01-25 03:24] jpen365 commented on #259
Would love to see this feature added

[2016-01-25 06:22] mookid8000 commented on #259
would be lovely! - :+1: +1

[2016-01-25 19:26] eliorivero commented on #3112
Patch deployed in r-130228-wpcom

[2016-01-25 19:26] #3112 closed

[2016-01-25 20:23] paolofid commented on #295
Hello

What should I do once in the page linked by you? (proposing a pull request)?

I land in https://github.com/Automattic/jetpack/pulls but when I click on “New Pull Request” i go to to a page with forks comparison and I’m not sure what to click.

On a slightly different subject, can I make a donation to have the the feature working again on Jetpack with geo locations and google maps?

Da: Jere

[2016-01-25 21:13] jeherve commented on #295
If you're not familiar with Pull Requests, you can read more about it here:
https://help.github.com/articles/using-pull-requests/

They're a way for you to propose code changes you wrote to the Jetpack plugin. If you don't feel comfortable editing PHP and JS code, I'm afraid you wont' be able to use that feature.

That's exactly what this issue is about: bring back the option to add additional met

[2016-01-25 22:59] csonnek commented on #2415
Another request for company page support in 2506026-t

[2016-01-26 04:51] cfinke opened #3344 "Multiple "Activate Photon" promos when uploading multiple images."
If you upload more than one image at a time, you'll get more than one "Let Jetpack deliver your images optimized and faster than ever" promos in the Media sidebar (one per uploaded image):

<img width="210" alt="screen shot 2016-01-25 at 8 49 28 pm" src="https://cloud.githubusercontent.com/assets/435369/12572767/51aaf3e2-c3a5-11e5-83cd-9aa54a3c4b2b.png">

Jetpack 3.9.1, WordPress 4.4.1.

[2016-01-26 16:00] chaselivingston opened #3345 "Theme Tools: Not available/don't work when Jetpack is disconnected"
The site logo feature in Jetpack doesn't work when Jetpack is fully disconnected, but does work when development mode is enabled. It seems that this is one of the features that should work regardless.

Here are a couple of screenshots to illustrate.

Jetpack Connected:
![screen shot on 2016-01-26 at 10-46-07](https://cloud.githubusercontent.com/assets/831377/12585869/e69e165c-c41b-11e5-97a6-cdd9ca

[2016-01-26 19:30] joostdekeijzer opened #25578 "prototype.js is not part of WordPress any more, maybe choose a better test cdn url?"

[2016-01-27 02:29] philiparthurmoore commented on #3345
Related: https://github.com/Automattic/jetpack/issues/3269.

[2016-01-27 02:30] philiparthurmoore commented on #3269
Related: #3345

[2016-01-27 11:39] jeherve commented on #3269
@philiparthurmoore Could you let me know if you could reproduce the issue when in Development mode, or if this only happened when your site was neither connected to WordPress.com, neither in Dev mode (as outlined in #3345)?

Thanks!

[2016-01-27 14:23] jeherve commented on #2540
Also reported here:
https://wordpress.org/support/topic/multisite-403-on-connecting-to-wpcom

[2016-01-27 17:34] jeherve commented on #2762
Closing as `wontfix` as per this comment:
https://github.com/Automattic/jetpack/pull/2776#issuecomment-168237838

[2016-01-27 17:35] #2762 closed

[2016-01-27 20:16] jkossen opened #3352 "jetpack 3.9.1: Gray line in genericons linkedin icon (social media icons widget)"
Just check the attached screenshot; there's a horizontal gray line in the linkedin genericons icon which is used by the social media icons widget.

<img width="464" alt="schermafbeelding 2016-01-27 om 21 13 01" src="https://cloud.githubusercontent.com/assets/365837/12626828/e8438382-c53a-11e5-9251-4d22b33d935c.png">

[2016-01-28 11:51] camaran opened #3354 "Add AMP Support"
add support for amp techology

[2016-01-28 12:00] kraftbj commented on #3354
We'll discuss how/if to add AMP support to Jetpack, but for now, you can use one of our (Automattic's) other plugins: https://wordpress.org/plugins/amp/

[2016-01-28 12:01] camaran commented on #3354
yes i know but give problem with like and share modules, for example https://rosolina.chatme.im/2015/07/13/ecco-come-non-si-fa-una-newsletter/amp/

[2016-01-28 12:11] jeherve commented on #3354
It looks like you found the right place to report this issue!
https://github.com/Automattic/amp-wp/issues/144

[2016-01-28 12:43] jeherve commented on #3352
That line might be added by your theme. Could you post your site URL here, so I can have a look?

If you want it to remain private, you can also contact us via this contact form:
http://jetpack.me/contact-support/

[2016-01-28 14:56] qant commented on #1288
Where is exactly those options? Cos after update i get links opened in new tabs

[2016-01-28 15:08] jeherve commented on #1288
@qant We've removed those options from Jetpack in version 3.4, in January of last year.

That's the expected behaviour. Links always opened new tabs, even before we removed the option.

If you think something isn't behaving as usual on your site, could you send us an email with more details about your site so we can take a look?
http://jetpack.me/contact-support/

Thanks!

[2016-01-28 17:08] chaselivingston opened #3355 "Sitemaps: news-sitemap.xml should include a language tag"
Based on Google's documentation [here](https://support.google.com/news/publisher/answer/74288?hl=en) it seems that we should be including a language tag in our news-sitemap.xml. There have been reports of Google's Search Console reporting errors, though it's not specifically referencing what the issue is, but seems this could be the culprit.

Related: 2507930-t

[2016-01-28 20:29] jb510 commented on #869
Is there any intent on the JetPack team to fix this so that plugin/theme shortcodes work? or is the only road map getting better at stripping out shortcodes even when they're critical to the content being displayed?

[2016-01-28 20:36] kraftbj commented on #869
@jb510 There hasn't been a technical decision made yet. There are some hurdles with returning rendered content (how to sanitize it for e-mail? How do handle column-forming shortcodes in the context of Publicize content?) that we'd need to explore a bit. @beaulebens's comment above stands: https://github.com/Automattic/jetpack/issues/869#issuecomment-136392207

[2016-01-28 20:38] beaulebens commented on #869
Yep, as mentioned above, fixing this with the way that Jetpack currently works depends entirely on improving the way that we sync content to WordPress.com (which is where things like Publicize and email subscriptions actually get sent from).

We're actively working on how to improve that, but don't have a solid plan just yet (there are short and long term considerations to all of the possible appr

[2016-01-28 20:42] kraftbj opened #3356 "Stats + Carousel: Record individual image hits"
On WordPress.com, page hits are recorded for each image viewed full-screen in the Carousel. In Jetpack, we do not collect that.

Enhancement: Collect these stats :)

Requested in 2509419-t

[2016-01-28 22:03] csonnek opened #3357 "Publicize: Allow users with publishing rights to set non-global publicize connections"
In troubleshooting an issue with a user ( 2508124-t ), I discovered that Authors no longer have the ability to set non-global Publicize connections and see those connections in the post editor.

Changed in: https://github.com/Automattic/jetpack/commit/11ca809dbf3ed3f0eafca3196502269022b02ff6#diff-97d5ac2c621e87d3e66143fdf56329c3R21

While Authors can't publish other user's articles, they can publi

[2016-01-28 22:06] dereksmart commented on #3357
Will be fixed by #3258

[2016-01-28 22:09] csonnek commented on #3357
Thanks @dereksmart - but it looks like it's getting fixed in #3341 ?

Regardless, I think this can be closed.

[2016-01-28 22:09] #3357 closed

[2016-01-28 22:14] dereksmart commented on #3357
:100:

[2016-01-29 00:33] jb510 commented on #869
TY. I do understand the hurdles and am glad you are intent on working on it (after 18 months wasn't sure there was actually interest).

It seems like it'd be simple to just pull from the RSS feed (which is what I had always assumed occurred before discovering you're pull post_content directly via API).  I get it's never _that_ simple, but that's what many similar "post by email" solutions use.

[2016-01-29 04:08] nkeat12 commented on #411
how do you customize the pre-populated message for the jetpack twitter sharing button

[2016-01-29 12:30] jeherve commented on #411
@nkeat12 See this tutorial:
https://jeremy.hu/jetpack-add-hashtags-to-the-twitter-sharing-button/

[2016-01-29 13:10] jkossen commented on #3352
Sure, it's at https://creativette.nl/ (the icons are shown at the bottom / footer)

[2016-01-29 13:13] jeherve commented on #3352
Thanks! That line is added by your theme, on line 1176 of your theme's stylesheet (`style.css`):

[code]

You can remove it for that specific widget by adding the following to your theme stylesheet, or to your custom CSS editor under Appearance > Edit CSS in your dashboard:

[code]

[2016-01-29 13:13] #3352 closed

[2016-01-29 15:09] jeherve commented on #535
Also suggested here:
https://wordpress.org/support/topic/importer-adresse-mail-dans-abonnement?replies=1&view=all

[2016-01-29 17:34] grappler commented on #2791
Same issue for `de_CH`

[2016-01-29 23:26] lschuyler commented on #259
Requested in 2511680-t

[2016-01-31 12:54] jeherve commented on #3235
Related: #3278.

We should probably consider adding a `jetpack_sharing_display_markup` filter that would cover each and every parameter of the Related Posts output. That would solve this issue, as well as others (#2164 and #2220 for example).

[2016-02-01 09:54] jeherve opened #3365 "Publicize: option can't be unchecked for Custom Post Type"
Steps to reproduce:
1. Go to Posts > Add New on a Jetpack site where you've added at least one Publicize connection
2. Write a draft, save it.
3. Click on Publicize's "Edit Details" link right above the Publish button
4. Disable Publicize for that post.
5. Hit Publish
6. Check your connected Social Media profile; your post was publicized there anyway.

I can't reproduce when posting from Calypso.

[2016-02-01 09:54] jeherve commented on #3365
cc @aduth in case you have some ideas as to what could cause this.

[2016-02-01 10:20] jeherve opened #3366 "Related Posts: make posts dofollow by default"
Right now, Related Posts links all include a `nofollow` rel parameter. A while back, we added a filter, `jetpack_relatedposts_filter_post_link_rel`, allowing you to remove that parameter if you'd rather have these links followed by search engine bots by default (see #2299).

@xyu Should we consider removing the `nofollow` parameter by default, since Google seems to be okay with that?
https://www.s

[2016-02-01 10:47] blissio commented on #1183
Any news on getting this fixed?

[2016-02-01 12:34] jeherve commented on #1183
@blissio No yet, but we'll update this issue as soon as we make progress on this.

[2016-02-01 13:46] jeherve commented on #1183
Also reported here:
https://wordpress.org/support/topic/reduce-excerpt-when-sharing?replies=4&view=all

[2016-02-01 15:03] jeherve opened #3367 "Sitemaps: can't change the sitemaps' location"
The Sitemaps module includes 2 filters:
- `jetpack_sitemap_location`
- `jetpack_news_sitemap_location`

Their name and the values they return (a sitemap URL) would imply that changing these URLs would allow you to print the sitemap at a different location. Unfortunately, that's not what the filters do. They only allow you to change the URLs that are printed in the robots.txt file.

It would be nic

[2016-02-02 05:14] TamieDearen commented on #869
So this has been a problem since 2014 and we're no closer to a solution?!!! I just put up my first post on my new wordpress website using jetpack for my transfered subscribers, and they were sent a huge email full of shortcode! Why was there no warning about this issue before you let me look like an idiot? What is the temporary solution for someone like me, who is not adept at understanding these

[2016-02-02 14:33] jeherve commented on #869
We're working on it. You can follow the discussion above to find out more.

I'm afraid we do not output any warning about the use of shortcodes in the post editor, sorry about that.

Until the problem is fixed, there are 2 alternatives to work around the issue:

- If you go to Settings > Reading in your dashboard, you can change your Feed Settings to "Summary". Once you save your changes, all subs

[2016-02-02 16:09] TamieDearen commented on #869
Yes! Thank you so much! This sounds simple enough that even I can handle it.

[2016-02-02 16:27] TamieDearen commented on #869
Thank you for your quick reply!

On Tue, Feb 2, 2016 at 8:33 AM, Jeremy Herve <notifications@github.com>
wrote:

[2016-02-02 16:36] jeherve commented on #261
Related request here:
https://wordpress.org/support/topic/why-is-jetpack-publicize-adding-an-extra-link-to-the-text-of-posts-on-fb-or-g?replies=1&view=all

[2016-02-02 16:52] kraftbj commented on #3325
When it is enabled, it isn't much better:
<img width="174" alt="screen shot 2016-02-02 at 10 37 28" src="https://cloud.githubusercontent.com/assets/88897/12756357/055540f2-c999-11e5-96b4-1aff3bfd2f14.png">

Proposed patch in D986-code .

[2016-02-02 20:30] aduth commented on #3365
Having trouble reproducing the original steps with a Facebook connection. Could you provide more detail about the connection itself (which service) and the post (anything specific besides having a title entered?)

[2016-02-02 20:35] kraftbj commented on #3279
I checked the Bluehost code (mu-plugins/sso.php on a BH install) and it is on their end. do_action in core has 2 args, their version has 1. I'll report it up to them.

[2016-02-02 20:35] #3279 closed

[2016-02-02 20:36] zocoloco commented on #2791
Any update on this? Getting this javascript error: 404 not found https://widgets.wp.com/notifications/build.min.js.map?3dec33ed91316fa5002b5b41bdd49d57

[2016-02-02 20:37] jeherve commented on #3365
It was a connection to a Facebook Page, and I had entered a title and some random content. I'd be happy to give you access to my test site if that can help. Email is on the way!

[2016-02-02 20:39] jeherve commented on #2791
@zocoloco That's a different issue, and something we're tracking in another GitHub issue on an internal repository. We'll get that error fixed soon. It shouldn't affect your experience in the dashboard, though.

Let us know if it does!

[2016-02-03 05:06] zocoloco commented on #2791
@jeherve thanks for the update! I appreciate it.

[2016-02-03 08:20] ntwb commented on #2791
So this is still 404'ing https://widgets.wp.com/languages/notifications/en-au.json even though Jetpack is now 100% translated for en_AU: https://translate.wordpress.org/locale/en-au/default/wp-plugins/jetpack, presuming this is something not yet switched from the translation projects move to w.org from https://translate.wordpress.com/projects/jetpack?

[2016-02-03 08:46] akirk commented on #2791
As @jeherve said in the initial post, the problem is not the Jetpack translation but that we don't have an en-au locale on WordPress.com. I think we can do some mapping server-side so that this will be fixed without having to change something in Jetpack.

[2016-02-03 11:59] jeherve opened #3370 "Media Summary: get_the_excerpt filter is used too early"
WordPress uses paging in `get_the_content()`, called by `wp_trim_excerpt()` when you didn't create any custom excerpt.

Unfortunately, paging is not well-defined in the header, before the loop begins, where we actually use the `get_the_excerpt` filter to filter our excerpt content:
https://github.com/Automattic/jetpack/blob/3.9.1/class.media-summary.php#L260

Steps to reproduce:
1. Install WordPre

[2016-02-03 12:38] kitchin commented on #3370
I reported this. Slightly modified STR:
3. When Jetpack asks to "Jump Start your site," click "skip." Configuring Twitter is not necessary.

For the test you want Publicize active, but nothing else that would try to create an excerpt for the post.

[2016-02-03 14:19] jeherve commented on #3332
Also reported here:
https://wordpress.org/support/topic/vimeo-embeds-broken?replies=1&view=all

[2016-02-03 16:58] richardmtl commented on #477
requested CSS in 2519778-t

[2016-02-03 21:02] aduth commented on #1633
True at the time of your comment, but Pinterest has since [unveiled a public Pinterest API](https://engineering.pinterest.com/blog/start-building-pinterest-api). We should reconsider the viability of Pinterest as a Publicize target.

Related API documentation: https://developers.pinterest.com/docs/api/pins/

[2016-02-03 21:10] aduth commented on #3365
Tested it on your site and not seeing the published post on your Facebook feed (unless it's been restricted by privacy settings I'm not privy to?)

Would you mind doing some testing to verify whether this occurs for you on a Facebook profile (not a page), and whether the connection was originally established with the same user account used to publish the post?

[2016-02-03 21:37] jeherve commented on #3365
It seems it wasn't published:

![screen shot 2016-02-03 at 10 25 51 pm](https://cloud.githubusercontent.com/assets/426388/12797616/238b3108-cac5-11e5-9b92-0801addd143a.png)

I.. can't reproduce anymore. :( Marking it as skipped really ships it now, whether for a Page or for a Profile.

Yes.

[2016-02-03 23:17] jeherve opened #3371 "Comments: form uses wrong comment ID when user is logged in locally, logged out from wpcom"
Steps to reproduce:
1. Under Settings > Discussion, check that box:

2. Log out of your site.
3. Log back in during a different account.
4. Log out of WordPress.com.
5. Open a post, and leave a comment.
6. The comment will be left under another post, using post ID `14`. That post ID is the same on 2 different blogs where I followed the steps above.

Here is how the comment form looks like in the i

[2016-02-04 10:10] Josephvb10 commented on #2791
@jeherve  This exact same issue is happening when selecting the `es_mx` language; the URL https://widgets.wp.com/languages/notifications/es-mx.json doesn't  exist (but https://widgets.wp.com/languages/notifications/es.json does).

[2016-02-04 15:43] kraftbj commented on #3279
Bluehost has applied the patch to resolve this and it is in their QA process now. It should be live on their end soon. I informed the OP.

[2016-02-05 13:56] slaveriq opened #3375 "Activation request returns invalid HTTP"
When activating one's jetpack installation the request to xmlrpc.php returns a response without `Content-Length` and without `Transfer-Encoding`. This causes varnish (tested with varnish version 4) to dismiss the response body.
According to RFC 2616 one of the two headers are mandatory.

Steps on how to reproduce:
1. Install wordpress with jetpack
2. Use netcat/telnet to simulate activation reques

[2016-02-06 03:19] captbrando opened #3376 "Add Social Tracking, after the initial post"
The Social plugin from Mailchimp does (or used to do) this where once a post was pushed to social media, any replies or retweets/reshares were captured as comments inside of the post history. Love how I can capture discussions on my post in one place!

[2016-02-06 18:05] lschuyler opened #3377 "Multisite / Protect: Network sites shown Protect Deactivated message when still enabled"
When Protect is enabled on the main site, other sites in the network don't have the ability to disable Protect.

However, when a network site attempts to disable Protect, they still see the "Protect Deactivated! You can activate it again at any time using the activate link next to each module." message when they deactivate Protect, but the module is still enabled.

Instead, they should be shown a

[2016-02-06 18:09] thierrypigot opened #3378 "Simple Food Menus - Add Many Items"
When i add a **new row**, the **description** field is not empty.

[2016-02-07 23:25] ocean90 opened #3379 "Network: Missing cache invalidation for Jetpack_Network::wp_get_sites()"
In `Jetpack_Network::wp_get_sites()` https://github.com/Automattic/jetpack/blob/8a30daea4c9caea855c24b0ea7e9758d35e01e32/class.jetpack-network.php#L799 the results are cached based on the query. If the query remains the same but new sites are added the method will return old results because the cache never gets deleted.

[2016-02-08 06:14] jb510 opened #3380 "JetPack Subscriptions Widget disappears when JETPACK_DEV_DEBUG mode is on"
Just noticed that the widget I'm trying to re-style disappears when JETPACK_DEV_DEBUG mode is turned on.  That makes it hard to work with.  Isn't there a way these widgets could continue to display in non-functional form with JETPACK_DEV_DEBUG was enabled?

I suspect it's not just that widget, but that's the one I'm looking at that is disappearing without reason.

[2016-02-08 11:09] kraftbj commented on #3380
That's intentional, as `JETPACK_DEV_DEBUG` enables only features of Jetpack that can function without a connection to WordPress.com.

We're in the process of [fleshing out a "staging mode"](https://github.com/Automattic/jetpack/blob/fe964d0da38b8f679628d6b6d0378c6db8d6e74f/class.jetpack.php#L6017) that would bridge that gap a bit (a site, more or less, functions as a connected site without actuall

[2016-02-08 11:09] #3380 closed

[2016-02-08 13:00] jeherve opened #3382 "Widget Visibility: option gets deleted by mistake on i18n interfaces"
See this video of Appearance > Widgets on a French website:
http://i.wpne.ws/f5QG

Since we can't use short labels in each and every language, we'd need to make sure the interface still works, even with long labels.

[2016-02-08 13:17] jeherve commented on #3376
I'm afraid that's not something that's on our radar right now. If you'd like to add that feature to your site, I'd recommend a plugin like this one:
https://wordpress.org/plugins/gplus-comments/

You can use it alongside Jetpack's Comments module, and it will allow you to capture content that's posted to Facebook and Google+.

The [Social plugin](https://wordpress.org/plugins/social/) does indeed

[2016-02-08 13:17] #3376 closed

[2016-02-08 13:19] EllieKennard opened #3383 "Bug: failed to load resource on loading posts"
I see this bug when viewing posts. http://stevenkennard.com/blog/
![error](https://cloud.githubusercontent.com/assets/17123364/12886578/c81cb43a-ce44-11e5-9555-b718eccf709b.PNG)

Failed to load resource: the server responded with a status of 404 (Not Found)send @ s0.wp.com/wp-includes/js/jquery/jquery.js?ver=20151215:1

I am just a user, not technical at all but am told this is a bug to be reporte

[2016-02-08 13:21] jeherve commented on #3378
I was able to reproduce as well. Here is a video of the problem:
http://i.wpne.ws/f5a8

[2016-02-08 13:24] jeherve commented on #3383
Thanks for the report.

I can't seem to be able to reproduce the issue right now. Could you let me know if the problem remains when using a different browser, and when logging out of your account?

Thanks!

[2016-02-08 15:03] dashaluna opened #3384 "Instagram URLs with `www` are not processed by jetpack"
It looks like instagram URLs only *without www* are processed by jetpack. However, having *www* in the instagram URL is valid.

So when jetpack is activated, I'd expect both instagram URLs versions (with and without www) being processed by jetpack.

Could it be due to the fact that in [instagram shortcode file ](https://github.com/Automattic/jetpack/blob/master/modules/shortcodes/instagram.php) al

[2016-02-08 15:51] richardmtl commented on #276
Related: #2278

[2016-02-08 18:43] jeherve opened #3386 "Related Posts: PHP notices for relatedposts_origin and relatedposts_position"
[code]

Reported here:
https://wordpress.org/support/topic/jetpack-popular-posts-widget-fatal-error-1?replies=12&view=all#post-7982233

[2016-02-08 18:59] richardmtl commented on #3333
another report in 2520507-t

[2016-02-08 23:10] VR51 opened #3390 "WP Stats Image Pixel Creates Gap Under Site Footers"
Noticed this issue a couple of times. The 1px image/Smiley Face used by WP Stats sits below the footer of a website and thereby causes a gap between the footer and browser's bottom edge. This gap appears to show more frequently in Chrome and Safari than in Firefox.

I'm using the following fix:

[code]

Can anyone suggest a reason to not use this fix?

If there are no reasons to not do this can th

[2016-02-09 00:44] TamieDearen commented on #869
This "Summary" fix did not work at all. The shortcode appears a the very
beginning of the email. I must say I'm disgusted. I have a hard time
believing the people who developed the JetPack plug-in don't know how to
fix this issue. I suspect, you don't want to fix the issue, as that might
force people to abandon their self-hosted sites.

Whatever the reason, I see that there is no hope of a solutio

[2016-02-09 00:45] TamieDearen commented on #869
This "Summary" fix did not work at all. The shortcode appears a the very beginning of the email. I must say I'm disgusted. I have a hard time believing the people who developed the JetPack plug-in don't know how to fix this issue. I suspect, you don't want to fix the issue, as that might force people to abandon their self-hosted sites.

Whatever the reason, I see that there is no hope of a solutio

[2016-02-09 05:29] mahangu commented on #2841
A user reported this in #2531482-t, and I'm able to reproduce it on my test site using Twenty Fifteen/Sixteen.

We set the initial height of the `jetpack_remote_comment` `<iframe>` here -

https://github.com/Automattic/jetpack/blob/c447170a842712494948736b54a8f5d0525ba022/modules/comments/comments.php#L286

And then update it here, based on JSON data we receive from WordPress.com -

https://github

[2016-02-09 06:15] mdawaffe commented on #3375
Generally, neither Jetpack nor WordPress sends `Content-Length` headers "manually".  Both leave `Content-Length`/`Transfer-Encoding` up to the webserver to handle as it sees fit.

Here's a request you can use to test just WordPress (with or without Jetpack installed).

test.xml:
[code]

[code]

In that blogwaffe.com example, WordPress isn't setting the `Transfer-Encoding: chunked` header, nginx is

[2016-02-09 09:37] jeherve commented on #869
@TamieDearen Both work-arounds appear to work on my end. If that didn't work on your end, could you [send us an email](http://jetpack.me/contact-support/) with more details about your site, so we can take a closer look?

Thanks!

You can check the discussion above to learn more about the issues behind the bug, and the possible solutions we've discussed. We will find a solution!

[2016-02-09 11:24] slaveriq commented on #3375
Thank you for for detailed answer.
If I run the request you gave me against the WordPress installation via varnish I do get a response body and a `Content-Length` header.

[code]

However  that is just varnish rewriting the headers. Towards the webserver I get `Transfer-Encoding: chukned`

[code]

I tried multiple of the demo/hello world requests towards WordPress xmlrpc interface, all of them hav

[2016-02-09 13:52] jeherve commented on #3390
That will most likely depend on how images are styled in your theme.

That could work indeed, although I can't seem to reproduce the issue on my own test sites.
Could you post your site URL here, so I can have a look?

If you want it to remain private, you can also contact us via this contact form:
http://jetpack.me/contact-support/

[2016-02-09 15:30] eliorivero commented on #3382
The click issue can be solved inserting this in their corresponding rules:
[code]
However, we still have the issue of truncated labels, I have it in spanish too.

So how about converting these text links to icons?

In Widgets screen
<img width="412" alt="widget-visibility0" src="https://cloud.githubusercontent.com/assets/1041600/12920486/9827f742-cf27-11e5-8f97-1aa8c547a9a0.png">
<img width="418"

[2016-02-09 18:11] jeherve opened #3391 "Gallery Widget: Javascript error when using slideshow type and Carousel option"
Steps to reproduce:

1. In Appearance > Widgets, create a new Gallery widget with the following settings:
![screen shot 2016-02-09 at 7 06 11 pm](https://cloud.githubusercontent.com/assets/426388/12925838/ac42199a-cf60-11e5-9b06-2558cacf9cdd.png)
2. Activate Twenty Sixteen
3. Load your home page. You won't be able to use the slideshow, and the following error will be displayed:

`Uncaught TypeErro

[2016-02-09 18:24] jeherve opened #3392 "Contact Form: add page title to list of available tokens"
In #654 we added tokens allowing site owners to customize the subject line of the emails. These tokens are generated from form fields.

It would be nice to add more tokens, based on other elements of the page, like the post title, post permalink, or maybe post's publication date (related: #2810).

Suggested here:
https://wordpress.org/support/topic/how-to-add-hidden-field-in-jetpack-contact-form

[2016-02-09 18:26] jeherve commented on #261
Related:
https://wordpress.org/support/topic/i-want-to-limit-the-length-of-the-post-to-first-para-in-fb-share?replies=4&view=all#post-8004306

[2016-02-09 18:44] jeherve opened #3393 "Photon: do not parse images using the `ng-src` attribute instead of `src`"
AngularJS's `ngSrc` directive ([#](https://docs.angularjs.org/api/ng/directive/ngSrc)) allows you to use Angular markup in images' `src` attribute. Unfortunately, Photon doesn't play with such image src URLs.

We should probably update our regex to make sure images using the `ng-src` attribute instead of `src` are not parsed by Photon.

Reported here:
https://wordpress.org/support/topic/compatibil

[2016-02-09 20:09] mdawaffe commented on #3375
I don't see any output buffering that would be interfering here, but that's a good guess, and I may be missing something.

Doing this in PHP would not be pretty (and core WordPress doesn't do it, so there must be some other problem elsewhere).  We'd have to do the chunking manually ourselves.  WordPress lets the webserver decide how to send the data it receives from PHP.

Clearly something is diff

[2016-02-09 20:21] jeherve commented on #709
Also suggested here:
https://wordpress.org/support/topic/email-notifications-of-new-subscribers?replies=1&view=all

[2016-02-09 20:23] jeherve commented on #1518
Also reported here:
https://wordpress.org/support/topic/like-this-not-loading?replies=1&view=all

[2016-02-09 21:41] slaveriq commented on #3375
We are using FastCGI + apache and a varnish in front.
The WordPress installation we tested with was pretty much vanilla. It has akismet and jetpack installed.

I just noticed something while testing with curl.
When using curl you actually get all the needed headers. It turns out curl is using HTTP/1.1 where as the server that does the original request uses HTTP/1.0.

The HTTP/1.0 specs are pretty

[2016-02-09 21:56] VR51 commented on #3390
The pixel is currently hidden within the site so you will need to counteract the above mentioned CSS. The site is https://mundolanugo.com.

The theme is Genesis with Dynamik (from Cobalt Apps). The file cache is currently disabled. I use the Genesis/Dynamik combination frequently. Have noticed the same stats smiley face/pixel displayed under the footer many times with this combination.

Thanks for

[2016-02-09 22:00] csonnek commented on #1122
Another in 2524746-t

[2016-02-09 22:03] gvenk commented on #2565
In 3.9.1 the problem still exists.

[2016-02-09 22:13] pabloleone commented on #259
same here, please!

[2016-02-09 22:34] mdawaffe commented on #3375
Very interesting.  Thanks for figuring out the problem :)

I'll close this issue but will let the rest of the support team know about the HTTP/1.0 issue in Varnish.

[2016-02-09 22:34] #3375 closed

[2016-02-10 11:43] swedroid commented on #261
Option to only publish post URL? Most sites supply metadata for FB, Twitter and G+, so URL will suffice in order to display post title+description.

[2016-02-10 14:23] #3295 closed

[2016-02-10 14:43] jeherve commented on #3390
How about adding the following:

[code]

It would make sure your theme's footer is really the last element on the page, and the Stats smiley wouldn't get hidden.

The Stats smiley is actually hidden by default, and has been since 2014 (#656). If you're working on an old site, where the default was still set to display the widget, you can hide it by going to Jetpack > Site Stats > Configure in your

[2016-02-10 15:22] #3344 closed

[2016-02-10 16:01] #3252 closed

[2016-02-10 16:10] roccotripaldi opened #3395 "JSON API: sites endpoint needs to include both `home_url` and `site_url`"
Currently the /sites/$site endpoint includes a `URL` in the response, and URL = home_url().  But in cases where the home_url() and site_url() are different, it will cause the post editor on wordpress.com to fail.

We'll probably should add `site_URL` and `home_URL` to the API response, while also maintaining `URL` for backward compatability.

cc: @lezama

[2016-02-10 17:40] #3016 closed

[2016-02-10 17:51] diggisaur commented on #3133
This patch fixed my issue that I mentioned here. You can close that support case.
https://wordpress.org/support/topic/jetpack-comments-do-not-work-1?replies=2&view=all

Any idea when this will be rolled into a JetPack update?

[2016-02-10 17:53] DennysDionigi commented on #259
same here too!
Thanks

[2016-02-11 00:34] EllieKennard commented on #3383
I'm not sure how to tell if it's there on other browsers. I see it easily on Chrome.

[2016-02-11 03:44] morio2 commented on #3375
**# PROBLEM RESOLVED!
first of all i have 3 domain names hosted with one.com and 2 domains works fine with Jetpack but 1 domain have the problem to connect to jetpack, so i have contacted Jetpack team support and they try to make anything but its not fix the problem, i try also to contacted one.com support team and they also try to solve the problem but nothing have changed and i was still have sa

[2016-02-11 04:54] rahil471 commented on #833
Love Jetpack comment system, Ajax'ed commenting would be a really good addition. Looking forward.

[2016-02-11 09:03] koke opened #3400 "Error handling for failed API uploads"
When you try to upload an image through the wp.com API and it's too large (larger than the site's `max_upload_filesize`), it will fail with an error that doesn't seem relevant:

The error is coming from [here](https://github.com/Automattic/jetpack/blob/42b43280d6e316719d90a534b6eb8e63540ba091/class.jetpack.php#L3497) and it's caused because it doesn't check if the uploaded file failed. Inspecting

[2016-02-11 09:35] jeherve commented on #3383
I tested in Chrome, Firefox, and Safari, but could not reproduce.

Does it happens when logged out of your WordPress account as well?

[2016-02-11 18:35] VR51 commented on #3390
Had forgotten the smiley face could be hidden in the settings.

Good idea to set the footer position to absolute.

Thank you Jeremy.

[2016-02-11 18:35] #3390 closed

[2016-02-11 22:01] georgestephanis commented on #3379
Honestly, I'm fine with just deleting this function and migrating to the core implementation, as noted in the phpdoc.

I doubt we use it heavily enough to necessitate the caching, and would prefer to defer to the core implementation.

[2016-02-12 13:43] jeherve commented on #2535
Also reported here:
https://wordpress.org/support/topic/related-posts-with-qtranslate-x-plugin?replies=1&view=all

[2016-02-12 14:41] jeherve commented on #3038
Also suggested here:
https://wordpress.org/support/topic/measuring-related-posts-google-analytics-event-possible?replies=1&view=all

[2016-02-12 15:42] jeffgolenski commented on #3382
@eliorivero Looking good, thanks for jumping on this! In the last screenshot, can you make sure the X and the + are aligned together? I think keeping them both vertically aligned with the top select box (where the X is), would work.

Cheers!

[2016-02-12 19:46] eliorivero opened #3407 "Nova menus: PHP notices when no Labels or Sections are defined"
- Menus throw a lot of PHP notices in list view in admin:
[code]

To reproduce, you need to have `WP_DEBUG` set to `true`:
1. make sure you don't have any Section or Label
2. create a new menu clicking Add One Item
3. go back to Menu Items and the notices will appear

- Additionally, when `WP_DEBUG` is not set to `true`, no notices are displayed but the buttons UP and DOWN both lead to a blank pag

[2016-02-14 02:36] TamieDearen commented on #869
Thanks for responding. With the help of some more computer-literate friends in my Facebook group, I have determined a solution that works for now. Essentially, I'm bypassing the editor on my website with Advanced Excerpt (from Delicious Brains) which takes me to the plain wordpress editor for the beginning of the post. This allows me to write a custom excerpt for the emails. After the beginning of

[2016-02-14 13:17] v3nt commented on #561
+1. Much better feature than being able to use polls in emails?!

[2016-02-14 21:19] memmeh commented on #261
Please get this sorted out. I really need to use Facebook publishing but I can't use it as long as the app posts the entire content into Facebook.

[2016-02-15 07:25] jeherve commented on #261
@memmeh Publicize doesn't post the entire content to Facebook right, only the first 60 words are pulled.

If you'd like, you can use the Publicize Details box appearing right above the Publish button to set a custom message before to publish your post. That custom message will then be used instead of the first 60 words of your post.

[2016-02-15 09:08] mahangu opened #3411 "Subscriptions: apostrophes stripped from 'from:' field in emails"
A user in #2535264-t reports that currently, when a site sends out subscription-related emails (confirmations, and Posts themselves), the apostrophes from it are stripped out when the Site Title is placed in the email's `from:` field.

I am able to reproduce this issue on both Jetpack and WordPress.com.

**Steps to Reproduce**
1) Include apostrophes in your Site Title
2) Subscribe to your site
3)

[2016-02-15 11:09] mahangu commented on #3411
Since this is a WordPress.com issue, I created a new ticket at wpcom#7697, so it can be tracked there. Closing this issue!

[2016-02-15 11:09] #3411 closed

[2016-02-15 13:47] jeherve commented on #3365
Also reported here:
https://wordpress.org/support/topic/publicize-edit-options-grayed-out-for-duplicated-posts?replies=1&view=all

[2016-02-15 14:10] jeherve commented on #2051
Also requested here:
https://wordpress.org/support/topic/publish-to-facebook-group-page?replies=1&view=all

[2016-02-15 14:51] filip-van-hoeckel commented on #3038
Why not open the template engine to users, so they can add GA events themselves to the template code?

[2016-02-15 14:54] jeherve commented on #3038
@filip-van-hoeckel That's something we're considering in #3235; ideally we'd have a filter allowing you to define your own custom markup for each related post.

[2016-02-15 15:50] jeherve commented on #1009
Closing as `wontfix` as we don't seem to receive many requests for this option, and a plugin already exists to add that feature to Jetpack:
https://wordpress.org/plugins/jetpack-contact-form-auto-reply/

If that plugin becomes popular, we'll consider adding the option to Jetpack.

[2016-02-15 15:50] #1009 closed

[2016-02-15 16:58] jeherve commented on #1931
Closing as `wontfix`, since we've now added more levels of feedback before one gets the blank default image.

[2016-02-15 16:58] #1931 closed

[2016-02-15 17:22] #1907 closed

[2016-02-15 17:28] jeherve commented on #1296
Closing in favor of #1554

[2016-02-15 17:28] #1296 closed

[2016-02-15 17:29] #1253 closed

[2016-02-15 17:29] jeherve commented on #1253
Closing, as we've had no other reports of this issue in the past few months.

[2016-02-15 17:31] jeherve commented on #1178
@mikeyarce Does using the `infinite_scroll_query_args` filter help, as explained here:
https://github.com/Automattic/jetpack/issues/1135#issuecomment-65706295

[2016-02-15 17:52] #1365 closed

[2016-02-15 17:56] jeherve commented on #1123
Closing since I can't reproduce. @1shiharat If you still experience issues, do not hesitate to give us more details!

[2016-02-15 17:56] #1123 closed

[2016-02-15 18:01] jeherve commented on #791
Closing, as I can't seem to reproduce anymore.

[2016-02-15 18:01] #791 closed

[2016-02-16 15:17] TheArcturian commented on #2791
The same for Norwegian as well: Failed to load widgets.wp.com/languages/notifications/nb.json

[2016-02-16 15:24] jeherve commented on #1524
Closing as duplicate of #409

[2016-02-16 15:24] #1524 closed

[2016-02-16 15:41] #842 closed

[2016-02-16 15:45] jeherve commented on #804
Closing as duplicate of #804

[2016-02-16 15:45] #804 closed

[2016-02-16 16:04] jeherve commented on #1561
Closing this as it seems it was handled via email.

@morganestes If this is still happening, feel free to let us know!

[2016-02-16 16:04] #1561 closed

[2016-02-16 16:07] jeherve commented on #1384
Closing this as `wontfix`, as we haven't received any other requests for this feature.

[2016-02-16 16:07] #1384 closed

[2016-02-16 16:11] #1273 closed

[2016-02-16 16:11] jeherve commented on #857
Closing as `wontfix` as we haven't received any other requests.

[2016-02-16 16:11] #857 closed

[2016-02-16 16:13] jeherve commented on #839
Closing this as `wontfix` as we haven't received any new reports of this problem.

[2016-02-16 16:13] #839 closed

[2016-02-16 16:14] jeherve commented on #860
Closing this as `wontfix` as it's common behaviour for all plugins, and also happens when switching themes.

[2016-02-16 16:14] #860 closed

[2016-02-16 16:16] jeherve commented on #1022
Closing as `wontfix` as this issue didn't get any traction in the past 18 months.

[2016-02-16 16:16] #1022 closed

[2016-02-16 16:18] jeherve commented on #1197
This is now fixed, as the Jetpack menu is now only visible to people needing to access Jetpack options.

[2016-02-16 16:18] #1197 closed

[2016-02-16 16:19] jeherve commented on #1212
This is now fixed, as the Jetpack menu was redesigned and doesn't include that second notice anymore.

[2016-02-16 16:19] #1212 closed

[2016-02-16 16:20] jeherve commented on #823
This is now fixed, as the Jetpack authorization screen was redesigned.

[2016-02-16 16:20] #823 closed

[2016-02-16 16:23] jeherve commented on #784
Closing this in favor of #2791, which covers other languages were the language code on WordPress.org doesn't match the options available on WordPress.com.

[2016-02-16 16:23] #784 closed

[2016-02-16 16:24] jeherve commented on #769
Closing this, as duplicate of #1315

[2016-02-16 16:24] #769 closed

[2016-02-16 16:26] jeherve commented on #767
I can't seem to reproduce the issue anymore. Closing.

[2016-02-16 16:26] #767 closed

[2016-02-16 16:36] jeherve commented on #1241
This seems to be fixed now. Closing.

[2016-02-16 16:36] #1241 closed

[2016-02-16 16:38] jeherve commented on #577
Closing as `wontfix`, as this is on its way to Core:
https://github.com/georgestephanis/application-passwords
https://github.com/georgestephanis/two-factor

[2016-02-16 16:38] #577 closed

[2016-02-16 16:40] jeherve commented on #1614
Closing this, as a Manage link has been added to the Monitor emails.

[2016-02-16 16:40] #1614 closed

[2016-02-16 16:48] jeherve commented on #1332
Photon doesn't seem to return broken images anymore, as long as the images are publicly accessible. If the images are hosted on a private WordPress.com site, they shouldn't be made available to the public via Photon.

[2016-02-16 16:48] #1332 closed

[2016-02-16 16:50] jeherve commented on #819
cc @jeffgolenski, who's been working on a better notification system.

[2016-02-16 16:53] jeherve commented on #1510
cc @richardmuscat, who's already renamed a few modules in #2539. Would you rename that module?

[2016-02-16 16:59] jeherve commented on #859
Related: https://core.trac.wordpress.org/ticket/32417

[2016-02-16 18:53] richardmuscat commented on #1510
We very specifically don't want to spin of Jetpack features into their own sub-brands -- in fact we've been trying to move away from that.

"WordPress.com Stats" for example is now "Site Stats", and
"Jetpack Comments" is, indeed, "Comments"

If we're going to rename it then we should simply call it "Extra Widgets" (ie not Jetpack Widgets and not Widget Power Pack).

IMO, part of moving to a module

[2016-02-17 08:45] jeherve opened #3417 "Comments: make sure labels are always visible"
![screen shot 2016-02-17 at 9 44 45 am](https://cloud.githubusercontent.com/assets/426388/13104054/1d8549d8-d55b-11e5-8da3-1184d528987d.png)

Suggested here:
https://twitter.com/mjmadaio/status/699731555116302336

[2016-02-17 09:36] jeherve commented on #1753
Since you build the links yourself in your theme, that's probably not something we need to handle in Jetpack itself. In your theme, you can do something like this:

[code]

[2016-02-17 09:36] #1753 closed

[2016-02-17 09:38] jeherve commented on #1608
Fixed in #1609

[2016-02-17 09:38] #1608 closed

[2016-02-17 10:26] jeherve commented on #1263
Closing this issue as Site Logo has now been proposed to Core:
https://core.trac.wordpress.org/ticket/33755

[2016-02-17 10:26] #1263 closed

[2016-02-17 10:27] jeherve commented on #1196
Fixed in #2049

[2016-02-17 10:27] #1196 closed

[2016-02-17 10:33] jeherve commented on #1016
Closing, as I can't seem to reproduce the issue anymore. Network deactivating the plugin seems to remove all aspects of the plugin everywhere.

[2016-02-17 10:33] #1016 closed

[2016-02-17 11:48] jeherve commented on #3365
@aduth I seem to be able to reproduce now. Can you check my site again, and try to publish new events?

[2016-02-17 12:08] jeherve commented on #7
Also reported here:
https://wordpress.org/support/topic/can-publicize-publish-only-certain-categories?replies=1&view=all

[2016-02-17 12:14] jeherve commented on #2841
Also reported here:
https://wordpress.org/support/topic/comments-box-has-set-height-and-no-scroll?replies=1&view=all

[2016-02-17 13:12] aduth commented on #3365
Okay, I can reproduce now. Do you think this is specific to custom post types then?

[2016-02-17 13:29] jeherve commented on #3102
Fixed in #3353

[2016-02-17 13:29] #3102 closed

[2016-02-17 14:24] jeherve commented on #3269
Closing in favor of #3345

[2016-02-17 14:24] #3269 closed

[2016-02-17 14:45] jeherve commented on #3345
This seems to apply to all theme tools. I think they should be available whether you're connected to WordPress.com or not. Unfortunately, Jetpack has to be connected for the file to load at the moment:
https://github.com/Automattic/jetpack/blob/3.9.1/class.jetpack.php#L1731

[2016-02-17 14:49] jeherve commented on #3070
Fixed in #3286

[2016-02-17 14:49] #3070 closed

[2016-02-17 17:01] jeherve commented on #3365
Yes. I can't seem to reproduce with posts.

[2016-02-17 21:15] #3386 closed

[2016-02-18 05:34] chuckreynolds commented on #3070
:+1: sounds like #3286 should fix it. Yes @kraftbj that site has used widget visibility for quite some time, since before my time. The DB is all sorts of dirty so having that exception and/or cleanup function will help. Thx guys. Cheers.

[2016-02-18 06:40] MuhammadMahdiHusayni opened #3422 "PBE attachment + Protect deactivate = Some attachments were rejected from the following WordPress.com Post by Email"
When using PBE from Gmail, image attachment are rejected
I have turned off Protect module and the image size is 6kb. I also turned off all other security wp plugin.
Instead, the following errors show up:

Some attachments were rejected from the following WordPress.com Post by Email:
http://iclub-kpmi.com/wp/?p=115
 - test.jpg - Invalid response from the Jetpack site

im using wordpress 4.4.2, them

[2016-02-18 08:59] jeherve commented on #3422
I can't seem to access your site at the moment.

Can you please use Jetpack's Debugger module to send us some more information about your site?

1. Go to the Jetpack page in your dashboard.
2. Click on the Debug link appearing at the bottom of the page.
3. Click the link that says "click here to contact Jetpack support."
4. Fill in the description box and your name and email address.
5. Click the

[2016-02-18 08:59] #3422 closed

[2016-02-18 09:58] jeherve opened #3424 "Related Posts: add list of post IDs to WP REST API Post responses"
The WordPress.com REST API includes the `/sites/$site/posts/$post/related` endpoint, that we use to get related post IDs for a specific post. We then use the `_jetpack_related_posts_cache` post meta to store the IDs of each Related Post locally.

It's useful, but that data can't be accessed by the core WP REST API.

It would be nice if we could register a new field in the API to expose these post

[2016-02-18 13:37] #3282 closed

[2016-02-18 15:57] #1370 closed

[2016-02-18 16:26] #3384 closed

[2016-02-18 16:55] AlejandroGiardino commented on #259
same here too!
Thanks

[2016-02-18 17:14] aensley commented on #259
I don't mean to seem impatient, but how many users have to request something before it becomes a priority? This has been open since [almost 3 years](https://plugins.trac.wordpress.org/ticket/1727) with nearly 50 different requests documented here and no progress. Were there really that many people asking for a Skype sharing button or yet another social icons widget?

The API calls are simple ( htt

[2016-02-18 17:39] robfelty opened #3426 "Multiple "activate photon" messages when uploading media"
On my self-hosted site, when I upload some images, I see several "activate photon" boxes. I would expect at most to see 1

I see several "activate photon" buttons

Start a new post, add media, see multiple buttons
![screen shot 2016-02-18 at 10 34 41](https://cloud.githubusercontent.com/assets/19924/13152255/7c14ff22-d62b-11e5-8d8d-957626bc0a13.png)

I am using WP 4.4.3 and Jetpack 3.9.1

### Are

[2016-02-18 17:44] jeherve commented on #3426
Fixed in #3351. The fix will be part of the next Jetpack release.

[2016-02-18 17:44] #3426 closed

[2016-02-18 21:09] #3298 closed

[2016-02-18 21:10] #3378 closed

[2016-02-18 21:51] aheckler opened #3428 "Twitter Cards: Add "player" card type"
We could use the `player` card type to present posts with media a bit better on Twitter. For example, if the post format is something like `video` or `audio` Jetpack could scan the post content for links to such files and present them in the Twitter tags.

Not sure how feasible this is, but it came up in #2542017-t, so just throwing it out here.

[2016-02-18 21:57] kraftbj commented on #3428
The `player` type requires approval with [some special requirements over other types](https://dev.twitter.com/cards/types/player/approval). My first thought is add some filters to make this easier/trivial for folks who are good jumping through the hoops.

https://github.com/Automattic/jetpack/blob/3.9.1/class.jetpack-twitter-cards.php#L49-L84

[2016-02-19 16:23] #3324 closed

[2016-02-19 16:47] richardmtl commented on #3026
Related: https://github.com/Automattic/jetpack/pull/3347

[2016-02-21 06:41] ethitter opened #3432 "Don't use site icon as fallback if it's less than requested size"
The site icon I've set is 360px square (https://s2.e15r.co/wp-content/uploads/sites/2/2016/01/erick-bio.jpg). When choosing an image to use for OG tags, and perhaps in other places, the site icon is considered as a fallback if a post has no images. In the case of OG tags, the requested size is 512px. Core returns the URL for the sub-512px image, and Jetpack passes it on as a 512px square, causing

[2016-02-21 18:52] m commented on #2601
Just wanted to bump this for @beaulebens.

[2016-02-22 01:33] kraftbj commented on #3432
Thanks! I was under the impression that Core didn't allow for sub-512 sizes, but haven't checked it out since Site Icon was midway through Core dev. We'll work it up and get it fixed.

[2016-02-22 13:20] jeherve commented on #261
Related request here:
https://wordpress.org/support/topic/fb-via-publicizing-link-in-post-description?replies=1&view=all

[2016-02-22 15:15] jeherve commented on #3333
Also reported here:
https://wordpress.org/support/topic/jetpack-sitemapxml-featured-image-boolean-incorrect?replies=1&view=all

[2016-02-22 15:27] jeherve opened #3434 "Related Posts: display issue in Twenty Sixteen / Firefox"
This can be reproduced on desktop as well as in the Firefox for mobile app on Android, on a site using the Twenty Sixteen theme.

The line appearing above the Related Posts headline isn't sticked to the left of the page:

![fdgicuj](https://cloud.githubusercontent.com/assets/426388/13222598/ee581508-d980-11e5-860b-d783641e7bbd.png)

This can be fixed with the following:

[code]

Reported here:
htt