[2021-09-23 06:05] #17330 closed

[2021-09-23 09:03] danjjohnson commented on #9603
4319765-zen

[2021-09-23 09:13] jeherve commented on #21163
Update:

- That is a WordPress.com Simple site.
- Impacted post ID is `7333`
- Since the report was from January, I do not have a lot of data about it at this time.
- I cannot seem to reproduce the issue on a test site today.

@pauljacobson Do you happen to know if the problem happened on other sites, or for other posts on that site? I'd be tempted to close this issue since I cannot reproduce, and

[2021-09-23 09:48] pablinos commented on #18948
I've deployed the fix to wpcom (r232173-wpcom) and that has fixed the issue for me on simple sites. I can't replicate this on Jetpack sites and @aleone89 confirmed to me that this is an issue on WordPress.com.

I'll close this issue for now, but obviously we can reopen it if the issue persists.

[2021-09-23 09:48] #18948 closed

[2021-09-23 10:08] pauljacobson commented on #21163
@jeherve I haven't come across this issue on other sites as far as I remember, at least not recently.

[2021-09-23 10:14] pablinos commented on #1183
Great, I've deployed the fix (r232174-wpcom) and it's fixed the issue for me.

I'm not getting the 'Continue reading' text that you have @jeherve, so I think this is probably be adding by the theme. I'll open a separate issue to address that. First thoughts are that maybe we shouldn't run the excerpt filters on the text, or we could detect a link, to the post being shared, towards the end of the e

[2021-09-23 10:14] #1183 closed

[2021-09-23 10:19] #21163 closed

[2021-09-23 12:09] jeherve opened #21165 "Package version tracker: conflicts with third-party plugins"
This issue is triggered when using a third-party plugin, Passwords Evolved ([W.org](https://wordpress.org/plugins/passwords-evolved/) / [GitHub](https://github.com/carlalexander/passwords-evolved/)).

#### Steps to reproduce

* On a brand new site, install the Passwords Evolved plugin.
* Then, install, activate, and connect [Jetpack version 10.0](https://downloads.wordpress.org/plugin/jetpack.10.0

[2021-09-23 13:32] sophiegyo commented on #20057
Another request came in via 31060326-hc / 4320892-zd

[2021-09-23 14:16] kbrown9 commented on #21165
Thanks for digging into this issue, @jeherve!

It looks like Passwords Evolved sets the `password.generator` key during the `after_setup_theme` [action](https://github.com/carlalexander/passwords-evolved/blob/51451a3256b218be692bdcaf415b3a6fd7c35d93/passwords-evolved.php#L35), but the Package Version Tracker is sending the request before that action fires. I think I can just hook the request to a

[2021-09-23 14:31] retrofox opened #21169 "Publicize: refresh connections once post saves"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Create a new post
2. Open the Jetpack sidebar
3. Add social media connections
4. Enable some connections to share the post
5. Publish the post

### A clear and concise description of what you expected to happen.

Get the connections list updated, disabling the connection used to share the post.

### What actually happened

The connections li

[2021-09-23 14:40] B3ginnersMind commented on #11849
Footnotes do not fit right to the block oriented Gutenberg editor: With a footnote a new block at the end of the text has to be created. If one adds another footnote this remote block has to be modified and expanded. However, the concept of Gutenberg is that one always is editing a block locally only. Furthermore, markdown does only make sense if it can be edited in a _markdown code editor_. Immed

[2021-09-23 15:48] arcangelini commented on #21069
## Authors widget

This widget is working well in the Legacy Block and we do not have a block to replace it with just yet. Checking it off the list, for now, we may want to look at building a viable replacement block.

[2021-09-23 15:54] arcangelini commented on #21069
## Goodreads

This widget is working well in the Legacy Block and we do not have a block to replace it with just yet. Checking it off the list, for now, we may want to look at building a viable replacement block.

[2021-09-23 16:27] jeherve commented on #11849
That is what Jetpack's Markdown block is; a single editor where you can write all your Markdown, footnotes included.

However, the Markdown library we rely on for that block does not support footnotes out of the box. That is the issue discussed here. For footnotes to work in that block, add-ons to the original library would have to be used, as outlined here:
https://github.com/Automattic/jetpack/i

[2021-09-23 16:35] #21093 closed

[2021-09-23 16:54] #20941 closed

[2021-09-23 17:16] dilinger commented on #14567
This is a pretty huge accessibility issue, and Jetpack should probably set the default for swiper.params.keyboard.pageUpDown to false.

[2021-09-23 18:57] #20057 closed

[2021-09-23 20:26] mreishus commented on #20057
This is scheduled for the next Jetpack release (10.2 on 2021-10-05) and is available on certain WordPress.com plans today (simple). Here's a video of me using the new feature:

https://user-images.githubusercontent.com/937354/134578924-bba9a722-dd30-4657-9d4e-687515e73ef7.mp4

p7DVsv-cIY-p2

[2021-09-23 22:47] samiff commented on #20513
I think I'm ok with this as well 👍  I'm thinking Woo would only warrant special attention (eg showing a Woo filter option in UI even when deactivated/deleted) if this was driving frequent support requests. And there are straightforward workarounds available here.

[2021-09-23 22:47] #20513 closed

[2021-09-23 23:22] bluefuton opened #21177 "Jetpack Search admin: long buttons in Safari only"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a site with Jetpack Search enabled, go to `/wp-admin/admin.php?page=jetpack-search`.

### A clear and concise description of what you expected to happen.

The buttons at the bottom of the page are a reasonable size.

### What actually happened

In Safari only, the buttons are looooong.

### Other information

<img width="951" alt="Screen

[2021-09-23 23:25] bluefuton opened #21178 "Instant Search: doubling up of close icons in Safari"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to https://www.printmag.com/?s=print.

### A clear and concise description of what you expected to happen.

The Safari built-in close button for search inputs is hidden, and we show our own 'clear' button instead.

### What actually happened

Despite there being a `-webkit-appearance: none` on the button, the built-in close button is disp

[2021-09-24 10:02] erikdemarco opened #21185 "Enhancement:Jetpack search 'author' query"
### Impacted plugin

Jetpack

### What

Please add support for author filtering and search query. when I have query_var ?s=keyword&author=x it will not search for author which break our site. We have a lot of author page indexed by Google. Because jetpack not support this, it show the same content. So we get duplicate content penalty.

Another use case is woocommerce multivendor cant use this to s

[2021-09-24 10:37] Robertght commented on #14567
After further testing, we(me and Alvaro) couldn't replicate this issue anymore:

https://d.pr/v/hKOISU

I'm marking this as closed for now but please open it again if it's becoming a problem again.

cc @jeherve

[2021-09-24 10:37] #14567 closed

[2021-09-24 10:59] jeherve opened #21187 "Subscription Block: add setting for success message"
### Impacted plugin

Jetpack

### What

Add setting to block just like it exists for the widget

### How

The Subscription includes a `success_message` setting that can be customized via the Widget settings. It would be nice if that setting existed for the block as well.

[2021-09-24 16:08] #21177 closed

[2021-09-24 18:30] gibrown commented on #21185
Ya, right now we don't have any filtering by author supported: https://github.com/Automattic/jetpack/issues/17704 and https://github.com/Automattic/jetpack/issues/8563.

I'm going to close this issue as a duplicate of those two. I think we are getting closer to supporting this, but thanks for nudging us on it.

[2021-09-24 18:30] #21185 closed

[2021-09-24 18:50] erikdemarco commented on #17704
I don't agree with this. This will contradict what "jetpack search" do. It only needs to handle when search params exist. From UX perspective it also very bad. Like when people clicking a link they expect a content to show up. At split second people will be shown "no result" before jetpack modal shows up.

From search engine is also maybe bad. It shows a modal popup. Which against seo. And the con

[2021-09-24 19:45] #20907 closed

[2021-09-25 04:07] geoffguillain commented on #79
You will find a working example using Jetpack infinite scroll on single post pages on George's [blog post](https://georgestephanis.wordpress.com/2021/05/24/jetpack-infinite-scroll-for-single-posts/)

He is using the `infinite_scroll_archive_supported` hook to add support for the single template while the `infinite_scroll_js_settings` will let us personalize the JS settings for the single page temp

[2021-09-25 17:45] ACEkin opened #21194 "Tiled Gallery linked images are restricted in size smaller than the original"
### Impacted plugin

Jetpack

### Steps to Reproduce

Upload images 1600 px wide
Using them, create a tiled gallery
Display the post, and click on a thumbnail
Observe the displayed image size which will be limited to a smaller size

There is a support post that with more examples. But, here are some relevant links:

This is where the problem can be seen:
https://www.testbed.biz/tiled-gallery-image

[2021-09-26 09:25] aisajib commented on #21069
This is almost certainly not the right place to bring it up, but I really wanted to note this somewhere and perhaps one of you can point me in the right direction. :)

In the original list of legacy widgets to be removed, I noticed that "Text" and "Images" are not there. I was looking for them because I've been trying to look for a solution to this [forum post](https://wordpress.com/forums/topic/h

[2021-09-27 01:25] bluefuton commented on #20908
Users are now started on the settings pane on mobile, which resolves most of what's been raised here 🎉

I still reckon we should add a save button on the settings pane, because it's quite difficult to find now (you have to find your way to the preview then Save).

[2021-09-27 07:54] arcangelini commented on #21069
Hey @aisajib thanks for pointing this out. I am going to make a P2 post this week summarizing what we have done so far with the Jetpack widget ⇢ block transforms and hopefully, that will offer a place to discuss some of the particulars that people are running into.

As for the visibility button, I think the best way to respond at this point is with CSS. All blocks should have the CSS Class option

[2021-09-27 08:01] simison commented on #21069
@aisajib @arcangelini visibility feature is almost done for the blocks, so they should be able to use image+text blocks soon. Just a couple small issues to sort out, listed at https://github.com/Automattic/jetpack/pull/20731#issuecomment-926682417

[2021-09-27 11:25] jeherve commented on #21194
Thanks for the report!

Related: #19445, #18636

[2021-09-27 11:59] amustaque97 commented on #20562
@thingalon, once again I want to get involved with the project 😄
Here are the things I observed/understand during the code walkthrough.

* We are using ```Viewport``` class only in the file https://github.com/Automattic/jetpack/blob/master/projects/plugins/boost/app/class-jetpack-boost.php

* ```Viewport``` class:  we are using only 2 variables from the file ie: `DEFAULT_VIEWPORT_SIZES` and `DEFAU

[2021-09-27 17:25] pablinos commented on #20939
We have some new designs for this and we're already working on the common components, so this can be closed.

[2021-09-27 17:25] #20939 closed

[2021-09-27 18:28] pablinos opened #21203 "Publicize: Create endpoints for use from the editor"
Currently we have some API endpoints available in WordPress.com for sharing posts using Publicize. In order to offer this feature in the editor we need these endpoints to be available on the Jetpack site. They'll mainly serve as a proxy to WordPress.com.

This is the back end work required to implement  #21087

Publish the new endpoint.
- [x] Merge the Jetpack PR #21137.
- [x] Deploy D67158-code t

[2021-09-27 18:33] yuliyan opened #21204 "i18n: Missing translations due to unextractable strings from output JS files"
### Impacted plugin

Jetpack

### Steps to Reproduce

* Inspect the output JS files of v10.0 and v10.1 (e.g. `_inc/blocks/editor.min.js`).
* Translatable strings in the latter no longer have the gettext function name (`__`) preserved in the output bundle files.

### A clear and concise description of what you expected to happen.

Functions name of translatable strings, i.e. gettext `__()` calls, a

[2021-09-27 19:22] #21165 closed

[2021-09-27 19:22] #21097 closed

[2021-09-27 20:17] retrofox opened #21206 "Enhancement: Publicize: refresh connections once post publishes"
### Impacted plugin

Jetpack

### What

Polish refreshing connections when post publihses

### How

This is a follow-up issue that suggests improving the process of refreshing the connections list. Right now, the connections list is refreshed every time the post is saved. Let's refresh it only when the post is published.

[2021-09-28 05:27] #20680 closed

[2021-09-28 10:36] yansern commented on #18271
This issue is no longer replicable. Tested with the latest TT1 Blocks on Atomic with Side Editor enabled.

[2021-09-28 10:36] #18271 closed

[2021-09-28 13:25] AtrumGeost opened #21216 "[Jetpack Search] Add support for WooCommerce Product Attributes filter"
### What

We got a request from a user who wanted to be able to filter the product search results by attribute

### Why

For discoverability of product variations

### How

I'm not sure if this is technically possible due to the way WooCommerce works and that each product can have its own set of attributes. But here's a screenshot with annotations:

![Screen Shot on 2021-09-27 at 09:44:19](https:/

[2021-09-28 16:05] allilevine opened #21219 "Post List Package: Add a "Share" action to the post list"
### Impacted plugin

Jetpack

### What

Add a "share" link to the actions for each post in the post list

### How

See https://github.com/Automattic/jetpack/issues/21132
Use query param from https://github.com/Automattic/jetpack/pull/21156

[2021-09-28 16:10] anomiex commented on #21204
That plugin is already in use in the Jetpack build, but seems to not be having the intended effect.

[2021-09-28 16:44] anomiex commented on #21204
In fact, if I comment out the line loading it in `node_modules/@automattic/calypso-build/babel/default.js` and rebuild, `wp i18n make-pot` starts detecting the strings again.

[2021-09-28 17:19] coreymckrill commented on #15227
Noting that, at present, shortcodes included in the block templates and block template parts of FSE themes are not rendered, and that probably [won't change](https://github.com/WordPress/gutenberg/issues/23626). It seems like that might make this issue a bit more urgent.

[2021-09-28 17:40] simison commented on #15227
@jeherve 👋 this issue should be tracked for WP 5.9 readiness.

[2021-09-28 18:01] gibrown commented on #21216
Related/Blocked by https://github.com/Automattic/jetpack/issues/15672

[2021-09-28 22:20] yuliyan commented on #21204
@anomiex, I think it needs the `concatenateModules` optimization disabled as it is applied for some packages in the linked PR (Automattic/wp-calypso#49341.), i.e.

[code]

[2021-09-28 22:48] kangzj commented on #21108
hi @rw-ye thanks for reporting the issue.

Are still able to reproduce it?

I tried on `Podcaster SecondLine` theme version `1.2` with Jetpack  version `10.1`, and was not able to reproduce it.

![image](https://user-images.githubusercontent.com/1425433/135176021-3443c309-6622-499f-aefc-7b2bf515248d.png)

[2021-09-28 22:50] kangzj opened #21227 "Jetpack Search: Only bill for searchable records (not excluded post types)"
### Why

For now, our users don't have control on what posts / post types are indexed for their sites and charged for all the posts indexed, even if they exclude post types in Instant Search settings. The reason is that the setting only works as filters, which doesn't actually exclude the post type(s) from index. And the number of records in index is what the billing system would rely to calculate

[2021-09-29 07:43] rw-ye commented on #21108
Hi @kangzj, I can still reproduce the issue.

https://d.pr/i/HOvhst

I'm using `Podcaster SecondLine version 1.2` and `Jetpack version 10.1` as well.

[2021-09-29 08:56] openfist opened #21228 "Enabled Image Gallery Carousel - Gallery Block in image slider will not show Like and Sharing Buttons when enabled"
### Impacted plugin

None / Other

### Steps to Reproduce

Image Carousel does not display either the Like button or Sharing buttons when they are enabled in Marketing>Sharing Buttons>Media.

- enable Image Carousel in Settings > Media
- enable sharing and like buttons for media in Marketing>Sharing Buttons>Media.
- insert Gallery Block in post or page
- insert images
- enable sharing buttons and

[2021-09-29 09:52] amustaque97 commented on #21187
@jeherve, I would love to work on this issue. Would please share some ideas on how to implement it? If you have some thoughts, inputs or any resources if handy. Or no worries I will figure it out on my own.

[2021-09-29 10:25] DavidSaladu commented on #13765
Also requested in 4334670-zd-woothemes

[2021-09-29 11:10] eAdnan007 opened #21229 "Boost: Refresh speed score is dispatched even when jetpack is offline."
Boost does not display any speed scores on [jetpack offline mode](https://jetpack.com/support/development-mode/). So, there should not be any requests to fetch the score.

Currently, boost will dispatch requests to fetch scores even when jetpack is offline, if you toggle a module.

https://d.pr/v/71e6ur

[2021-09-29 11:39] retrofox opened #21230 "Publicize: Prioritize storing publicize data into post metadata vs jetpack/publicize store"
We need to consolidate how the publicize plugin stores the data into the post. This issue suggests simplifying this implementation, relying on the post metadata as the unique source.

[2021-09-29 13:37] anomiex commented on #21204
Odd that calypso-build doesn't actually set that then. Or maybe not so odd in light of the conversation at https://github.com/Automattic/jetpack/pull/21004#issuecomment-920344436.

[2021-09-29 13:37] retrofox opened #21233 "Publicize: update connection `done` state once post publishes"
Currently, when the post is published the `done` state is not updated on the fly.

[2021-09-29 14:06] sdixon194 commented on #13765
@DavidSaladu TikTok has been added as a social icon for Jetpack, however there are some themes, like Varia and its child themes, that have their own social links implementation for the social menu and don't use Jetpack's. I'd recommend adding the request in the theme repo here: https://github.com/Automattic/themes/issues/4355

[2021-09-29 15:46] sdixon194 commented on #21228
Hmm, I don't believe this is a bug - the like and sharing button show when carousel is disabled because when clicking the image, you're taken to the image attachment page (if that option is set). The carousel works a bit differently and adds an overlay to the existing page.

Although I could see people wanting to see how many "likes" an individual photo got, I'm not sure adding the like/sharing bu

[2021-09-29 18:22] retrofox opened #21239 "Publicize: tidy sidebar components"
There are some inconsistencies in the composition of the components of the plugin. I suggest using Panel, PanelBody, PanelRow, etc. as much as possible, and clean the CSS code that tweaks these components.
They should be handled by the core as much as possible.

[2021-09-29 18:39] tbradsha opened #21241 "Forms: hidden input type"
### Impacted plugin

Jetpack

### What

Hidden input types are common in forms, and it's a useful low-tech way to capture data, particularly when passing data via an API

### How

In Jetpack CRM, for example, we capture contact status and tags from forms via hidden inputs.

This should be fairly simple: it'd be like a Text block but with a value defined within the block editor.

[2021-09-29 21:05] samiff opened #21242 "VideoPress: uploading beyond storage limit in wp-admin gives cryptic error message"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a site with the Jetpack Beta plugin using the RC branch (10.2-beta), and no paid plan, follow the instructions outlined [here](https://github.com/Automattic/jetpack/blob/e18b1a70e127558c4a2f4ea4fa40d408166f148c/projects/plugins/jetpack/to-test.md#videopress).
2. Try uploading an additional video after the first was successfully uploaded a

[2021-09-29 21:09] roundhill commented on #21242
We're actually already working on this 👍. We also need better errors for Gutenberg: https://github.com/Automattic/greenhouse/issues/964

[2021-09-30 04:28] #21229 closed

[2021-09-30 05:42] edwinho89 commented on #21060
+1 to this. The user in 14625122-hc experienced this, and had thought publicize is broken - resulted in reconnecting publicize again. (guided user to Republicize published posts from Calypso ‘Posts’ view

[2021-09-30 10:16] jeherve commented on #15227
Could you clarify a bit what you mean by that? Would 5.9 break rendering of shortcodes in some way?

[2021-09-30 10:29] jeherve commented on #21187
@amustaque97 If you're interested in giving this a try, I would recommend that you take a look at past work on the Subscriptions block, like in #15107, to see how we tie existing Subscription feature options (such as the success message widget / shortcode option from `projects/plugins/jetpack/modules/subscriptions/views.php`) to new block attributes.

[2021-09-30 12:10] Robertght commented on #15473
Another report in 4337947-zen

[2021-09-30 12:26] alshakero commented on #14507
PR ready https://github.com/Automattic/jetpack/pull/21247

[2021-09-30 14:27] #21204 closed

[2021-09-30 20:14] allilevine commented on #21141
Fix here: D67690-code

[2021-10-01 03:03] markjaquith opened #21264 "General: Undefined index: path"
This line accesses `$referer['path']` but `path` is not guaranteed to exist in that array.

https://github.com/Automattic/jetpack/blob/edcc988c4e422fd3609ab00c80d2c5cb57b1f95b/projects/plugins/jetpack/class.jetpack.php#L3367

[2021-10-01 06:52] #20974 closed

[2021-10-01 09:29] rickmgithub opened #21291 "Podcast Player: Increase the number of episodes shown"
### What

Increase the "number of items" in the podcast player block

### Why

Many podcasts have more than 10 episodes.

If the podcaster is hosting their podcast files on another service then they can only show 10 of their episodes on the podcast player block in their website here.

Is it possible to increase the number. It doesn't seem to be effected by the "writing" or feed number settings on

[2021-10-01 10:50] #20520 closed

[2021-10-01 12:06] #21206 closed

[2021-10-01 14:22] bizanimesh opened #21266 "SSO does not work when the WP login URL is changed (SiteGuard WP Plugin)"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Enable WordPress.com login on a Jetpack site.
2. Install [SiteGuard WP Plugin](https://wordpress.org/plugins/siteguard/).
3. Make sure Rename Login feature is enabled on SiteGuard WP Plugin.

![Markup on 2021-10-01 at 17:26:14](https://user-images.githubusercontent.com/52444539/135617080-512b81a4-755d-46b1-b79c-5153ab062f49.png)

4. Go to th

[2021-10-01 15:04] #21155 closed

[2021-10-01 17:48] gravityrail opened #21268 "Crash of Jetpack Beta plugin on Dreamhost "Dreampress" managed instance"
### Impacted plugin

Beta

### Steps to Reproduce

1. On a site installed on Dreampress, e.g. www.goldsounds.com...
2. The Jetpack Beta plugin was automatically upgraded to 3.0.2
3. I got an error and couldn't load any pages in wp-admin and needed to enter recovery mode to deactivate Jetpack Beta

Note that deactivating the beta plugin resulted in the following error:

[code]

I then reinstalled r

[2021-10-01 18:55] kerrynicl commented on #16989
31041805-HC Another report as well. User tried workaround and that did not resolve issue

[2021-10-01 20:22] #21264 closed

[2021-10-01 20:29] #14507 closed

[2021-10-01 23:18] jeherve commented on #21266
related: #18457 and #17782. It would be interesting to understand the differences between SiteGuard and WPS Hide Login here, why SSO works with one but not with the other.

cc @sergeymitr who worked on that issue.

[2021-10-03 15:44] arcangelini commented on #21069
## Social Icons - [PR](https://github.com/Automattic/jetpack/pull/21146)

[2021-10-03 18:20] pablinos opened #21274 "Post List: Check that the post type has support for thumbnails"
Currently we add the thumbnail column for all post types, because we're using the two generic hooks `manage_pages_columns` and `manage_posts_columns`. The latter is used for all post types that aren't pages.

We should check that the current post type has support for thumbnails before adding the column.

[2021-10-03 19:14] arcangelini commented on #21069
Total list of ALL WordPress.com widgets investigations - p1633288426167100-slack-C029HCKPXP0

[2021-10-03 19:16] arcangelini commented on #21069
## Cookies & Consent Banner - working with no exact block to replace with yet
## Facebook Page - working with no exact block to replace with yet
## Flickr Photos - working with no exact block to replace with yet
## Google Translate - working with no exact block to replace with yet
## Gravatar - working with no exact block to replace with yet
## Gravatar Profile - working with no exact block to rep

[2021-10-03 23:59] kangzj opened #21276 "Search Enhancement: Change page title with query"
### Impacted plugin

Jetpack

### What

Change the <title> of the page with search query to provide better browser history.

### How

### Current behaviour

For now, search URLs in browser history doesn't have meaningful title, like in the following screenshot.

![Markup on 2021-10-04 at 12:57:10](https://user-images.githubusercontent.com/1425433/135777786-609f498e-c4fc-4ee6-9a07-6fed6ac3c3f3.png)

[2021-10-04 01:57] kangzj commented on #21108
Hi @rw-ye thanks for the feedback.

I inspected the issue further, and found out that.

1. Certain JS files are merged and served by `domain/_static/??` for atomic sites - in this case `plugins.js`
2. The JS file from the theme is `path-to-theme-folder/js/script.js` which depends on another JS file `plugins.js` from the same folder
3. When Instant search is not enabled, `script.js` loads after `pl

[2021-10-04 02:15] kangzj commented on #20904
Hi @jsnmoon So i suppose the issue would be gone after `D67402` is shipped?

[2021-10-04 13:48] sdixon194 opened #21280 "Enhancement: Modules Page - Update Backup and Scan"
### Impacted plugin

Jetpack

### What

On the current Jetpack Modules page at `admin.php?page=jetpack_modules`, the Backup and Scan module links to VaultPress support docs.

### How

This is expected, since this link is specifically for those legacy features/plans before the new Backup/Scan took over. However since the newer Jetpack Backup/Scan products aren't modules, it doesn't seem to make sen

[2021-10-04 19:42] jsnmoon commented on #20904
Correct, this has now been resolved by using first-party/same-origin API requests for simple private sites.

[2021-10-04 19:42] #20904 closed

[2021-10-04 19:49] allilevine opened #21285 "WordPress.com Toolbar: Menu links not updating in Firefox"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. In Firefox, go to wordpress.com/posts/ for a Simple site and open the Screen Options menu in the upper right. Switch to Classic View.
2. Switch back to Default view.
3. Navigate away from the posts page
4. Navigate back to the Posts page using the unified nav

### A clear and concise description of what you expected to happen.

The Posts men

[2021-10-05 02:41] amustaque97 commented on #21285
:wave: @allilevine, I would love to work on this issue. I went through the recording and will reproduce it locally. I will update you soon with my findings or fixes.

[2021-10-05 08:05] #21274 closed

[2021-10-05 10:01] jeherve commented on #21291
Related: #18836 where we added a filter one could use to lift the limit like so:

[code]

However, and as you pointed, the filter does not impact the range control in the UI. If one were to use the filter, you would also have to edit the block attributes with the code editor, like so:

https://user-images.githubusercontent.com/426388/136001311-f7aa798b-1dd8-4195-a251-4767e755d956.mov

[2021-10-05 10:46] formosattic commented on #21291
@jeherve : Thanks for the workaround! Just noting that this was initially filed in the context/repo of WordPress.com, so the filter solution is not an option on Simple sites.

[2021-10-05 13:56] AtrumGeost commented on #16303
Got another report here:

4305930-zd-woothemes

The workaround mentioned above worked.

[2021-10-05 16:07] allilevine commented on #21285
Thanks @amustaque97! I'm not sure this bug can be reproduced / fixed without access to internal development environments, but you're welcome to try if you see a solution. 🙌

[2021-10-05 21:00] #14179 closed

[2021-10-05 21:16] pablinos opened #21299 "Post List: Add an action to share the post"
Now we have the query parameter that we can use to ensure the Jetpack sidebar is open as the editor loads, we can link to it from the post list, so the UI is displayed to share the post.

[2021-10-05 22:35] #20908 closed

[2021-10-05 23:56] ACEkin commented on #21194
Update after Jetpack 10.2

On the following link is a short post as before, it displays a broken TG followed by a new gallery created right after updating Jetpack to 10.2, and the second gallery displays as expected:

https://www.testbed.biz/tiled-gallery-image-dimension-problem/

The second gallery was created after updating the plugin to 10.2 on 10/5/2021 and it seemed to work as expected. I mad

[2021-10-06 05:16] edwinho89 opened #25023 "Allow sending text notification (SMS) when new submission/feedback form received"

[2021-10-06 08:56] alshakero commented on #21298
Let's wait and see but I doubt it would fix the issue, because I was testing against master yesterday and tested very generic words like 'Sunday' (which I also verified are translated) but still words didn't make it.

[2021-10-06 12:43] daria2303 commented on #12801
31577327-hc

[2021-10-06 14:30] kospl commented on #7370
You can fix title attribute issue by removing Jetpack handlers, example for YouTube and Vimeo:

    function ee_init()
    {
        // deregister Jetpack handlers for YouTube embeds (fallback to native WordPress will be used instead)
        wp_embed_unregister_handler('wpcom_youtube_embed_crazy_url');
        remove_filter('comment_text', 'youtube_link', 1);

        // deregister Jetpack handle

[2021-10-06 14:33] amustaque97 commented on #21291
@jeherve, I can take it up. Worked on a similar kind of issue #21273

[2021-10-06 15:23] #21299 closed, assigned to pablinos

[2021-10-06 18:25] #21230 closed

[2021-10-06 19:48] pdebruic opened #21311 "jetpack-search won't install with composer"
### Impacted plugin

Jetpack

### Steps to Reproduce

composer require automattic/jetpack-search

### A clear and concise description of what you expected to happen.

the package installs.

### What actually happened

the composer.json file is looking for the classmap in the src directory but the src directory does not exist so the load fails.

This line:
https://github.com/Automattic/jetpack-sear

[2021-10-06 20:26] kraftbj commented on #21311
@anomiex -- Can you take a look at this? Specifically, the `projects/plugins/search/src` directory is not being kept between the monorepo and the mirror repo? Since it doesn't exist in the mirror repo, Packagist is serving a version of it without it, which breaks upon install since it fails if the dir doesn't exist at all.

[code]

[2021-10-06 20:39] kraftbj commented on #21311
The inclusion of the `src` in `composer.json` is there to encourage developers to use that dir once they start adding more things to their plugin, so I'd rather us not need to have them immediately remove it.

I'm fine adding it to the `.gitattributes` for now. Another idea—update the skeleton (and this) to have an placeholder php file in the `src` directory so there'll always be _something_ there

[2021-10-06 20:49] anomiex commented on #21311
That sounds like a good idea to me.

[2021-10-06 21:46] kraftbj opened #21315 "Beta: Auto-build asset for the release"
### Impacted plugin

Beta

### What

Auto-create the asset when creating a new release

### How

For the Jetpack Beta plugin, since it is not distributed via w.org, we have to do some extra work to get it right.

* Tagging the release in the mirror repo (as usual)
* Download a copy of the tagged version, rename the directory to `jetpack-beta`, zip it as `jetpack-beta.zip` and add that to the GitHu

[2021-10-07 07:48] jeherve opened #21322 "WordPress 5.9 compatibility"
WordPress 5.9 is set to release on ~December 14, 2021~ January 25, 2022.
https://make.wordpress.org/core/5-9/

We consequently need to ensure that Jetpack is fully compatible with this new release ~by Jetpack 10.4, scheduled to be released in early December.~ by Jetpack 10.5, scheduled to be released in early January.

*******

- [x] Update our "tested up to" version #21788
- [x] Update the versio

[2021-10-07 10:39] ahmadbaig1 opened #21326 "Tiled Gallery: Long Captions/Descriptions not fully visible."
### Quick summary

If your images have long descriptions in the gallery, then the description/caption is not fully visible.
It happens when there are long sentences, they get abruptly cut off.
However, multiple short sentences work fine.
A guestimate is that 180 character long sentences just work fine, anything over this gets cut off (hidden).

Two long sentences/paras-
![Markup on 2021-10-06 at 1

[2021-10-07 13:13] mrsjaved opened #21349 "Jetpack Search: Does not work when the site language is Arabic"
### Quick summary

Jetpack search does not work when the site language is set to Arabic.

### Steps to reproduce

1. Make sure JP search is eanbled from JP settings -> Performance -> Search
2. Change site language to Arabic (no need to change it for the user interface) from site settings -> general.
3. Add JP search widget in the sidebar and try to search.

### What you expected to happen

It shou

[2021-10-07 16:03] #21203 closed

[2021-10-07 16:15] jeherve commented on #21315
Right, exactly.

[2021-10-07 17:11] karthikax opened #21330 "Boost: Add Jetpack boost version to Tracks event props"
Append the plugin version to the event properties when recording an event from Jetpack Boost. Currently, Jetpack Boost event tracking does not send the plugin version with event properties.

Discussion: Slack: C0232B8CUHG/p1633501217003100

We can use the plugin version from the global JS object `Jetpack_Boost` and append this version to `eventProp` under [recordBoostEvent](https://github.com/Auto

[2021-10-07 20:15] samiff opened #21334 "Jetpack Dev Site: paragraph tags showing in post content output"
### Impacted plugin

Jetpack

### What

Fix the output of the filters/hooks post contents so `<p>` tags aren't showing.

### How

**Example**: https://developer.jetpack.com/hooks/jetpack_contact_form_email_headers/

You can see the `<p>` tags in the output there:

![Screen Shot 2021-10-07 at 2 08 50 PM](https://user-images.githubusercontent.com/15803018/136454930-abf428a1-2156-4d8a-8b2d-74d4f2a65e

[2021-10-07 22:20] kraftbj commented on #21315
Makes sense. When I was looking yesterday, I started in the FG which took me to the outdated wiki. I deleted the wiki content and updated the FG to point to the README.md file.

[2021-10-07 22:26] #21315 closed

[2021-10-08 08:01] Robertght opened #21341 "My Profile panel doesn't close after the Notification panel is opened"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Have a Jetpack connected website
2. Click on the "My Profile" button to open the panel
3. Open the Notifications panel as well
4. Click outside the panel - this will bring back the "My Profile" panel
5. Click again outside the panel to close it - it won't close

### A clear and concise description of what you expected to happen.

I've expect

[2021-10-08 08:32] jeherve commented on #21341
Good catch.

This appears to be limited to self-hosted, non-Atomic sites using the Masterbar module.

********

**Note**: I updated your comment to upload the video to GitHub directly instead of using Droplr. See this for more info:
pbg9X-fWF-p2

[2021-10-08 08:40] #19654 closed

[2021-10-08 09:56] yuliyan opened #21343 "Blocks: i18n: Translatable strings from *.min.js"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Download Jetpack from https://wordpress.org/plugins/jetpack/
2. Run `wp i18n make-pot .`
3. Inspect the generated POT file to confirm translatable strings from `*.min.js` files are missing.
4. Remove the `.min` suffix from the filename of any of the JS files that contain translatable strings (e.g. `_inc/blocks/editor.min.js`) and run `wp i18

[2021-10-08 10:02] Robertght commented on #21341
Sorry about the Droplr stuff - for some reason it didn't work previously. Probably a one-time glitch.

[2021-10-08 10:14] jeherve commented on #21298
Closing this as we're tracking the problem in #21343 now.

[2021-10-08 10:14] #21298 closed

[2021-10-08 10:56] kraftbj commented on #21343
Noting that we switched to the .min.js file extension to prevent the built files from being handled by wp.com's JS minimization script, which started breaking when we dropped IE 11 (thus output into more modern JS).

[2021-10-08 11:01] kraftbj commented on #21343
This is apparently expected behavior for the make-pot CLI command:

[...] The following files and folders are always excluded: node_modules, .git, .svn, .CVS, .hg, vendor, *.min.js.

from https://developer.wordpress.org/cli/commands/i18n/make-pot/

I have in my mind that we checked GlotPress and confirmed the strings were there? If so, make-pot isn't the issue (I wouldn't think). If not, then we n

[2021-10-08 13:01] pablinos opened #21346 "Post List: Broken thumbnail when the attachment is unavailable"
### Impacted plugin

None / Other

### Steps to Reproduce

With the Post List package enabled, and a post that has image content with an attachment ID that isn't available on the site, view `/wp-admin/edit.php`

### A clear and concise description of what you expected to happen.

For the default thumbnail to be displayed:

<img width="476" alt="image" src="https://user-images.githubusercontent.com

[2021-10-08 17:13] #21346 closed, assigned to pablinos

[2021-10-08 23:35] slspeller commented on #11781
This issue was reported during QA for a Team51 partner site build. Ticket link directly above ☝🏾

[2021-10-09 08:07] arunsathiya opened #28151 "Sometimes removing user from wp-admin users list doesn't remove from WordPress.com user list"
### Quick summary

Sometimes removing user from wp-admin users list doesn't remove from WordPress.com user list. This happens on an Atomic site.

### Steps to reproduce

- Start with an Atomic (a WordPress.com site with a third-party theme or plugins installed)
- Invite another user from https://wordpress.com/people/team (can be any role, but try with admin or editor)
- Remove them from wp-admin u

[2021-10-09 11:42] Greyseeker opened #21354 "Publicize: add Reddit"
Adding functionality for posting directly to Reddit on publish like Twitter and Facebook. Obviously, to avoid spam, this should also be limited to posting to a single Subreddit.

[2021-10-09 21:00] pablinos commented on #21060
I'm wondering if we should close this as we have designs to work from now in order to bring Republicize to the editor - which we're actively working on. What do you think @retrofox?

[2021-10-11 05:32] #21330 closed

[2021-10-11 09:28] pablinos opened #21357 "Post List: Implement the logic to display the Share action"
With #21300 we added the ability to display a 'Share' post action, that links to the editor with the Jetpack sidebar open.

This is enabled with the `jetpack_post_list_display_share_action` filter, and the decision to do that was so that the logic of when to enable it, could be kept separate from the Post List package.

We need to enable this when:

- The site has at least a WordPress.com Premium

[2021-10-11 16:50] anomiex commented on #21349
Trying it locally, I see this in my browser console:
[code]
Looks like the problem is that [@automattic/webpack-rtl-plugin](https://www.npmjs.com/package/@automattic/webpack-rtl-plugin) expects the CSS asset's name to end in `.css`, while since #20926 it's ending in something like `.css?var=f33ebf8feb95ae7fc64a`. So it never produces the `.rtl.css` file, which makes Instant Search fail to load for

[2021-10-11 20:38] kraftbj commented on #21343
Confirm, the latter wouldn't happen. I'd not want to ship too much extra to sites in the plugin upgrade routine.

[2021-10-11 22:03] kangzj commented on #21349
thanks @anomiex I'm onto it.

[2021-10-12 06:10] gaurav1984 commented on #16989
Hi @michaeldcain do we have updates for the users reported on this thread?

[2021-10-12 07:02] eAdnan007 opened #21370 "Boost: Add consolation note regarding js errors during critical CSS gen."
When generating critical CSS. Often, the browser complains about blocked JS execution.

JS execution is not important and we can ignore that during critical CSS generation. However, the user might still find it frustrating and may think something is broken.

So, the idea is to put on a consolation note before the errors would start showing up. This can be something similar to the self xss warning

[2021-10-12 08:58] edent opened #21371 "Enhancement: Accessibility of Footnotes"
### Impacted plugin

Jetpack

### What

I would like better accessibility for screenreaders using footnotes.

### How

Currently, markdown footnotes are rendered as
[code]

There are two main problems with this:
1. The `<sup>1</sup>` doesn't announce the destination of the link.
2. The ↩ may be read out as "leftwards arrow with hook"

Ideally, it would be useful to have something like:
[code]
and

[2021-10-12 21:32] kangzj opened #21387 "Search Enhancement: If the any assets fail to build, the building process should fail"
### Impacted plugin

Jetpack

### What

If the any assets fail to build, the building process should fail

### How

When we change the output file name for built JS assets in  #20926, css for RTL languages stops working and caused issue #21349. If we could fail the build if any resources don't build successfully, similar issue would be easier to notice at an early stage.

[2021-10-13 08:32] Robertght opened #21801 "Hovering over the Tiled Gallery/Slideshow breaks the editor"
### Quick summary

I'm creating this issue as it's related to this one(https://github.com/WordPress/gutenberg/issues/35229) so we can track other reports.

It appears it's a conflict between CoBlocks and Gutenberg at the moment.

Video:

https://user-images.githubusercontent.com/6737345/137097007-c5714b95-fdf1-4654-a093-d8fe0a637d45.mp4

### Steps to reproduce

1. Access any page
2. Click on the +

[2021-10-13 17:16] retrofox opened #21401 "RePublicize: Handle feature depending on `republicize` feature availability"
We'd like to change what the Publicize/RePublicize/ReScheduling feature shows depending on the site plan.
Let's collect and create a tasks list needed to make this implementation doable.

- [x] Register a new `republicize` feature D68282-code D68515-code 👀 ✔️ ✅
- [x] https://github.com/Automattic/jetpack/pull/21397 👀 ✔️ ✅
- [x] https://github.com/Automattic/jetpack/pull/21408 👀 ✔️
- [x] Enable it

[2021-10-14 01:15] cuemarie commented on #5407
Confusion stemming from this error message has occurred here as well: 4374990-zen

[2021-10-14 13:52] muffinpeace opened #21416 "PHP Warning reading property related to comment type"
### Impacted plugin

Jetpack

### Steps to Reproduce

Since migration to PHP 8, customer reported they were getingt this error very frequently :

`
[13-Oct-2021 02:10:17 UTC] PHP Warning: Attempt to read property “comment_type” on null in /srv/data/web/vhosts/blog.gowa.fr/htdocs/wp-content/plugins/jetpack/vendor/automattic/jetpack-sync/src/modules/class-comments.php on line 217`

They've initially

[2021-10-14 15:56] amustaque97 commented on #21416
I believe this issue will be fixed as soon as https://github.com/Automattic/jetpack/pull/21080 gets merged into master.
cc @jeherve @muffinpeace

[2021-10-14 20:58] amustaque97 commented on #21291
@jeherve, need some directions to get started on this issue.
As per my investigation, I found that function [fetchPodcastFeed](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/podcast-player/api.js#L12) is responsible for calling  API `https://distributed.blog/category/podcast/feed/` is returning response as below
[code]

As you can see here, it is retur

[2021-10-15 14:04] ivan-ottinger opened #21434 "Widgets: `Stylesheet widget-conditions-css was not properly added` errors"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Open your local (docker) Jetpack development site
2. Navigate to Design → Appearance → Widgets
3. Add any block (e.g. Heading) to any widget area
4. Click on the block icon as if you were to transform the block into a different block
5. Hover over one of the blocks that will appear in the drop-down menu
6. Review the browser console for erro

[2021-10-15 17:09] pablinos opened #21437 "Publicize: Post is still shared when the toggle is turned off"
### Impacted plugin

Jetpack

### Steps to Reproduce

In #21423 we introduced a new post meta value to say if a post should be shared using Publicize, but it wasn't sync'd and wasn't taken into account as the Publicize process is run.

- Enable the new Publicize feature with
[code]
-  Create a post and publish it with both the toggle enabled and disabled
<img width="274" alt="image" src="https://u

[2021-10-15 19:23] tbradsha opened #21439 "Contact Form: add Jetpack CRM install link"
### Impacted plugin

Jetpack

### What

We would like users to be able to install Jetpack CRM via the Contact Form block

### How

Currently the block's integration with Jetpack CRM detects various states of the plugin (see #17257). However, it'd be great if it were seamless like the current Newsletter integration:

![image](https://user-images.githubusercontent.com/32492176/137541643-7c2ece97-db8

[2021-10-16 14:53] mikeicode commented on #12801
32048048-hc

[2021-10-17 22:01] #21349 closed, assigned to kangzj

[2021-10-18 08:45] lsl opened #21443 "Jetpack Search: Duplicate "Search" menu item on Atomic sites"
### Impacted plugin

Jetpack, None / Other

### Steps to Reproduce

Load an atomic site on calypso/wpcom,

In the Jetpack submenu you'll see two search options:

![Screenshot(43)](https://user-images.githubusercontent.com/811776/137682685-4a8d1c99-6c86-45a7-b430-4be02a2dcd9b.png)

And you'll get this error in the console as a sideeffect (I'm guessing we key these using the menu item text):

[code]

[2021-10-18 11:58] bobmatyas opened #21446 "Widget Visibility Doesn't Work in Customizer"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Turn on Widget Visibility module in Jetpack
2. Add widgets with conditions to restrict their visibility
3. Changes are not reflected in Customizer preview

### A clear and concise description of what you expected to happen.

The Customizer view should reflect what shows on the front-end of the site.

### What actually happened

At present, w

[2021-10-18 12:13] danjjohnson opened #21447 "Enhancement: Allow excluding images from Photon by class name."
### Impacted plugin

Jetpack

### What

If I add a specific class to any image (e.g. 'do-not-photonize') then that image will not be served by Photon.

### How

@jeherve looked into this briefly, but could not figure out how to add a class to the image tag itself (only the figure class) using the block editor.

[2021-10-18 15:08] rickhurst opened #21448 "Infinite scroll allowed vars are combined in a way which replaces rather than merges"
I noticed while debugging a site using infinite scroll that some query args being posted from js were not being applied, specifically `post__in` and `post__not_in`, in this case. The method used here to combine the public and private query vars using `+=` means that some of the array values are replaced rather than added:-

https://github.com/Automattic/jetpack/blob/374f9afcb435e9480463dba7959fa40

[2021-10-18 15:31] jeherve opened #21449 "Twenty Twenty Two Compatibility"
[Twenty Twenty Two](https://make.wordpress.org/core/2021/10/06/introducing-twenty-twenty-two/) is expected to ship with WordPress 5.9 at the end of the year. It is currently being developed here:
https://github.com/WordPress/twentytwentytwo

In the past, and with previous default themes, we've added a number of compatibility files and functions to make sure new WordPress site owners had the best e

[2021-10-19 03:25] davidlonjon opened #21451 "Boost: Add Jetpack Boost E2E tests checks into the Monorepo CI workflow"
As discussed in #20764 which is now merged, the Boost E2E tests should be triggered during the Monorepo CI workflow if there are changes on Boost code base. A new Github workflow file (in .github/wokflows) needs to be created as a first step to make this possible.

[2021-10-19 17:39] ACEkin commented on #21194
Will these bugs be ever fixed or is it time for some of us to find other solutions? New features are being added but the old bug reports seem to get ignored. I reported a bug with the square tiles displaying the square images upon clicking on the thumbnail probably more than a year ago. As of now, that bug is still not fixed. The one reported on this ticket is still a problem. Eroding trust is a m

[2021-10-19 18:53] ACEkin commented on #21194
@jeherve thank you for the reply and update. All is good, but from a user viewpoint, when a working feature breaks, like the latest tiled gallery image size issue, and the sites suffer. At least my site is suffering and I am manually fixing all the old Tiled Gallery blocks. I may end up switching them all to NextGEN Galleries. I don't want to debate the issue here but when a working feature breaks

[2021-10-19 18:53] #21437 closed, assigned to pablinos

[2021-10-19 19:09] lakellie opened #21458 "Feature Request: Make Payments block compatible with Dolphin Supernova screen reader"
### Impacted plugin

Jetpack

### What

We received a report from a user in 4386637-zen letting us know the Payments block does not work with the Dolphin Supernova screen reader (which is one of the most popular screen readers).

### How

We would need to test and confirm how/if the block works with this and other screen readers. I am not sure what sort of accessibility testing is done when the bl

[2021-10-19 20:16] lakellie commented on #21458
I am closing this. There was a miscommunication in the ticket and the issue is not related to the payments block.

[2021-10-20 00:42] katiebethbrown opened #21553 "Pay with PayPal Block: Add a Hover or Click-to-enlarge Option on Images"
### What

The option to toggle on a hover effect or click-to-enlarge option for product images in the Pay with PayPal block

### Why

User in 4389508-zd-woothemes would like to keep the current Pay with PayPal block layout but allow visitors to be able to see enlarged versions of product thumbnails.

### How

Could maybe be a "click for lightbox view" option.

[2021-10-20 02:20] eAdnan007 opened #21465 "Boost: Speed score failure in non-root WP installation."
If Boost is installed in a site where WordPress is not installed on the web-root, i.e. `/wp`. The speed score takes the relative URL and measures the wrong URL, often resulting in a 404. This issue is discussed in: pbIAo1-np-p2.

## How to reproduce
1. Install WP in: `/<web-root>/wp`.
2. From webroot `mv wp/index.php ./`
3. Edit the `index.php` to change the last line to: `require __DIR__ . '/wp/w

[2021-10-20 09:21] retrofox commented on #21401
I think it's ok, Paul. Thanks.

[2021-10-20 19:07] Skyrals opened #21476 "Tiled Gallery Block: compatibility with the Gallery Custom Links Plugin"
### Impacted plugin

Jetpack

### Steps to Reproduce

Install Gallery Custom Links Plugin by  Jordy Meow and activate it

Create a page with a Jetpack tiled mosaic gallery on it using different sized images

### A clear and concise description of what you expected to happen.

Gallery should correctly resize images to fit each tile

### What actually happened

There are visible gaps between tiles a

[2021-10-20 19:35] retrofox opened #21478 "RePublicize: enable message text control"
### Impacted plugin

Jetpack

### What

Enable the message text control when the RePublicize feature is enabled

### How

Currently, when the RePublicize feature is enabled, the message text control keeps disabled.
It does make sense for the Publicize feature when the post has been already shared. But for RePublicize it should keep enabled.

<img width="313" alt="Screen Shot 2021-10-20 at 4 34 28

[2021-10-21 12:09] retrofox opened #21486 "Publicize: clean publicizing error"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Republicize a post
2. RePublicize the same post in order to get an error
3. Clean the error notice
4. Change the connection state
5. Confirm the error appears again

### A clear and concise description of what you expected to happen.

The error should be totally cleaned

### What actually happened

_No response_

### Other information

https

[2021-10-21 14:41] kraftbj opened #21490 "Old module page unavailable"
### Impacted plugin

Jetpack

### Steps to Reproduce

Customer has noted on this point that they can’t access the Jetpack Modules page of sites when it isn’t connected to Jetpack with this version, but previously could with older version: wp-admin/admin.php?page=jetpack_modules

If they set JETPACK_DEV_DEBUG, they can then get to the page above.

### A clear and concise description of what you exp

[2021-10-21 17:43] apcchief401 opened #21498 "Customized email notifications"
### Impacted plugin

Jetpack

### What

I would like to brand the email notifications that are sent out to my subscribers when they receive a blotter post update. Something to make it stand out more distinct from the generic jet pack one, WordPress one that is used by jet pack today.

### How

I do not have any mock up at this time. However it would be something that could be created in block edit

[2021-10-21 18:52] isocialtish commented on #16989
This came up in a Quick Start, I'm having them delete plan, delete Stripe, and then reconnect Stripe and add plan again.

Follow up ticket: #4395421-zen

[2021-10-21 20:50] #21357 closed

[2021-10-21 22:57] gibrown commented on #8663
@gamebits for co-authors plus and instant search it should be able to match authors if they are stored in post meta. IIRC co-authors can also store guest authors in custom posts which is not currently implemented. This is what we are doing right now with post meta:

[code]

Unfortunately we don't yet have filtering on these fields either. You may also need to add this post meta sync list: https://

[2021-10-22 08:24] jeherve opened #21504 "Status: update staging checks to support newer WPEngine staging environments"
### Impacted plugin

Jetpack

### Steps to Reproduce

Jetpack's default staging setup includes checks to detect WPEngine staging sites:

https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/packages/status/tests/php/test-status.php#L356-L359
https://github.com/Automattic/jetpack/blob/3e14492ded4e756ad0b7824ad31759999171da43/projects/packages/status/src/class

[2021-10-22 08:33] #21498 closed, assigned to nobody

[2021-10-22 22:35] #21416 closed, assigned to cfinke

[2021-10-25 01:39] loxK opened #21519 "Widget Visibility: doesn't work with third party blocks"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Got to Widgets
2. Add a custom block or thirs party block
2. Set the vibility settings
3. Save

### A clear and concise description of what you expected to happen.

The block should show on specified pages

### What actually happened

The visibility setting has no effect. When coming back to the widget settings page, the visibility settings

[2021-10-25 11:51] #21371 closed, assigned to nobody

[2021-10-25 18:48] pablinos opened #21525 "RePublicize: Display toggle or Share button based on the post status"
The 'Sharing is enabled' toggle is mainly relevant before the post is published. Once the post has been published then it needs to be explicitly shared using the new 'Share post' button.

As such we should hide the toggle on published posts, and hide the button on draft posts.

<img width="271" alt="image" src="https://user-images.githubusercontent.com/96462/138752709-52657ab4-b8bc-4846-bd4a-21b73

[2021-10-25 18:59] pablinos opened #21526 "Publicize: Enable or disable for other post types"
Currently only posts can be shared via Publicize. Should it be enabled for pages, or other post types like Woocommerce products?

If not, then we should change the logic in the Post List package, so the Share post action is only displayed for posts.

[2021-10-25 19:15] pablinos opened #21528 "Publicize: Without an appropriate plan, ensure that it is obvious the post can't be republicized"
Currently, without a plan, the publicize panel will still be displayed on published posts, but there will be no functioning 'Share post' button and no other messaging.

On WordPress.com we will display a message about upgrading, but this won't be appropriate on Jetpack sites. We should decide how to deal with this context.

- Hide the panel entirely
- Let them know it's a premium feature, but with

[2021-10-25 20:45] allilevine opened #21530 "Enhancement: Leave the Publicize message textbox blank"
### Impacted plugin

Jetpack

### What

Don't fill the Publicize post content with the post title.

### How

- Don't pre-fill the textarea
- Shorten the placeholder help text
- Make sure users can still get help with how their posts will look
- Make sure nothing else is using that text

See https://github.com/Automattic/jetpack/pull/21477#issuecomment-950119734

[2021-10-26 11:44] #21401 closed, assigned to retrofox

[2021-10-26 13:30] kbrown9 opened #21542 "Enhancement: Debug Helper IDC Simulator: add description to the sync setting"
### Impacted plugin

Debug Helper

### What

Add a description to the sync setting which describes why the setting is needed.

Suggested in https://github.com/Automattic/jetpack/pull/21532

[2021-10-26 13:48] cbirdsong opened #21544 "Boost: Critical CSS does not respect existing media attributes"
### Impacted plugin

Boost

### Steps to Reproduce

1. Register/enqueue a stylesheet with a media parameter other than `all` or `print`. (I used `screen`)
2. Enable Critical CSS
3. Load a page

### A clear and concise description of what you expected to happen.

The stylesheet would have the specified media attribute.

### What actually happened

The stylesheet has `media="all"`.

### Other inform

[2021-10-26 13:52] cbirdsong opened #21545 "Boost: Critical CSS prevents any stylesheets from loading when Javascript is disabled"
### Impacted plugin

Boost

### Steps to Reproduce

1. Enable Critical CSS
2. Disable Javascript[^1]
3. Load a page

[^1]: [This extension](https://github.com/dpacassi/disable-javascript) is a handy way to do this without rendering your entire browser Javascript-less.

### A clear and concise description of what you expected to happen.

All the CSS files to load.

### What actually happened

The o

[2021-10-26 15:36] #21525 closed, assigned to retrofox

[2021-10-27 16:17] jeherve opened #21558 "Release management: automate deployment of tags to SVN"
As we're starting to release more and more often, and more and more plugins, I believe one of the manual steps of our release process could be automated.

- Folks on other teams aren't always familiar with SVN and the intricacies of deploying a plugin update to WordPress.org.
- We already have quite a few checks in place before a release is published on GitHub in the mirror repo.
- Until our monor

[2021-10-27 18:59] samiff opened #21562 "Stats (WoA): hide VideoPress upgrade nudge"
### Impacted plugin

Jetpack

### Steps to Reproduce

* On a WordPress.com hosted Atomic site that is connected to Jetpack, navigate to: /wp-admin/admin.php?page=stats
* Towards the bottom, there is a `Performance and growth tools for..` section, see a VideoPress nudge.

### A clear and concise description of what you expected to happen.

* VideoPress plans are not required/compatible for WoA site

[2021-10-28 08:40] jeherve opened #21566 "Sharing: deprecate wp-admin > Settings > Sharing page"
### Impacted plugin

Jetpack

### What

Let's consolidate Sharing / Like settings by deprecating the Settings > Sharing page in wp-admin. There are other places where folks can manage their settings.

### How

It's worth noting that even though the page does not include any Publicize or Verification tools settings, it is still needed for those modules to work, so this would have to be taken into a

[2021-10-28 13:48] danjjohnson opened #21569 "CDN: Wikipedia images are broken"
### Impacted plugin

Jetpack

### Steps to Reproduce

The same issue as https://github.com/Automattic/jetpack/pull/15774 is also happening for wikipedia images e.g. https://en.wikipedia.org/wiki/File:MM10249.jpg

- Start on a site where the Site Accelerator feature is active.
- In a new post, add an image block, with just about any image.
- After adding the image, add a link to https://en.wikipedi

[2021-10-28 14:29] sajmes opened #21579 "Earn: Option to cancel subscription without immediate loss of access"
### What

When a user's subscriber cancels their subscription to a plan on the site, they [immediately lose access to the subscription content](https://wordpress.com/support/recurring-payments/#how-do-i-cancel-a-payment). Requesting that they instead have the ability to have their access revoked at the expiration of the subscription period (e.g. 1 year from purchase for an annual subscription)

##

[2021-10-28 18:37] retrofox opened #21575 "Publicize: move publicize data to the store"
Currently, when a publicize request is performed by the client, the relevant data used to track the request/response flow is stored in a hook state.
Let's move this data into the `jetpack/publicize` store.

[2021-10-28 19:57] #21569 closed, assigned to jeherve

[2021-10-28 22:41] jsnmoon opened #21582 "Search: Dashboard toggles fail silently upon nonce expiration"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a site with a Jetpack Search subscription, navigate to the Search Dashboard (`/wp-admin/admin.php?page=jetpack-search`).
2. Wait a while 🙂 (I waited a few hours.)
3. Try interacting with any of the toggles.

### A clear and concise description of what you expected to happen.

Either:

- An error message explaining I'd need to refresh the

[2021-10-29 08:56] davidlonjon opened #21585 "Boost: Fix an issue with inconsistent Lazy Load toggle and state on a fresh boost install with Jetpack installed"
It seems there is some inconsistency in the state of the Lazy Load module on a fresh install if Jetpack is also activated.

see

https://user-images.githubusercontent.com/927932/139411310-30253daf-e978-4a1c-8e69-90914901bb97.mp4

By default, the Lazy Load module from Boost should be disabled. However on a fresh install, after the user press the getting started, it also connects the Jetpack plugin

[2021-10-29 11:21] jeherve opened #21586 "Stats: remove Video Stats card from wp-admin stats when VideoPress is disabled"
#### Steps to reproduce

1. Activate the Stats module on your site.
2. Go to Jetpack > Site Stats
3. You'll a video stats card, even though VideoPress is not active on your site.

![stats-video](https://user-images.githubusercontent.com/426388/139426212-41301dd8-d6fb-4e2f-a813-629b3e03678f.png)

- Related: #960
- Reported: p8oabR-K9-p2#comment-5569

[2021-10-29 11:59] jeherve opened #21587 "Search: Fatal Error when the Search module is inactive"
#### Steps to reproduce the issue

1. On a site connected to WordPress.com, where you have a plan but where the Search module is inactive.
2. Go to Jetpack > Settings and enable Extra Sidebar Widgets
3. Go to Appearance > Widgets
4. You'll see this Fatal error:

[code]

*****************

Reported here: p8oabR-K9-p2#comment-5572

[2021-10-29 18:42] SBGuido77 commented on #15184
My wife was referred to this ticket regarding "Like" buttons not working, which seems to be a "common" problem with many of her users, some of which are experienced Wordpress users. We created a Troubleshooting Tips (https://the-inner-child.com/2021/07/11/troubleshooting-tips/) to help with some of the issues, which has helped a little, but she is still seeing the "Like" functionality not working

[2021-10-31 06:16] amustaque97 commented on #20988
👋🏻 Howdy! @cfinke  can we close this ticket? PR is merged already. Sometime it looks confusing while going through issues.

[2021-10-31 16:57] dolgelukkig commented on #20309
Another report 4418555-zd
Suggested work around.

[2021-10-31 20:22] #21443 closed

[2021-11-01 14:27] #21064 closed

[2021-11-01 14:36] allilevine commented on #21141
Closed by D68827-code

[2021-11-01 14:36] #21141 closed

[2021-11-01 14:53] cfinke commented on #20988
Sure.

[2021-11-01 14:53] #20988 closed

[2021-11-01 16:02] CdrMarks opened #21603 "Custom CSS: Additional CSS is being HTML encoded in multisite"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On a multisite as the Administrator role
2. Go to Customizer > Additional CSS
3. Enter CSS that includes a `>`, for example:
[code]
4. Publish the changes.
5. Browse to the / page of the site
5. View the the CSS source
6. See that the `>` has become HTML encoded:
[code]

### A clear and concise description of what you expected to happen.

Th

[2021-11-01 16:58] amustaque97 commented on #21586
@jeherve, can I take a look at this if it can be fixed by community? Do you want to share some pointers?
Thank you :)

[2021-11-01 18:37] mikeicode commented on #15889
32201566-hc Used CSS to make the GIF smaller.

[2021-11-02 06:56] #20549 closed

[2021-11-02 09:09] yuliyan commented on #21343
Do you have any update on this issue?

[2021-11-02 09:30] jeherve commented on #21586
I'm afraid that's something we'll need to fix on our end, as the stats are loaded from WordPress.com directly.

[2021-11-02 09:31] dericleeyy opened #21609 "Enhancement: Support TLS 1.3 Jetpack connections"
### Impacted plugin

Jetpack

### What

Currently, WordPress.com supports up to TLS 1.2 when connecting to any sites. Jetpack/WordPress.com should support sites that run on minimum TLS 1.3 for updated security.

### How

_No response_

[2021-11-02 09:36] jeherve commented on #21609
Jetpack should support TLS 1.3 already. You can find out more about this here: pMz3w-cCM-p2

[2021-11-02 09:36] #21609 closed

[2021-11-02 09:39] jeherve commented on #21343
@yuliyan We've been discussing potential solutions here:
p9dueE-3Gb-p2

We'd be happy to have you chime in on that discussion!

[2021-11-02 10:23] jeherve opened #21610 "VideoPress > Video Block: cannot upload when on multisite"
#### Steps to reproduce

1. Start by setting up a Multisite Network, and create a new site on that network (note: you can use JN for this)
2. Connect that new site to WordPress.com, and purchase a VideoPress plan.
3. Go back to wp-admin > Jetpack > Settings > Performance, and ensure that VideoPress is enabled.
4. Go to Posts > Add New, and add a new Video Block
5. Attempt to upload a video
6. You'

[2021-11-02 10:27] jeherve commented on #21610
cc @thedebian who recently worked on error messaging in the video block. I think this was already an issue before your changes though, so I do not think it is related at all.

[2021-11-02 12:16] #21530 closed

[2021-11-02 12:20] #21526 closed

[2021-11-02 15:17] JoshuaGoode commented on #10529
Encountered on 32528438-hc

User attempted to embed https://vimeo.com/470165945/df204ef0ec

As a workaround, deactivated Shortcode module for now.

[2021-11-02 15:22] DavidRothstein commented on #16989
Task: Finish script at 406-gh-Automattic/payments-shilling and run it for the affected users.

[2021-11-02 15:40] kbrown9 opened #21617 "Update Modal: make the CSS consistent with the release blog"
### Impacted plugin

Jetpack

### What

Make the CSS consistent with the release blog

### How

The update modal CSS does not match the release blog theme's CSS. For example, the theme displays the button text in all caps while the update modal does not.

The CSS used by the release blog and update modal should match. This will allow the content author to easily observe how their content will look

[2021-11-02 21:24] jonny-a8c commented on #11871
32500856-hc

[2021-11-02 21:59] bobmatyas commented on #20302
We have another instance of this in: 4424128-zen

[2021-11-03 09:10] ivan-ottinger commented on #20063
Hello @bobmatyas 👋🏼

thanks or the report.

I am having trouble reproducing the issue. Would it be possible to share a screenshot of your Tiled Gallery block settings - or maybe even better - a screen recording showing how the issue can be reproduced?

When testing images of specific sizes on my end, the width of the image is used. For example:

* [image that is 968 px wide and 1134 px high](https

[2021-11-03 09:28] jordesign commented on #19506
With Nav Unification work back on the agenda again - I'm wondering about the importance of this one? We don't really lunk menu items to `/wp-admin/` anywhere else in the menu so I wonder if this the current behaviour is just ok now?

[2021-11-03 09:52] ivan-ottinger commented on #14891
I was able to reproduce the issue. The same behavior is present in other gallery blocks as well, e.g. Gallery block and Masonry, Stacked, Collage (available in CoBlocks and WPCOM).

We could change the way the images are rendered. For example, if the image is smaller, we could center it and have either transparent or black/white background around it. But then, I would say, the form and shapre of t

[2021-11-03 11:06] jeherve commented on #14891
That works for me. We can always reopen and reconsider if more reports come in. 👍

[2021-11-03 11:06] #14891 closed

[2021-11-03 15:38] #21285 closed

[2021-11-03 15:53] obenland commented on #19506
I think everyone should always have access to the dashboard. [The capability here](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L107) should probably be `read`?

[2021-11-03 16:20] NekoJonez commented on #2437
Just curious, is still in in the works? Since the headmaster of my school really would love that the e-mails are in the color style of our school...

[2021-11-03 18:02] jeherve commented on #2437
@NekoJonez We're not working on the Subscriptions feature at the moment, but when we next iterate on the feature we'll update this issue.

[2021-11-03 18:18] robfelty commented on #20302
I looked into 4424128-zen, and did a bit more debugging, and discovered that indeed that instant-search is simply reading the value from the index, while elsewhere in WordPress, the url is being constructed on the fly. I think we should solve this on the frontend. I'll need to figure out how to create a proper pull request for Jetpack, as my `git push` to a new branch failed, but I wanted to get s

[2021-11-03 18:42] Darkkandadr commented on #17172
Any progress?

[2021-11-03 20:26] mdrovdahl commented on #19752
RE-opening this issue as we encountered today what appears to be the same issue on another Team 51 site a few hours after a Jetpack release.

[2021-11-03 21:03] michaeldcain commented on #16989
@purplepioneer: I don't have access to that ticket. Can you provide a url to the page with the broken Donation block?

[2021-11-03 21:04] michaeldcain commented on #16989
@isocialtish: Can you provide a url to the page with the broken Donation block?

[2021-11-03 21:07] michaeldcain commented on #16989
@supernovia: that user seems to be using simple payments buttons now (not the donations block that this bug applies to). It seems like the original fix of deleting and recreating the plans has worked for the user.

[2021-11-03 21:10] michaeldcain commented on #16989
@mikeicode: [this user](https://github.com/Automattic/jetpack/issues/16989#issuecomment-943642791) seems to be using simple payments buttons now (not the donations block that this bug applies to). The original fix in this issue of deleting the plan (via Calypso), recreating it, and updating the button should work.

[2021-11-03 21:14] michaeldcain commented on #16989
@poojashetty18: [this user](https://github.com/Automattic/jetpack/issues/16989#issuecomment-939887779) never responded and doesn't seem to be using a Donation block. If they have an issue with a non-Donation plan, the original fix in this issue of deleting the plan (via Calypso), recreating it, and updating the button should work.

[2021-11-03 21:15] michaeldcain commented on #16989
@a8ck3n: I don't have access to [that ticket](https://github.com/Automattic/jetpack/issues/16989#issuecomment-937473032). Can you provide a url to the page with the broken Donation block?

[2021-11-03 21:19] michaeldcain commented on #16989
@kerrynicl: [this user](https://github.com/Automattic/jetpack/issues/16989#issuecomment-932475812) seems to be the same as [this one](https://github.com/Automattic/jetpack/issues/16989#issuecomment-960074325).

[2021-11-03 21:22] michaeldcain commented on #16989
@Sandkorner: I'm not seeing a Payment Block on [this user's](https://github.com/Automattic/jetpack/issues/16989#issuecomment-924631827) site. Can you provide a url to the page with the broken Donation block?

[2021-11-03 21:25] michaeldcain commented on #16989
@benchilcote: [this user](https://github.com/Automattic/jetpack/issues/16989#issuecomment-924115960) doesn't seem to have a connected Stripe account or a Donations block. If they reconnect their Stripe account and have an issue with a non-Donation plan, the original fix in this issue of deleting the plan (via Calypso), recreating it, and updating the button should work.

[2021-11-03 21:29] isocialtish commented on #16989
Home page, right under the blue and yellow logo that says "leddysetgo productions" is a blank whitespace area. This is where the donation block is, so if you click in this area you'll see the error.

[2021-11-03 21:33] michaeldcain commented on #16989
@isocialtish: I've deleted the donations plans for that user. Can you have the user delete the donations block, save and reload the editor, and add a new donations block?

[2021-11-03 21:38] michaeldcain commented on #16989
@donalirl: I don't see where [this user](https://github.com/Automattic/jetpack/issues/16989#issuecomment-907704513) has any Payments Blocks active. Can you provide a url to the page with the broken Donation block?

[2021-11-03 21:42] michaeldcain commented on #16989
@ClassicRKR27: [this user](https://github.com/Automattic/jetpack/issues/16989#issuecomment-907645413) seems to be fixed.

[2021-11-03 21:42] amustaque97 commented on #20486
Not seeing this behavior again. Closing this issue.

[2021-11-03 21:42] #20486 closed

[2021-11-04 12:13] bobmatyas commented on #20063
@ivan-ottinger I'm wondering if this was actually fixed by another code change. I created this issue based on 6448-gh-Automattic/jpop-issues. However, when looking at the example in that original issue, it appears to have been resolved.

[2021-11-04 12:31] ivan-ottinger commented on #20063
Thanks for sharing @bobmatyas! 👍🏼

Yeah, it looks like the issue has been fixed by another code change.
→ I am closing this issue.

We can still reopen in case it comes up again.

[2021-11-04 12:31] #20063 closed

[2021-11-04 14:45] #21528 closed

[2021-11-04 15:09] ParhamG commented on #21446
We are experiencing the same issue that the visibility settings are ignored in the customizer preview. I see there is already a pending PR to fix this, is there an update on when that will be released?

[2021-11-04 17:31] #18307 closed

[2021-11-04 17:50] robfelty commented on #17430
I tested this today by spinning up a new test site, and registered a custom post type in the themes functions.php file like so:
[code]
I created one post of the type "foobar".
I verified that the custom post type was synced to the shadow site, and that it does not get indexed at all. The default hello world and about page did get indexed.

I think we can mark this one closed. Do you agree @danjjoh

[2021-11-04 21:27] jsnmoon commented on #20302
The `getImagePath` function seems reasonable and an obvious candidate for some rudimentary unit testing.

I think we'll want to verify the correctness of the `initialSrc` mutation in the `usePhoton` hook; I can see it failing if WordPress is installed on a subdirectory instead of the root. We handle this in other parts of Instant Search via the `JetpackInstantSearchOptions.homeUrl` like [so](https

[2021-11-05 02:37] donalirl commented on #12801
Seen again in #4413440-zen

[2021-11-05 04:19] donalirl commented on #16989
Yes, it's here (Premium Content block): https://live-life-healthy-and-fit-health.com/2021/08/26/common-genetically-modified-foods/?

[2021-11-05 07:16] Taruks commented on #20575
Hi, same issue here. Any solutions so far? Thanks for your support.
Greetings

[2021-11-05 11:32] jeherve commented on #20575
@Taruks We have not fixed this yet, but will update this issue when we do!

[2021-11-05 11:33] jeherve commented on #21446
@ParhamG We're still working on that fix, so I'm afraid we cannot give you an ETA at the moment.

[2021-11-05 15:04] gibrown commented on #20302
I think that code won't work if their images are hosted on another site. There are definitely cases where the host name will not match the current site so I'm not sure we can easily rewrite it in JS. We currently extract the images from post content which can include just an image tag for an image that is not stored as an attachment.

Is `post_content_filtered` a viable option on the indexing side

[2021-11-05 15:06] kbrown9 opened #21656 "Identity Crisis: add unit tests for a few methods"
### Impacted plugin

None / Other

### What

Add unit tests for the `get_mismatched_urls` and `has_identity_crisis` methods

### How

_No response_

[2021-11-05 17:04] sbathompson-he commented on #16989
Howdy! This user reported this and was not able to fix it by disconnecting and reconnecting.
32585701-hc
https://thefreedomgrind.blog/products-and-services/

[2021-11-05 17:06] marianearchimbaud commented on #16989
Same case here: 32502119-hc
It seems like the suer used this same Stripe account for another site.
https://wellsbaum.blog/stepping-into-the-future/

[2021-11-05 17:13] robfelty commented on #20302
How does it happen that the hostname does not match the current site?

I think the best thing to do is try to mimic the core WordPress functionality as closely as possible. I looked into this very briefly today on the API side, and I think it is probably doable there, which might be our best bet.

I don't think that `post_content_filtered` will work, because the issue is not about images in the po

[2021-11-06 09:09] NekoJonez opened #21662 "Incosistent use of "website" and "site""
### Impacted plugin

Jetpack, Backup, Boost, Beta, Debug Helper, VaultPress

### Steps to Reproduce

While translating, I try to be consistent and I noticed that in Jetpack, the terms "site" and "website" are used for the same thing.

In only 25 of the 451 strings, website is used instead of site.

To remain consistent in the plugin, I would change all the uses of "website" into "site" so the word

[2021-11-07 06:37] formosattic commented on #10878
+1 4435536-zd-woothemes

I couldn't find the second widget, but the same behavior was happening, the banner wouldn't go away even after accepting it.

[2021-11-08 01:43] bluefuton commented on #19272
@robfelty hmm, looks like the front end relies on that field existing. Did you try returning highlight: `null` rather than removing the field?

[2021-11-08 10:07] fredrikekelund commented on #8766
I spent some time trying to get Jetpack search and Polylang to play nicely.

Here's a code snippet that made it work for me:

[code]

[2021-11-08 16:44] gibrown commented on #8766
@Automattic/jetpack-search do you think we should just add this filter whenever polylang is detected? Would WPML also work this way?

[2021-11-08 19:09] bobmatyas commented on #15447
@jeherve This issue is back with the same circumstances causing it.

[2021-11-08 19:13] jeherve commented on #15447
Internal reference: p7H4VZ-3eR-p2

[2021-11-08 19:24] mobilon opened #21669 "Feature Request:"
### Impacted plugin

VaultPress

### What

Reduce the upload frequency for older files in the uploads folder

### How

Hi there,

In older sites, VaultPress takes a really long time to finish backing up everything. It happens because it tries sync the entire /uploads/ folder every single day. This makes no sense to do that. Only the most recent month will have new content everyday.

Older folders

[2021-11-08 20:10] DustyReagan opened #21671 "Post-list enhancement: thumbnails fail during "quick edit"."
### Impacted plugin
Post-list enhancement package.

### Steps to Reproduce

1. The "post list enhancement" is currently behind a blog sticker. Enable the wpcom-post-list-enhancements sticker from the site's report card to enable it.
2. Go to the Posts page in wp-admin.
3. Click on a post's "Quick Edit".
4. Once inside "Quick Edit" click "Update"
4. Note how the thumbnail disappears, and the post's

[2021-11-08 21:27] bluefuton commented on #8766
Assuming `pll_current_language()` is returning the current user-selected language, it seems like a sensible default to adopt 👍

[2021-11-08 21:46] kraftbj commented on #15447
Let's try again. This seems to be an after-effect of the fix for PBE detailed in p58i-bqt-p2.

I changed this up to something less problematic per p7H4VZ-3eR-p2#comment-10011

[2021-11-08 21:46] #15447 closed

[2021-11-09 11:00] eAdnan007 commented on #20933
Going through the old APIs, it seems like the older APIs are using a webhook strategy instead of polling for request completion. So, I don't think we can simply redirect to the newer APIs. So the new options are:
1. Decide to cut these users off and require them to upgrade Jetpack Boost (still viable).
2. Add support for the webhooks in jobs.

I don't think we should go with the second option. Thi

[2021-11-09 14:42] #21066 closed

[2021-11-09 14:58] anomiex commented on #20421
Looks like this was fixed by #20491.

[2021-11-09 14:58] #20421 closed

[2021-11-09 15:11] #18708 closed

[2021-11-09 16:06] mmtr commented on #19506
Unfortunately, as pointed above by @BogdanUngureanu, that's not enough, given that currently `wordpress.com/home/:site` is only accessible by administrators.

If we change the capability of the "My Home" menu to `read`, we'd need to also change the content of `wordpress.com/home/:site` so it can be accessed by non-admins as well. I anticipate this would be a huge task in terms of effort.

Alternat

[2021-11-09 20:59] anomiex opened #21690 "I18n messages from Composer packages are never translated"
### Impacted plugin

Jetpack, Backup, Boost

### Steps to Reproduce

Easiest way to observe this at the moment is to compare the list of strings available for translation for the Backup plugin at https://translate.wordpress.org/projects/wp-plugins/jetpack-backup/dev/es/default/ with the strings that are present in packages/backup.

Or you could run `wp i18n make-pot` on one of the plugins and look

[2021-11-09 21:58] Gustavo-Hilario commented on #21446
This issue also reported here: 4442118-zd-woothemes

[2021-11-09 23:22] jsnmoon commented on #21690
This issue will most likely block @Automattic/jetpack-search from moving forward with our code migration to the standalone package. Does @Automattic/jetpack-crew have an idea on when/if this issue will be addressed?

cc @bluefuton

[2021-11-10 02:03] bluefuton opened #21693 "Jetpack Search: poor experience switching from Simple to Atomic on WP.com Business plan"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On WordPress.com, create a new test site on the Free plan using a *.wordpress.com domain. Subscribe to a Jetpack Search plan via http://wordpress.com/jetpack-search.
2. Update your site to the Business plan. If your theme doesn't have a search box on the homepage, edit it and add one.
3. Navigate to your site and try a search. Instant Search

[2021-11-10 02:28] thingalon commented on #21545
@davidlonjon would you be able to explore some potential solutions to this? I think we can say "wontfix" if it's not really fixable, but if it's as easy as adding styles into the header inside a `<noscript>` tag, it might be fixable.

It's been a long time since I played with `noscript`.

[2021-11-10 03:14] bluefuton commented on #21693
Checked back a few hours later and the indexing has been completed:

<img width="1313" alt="Screen Shot 2021-11-10 at 16 13 46" src="https://user-images.githubusercontent.com/17325/141043092-44e82624-6847-4aee-9403-c15f3d66e204.png">

It would be great if we could prioritize indexing for Simple > Atomic moves.

[2021-11-10 07:21] eAdnan007 commented on #20933
Diff created: D69849-code?id=283369
![image](https://user-images.githubusercontent.com/3737780/141067673-41f3fafe-f1ae-4587-bdcd-09e5a8af5d77.png)

[2021-11-10 07:59] robfelty commented on #19272
I tried doing both `null` and also an empty array, and both also don't show any results on the front end. I think if we want to make this change, we will need to do it in three steps
1. Updated the frontend to work with both the current API format and the desired future API format
2. Change the API format
3. Update the frontend

Step 3 will mean that users with out of date Jetpack will see broken

[2021-11-10 13:30] cbirdsong commented on #21545
The quick test of `<link>` tags inside of a `<noscript>` worked fine in my local test environment, but I was just manually linking the files – I don't know how easily it can integrate with the whole `wp_enqueue_style` system.

[2021-11-10 16:45] #21451 closed

[2021-11-10 17:07] sdixon194 commented on #21448
Reopening, since we had to revert the PR that was likely going to fix this.

After doing some investigating, I'm not 100% sure why, but it seems the way the query_args are formatted later with all of the "correct" args is something wp_query doesn't like, and it doesn't return the posts. This just silently breaks Infinite Scroll.

[2021-11-10 21:51] bluefuton commented on #19272
I think it's low priority but worthwhile as it'll make our API nicer to consume for a third party (not that we're officially supporting that at the moment).

I'll see if I can spin up a PR to do this part and will update here 👍

[2021-11-10 22:16] eoinsav commented on #19752
Search stopped working again on our site after upgrading to Jetpack 10.4-a.3

[2021-11-11 00:00] samiff commented on #21566
Since the sharing module doesn't require a user connection, would we would need to maintain configuring the sharing buttons from wp-admin and not linking to Calypso for that?

[2021-11-11 00:53] kangzj commented on #21690
Just a thought here, we could possibly publish the JS builds to `_inc/build`, i.e. folders that `make-pot` doesn't ignore and git wouldn't version by using a env variable or sth. For PHP, the same thing.

[2021-11-11 01:42] ebinnion opened #21706 "Connection Banner: Secondary Admin: Icon styling issue"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Connect a site with a user connection
2. Create a secondary admin
3. Login as the secondary admin
4. Notice the following on top of the Jetpack page

### A clear and concise description of what you expected to happen.

The "W" icon is not centered and I think that I'd expect a Jetpack icon to show?

### What actually happened

<img width="10

[2021-11-11 03:29] davidlonjon opened #21707 "Boost: Investigate the possibility to trigger Boost E2E tests Github workflow from changes on dependent Jetpack packages and have it as required in this context"
Boost is [dependent](https://github.com/Automattic/jetpack/blob/master/projects/plugins/boost/composer.json) on the following packages from the Monorepo:

- projects/packages/admin-ui
- projects/packages/autoloader
- projects/packages/config
- projects/packages/connection
- projects/packages/device-detection
- projects/packages/lazy-images
- projects/packages/terms-of-service
- projects/packages/t

[2021-11-11 05:14] davidlonjon commented on #21707
@adimoldovan, @anomiex  @jeherve would you have any pointer or advice on this question?

[2021-11-11 05:47] kraftbj commented on #19752
@Automattic/jetpack-search and @Automattic/ground-control -- Can we please prioritize getting this one resolved? Based on what @mdrovdahl is reporting, this is effectively breaking Instant Search with every new release on impacted hosts, which includes Pressable (and potentially all Atomic?) every week.

[2021-11-11 09:29] R33D3M33R opened #21708 "Recipe Shortcode: Allow filtering of output_time"
### Impacted plugin

Jetpack

### What

Please allow filtering of output_time in Recipe Shortcode

### How

Dear developers,

the recipe shortcode output_time currently adds proper metadata to strings that strtotime recognizes. For localized strings, the metadata will thus be invalid. Filtering the return value would allow to replace the invalid $time_str with proper one.

Example
`return apply_fi

[2021-11-11 11:55] davidlonjon commented on #21545
Thank you for the report and the feedback @cbirdsong. I will start looking into it in more detail.

[2021-11-11 12:03] jeherve commented on #21566
Yep, correct. This is where having configuration options in the Jetpack dashboard would be better, if we want to deprecate the old sharing settings.

[2021-11-11 12:28] jeherve opened #21710 "Connection: layout issue with user connection button on localized versions"
#### Steps to reproduce:

1. Create a brand new site.
2. Go to Settings > General and switch the language to French
3. Go to Tableau de Bord > Mises à jour and update translations
4. Go to the Jetpack menu, and start the connection process, but do not connect your user.
5. Load the Jetpack menu again, and click on the button to start the user connection process.
<img width="629" alt="Screenshot 20

[2021-11-11 12:47] jeherve commented on #21690
Is the problem linked to the files in `/vendor`, or the files using a textdomain (`jetpack`) that is not the plugin's defined textdomain, as discussed in #20320 and #18070?

If `/vendor` is indeed excluded, would it be an option to suggest that it stop being excluded?

[2021-11-11 14:08] kraftbj commented on #21690
`vendor` is being excluded by Core's `make-pot`. IMO, pushing Core/WP CLI to not exclude `vendor` for the plugins directory is the most stable way forward.

@anomiex Where do things stand on needing a dynamic textdomain (e.g. what textdomain is used for a package that is in both Jetpack-the-plugin and a standalone)? Whether or not `vendor` is excluded, IIRC, we'll run into issues if there is a dif

[2021-11-11 14:09] kraftbj commented on #21690
On the WP CLI side, the default exclusion of `vendor` was last brought up (that I could see) in https://github.com/wp-cli/i18n-command/issues/172

If WP CLI does not want to entertain a change to the default, we could open a meta.trac ticket regarding .org including vendor (or perhaps having some way for a plugin to indicate to include vendor, or a specific folder string like `vendor/automattic/`

[2021-11-11 14:15] dragstor commented on #16989
I had a chatter today with the same issue: **32599701-HC**

✅  Got it resolved by following the steps from this comment: https://github.com/Automattic/jetpack/issues/16989#issuecomment-740564174

[2021-11-11 14:18] kraftbj commented on #21690
Lastly, going back to how we did JS translations could work. On build, we make-pot ourselves, convert that to an array in PHP that has the plugin textdomain and include that.

[2021-11-11 14:46] jeherve commented on #21690
I was happy when we were able to move away from this towards core js translations, but I can see how useful it could be here. Such a system may allow us to address both this issue and #20320 at once, when building the production version of a plugin generated from the monorepo.

[2021-11-11 15:01] kraftbj commented on #21690
Yeah, I really don't like having to go back to a homegrown solution, but given that the solutions otherwise are to get Core or WP CLI to move on something when we're looking at wanting something ready to go into prod at the end of month... I think homegrown may be the best way forward until the ecosystem (with our help) can have a solution.

[2021-11-11 15:45] jeherve commented on #21708
While a filter may help, I think it may be more beneficial for everyone if we were to update the way the output is built, and transform the localized time into one that's going to be able to be read by `strtotime`.

I believe we should be able to do this with some of the date / time tools made available in WP Core (see `WP_Locale` and related functions).

[2021-11-11 17:04] georgestephanis commented on #19752
My big question -- and this is probably a @jsnmoon question -- is what benefit does this give by changing the filename of an asset with every release, instead of dropping a cachebuster in the get string?  Why does it have to be this way and it deserves so much work and workaround, rather than just ... not cachebusting a filename?

[2021-11-11 19:20] GwynethLlewelyn commented on #1719
In case that someone comes here via Google and needs the latest lists of _official_ IP addresses:

- **Jetpack:**
  - https://jetpack.com/ips-v4.txt (only IPv4 though)
  -  IPv6 addresses [as before](http://whois.arin.net/rest/org/AUTOM-93/nets):
    `2001:1978:1e00:3::/64`
    `2620:115:c000::/40`
- **Akismet:** (as of [2021-04-06](https://blog.akismet.com/akismet-hosting-faq/); this is manually

[2021-11-11 21:00] anomiex commented on #21690
I'm supposed to be AFK today, but I was thinking about this anyway and had a few ideas.

* A [composer custom installer](https://getcomposer.org/doc/articles/custom-installers.md) could put just the relevant packages outside of `vendor/`, assuming we're willing to identify them all with an appropriate "type" field in their composer.json files. That might avoid the trouble with the autoloader since

[2021-11-12 02:49] #21545 closed

[2021-11-12 05:21] davidlonjon commented on #21545
Hi @cbirdsong, I have now fixed the issue in this [PR](https://github.com/Automattic/jetpack/pull/21713/files). Hopefully, this fix should be released soon with Boost v.1.3.1. We expect the release to happen next week. In the meantime, if you want to can try to apply the fix from the PR yourself and let me know if this is also good from your point of view.

[2021-11-12 08:23] karthikax opened #21725 "Boost: Refactor Critical CSS class"
Currently, Critical CSS module does so many tasks within [one class](https://github.com/Automattic/jetpack/blob/master/projects/plugins/boost/app/modules/critical-css/class-critical-css.php) including Critical CSS generation requests, handling Backend requests, Proxying CSS requests, frontend stylesheet loading manipulation, etc.

Refactor some of the logic within the Critical CSS class to separat

[2021-11-12 13:43] cbirdsong commented on #21545
I likely won't get a chance to check it out until then, but I'll keep an eye out for an update! 👍

[2021-11-12 15:06] anomiex commented on #19752
It's not clear to me what exactly is breaking in the first place, or whether whatever is breaking would just break in more subtle ways once the requested change is made. But anyway it's already on my list in p9dueE-3MG-p2.

Note the first time they tried to resolve this it wound up causing #21349. Some of the work in p9dueE-3MG-p2 involves fixing things so that doesn't happen again when we re-try

[2021-11-12 17:44] Copons commented on #19506
It seems we could do a better job of handling the default view.

As it seems, users that don't have access to My Home would default to Stats.
This can be tested with a few simple steps:

- Prepare a user with its own site (where they are admin), and another site (even better if unlaunched) where they are author or contributor.
- Navigate to https://wordpress.com/, which will automatically open My

[2021-11-12 18:43] anomiex commented on #21707
Being marked as "required" is an all-or-nothing thing. But while a skipped _workflow_ doesn't satisfy the requirement, a skipped _job_ does. The requirement logic seems to be "workflow ran at least once, and no instance of the job failed".

You'll probably want to move the skipping to the job level anyway. Your best course of action is probably to make use of `.github/files/list-changed-projects.p

[2021-11-12 18:47] #16549 closed

[2021-11-12 18:55] georgestephanis commented on #19752
So, my current understanding of the situation is this.

There's the **HTML**, which loads the **MAIN JS BUNDLE**, which in turn loads **HASHED JS CHUNK**.

The issue arises when Jetpack is updated, and then the error state becomes --

**HTML** loads an **OLD MAIN JS BUNDLE** (potentially from a CDN that hasn't updated the file change, more likely from a browser cache), which tries to load **OLD HA

[2021-11-12 19:10] anomiex commented on #19752
If the PHP is properly setting the version hash provided by `@wordpress/dependency-extraction-webpack-plugin`, then either the CDN or browser in your example is broken.

Another possibility is if someone manages to request the just-deployed PHP that serves the new hash and then fetch the JS file before the deployment has updated that too.

You're not wrong. But someone [had to actually fix it](htt

[2021-11-12 21:03] bobmatyas opened #21734 "Accessibility: "Save Settings" Button Contrast Fails WebAIM Check"
### Impacted plugin

Jetpack

### Steps to Reproduce

In the Jetpack settings pages, the "Save Settings" buttons don't pass [the WebAIM contrast test](https://webaim.org/resources/contrastchecker/):

`https://wordpresssite.com/wp-admin/admin.php?page=jetpack#/writing`

![Annotation on 2021-11-12 at 15-58-52](https://user-images.githubusercontent.com/45246438/141533725-8407a26c-35c2-476e-a13b-ea60f

[2021-11-12 22:39] #21387 closed

[2021-11-13 19:02] benchilcote commented on #21326
Just adding a CSS workaround I came up with.  I can't verify it is the best workaround, but worked for the user in 4353450-zen

[code]

[2021-11-14 00:25] donalirl opened #21736 "Search: Include Support for WooCommerce Variable Products"
### Impacted plugin

Jetpack

### Steps to Reproduce

On a site with Jetpack Search + WooCommerce:

1. Create a variable product with at least one variation.
2. Add an SKU to the variation.
3. Search for variation using its SKU
4. Search for the variation using the variation's name

### A clear and concise description of what you expected to happen.

I expected the variable product to appear in se

[2021-11-14 01:25] rw-ye commented on #19922
Report of the issue here: 4452926-zd-woothemes

Not sure if it is related, the Google AMP validator showing it working as expected.

[2021-11-15 09:37] danjjohnson commented on #15030
Another report here: https://wordpress.org/support/topic/comments-by-social-media-accounts-not-working/

[2021-11-15 10:31] #16481 closed

[2021-11-15 10:52] jeherve commented on #21738
closing in favor of this existing issue: #17402

[2021-11-15 10:52] #21738 closed

[2021-11-15 10:53] jeherve commented on #17402
also in 28976398-hc

[2021-11-15 10:56] jeherve commented on #21737
Unfortunately it won't always work. As we discovered when we first introduced the feature to the block settings in #13134, some browsers can prevent a video from being autoplayed. You can read more about this in this comment, where we discovered that browsers would not respect autoplay in some scenarios (like the video not being muted), while others would never respect it:
https://github.com/Autom

[2021-11-15 11:07] jeherve commented on #21734
Closing as duplicate of #16452

[2021-11-15 11:07] #21734 closed

[2021-11-15 11:08] jeherve commented on #16452
Also in #21734, mentioning the accessibility issues of the old buttons.

[2021-11-15 13:44] mdbitz commented on #14269
Needs re-testing as this should be resolved with the migration to wp_after_insert_post.

[2021-11-15 16:20] Copons commented on #19506
In https://github.com/Automattic/wp-calypso/issues/50945 a previous discussion regarding default screens.

[2021-11-15 18:11] kbrown9 commented on #21690
Your ideas seem reasonable to me.

Do you think there's any value in also investigating how the autoloader would need to be changed to allow composer to be configured to use something other than the default `vendor` directory? For example, I know that the autoloader will [check](https://github.com/Automattic/jetpack/blob/ba2dd6c30be137baad96aafb2466d0aed7e182e5/projects/packages/autoloader/src/cla

[2021-11-15 18:20] anomiex commented on #21690
We could investigate it, but we shouldn't need to if my idea pans out. I suspect the best route if we did want to go in that direction would be to have it check for some specific non-vendor directory in addition to `vendor/`. Or, I guess, have the autoloader write `vendor/` even if Composer uses something else.

[2021-11-15 20:38] kbrown9 commented on #21690
If we did need to go in this direction, I think we would need to have the autoloader write some files to the `vendor` directory and have Composer use something else. This would be necessary for compatibility with the autoloader packages that are already in released plugins. Those autoloaders would be checking for the autoloader files in the other plugins' `vendor` directories. But, as you said, we

[2021-11-15 21:29] gibrown commented on #19272
Just noting here that we discussed this a bit on our team call and the update to ES7 looks like it will have some impact on the results for highlighting also because the API changed (the tests don't pass, see D70083). We may want to punt this till after the upgrade.

[2021-11-15 21:34] gibrown commented on #20302
The image could be hosted somewhere else. For instance wp.com sites may have the image at xyz.wordpress.com even though there is a mapped domain name.

This makes sense to me too, maybe we need to pull apart the code that WP uses and replicate it in some way? Or run some of the image extraction code during the sync process? https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack

[2021-11-15 21:36] gibrown commented on #17430
Marking this one closed.

[2021-11-15 21:36] #17430 closed

[2021-11-15 23:15] bluefuton commented on #21736
cc @gibrown @robfelty 🙂 Would it be possible to add variable products to the index?

[2021-11-16 02:03] #21465 closed

[2021-11-16 03:06] eAdnan007 commented on #21585
I am currently looking into this. Seems like this is what happens:
- Boost and jetpack are both freshly installed and not set up.
- User opens Boost page, the inline config json while the page has lazy loading disabled.  Boost shows connect to WP.com prompt.
- User clicks connect to WP.com. This also connects jetpack in the backend and enables lazy loading.
- Boost main UI is shown but lazy loadin

[2021-11-16 03:11] davidlonjon commented on #21707
Thank you @anomiex for the info. I looked into what you've provided and got a bit more familiar with the `.github/files/list-changed-projects.php` script and GitHub jobs checks. It makes sense and should work for our purpose. I created this [PR](https://github.com/Automattic/jetpack/pull/21753) in which I actually just copied and pasted your solution from here as it looks good.

[2021-11-16 06:54] davidlonjon opened #21756 "Boost: Create core E2E tests"
Based on discussions that took place at the Jetpack Boost E2E testing strategy ( pbIAo1-nW-p2 ) P2 post and from the [Jetpack Boost E2E tests scenarios](https://docs.google.com/spreadsheets/d/1_Q0tUyO55fL_4AHpKt-TIsUmw7Qaf_cPgEbo-8ri8kk/edit?usp=sharing)  document, we identified 8 core E2E tests to implement.

The tests are::

- [x] Core Test Id 3 (Being addressed in https://github.com/Automattic/

[2021-11-16 11:40] mmtr commented on #19506
We also have another alternative I proposed [above](https://github.com/Automattic/jetpack/issues/19506#issuecomment-964295967). We can keep My Home as the default screen for everyone. However, that screen would point to different URLs depending on the user capabilities:
- For admins: `wordpress.com/home/:site` (Calypso's My Home page).
- For non-admins: `wp-admin/index.php`(Core's WP Admin dashboa

[2021-11-16 11:58] kaelhoel commented on #13760
We urgently need to have the ability to add custom links to the gallery images.

[2021-11-16 13:41] #20762 closed

[2021-11-16 15:55] muffinpeace opened #21761 "Jetpack Stats widget on Screen Options isn't appearing properly"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Install Jetpack and connect it to a WordPress.com to benefit of Jetpack Stats.
2. Head over to Dashboard > Home and click on **Screen Options**
3. Uncheck or check the box and notice the Jetpack Stats widget appearing and disappearing.

### A clear and concise description of what you expected to happen.

Jetpack Stats, or Jetpack Widget to b

[2021-11-16 15:59] Copons commented on #19506
@mmtr Sounds reasonable to me.

Though, I also agree with the concern about confusion, but wonder how many users happen to be admin of a site and non-admin of another.

What if instead of calling both items "My Home" we went more Core-ish, and called them "My Home" and "Dashboard"? 🤔
This would also kind of alleviate the fact that currently the only way to get to the wp-admin dashboard is from My

[2021-11-16 16:20] gibrown commented on #21736
Added to our active project list. It needs a bit of experimentation I think to figure out how we want to index them and whether we need a separate record for each variation or not. We should probably review the priority of these.

[2021-11-16 16:57] jeherve commented on #21761
Related: #11400

[2021-11-16 20:58] ianstewart commented on #19506
+1 to @mmtr's proposal as a fallback.

What breaks if we allow users with the following [WordPress roles](https://wordpress.org/support/article/roles-and-capabilities/) to have access to My Home?

- Administrator
- Editor
- Author
- Contributor

[2021-11-16 21:59] jordesign commented on #19506
I would guess that there might be some checklist items that might not be able to be actioned by non admins?

But the remainder of the My Home content should be totally ok.

[2021-11-16 23:09] supernovia opened #21771 "Enhancement:"
### Impacted plugin

Jetpack

### What

Add ability to discover which posts have the most likes

### How

This could be done in the posts lists page. In wp-admin, there are sorting columns, and a likes column, but the likes column cannot be sorted.

Or, we could add it to the stats page. We have a tab that says Likes, and we have top posts and pages reports. Perhaps we could add one for top liked

[2021-11-16 23:26] jordesign commented on #16989
@michaeldcain When you're able - could you please also run the patch for the most recently reported cases:

* https://github.com/Automattic/jetpack/issues/16989#issuecomment-961616901
* https://github.com/Automattic/jetpack/issues/16989#issuecomment-962064559
* https://github.com/Automattic/jetpack/issues/16989#issuecomment-962066110

[2021-11-17 02:30] bluefuton opened #21773 "Search: migrate `restorePreviousHref` in `query-string` library into our Redux effects module"

[2021-11-17 02:31] bluefuton opened #21774 "Search: replace Customizer "Excluded Post Types" options with "Included Post Types" having post, page, product, media selected as default"

[2021-11-17 02:33] bluefuton opened #21775 "Search: show landing page price table in local currency"
It is currently always in USD.

https://jetpack.com/support/search/product-pricing/

[2021-11-17 02:41] bluefuton commented on #20847
Is this now resolved @jsnmoon?

[2021-11-17 05:58] reginabally commented on #16989
I'm following up on [this comment](https://github.com/Automattic/jetpack/issues/16989#issuecomment-932475812).

@michaeldcain Can you please run the script for the site https://730romanticrelationships.com?

Product page: https://730romanticrelationships.com/products/

[2021-11-17 07:26] eAdnan007 opened #21777 "This is a test issue"
### Impacted plugin

Boost

### What

This is a test issue

### How

This issue is only for testing the workflow. Don't take this seriously 😉
[This is a test link](https://example.com)
![image](https://user-images.githubusercontent.com/3737780/142155039-cd9a2086-7101-46d9-b133-4f57176c2c80.png)

[2021-11-17 07:55] eAdnan007 opened #21778 "This is a test bug"
### Impacted plugin

Boost

### Steps to Reproduce

1. Do nothing

### A clear and concise description of what you expected to happen.

Just testing the workflow, no real bug.

### What actually happened

Just testing the workflow, no real bug.

### Other information

Just testing the workflow, no real bug.

### Operating System

_No response_

### OS Version

_No response_

### Browser

Other / N

[2021-11-17 08:00] eAdnan007 opened #21779 "Boost: Another test issue"
### Impacted plugin

Boost

### What

Just something to test our workflow with.

### How

_No response_

[2021-11-17 08:01] eAdnan007 opened #21780 "Boost: Last issue before testing is done"
### Impacted plugin

Boost

### What

This is the last issue created for workflow testing purposes

### How

_No response_

[2021-11-17 16:19] #21656 closed

[2021-11-17 17:45] jeherve commented on #21449
- Related Posts can be added to any template via a block.
- Sharing buttons and Likes appear to be displayed properly, I don't think any adjustment is necessary.

[2021-11-17 17:45] wpshellbelle commented on #16989
Another report at 24105836-hc
Donation Block is not working on site. Reconnecting Stripe didn't help. No existing payment plans.

@michaeldcain Can you please run the script mentioned above for the site https://prjktpayday.com/

[2021-11-17 17:46] jeherve commented on #21449
Since it's an FSE theme, I do not think we need to worry too much about widgets, since there is no widget area.

[2021-11-17 17:47] jeherve commented on #21449
Since it's an FSE theme, there is no customizer and content can be customized in templates. We do not need to worry about this here.

[2021-11-17 17:56] jeherve opened #21787 "Infinite Scroll: adapt to work with block themes"
Block themes do not use PHP templates that Infinite Scroll can use to render a list / loop of posts.

We would consequently need to either:

- Sunset the feature and let this be handled in Core directly, maybe as a new feature. Related: https://github.com/WordPress/gutenberg/issues/29606
- Adapt it to work with block themes.

[2021-11-17 17:57] jeherve commented on #21449
I do not think this will be an option here, since block themes do not use PHP templates that I could call to render a single post or a loop of posts from Infinite Scroll.

Infinite Scroll will need to be adapted to work with FSE themes. Tracking this in #21787.

[2021-11-17 17:57] #21449 closed

[2021-11-17 17:58] jeherve commented on #21322
This seems it will not land in this release:

[2021-11-17 18:28] mdbitz commented on #19906
Misc notes as I was curious

The currency option is persisted to the [meta](https://opengrok.a8c.com/source/xref/trunk/wp-content/plugins/elasticsearch/indexing/wpes-lib/src/indices/jetpack-search-v7-post-doc-builder.php?r=234837#79) of the doc generated for the products.

Need to check how the render is generated as we may need to move the data so the global option isn't saved to individual docs

[2021-11-17 18:57] mdbitz commented on #19906
https://github.com/Automattic/jetpack/blob/e8e395ad3bb575f1df9dc932a9831bf44d8a250a/projects/plugins/jetpack/modules/search/instant-search/components/search-result-product.jsx#L95

The Price display is based off the formatted value which is saved to the individual product docs in the index.

To have instant search results display the updated format it would currently require a bulk index. However

[2021-11-17 19:34] #18658 closed

[2021-11-17 21:15] jsnmoon commented on #20847
Yes, fixed by https://github.com/Automattic/jetpack/pull/21144.

[2021-11-17 21:15] #20847 closed

[2021-11-18 01:33] kraftbj commented on #21322
5.9 delayed. https://make.wordpress.org/core/2021/11/17/wordpress-5-9-beta-1-delayed/

[2021-11-18 02:25] davidlonjon commented on #21544
Hi @cbirdsong, just to let you know that my colleague @karthikax has worked on a [fix](https://github.com/Automattic/jetpack/pull/21665/files) that will solve this issue. It will be bundled within Jetpack Boost v1.3.1 imminent release.

I'll close this issue once the release is done.

[2021-11-18 02:30] #20933 closed

[2021-11-18 02:30] #20586 closed

[2021-11-18 02:34] #20615 closed

[2021-11-18 03:30] bluefuton commented on #19906
Thanks for digging into this @mdbitz!

When developing this we did consider duplicating `wc_price` into the Preact app, but there were complications we uncovered beyond the currency symbol and currency position. I wrote about this in p9xfpQ-1do-p2. Ideally we would like all the price formatting to happen on the server-side.

[2021-11-18 06:28] thingalon commented on #21585
🤔

I'm on the fence about this. On the one hand, Jetpack Boost usually starts with all of its features off by default, and invites users to turn them on one-by-one. I wonder if starting with some on and some off will discourage users from exploring the features (?)

On the other hand, consistency across plugins is good and lazy loading is a very safe module to have enabled.

I think we may need to

[2021-11-18 13:45] mdbitz commented on #17066
Reviewing this and I think Jetpack Sync shouldn't pull redirects across. They don't provide any benefit to WP.com powered features for users. e.g. Publicize, Backups, etc. The only impact I can see is that there won't be an entry in the Activity Log for the creation/modification of the redirects.

To-Do disallow redirect_rule which can be part of the next release. Sync Checksums would auto remove

[2021-11-18 13:51] mdbitz commented on #10146
A note here is that there is a limitation in the current infrastructure in support of utf8 (3 char) and utf8-mb4 (4 char). Our infrastructure persists data as latin1 which causes conversion/loss of some characters. This latin1 data is what is indexed to the elastic index. We need to review if this is contributing to non-matches of content.

[2021-11-18 15:58] seanbelly commented on #16989
Another report here: 4465636-zd-woothemes
Donation block reports sales disabled.
Deleted plan and created a new one, awaiting response.

[2021-11-18 17:21] gibrown commented on #17066
Probably a rare case, but I think the original issue came up on jetpack.com which is a wpcom site and so Sync alone won't fix for that site.

[2021-11-18 17:23] gibrown commented on #10146
We do run some conversion code for going from the DB to UTF8 (ES only supports UTF8), but ya there could be some errors in these cases. I think every case I have seen has appeared caused by our indexing though.

[2021-11-18 17:46] mdbitz commented on #17066
:) I'll have to keep reminding myself we're not only dealing with Jetpack sites but WP.com as well.

[2021-11-18 18:02] NickGreen commented on #14269
I tested this on Tim.blog, and the filter now correctly excludes specific categories from Jetpack subscription emails for freshly drafted posts with the specific category set.

This is the filter used:
[code]

[2021-11-18 19:38] #14269 closed

[2021-11-18 20:37] JoshuaGoode commented on #21801
I could not reproduce, across multiple browsers, on an active user report but it appears the user encounters it consistently.

I've provided the user some troubleshooting steps including attempting to use another browser, clearing cache, and temporarily deactivating Gutenberg.

When resolved, let's try letting them know.

Internal references:

* p9F6qB-7GN-p2
* 4462270-zd-woothemes

[2021-11-18 20:57] metabreakr commented on #16989
4466307-zen

[2021-11-18 22:45] JoshuaGoode opened #32572 "WooCommerce & Jetpack Sitemaps: Add support for WooCommerce products post type"
### What

Add support for WooCommerce Products to Jetpack Sitemaps

### Why

WooCommerce utilizes the products post type which Jetpack Sitemaps does not include support for by default.

It is possible to add this support via a code snippet. Others utilize a dedicated SEO plugin for their sitemaps instead.

* https://jetpack.com/support/sitemaps/

Given WordPress.com's goals, it appears that we mig

[2021-11-19 04:42] jordesign commented on #20309
Another report in 4450639-zen

[2021-11-19 05:23] kraftbj commented on #2856
Received a report that the alt text should not have ASCII art, including smileys passed to us via p1637291268091300-slack-CDD9LQRSN

We'd need to fix `e.js` directly, but `w.js` needs to be built/minified via https://github.com/Automattic/analytics/search?q=alt before going to wp.com.

[2021-11-19 07:14] kosiew commented on #16989
Hi @DavidRothstein ,
Can you run the script for site id 182812520 ?
ref: #4463364-zen

[2021-11-19 09:28] #21671 closed

[2021-11-19 15:39] terriann commented on #2856
The WAVE accessibility evaluation tool (https://wave.webaim.org/) identified this as an error.

Here's the output that it provides when this image with the alt tag `alt=":)"` is found:

[2021-11-19 15:42] kraftbj commented on #2856
Solved via r235341-wpcom though, due to caching, it may be Monday before a lot of Jetpack sites see the new JS.

[2021-11-19 15:42] #2856 closed

[2021-11-19 16:54] danjjohnson opened #21823 "Site Verification link available to Editors"
### Impacted plugin

Jetpack

### Steps to Reproduce

Make sure Site Verification is enabled in Jetpack > Settings > Traffic.

Then:

1. sign in as an Editor level user
2. go to Tools in the menu (/wp-admin/tools.php)
3. click the link (/wp-admin/admin.php?page=jetpack#/traffic) within the message: You can verify your site using the “Site verification” tool in Jetpack Settings.
4. view blank scree

[2021-11-20 09:32] brbrr commented on #15846
No. This issue is 1+ year old, so I can imagine a lot have changed since then.

[2021-11-20 09:32] #15846 closed

[2021-11-20 12:34] Ste-Fantin opened #21835 "ads option also on the search screen and results"
### Impacted plugin

Jetpack

### What

ads option also on the search screen and results

### How

My opinion is ads option also on the search screen and results.
Best regards,
Stefano Fantin

[2021-11-20 23:53] gabriel-fuentes commented on #16989
4532641-zen

[2021-11-21 11:55] syds87 commented on #16989
Hi @michaeldcain ,

Could you run the same script for site id 179630244 as well?
Reported in #4533699-zen

[2021-11-21 18:49] lakellie opened #21836 "Jetpack sharing buttons causing Google Search Console warnings"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Enable sharing buttons
2. Set up Google Search Console
3. Google Search Console attempts to index the URLs linked on each sharing button (which is the post URL appended with ex.  `?share=facebook`, `?share=reddit`, and `?share=email`)

### A clear and concise description of what you expected to happen.

I wouldn't expect GSC to attempt to in

[2021-11-21 23:05] thingalon opened #21837 "Fake Bug Report"
### Impacted plugin

Boost

### Steps to Reproduce

1. Make up steps
2. Post said steps
3. Ensure that it gets added to the Jetpack Boost project board automagically.

### A clear and concise description of what you expected to happen.

_No response_

### What actually happened

_No response_

### Other information

_No response_

### Operating System

_No response_

### OS Version

_No response_

[2021-11-22 06:59] spsiddarthan commented on #16989
Hi @michaeldcain,

The website mentioned in 4458035-zen  appears to have the same issue and needs to be fixed/looked at again.

Issue summary: The Donations block was throwing off an error saying that the Plan is not found.

What has the user tried so far:
- Remove the donation block from your pages/posts.
- Save those pages/posts without the block.
- Reload the editor again and then add a new don

[2021-11-22 11:20] jeherve commented on #21801
I'm able to reproduce when first hovering (and thus triggering the block preview) for CoBlocks' carousel block, and then moving to any other block. This only happens with CoBlocks' carousel block, so I would recommend reporting this to the team in charge.

[2021-11-22 11:20] #21801 closed

[2021-11-22 11:41] jeherve commented on #21836
No, we've made no changes to this in the past few years.

Right, this is how we've informed search engines that the links should not be followed until now. Apparently it doesn't always work though.

I think it would be worth reaching out to Google to ask them what the preferred method is for situations like this one, if not using  the `nofollow` `rel` attribute like we've been doing since we first

[2021-11-22 16:28] #21823 closed

[2021-11-22 16:37] filipanoscampos commented on #21801
I have another similar case here 32856617-hc.
The user can't add or edit posts and I was able to replicate the issue.

And the follow-up ticket is at 4536158-zd-woothemes.

I'm letting them know of the temporary workaround.

[2021-11-22 17:49] KirkwallDay commented on #16989
Hi @michaeldcain I have a user in this ticket: 4466307-zen with a donations block showing the "Sales disabled" message.

They have tried removing and re-adding the block.

Can you run the script for rbkande.wordpress.com

URL for the page is: rbkande.wordpress.com/2021/07/12/example-post-3/

[2021-11-22 18:50] anomiex commented on #21836
Based on some testing with Google's Search Console, it looks like the "though blocked by robots.txt" bit is because the Twitter page that's the target of the redirect is listed in Twitter's robots.txt. Which makes sense, Twitter wouldn't want that crawled.

Based on some text at https://developers.google.com/search/docs/advanced/guidelines/qualify-outbound-links, the problem may be that Google ign

[2021-11-22 20:53] bobmatyas commented on #20302
Another report in 4536728-zen

[2021-11-23 15:38] muffinpeace commented on #21504
It seems that this could happen often, especially when the Legacy 1-Click Staging feature retires in a couple of months. I am adding the link to a forum thread we've received from a customer: https://wordpress.org/support/topic/safe-mode-disconnected-wrong-site/

[2021-11-23 17:47] jamiepalatnik commented on #19737
Another request: 6568121-hc

User would like to allow customers to choose between multiple payment options (like monthly or yearly). This may need its own feature request, but user would also like to be able to see all posts that have a Premium Content block added.

[2021-11-23 18:35] #21446 closed

[2021-11-23 20:15] AtrumGeost commented on #21801
Got another report here:

32387205-hc

[2021-11-24 00:12] #10159 closed

[2021-11-24 08:16] jeherve opened #21868 "Release process: automate squashing changelog entries for Beta releases"
In #21143, we introduced a new `squash` command that one can use to squash changelog entries in the changelog file. This can be useful for example to take changelog entries from all Alpha releases in a given month, into a single Beta changelog entry at the end of the month:

`cd projects/plugins/jetpack && vendor/bin/changelogger squash`

It would be nice if this were included in the `tools/plugin

[2021-11-24 10:59] marcodsad commented on #20575
Hi, same issue here. WP 5.8.2. Jetpack 10.3.
The problem exists since several months, it would be quite helpful if it could be fixed.

Thanks!

[2021-11-24 13:58] robfelty commented on #20302
Thanks for the pointer @gibrown - that was very helpful.
I narrowed it down to [this line in post.php](https://github.com/WordPress/wordpress-develop/blob/ba943e113d3b31b121f77a2d30aebe14b047c69d/src/wp-includes/post.php#L6401)

It turns out that for featured images, sometimes they have a postmeta of `_wp_attached_file`, but sometimes they don't, and instead have either `_thumbnail_id` and/or `jet

[2021-11-24 15:05] ccwalburn commented on #16989
4466307-zen
I let the user know that the issue has been fixed and they can remove the donations block and re-add it following  @michaeldcain 's steps.

[2021-11-24 15:29] #19695 closed

[2021-11-24 16:51] poeticabdul commented on #16989
For 4466307-zen user is back, running the script didn't work for them @michaeldcain

For now, I have suggested they recreate the donation block in a new test post and let us know how that goes

[2021-11-24 17:58] renatoagds commented on #20996
Just pushing an update in top of this. I fixed this problem exporting the NODE_PATH auto-generated from PNPM.

It's located at:  `tools/js-tools/node_modules/.bin/eslint`, my NODE_PATH was this one:

[code]

I don't think is the best solution, since this is auto-generated and could change easily, but it makes the eslint work again.

Will continue to search more solutions for that, since it's relat

[2021-11-24 20:05] #21587 closed

[2021-11-25 15:36] #19752 closed

[2021-11-26 18:13] jeherve commented on #13819
This should be fixed as of #21874.

[2021-11-26 18:13] #13819 closed

[2021-11-27 10:06] sophiegyo commented on #17001
It looks like there's something still a little weird with how these notifications are generated @mmtr @blackjackkent

We received a report from a user in 4539775-zen who mentioned that the wording made them think that the donation was a recurring one, when it was in fact very definitely a one-time donation (I checked over everything relating to it).

This was the screenshot shared by the user, whe

[2021-11-27 13:40] NekoJonez commented on #21662
I tried to start creating a PR for this, but I'm having some trouble.
Looking for translate.wp.org, I noticed that most of them point to:

https://plugins.trac.wordpress.org/browser/jetpack/trunk/_inc/build/admin.js#L32

But, I'm unable to see from which files this file comes from...

[2021-11-27 18:07] Gustavo-Hilario commented on #21801
Another report here: https://woothemes.zendesk.com/agent/tickets/4550288

[2021-11-27 22:43] donalirl commented on #17999
Encountered in #32882400-hc

[2021-11-28 11:11] asafm7 opened #21887 "Jetpack not resizing images according to `width` and `height` attributes."
### Impacted plugin

Jetpack

### Steps to Reproduce

Using the native Media & Text block.

Image size set to Large.

### A clear and concise description of what you expected to happen.

If I understand correctly Jetpack is supposed to automatically resize images according to the image `width` and `height` attributes.

If it is supposed to do so, it seems it is sometimes failing. Please see the sc

[2021-11-28 12:11] Aminericher commented on #9603
I was about to buy the annual membership with the Black Friday Reduction to 36$, but seeing that this functionality is still lacking, I will rather stay with vimeo, even if it will be given free, it is not worth it !

[2021-11-29 07:01] jeherve commented on #21662
`_inc/build/admin.js` is a build artifact, that's automatically generated when compiling code from multiple files in `	_inc/client`.

Here is an example:
https://github.com/Automattic/jetpack/blob/39fa657bfe0aaca179275331752fd99a74ac1c41/projects/plugins/jetpack/_inc/client/traffic/seo.jsx#L225

[2021-11-29 07:04] jeherve commented on #21887
Thanks for the report.

It would be interesting to know what is the markup of those images when you disable the image CDN feature under Jetpack > Settings > Performance? Could you give it a try, and let us know what you find?

Thank you!

[2021-11-29 10:11] danmaze commented on #9582
I've seen another instance of this feature/enhancement request in 4552415-zen.

They eventually figured out a hacky solution to the problem which has the downside of being incompatible with future Jetpack updates (I've already informed them about that):

The solution seems pretty straightforward: Add the "leaderboard" option to the `$allowed_tags`, so that users can add leaderboard ads wherever th

[2021-11-29 10:19] asafm7 commented on #21887
Thanks for your reply.

So without the image CDN, the `width` and `height` for the image in the screenshot are 1024 and 1024.

When the CDN is enabled the dimensions are changed retroactively after page load. Apparently, too late.

You can see it in this video:
https://www.loom.com/share/acd940b94bb943149c681fecfb4f4705

You wouldn't be able to reproduce it on the site as I replaced the image with

[2021-11-29 15:05] danjjohnson commented on #15030
Another here: https://wordpress.org/support/topic/connecting-to/

[2021-11-29 19:09] amustaque97 commented on #21448
@sdixon194, could you please share steps to reproduce the error so that I can also check it. Just curious. 😄

[2021-11-29 22:13] CodeAllNightNDay commented on #21736
@gibrown Hi there. I wanted to check if there were any updates on this that I could give to the user aside that were working on it.

4554949-hc-woothemes

Thanks!

[2021-11-30 00:55] bizanimesh commented on #16989
Hey @michaeldcain - is there any other thing that we can try?

[2021-11-30 02:56] formosattic opened #21901 "VideoPress: Option to have video start from beginning upon browser refresh"
### What

Option to have video start from beginning upon browser refresh

### Why

User expects video to start from beginning after a browser refresh, or have an option to control that.

Can test with video at https://jetpack.com/jetpack_support_tag/videopress/
Watch the video for a few seconds, then refresh the browser, the video will continue where it left off.

I checked the default behavior on

[2021-11-30 06:54] #8809 closed

[2021-11-30 06:54] jeherve commented on #8809
This was deleted eventually. 👍

[2021-11-30 06:55] #21836 closed

[2021-11-30 06:56] jeherve commented on #7627
This was handled as part of #16481.

[2021-11-30 06:56] #7627 closed

[2021-11-30 06:58] jeherve commented on #2451
I believe this may have been fixed in #21075. Please re-open if the issue comes back.

[2021-11-30 06:58] #2451 closed

[2021-11-30 11:13] bizanimesh opened #21903 "Feature Request: Customizable Jetpack Search Results Title"
### Impacted plugin

Jetpack

### What

Can we have a customizable Jetpack Search results title?

### How

Can we have a customizable Jetpack Search results title?

<img width="861" alt="Screenshot on 2021-11-30 at 16-34-44" src="https://user-images.githubusercontent.com/52444539/144036526-5b01d56f-99fa-4785-a615-8ec311b47e8c.png">

This feature request first came in Automattic/jpop-issues#7122 |

[2021-11-30 12:30] spsiddarthan commented on #16205
We're going to do address this in three separate PR's, one per feature as detailed below.

- [ ] Hide share this section in the print view
- [ ] Hide the like posts section in the print view
- [ ] Hide the related posts section in the print view.

[2021-11-30 14:10] sdixon194 commented on #21448
@amustaque97 It's been a bit and I'd have to test with the logic from the PR again, but infinite scroll simply broke for me. I wasn't able to scroll down to load more posts, it just stopped after the first batch was loaded.

[2021-11-30 18:29] sdixon194 opened #21914 "VideoPress: Closed caption icon duplicate on core video block"
### Impacted plugin

Jetpack

### Steps to Reproduce

- Connect a Jetpack site, don't enable VideoPress
- Upload a video to a post
- Notice that the core video block now has two icons in the toolbar for adding captions.

### A clear and concise description of what you expected to happen.

There should be just one caption icon.

### What actually happened

Two caption icons appeared.

### Other inf

[2021-11-30 20:02] gibrown commented on #21736
@CodeAllNightNDay there are not unfortunately. I'll nudge it into "Next" but we still have a fair bit of uncertainty. I highly doubt we'll get it done by the end of the year.

[2021-12-01 02:29] weeix commented on #19941
Hi. Any news on this matter?

[2021-12-01 03:33] tameryldz commented on #21169
#9919

[2021-12-01 03:34] tameryldz commented on #21736
https://join.skype.com/Ebdf7Wh4ffX0

[2021-12-01 14:51] mdbitz commented on #17066
There is also a concept of a disallowed post_type in the indexing trigger. If it is re-used during bulk indexing than we can use it to stop indexing of redirects without changing behavior to Activity Log or other feature/products.

[2021-12-01 18:44] mdbitz commented on #17066
I reviewed this in detail and we have an update to ensure that redirect_rule post_types are not indexed, however this won't address the fact that the original post is still published and available on the website.

Safe Redirect Plugin and others work by setting up rules that don't modify the original post. What this means is that the original post is unaware that there is a redirect and is still p

[2021-12-01 23:09] bluefuton commented on #21903
This is potentially tricky because the replacement text would also need to be translated.

If we were to add more specific class names, the customer could replace the text using CSS, like this:

https://www.geeksforgeeks.org/how-to-replace-text-with-css/

Currently we render all title ("No results found", "Showing popular results") with the class name `jetpack-instant-search__search-results-title`

[2021-12-02 02:27] #21585 closed

[2021-12-02 03:27] thingalon opened #21926 "Boost: Update Dashboard heading to new logo"
Reference: p6TEKc-5Be-p2

We have a lovely new logo to use for our heading. We need to update it in the heading to use the new Horizontal Logo design in at the top of Jetpack Boost's dashboard.

[2021-12-02 05:15] mriyazuddin commented on #21736
Hey folks, any update on this? I have a user eagerly waiting for a resolution.

4554949-zd

[2021-12-02 07:09] bluefuton commented on #21736
@mriyazuddin as @gibrown mentioned above, "I highly doubt we'll get it done by the end of the year." It's on our radar for the next few months but we won't be able to solve it for the user immediately.

[2021-12-02 08:40] jeherve opened #21927 "Disconnect Flow: align modal to Jetpack dashboard content width"
![screenshot-2021-12-01-at-16 59 35](https://user-images.githubusercontent.com/426388/144387160-4c470d49-1115-4b6d-97c0-987193238210.png)

![screenshot-2021-12-01-at-16 58 48](https://user-images.githubusercontent.com/426388/144387170-01ba0253-c23a-4596-85dd-7a41ea453166.png)
*******

Reported in p8oabR-L4-p2#comment-5628

[2021-12-02 08:41] jeherve commented on #21927
cc @ jboland88

[2021-12-02 10:38] jeherve commented on #19941
@weeix We are not currently working on the Post by Email feature and haven't looked at the problems you're facing yet. We will update this issue as soon as we do though.

Until then, I'm afraid I have no workarounds to offer, short of editing the posts to fix the spaces.

[2021-12-02 10:40] jeherve commented on #21914
cc @roundhill, who worked on adding caption support to the Video block.

[2021-12-02 12:43] joashrajin opened #21929 "Infinite Scroll does not work correctly with Storefront when loading more categories on the Shop Page"
### Impacted plugin

Jetpack

### Steps to Reproduce

1) Install the StoreFront Theme
2) Go to `Appearance > Customize > WooCommerce > Product Catalogue > Shop page display` and set it to show Categories
3) Go to `Jetpack Settings > Writing > Infinite Scroll` and then choose 'Load more posts in-page with a button'
4) Open the Shop Page and press the 'More Products' button, which should then cause

[2021-12-02 14:35] mdbitz commented on #19906
@bluefuton Hey Chris. I wanted to reach out and let you know that we added a new indexing trigger for the woocommerce_currency option.

Do you mind retesting and let us know if this can be closed? As an FYI it has to re-index every product so it won't be instantaneous you should be able to monitor the debugger for status of the bulk index.

[2021-12-02 16:01] roundhill commented on #21914
It's also loading the progress bar color settings, which it shouldn't:

<img width="1102" alt="Screen Shot 2021-12-02 at 9 00 14 AM" src="https://user-images.githubusercontent.com/789137/144457636-246a43aa-9a61-4674-86e0-0af1198c3676.png">

cc @thedebian for any insights

[2021-12-02 16:19] roundhill commented on #21914
Per Slack discussion, we'll fix this as part of https://github.com/Automattic/jetpack/pull/21928

[2021-12-02 17:41] jeherve commented on #21929
Related: #13210

[2021-12-02 21:36] bluefuton commented on #19906
Thank you @mdbitz! I'll give it a re-test :)

[2021-12-02 21:45] annbingle commented on #16989
Same issue reported here - 26896965-hc using the Payments Block. I had them delete their current Payments Plan and create a new one. Also, remove and create a new Payments button on their on About page but still the same error.

[2021-12-03 02:47] retnonindya commented on #12801
Report here: 4564516-zd-woothemes

[2021-12-03 11:19] ckubitza commented on #19658
You can disable CDN, even for tiled gallery, with this filter:

add_filter('jetpack_photon_development_mode', '__return_true');

[2021-12-03 11:27] robfelty commented on #20302
I deployed a fix for this today. In the future, whenever a site using Jetpack Instant Search updates its siteurl, we will re-index all the posts, and the image urls should all refer to the new siteurl. If there are still sites having issues currently, we should be able to re-index them, and that should fix the problem.

I think we can probably close this one now, but I will wait for some additiona

[2021-12-03 12:04] Copons commented on #19506
@Automattic/ajax this has been moved to our Iteration 3, requiring a bit of investigation work in advance.

### Tasks

For starters:

- [ ] Stopgap: @mmtr's [proposal](https://github.com/Automattic/jetpack/issues/19506#issuecomment-970187582)
  - [x] Show My Home menu item to admins (checked by default).
  - [ ] Show (wp-admin) Dashboard menu item to non-admins.

Then:

- [ ] Investigate how the v

[2021-12-03 15:17] jeherve commented on #9184
I think this was fixed as we made changes to the settings UI in the past year. Closing

[2021-12-03 15:17] #9184 closed

[2021-12-03 16:01] gibrown commented on #20302
Really nice find. I think let's close this and we can reopen if more user reports come in.

Just to note, the easiest way to trigger a re-index is probably to just trigger a full sync for the site.

[2021-12-03 16:30] jeherve commented on #19405
This should now be resolved.

[2021-12-03 16:52] mdbitz commented on #20502
I've been reviewing the subscription data and the follow flow is triggered if the site is not accessible by WP.com when a subscription for Search expires or is removed.

1) WP.com attempt to send deactivate API call fails
2) Jetpack performs a daily heartbeat which triggers a refresh of the Subscription data from WP.com
3) This update disables the search module but does not update the 'instant_sea

[2021-12-03 17:52] jeherve commented on #21887
Thank you for the extra details, that's super helpful!

May I ask what your settings are under Settings > Media in your dashboard?

Could you also check your theme's `functions.php` file, and let me know if you find any `$content_width` value defined there?

*******

Potentially related: #7291, #4175

[2021-12-03 19:03] asafm7 commented on #21887
Thanks for your reply.

I couldn't find `$content_width` defined in either the parent or child theme `functions.php`s.

The media settings:
![image](https://user-images.githubusercontent.com/14274769/144658404-4fae17d1-073b-4cd6-8569-5b8eb86993ae.png)

[2021-12-03 21:30] kraftbj opened #21948 "PHPCS: jetpack/_inc/lib/admin-pages/"
### Impacted plugin

Jetpack

### Steps to Reproduce

[code]

### A clear and concise description of what you expected to happen.

_No response_

### What actually happened

_No response_

### Other information

_No response_

### Operating System

_No response_

### OS Version

_No response_

### Browser

Chrome/Chromium

### Browser Version(s)

_No response_

[2021-12-03 21:31] kraftbj opened #21949 "PHPCS: _inc/lib/ root files"
### Impacted plugin

Jetpack

### What

PHPCS the following

### How

- [x] `projects/plugins/jetpack/_inc/lib/class.color.php`
- [x] `projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php`
- [x] `projects/plugins/jetpack/_inc/lib/class.jetpack-automatic-install-skin.php`
- [x] `projects/plugins/jetpack/_inc/lib/class.jetpack-iframe-embed.php`
- [x] `projects/plugins/jetpack/_inc/lib

[2021-12-03 21:32] kraftbj opened #21950 "PHPCS: _inc/lib/core-api"
### Impacted plugin

Jetpack

### What

PHPCS

### How

- [x] - `projects/plugins/jetpack/_inc/lib/core-api/class-wpcom-rest-field-controller.php`
- [x] - `projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php`
- [x] - `projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-widgets-endpoints.php`
- [x] - `projects/plugins/jetpack/_inc/lib/core-api/class.

[2021-12-03 21:33] kraftbj opened #21951 "PHPCS: Jetpack root classes"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

Note that this does not include class.jetpack.php itself.

[2021-12-03 21:34] kraftbj opened #21952 "PHPCS: class.jetpack.php"
### Impacted plugin

Jetpack

### What

PHPCS

### How

`"projects/plugins/jetpack/class.jetpack.php",`

[2021-12-03 21:35] kraftbj opened #21953 "PHPCS: Root function files"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:37] kraftbj opened #21954 "PHPCS: JSON Endpoints bulk/comment/delete/edit"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:38] kraftbj opened #21955 "PHPCS: JSON Endpoints get"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:38] kraftbj opened #21956 "PHPCS: JSON Endpoints List"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:39] kraftbj opened #21957 "PHPCS: JSON Endpoints M-T"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:40] kraftbj opened #21958 "PHPCS: JSON Endpoints Update/Upload"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:41] kraftbj opened #21959 "PHPCS: JSON Endpoints Jetpack"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:42] kraftbj opened #21960 "PHPCS: Carousel and Comments"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:43] kraftbj opened #21961 "PHPCS: Contact Form"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:43] kraftbj opened #21962 "PHPCS: Custom CSS"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:44] kraftbj opened #21963 "PHPCS: Custom Post Types"
### Impacted plugin

Jetpack

### What

PHPCS

### How

- [x] projects/plugins/jetpack/modules/custom-content-types.php
- [x] projects/plugins/jetpack/modules/custom-post-types/comics.php
- [x] projects/plugins/jetpack/modules/custom-post-types/nova.php
- [x] projects/plugins/jetpack/modules/custom-post-types/portfolios.php
- [x] projects/plugins/jetpack/modules/custom-post-types/testimonial.php

[2021-12-03 21:44] kraftbj opened #21964 "PHPCS: Google Analytics"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:45] kraftbj opened #21965 "PHPCS: Infinite Scroll"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:46] kraftbj opened #21966 "PHPCS: Views"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:47] kraftbj opened #21967 "PHPCS: SAL"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:48] kraftbj opened #21968 "PHPCS: Publicize"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

@danielpost with your work here, would this be something that might be easier for you to handle?

[2021-12-03 21:49] kraftbj opened #21969 "PHPCS: SEO Tools"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:49] kraftbj opened #21970 "PHPCS: Sharing"
### Impacted plugin

Jetpack

### What

PHPCS

### How

- [ ] `projects/plugins/jetpack/modules/sharedaddy/recaptcha.php`
- [ ] `projects/plugins/jetpack/modules/sharedaddy/sharedaddy.php`
- [ ] `projects/plugins/jetpack/modules/sharedaddy/sharing-service.php`
- [ ] `projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php`
- [ ] `projects/plugins/jetpack/modules/sharedaddy/sharing.php`

[2021-12-03 21:50] kraftbj opened #21971 "PHPCS: SSO"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:50] kraftbj opened #21972 "PHPCS: Sitemaps"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:51] kraftbj opened #21973 "PHPCS: Theme Tools"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:55] kraftbj opened #21974 "PHPCS: Various modules"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:56] kraftbj opened #21975 "PHPCS: Geolocation"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:57] kraftbj opened #21976 "PHPCS: Grav Hovercards"
### Impacted plugin

Jetpack

### What

PHPCS

### How

`"projects/plugins/jetpack/modules/gravatar-hovercards.php",`

[2021-12-03 21:57] kraftbj opened #21977 "PHPCS: Tiled Galleries"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:58] kraftbj opened #21978 "PHPCS: Simple Payments"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:58] kraftbj opened #21979 "PHPCS: Widget Visibility"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 21:59] kraftbj opened #21980 "PHPCS: VideoPress"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:01] kraftbj opened #21981 "PHPCS: Verification Tools"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:01] kraftbj opened #21982 "PHPCS: Markdown"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:02] kraftbj opened #21983 "PHPCS: Protect"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:02] kraftbj opened #21984 "PHPCS: Related Posts"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:04] kraftbj opened #21985 "PHPCS: Likes"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:05] kraftbj opened #21986 "PHPCS: Monitor"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:05] kraftbj opened #21987 "PHPCS: Notes"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:06] kraftbj opened #21988 "PHPCS: Shortlinks & Site Icons"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:06] kraftbj opened #21989 "PHPCS: Subscriptions"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:07] kraftbj opened #21990 "PHPCS: WP Post Widget"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:08] kraftbj opened #21991 "PHPCS: EU Cookie Widget"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-03 22:09] kraftbj opened #21992 "PHPCS: Widgets 1"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]
The first half of the random widgets.

[2021-12-03 22:09] kraftbj opened #21993 "PHPCS: Widgets 2"
### Impacted plugin

Jetpack

### What

PHPCS

### How

[code]

[2021-12-04 06:36] kraftbj commented on #21952
Going to break this one up into a PR for just docs changes, etc to help the review process.

[2021-12-05 00:11] indolering commented on #1870
FWIW, Meta has [opened up content publishing to Instagram](https://developers.facebook.com/docs/instagram-api/guides/content-publishing/?translation).  The only catch is that the account being posted to must be a business account.

[2021-12-05 00:20] indolering opened #21997 "Feature Request:"
### Impacted plugin

Jetpack

### What

Publicize: Add TikTok as a service

### How

TikTok [appears to have an API](https://developers.tiktok.com/doc/web-video-kit-with-web) that allows external services to post on a users behalf.  I'm not 100% sure that's the right API, but I do know of some social media managers with the ability to cross-post to TikTok.

[2021-12-05 01:47] formosattic commented on #9555
+1 4568836-zd-woothemes to have the Like button in AMP Standard Mode.

[2021-12-05 21:09] cat-og commented on #21801
Found a similar case with the same error report, but user was not able to open their pages at all. The temporary workaround of deactivating Gutenburg works for now.  33065466-hc

[2021-12-05 23:08] kangzj commented on #20502
Hi @mdbitz thank you so much for your input 👍 . I'm currently working on this. Because search is going standalone, we are implementing its own methods for plan supports determination and etc, including:

- An endpoint for all search subscription ( D69004 )
- A consumer in Jetpack to cache and provide calls based on the data (#21584)
    - I'm looking for the right timing to update the plan data, t

[2021-12-05 23:12] bluefuton commented on #19906
@mdbitz unfortunately this didn't seem to do the trick on my test site (blog ID 84860689). I changed the currency from Euro to UK pound and the currency position from left to right:
<img width="698" alt="Screen Shot 2021-12-06 at 11 58 31" src="https://user-images.githubusercontent.com/17325/144767779-0189513f-3d0c-4336-b8cb-27e3436172c0.png">

I've left a reasonable time for the sync to happen bu

[2021-12-05 23:55] mdbitz commented on #20502
Excellent, Thanks for the update :)

[2021-12-06 09:33] spsiddarthan commented on #16205
This issue has two more features that need to be addressed, reopening the issue.

[2021-12-06 10:38] #21986 closed

[2021-12-06 11:03] #21988 closed

[2021-12-06 11:26] mmtr commented on #19506
This was discussed in https://github.com/Automattic/wp-calypso/issues/50945#issuecomment-869398348 and pd2C0z-3q-p2#comment-146, and we finally opted for not including the switcher in My Home. However, users can still access the WP Admin dashboard via the secondary menu in My Home:

<img width="1482" alt="Screen Shot 2021-07-05 at 11 50 12" src="https://user-images.githubusercontent.com/4452464/12

[2021-12-06 12:56] robfelty commented on #20302
Unfortunately this change broke a bunch of other urls :(

Re-opening, and looking for a fix.

[2021-12-06 15:09] mdbitz commented on #19906
Interesting.

I'm showing that the 'woocommerce_currency' option is GBP on your site, however when I look at the WP.com Cache I'm getting false returned. This is because in the WP.com Cache the option and most woocommerce options are being saved in the no autoload tables.

Working on a patch in D71064, but need to make sure I understand full consequences of the changes.

At this time I don't see c

[2021-12-06 15:22] mdbitz commented on #19906
<img width="864" alt="Screen Shot 2021-12-06 at 9 39 56 AM" src="https://user-images.githubusercontent.com/5784663/144872444-7e1b0eb0-e175-4838-99a5-31f2f02bce10.png">

@bluefuton Chris I triggered the update of the option and showed the bulk index job triggered and now the currency has changed in the display.  I'm showing anecdotally around ~5 mins for the bulk index to trigger due to dedupe logi

[2021-12-06 15:44] danielpost commented on #21968
@kraftbj Yes, I'm mostly done with this actually, caveat being that the files actually change locations. I'll take this one.

[2021-12-06 15:44] bmarotta opened #22003 "Malformed img src when lazy-loaded is active"
### Impacted plugin

Boost

### Steps to Reproduce

1. Enable lazy loading
2. Check the generated HTML page source

### A clear and concise description of what you expected to happen.

The source should contain the data prefix

src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"

### What actually happened

The image source is mal-formed generating a potential 404

[2021-12-06 15:56] jeherve commented on #22003
Thanks for the report. Does this happen on a specific site, or do you experience this on multiple sites? If you experience this on a specific site, could you post its URL here so we can take a closer look?
Could you also try deactivating any other plugins that may impact with the Lazy Loading feature, such as caching plugins, and let us know if you find that the problem is caused by a conflict bet

[2021-12-06 15:57] mdbitz commented on #19906
Actually no 2nd issue needed. the scope of this fully covers all 5 options in the "Currency options" setting. We'll work through updating the index so it references all the options fully and also triggers the bulk index as needed.

[2021-12-06 15:58] AnthonyLedesma opened #22006 "OpenTable Block 403 network errors"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to the editor.
2. Insert OpenTable block.
3. Type anything into the field.
4. Notice 403 response from API under inspector controls.

### A clear and concise description of what you expected to happen.

Expect block to be resilient to API changes.

### What actually happened

Block seems unusable at the moment.

### Other information

Thi

[2021-12-06 16:05] jeherve commented on #22006
Thanks for the report. The issue seems to be with the Restaurant Search API from OpenTable:
https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/extensions/blocks/opentable/use-restaurant-search.js#L16-L18

[Their API status page](https://status-api.opentable.com/) doesn't report any outages at the moment, so we'll need to investigate some mo

[2021-12-06 16:08] mdbitz commented on #19273
Notes

Image Alt Text is saved to the meta '_wp_attachment_image_alt'. This meta is part of the allow list for post meta and synced to the WP.com Cache. At this time the meta is not indexed to the jetpack-search elastic index which is why it isn't returned and available for use.

Should '_wp_attachment_image_alt' be moved from unindexed_postmeta to public_postmeta?

[2021-12-06 16:17] jeherve commented on #22006
Internal reference: p1638807404196300-slack-C0299DMPG

[2021-12-06 16:19] olafleur-godaddy commented on #22006
It does not seem to be an outage, but more likely that they stopped allowing cross origin requests somewhere last week.

[2021-12-06 16:39] jeherve commented on #22006
I've emailed them to find out more. I'll update this issue once I have more information.

Cross-posting here for reference:
https://github.com/godaddy-wordpress/coblocks/issues/2188

I'll update you there as well if this gets fixed on their end. 👍

[2021-12-06 18:09] #21914 closed

[2021-12-06 18:16] kraftbj opened #22010 "Gardening: Next milestone should be next post-freeze milestone"
### Impacted plugin

None / Other

### Steps to Reproduce

1. Post code-freeze, merge a new PR without a milestone for the Jetpack plugin.
2. See the branched release auto-milestoned.

### A clear and concise description of what you expected to happen.

The next release for trunk, not the branched release.

### What actually happened

_No response_

### Other information

_No response_

### Operat

[2021-12-06 18:45] kraftbj commented on #21971
I have an unrelated PR that cleans up a lot of the `-notices.php` file: https://github.com/Automattic/jetpack/pull/22004

[2021-12-06 18:57] sdixon194 opened #22011 "Connection: Long Addresses Don't Wrap"
### Impacted plugin

Jetpack

### Steps to Reproduce

As initially reported during internal testing: p8oabR-L4-p2#comment-5663

When connecting to Jetpack, long addresses can break out of the container:

![Screen Shot on 2021-12-06 at 13:55:04](https://user-images.githubusercontent.com/33553323/144905361-8500eb96-149f-4624-bc56-de14c3ab4ffe.png)

### A clear and concise description of what you exp

[2021-12-06 20:25] bluefuton commented on #19906
Thanks @mdbitz! Just switched it back to Euro and will keep an eye out to see if it updates.

[2021-12-06 20:30] bluefuton commented on #19906
...and it's updated! Within a few minutes:

<img width="889" alt="Screen Shot 2021-12-07 at 09 30 09" src="https://user-images.githubusercontent.com/17325/144917863-27c887a6-673a-4cbe-b285-d01733d1a82c.png">

🥳

[2021-12-06 21:46] ktyfuller604 commented on #21801
Could reproduce the issue with the gif block when reported by 32045248-hc. Deactivating the Gutenberg plugin resolved the issue.

[2021-12-07 00:27] supernovia opened #22018 "Enhancement: Allow admin notes on Plugins > Manage page"
### Impacted plugin

Jetpack

### What

Allow admin notes and more details on Plugins > Manage page

### How

A WordPress user in our forums [asked here](https://wordpress.com/forums/topic/plugin-for-tracking-plugins/) for a plugin-management plugin that displays notes from the site admin. [Jetpack has plugin management here](https://wordpress.com/plugins/manage), so perhaps this could be an enhan

[2021-12-07 00:29] supernovia commented on #22018
Just noting in my experience helping users with their own sites, even lone site admins sometimes forget why they installed a plugin, or what part of the site it impacts, etc.  I could imagine them putting links to support requests in their notes as well.

[2021-12-07 00:54] thingalon commented on #20553
This is done.

[2021-12-07 00:54] #20553 closed

[2021-12-07 02:42] davidlonjon commented on #21707
This is now completed as https://github.com/Automattic/jetpack/pull/21753 has been merged

[2021-12-07 02:42] #21707 closed

[2021-12-07 02:44] davidlonjon commented on #21544
@cbirdsong Jetpack Boost v1.3.1 has now been released. I will close this issue but feel to provide feedback if you are still experiencing the issue.

[2021-12-07 02:44] #21544 closed

[2021-12-07 03:39] davidlonjon opened #22019 "Boost: Create non core E2E tests"
### Impacted plugin

Boost

### What

This issues relates to https://github.com/Automattic/jetpack/issues/21756 which is addressing the coreBoost E2E tests

### How

TBD

[2021-12-07 03:49] yogeshbeniwal opened #22020 "Disable Lazy load for above the fold critical images"
### Impacted plugin

Jetpack, Boost

### Steps to Reproduce

1. Enable Jetpack and Jetpack Boost
2. Enable Lazy Image Loading in Boost
3. Visit a page and search for loading="lazy". You will find loading="lazy" attribute added to post-thumbnail.

### A clear and concise description of what you expected to happen.

Above the fold images are critical for Largest Contentful Paint measurement in Core

[2021-12-07 07:11] AnthonyFaxlandez commented on #16989
@michaeldcain Hey! Wanted to check and see if you had a chance to take another look at this one yet? 🙂

[2021-12-07 08:39] jeherve commented on #22020
The `loading="lazy"` attribute is not added by Jetpack's Lazy Load feature, it is added by WordPress itself, since [version 5.5](https://make.wordpress.org/core/2020/07/14/lazy-loading-images-in-5-5/). Jetpack's feature is built on top of core's lazy loading feature, and is implemented in JavaScript so it can work with browsers that do not support the `loading` attribute yet.

As you can read in t

[2021-12-07 08:39] #22020 closed

[2021-12-07 08:43] jeherve commented on #22018
I do like the idea, and I think this would be better implemented in WordPres core itself, as the feature would be useful to anyone, even if they do not use the WordPress.com dashboard to manage plugins on their site. WordPress contributors have worked on improving the plugin update experience in the past few releases, and adding such a field could be a nice further improvement.

I would recommend

[2021-12-07 08:43] #22018 closed

[2021-12-07 08:48] yogeshbeniwal commented on #22020
@jeherve Thank you for clarification.

In that case it it right to say that, Lazy load feature in jetpack is same as in built in WordPress for browser supporting lazy load by default?

[2021-12-07 08:49] vini123 commented on #22020
虚幻之物对应着冥冥之路！：《羽》

[2021-12-07 09:08] jeherve commented on #22020
They work a bit differently:
- the WordPress implementation does not enqueue any JavaScript; it fully relies on support provided by the browser.
- the Jetpack implementation relies on JavaScript, so it is compatible with all browsers by default.

[2021-12-07 09:53] jeherve commented on #22011
Moving this to the Calypso repo since that's where that part of the flow lives.

[2021-12-07 10:42] mmtr commented on #17001
Hey @sophiegyo, thanks for the ping! I think this block is no longer maintained by anyone at the moment, since the team who took over its maintenance (@Automattic/view-engineering) along with other Payments blocks at the beginning of 2021 has recently moved to dotorg (pLwCt-9eI-p2).

I'm happy to take a look at the issue though, but I don't have enough availability right now. If no one beats me to

[2021-12-07 13:28] mmtr commented on #19506
I’m having second thoughts now about this.

After analyzing the current behavior, I confirmed that the noted problem in the issue summary is no longer applicable. The issue says that after logging in, non-admins are redirected to `/wp-admin` and as soon as they navigate to a different page, they are unable to go back to `/wp-admin` using the menu.

However, on my tests (a non-a11n account who is a

[2021-12-07 13:55] Copons commented on #19506
I agree with this assessment @mmtr.
Showing My Home to all roles will basically trigger a domino effect that would sort out all awkward behaviours happening with the "default default screen".

- It's consistent across roles, and across sites.
- It gives a link to the wp-admin Dashboard to everyone (currently only available to admins despite the fact that all roles can access it with a direct URL).

[2021-12-07 14:44] #21987 closed

[2021-12-07 15:12] supernovia commented on #22018
Thanks, if they did implement it, would we consider showing it on our plugins view?

[2021-12-07 15:33] supernovia commented on #22018
also, posted here: https://core.trac.wordpress.org/ticket/54592#ticket

[2021-12-07 16:46] mdbitz commented on #19906
In Progress :: working through handling of all price related settings in D71145 and D71146

[2021-12-07 16:58] robfelty commented on #20302
I deployed another fix today, which I think should fix it once and all.

[2021-12-07 17:53] JoshuaGoode commented on #21012
Looks like we have an internal report for this at p9F6qB-7MJ-p2

Potentially third-party cookie issues?

[2021-12-07 18:04] cbirdsong commented on #21544
This looks good! Thanks!

[2021-12-07 20:25] #21187 closed

[2021-12-07 22:13] jsnmoon opened #22043 "Assets: Unable to enqueue CSS files from Jetpack Search package"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Apply [this diff](https://gist.github.com/jsnmoon/74f0f901ddcdc4ffef8310e89fa5f681) to the Search package, which adds a `css_path` parameter (`search/build/customberg/jp-search-configure.css`) to the `Assets::register_script` invocation.
2. Ensure that the production build has been run for the Search package.
3. On a site with a Jetpack Sear

[2021-12-07 23:05] supernovia commented on #22018
FYI: .org punted me to a #wontfix that said this should be done with a plugin, but I was able to find something to give the user with comments in the thread:
https://wordpress.org/plugins/plugin-notes-plus/

[2021-12-08 02:48] gibrown opened #22045 "Search: reduce the initial indexing delay"
### Impacted plugin

Jetpack

### What

Many of our bulk indexing/sync changes take 5 minutes to start.

### How

We currently delay all bulk indexing jobs by 5 minutes to reduce the risk of overindexing causing problems. We can probably carefully find a better balance for certain cases:
- Currency changes https://github.com/Automattic/jetpack/issues/19906
- New purchases and onboarding https://gi

[2021-12-08 02:51] bluefuton commented on #22045
This would also help with moving from Simple to Atomic, where there's a switch of blog_id: https://github.com/Automattic/jetpack/issues/21693

[2021-12-08 08:03] jeherve commented on #13005
cc @spsiddarthan who's been working on some improvements to printing styles.

I would argue that we do not necessarily need to display related posts at all in the print view; when you print a post, you are not interested in links to related posts.

[2021-12-08 08:05] jeherve commented on #11843
This has now been fixed.

[2021-12-08 08:05] #11843 closed

[2021-12-08 14:11] anomiex commented on #22043
Your steps to reproduce don't really work. It seems the patch needs to be applied to some version of #21637.

It looks like your problem is that you're passing wrong paths. In the code in your diff, you have `$plugin_base_path` as the base directory of the plugin, but `Assets::register_script()` (like WordPress core's `plugins_url()`) wants to be passed a file within that directory. You're then tr

[2021-12-08 14:19] #22043 closed

[2021-12-08 15:01] dhanson-wp opened #22049 "Jetpack Donations Block: Plan IDs disappear"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to page with Donations Block as a logged in user that is _not the Jetpack plan owner_
2. Edit any content on the page.
3. Save the page.
4. View page and test Donation block.

This error appears:
<img width="789" alt="Screenshot on 2021-11-30 at 11-11-26" src="https://user-images.githubusercontent.com/83921778/145225482-0a06b218-aaa6-49f9

[2021-12-08 16:14] dhanson-wp opened #22051 "Feature Request: Customized Donation Block Receipt"
### Impacted plugin

Jetpack

### What

Add a personal brand and customized message to the Donation Block receipt

### How

It would very useful to be able to create a customized, branded receipt that gets emailed to donors upon transactions via the Donation block.

This could be a custom thank you message that might include something like an organization’s 501(c)(3) nonprofit status.

Possible Ar

[2021-12-08 16:39] danjjohnson opened #22052 "Enhancement: Site Accelerator ignores custom image size from Elementor"
### Impacted plugin

Jetpack

### What

Make site accelerator respect the custom image size set in Elementor

### How

With Site Accelerator (Speed up image load times) disabled:

- Create a new page with Elementor and add an image with a custom size:

![image](https://user-images.githubusercontent.com/1990037/145247002-978b10b2-fecf-447d-91ff-79ec3fd97681.png)

- View the page. The image is shown

[2021-12-08 17:17] mdbitz commented on #19906
Pending Team Review :: updates and tests are in place once I get feedback from the team we'll roll changes out.

[2021-12-08 17:45] jeherve commented on #22052
By any chance, would you know what the HTML markup of the image looks like:

- in the editor
- on the frontend without Photon
- on the frontend with Photon

[2021-12-08 19:46] mdbitz commented on #19273
In Progress :: There are some nuances with ensuring the change doesn't impact other indexes as well as not including content multiple times in all_content that are being discussed/worked through.

[2021-12-08 19:46] sdixon194 commented on #22049
Yeah, I can reproduce this and seems to be the missing planID indeed and something that has been broken for a while in my testing:

@mmtr, I believe you worked on some donations block stuff somewhat recently. Would this be something we could take a look at?

[2021-12-08 22:14] bobmatyas commented on #16989
@michaeldcain Can you take a look and advise if there is anything else we can do? https://github.com/Automattic/jetpack/issues/16989#issuecomment-982179383

[2021-12-09 03:25] gibrown opened #22057 "Dev Environment instructions improvement needed"
### Impacted plugin

None / Other

### Steps to Reproduce

Here's a story where I want to install Jetpack for local development on my brand new, perfectly clean macbook pro.

1. I start out at https://github.com/Automattic/jetpack#installation-from-git-monorepo which then points me at  https://github.com/Automattic/jetpack/blob/master/docs/development-environment.md and at https://github.com/Autom

[2021-12-09 03:55] bluefuton commented on #19078
It's also very easy to misread as WordPress.

[2021-12-09 04:22] bluefuton commented on #22057
I also ran into this recently: `pnpm cli-link` and `pnpm cli-setup` did not seem to work. After lots of puzzling I ended up just manually adding the bin folder to my path in .zshrc.

export PATH="$HOME/Sites/jetpack/tools/cli/bin:$PATH"

Is there an existing issue to track this one?

[2021-12-09 08:13] spsiddarthan commented on #13005
This will be taken care of in https://github.com/Automattic/jetpack/pull/21939 where we decided to not display the related posts section at all when we print the page.

[2021-12-09 08:32] fgiannar commented on #22057
I was also able to reproduce this in my local env and solved it by running: `pnpm jetpack cli link`

What `pnpm cli-link` does [under the hood](https://github.com/Automattic/jetpack/blob/master/package.json#L32) is `jetpack cli link`. I think we need to replace that with `pnpm jetpack cli link`.

Same logic for `cli-setup`, aka replace `pnpm install && jetpack cli link` with `pnpm install && pnpm

[2021-12-09 09:42] mmtr commented on #22049
@sdixon194 I don't have enough availability at the moment, but I'm happy to take a look next week as part of my 20% time (see p9MPsk-1iY-p2#comment-12243). @obenland also suggested to include it as part of the first iteration of the Payment Blocks in 2022 (see p9MPsk-1iY-p2#comment-1225).

[2021-12-09 13:02] oskosk commented on #22057
I've noticed some issue related to linking the `jetpack` cli and the required node version...

At some point I installed the jetpack cli tool, and linked to it. Worked. But then I switched the node version to the required one with nvm , thus leaving that link useless as the link points to something like `/Users/me/.nvm/versions/node/v16.11.1/bin/jetpack`.

Also when launching a new terminal tab I

[2021-12-09 13:34] kraftbj commented on #22057
I asked @sdixon194 to take a look at this. We've been onboarding new folks into the division through Ground Control so there may be just a better way to convey the information from the POV of someone not being onboarded.

Some initial thoughts

Thanks for mentioning that specifically. The intent when that was written was regarding people running Jetpack out of the repo before it became a monorepo.

[2021-12-09 13:50] kraftbj commented on #22057
I couldn't repo, but there's no harm in running it with `pnpm` prefixed. I'll open or have a PR opened for that today.

[2021-12-09 13:59] anomiex commented on #22057
Under the hood, all this winds up doing `pnpm link --global` in the `tools/cli` directory. How pnpm does it (AFAIK) is that it looks in your `PATH` for the first path that's not inside `node_modules` and is writable by the current user. As people have found, this seems like it can wind up being flaky in a few ways, depending on what exactly is in your path.

[2021-12-09 14:03] anomiex commented on #22057
I note WordPress core seems like they may be going in the "lots of different ways" direction after the Docker Desktop licensing thing: https://make.wordpress.org/core/2021/11/24/wordpress-development-environment/

No idea to what extent that may be relevant to us.

[2021-12-09 14:32] sdixon194 commented on #22049
Oh thanks, missed that P2 discussion!

[2021-12-09 14:39] sdixon194 commented on #22057
Yeah, I do remember the documents being a matryoshka doll of a maze when I was setting up last year. I'd love to do a complete rewrite of the docs, check flows, remove outdated info and then use that as a pathway to automating setup more. Thanks for taking the time to document your experience here, I'll prioritize this in the coming days.

[2021-12-09 14:54] kraftbj commented on #22057
We decided to pay for Docker for 2022. During the year, we'll investigate other options and determine if we stick with Docker or not.

[2021-12-09 15:42] danjjohnson commented on #8892
Two more reports of this here:
https://wordpress.org/support/topic/jetpack-updates-are-resetting-my-publicize-connections-to-off/

[2021-12-09 16:44] mdbitz commented on #19906
@bluefuton Hey Chris, I have pushed out the changes to the platform so that all the options used by wc_price are now adhered to. Let me know if you see any concerns or if good to close this out. As before expect a 5 minute delay before the changes pick up.

[2021-12-09 21:45] bluefuton commented on #19906
Thanks @mdbitz! Currency, currency position, thousand separator, decimal separator worked great.

The only one that wasn't applied was number of decimals:

<img width="658" alt="Screen Shot 2021-12-10 at 10 40 21" src="https://user-images.githubusercontent.com/17325/145480178-b9138a26-bc9e-4e6b-88eb-851bbe534da6.png">

<img width="705" alt="Screen Shot 2021-12-10 at 10 42 00" src="https://user-ima

[2021-12-10 01:07] happychait opened #25022 "Form Block: On form submission, email a copy to the sender."
### What

On form submission, it would be nice to have an option to send an email copy to the submitter.

User request in 32222036-hc

### Why

So the form submitter can get an acknowledgement of their submission.

### How

_No response_

[2021-12-10 07:18] nigel436 opened #25460 "wp supercache files being cleared when single page updated"
version 1.7.4  when a single page is updated all of the supercahe files are being deleted.

settings:
preload =enabeld
preload cache files every 0 minutes
enable cache files for all visitors

[2021-12-10 14:38] NeosinneR opened #31953 "[Bug]: Incorrect link when trying to buy Jetpack Security for multisite page"
### Quick summary

In WP admin of the multisite page, when I click on `Jetpack > Dashboard > Plans` I'm redirected to https://jetpack.com/redirect/?source=jetpack-plans&site=www.mailpoet.com.

When I click on the `Get Security` button to purchase `Security` plan, an error message is shown on the checkout:

<img width="880" alt="Screenshot 2021-12-10 at 14 15 13" src="https://user-images.githubuser

[2021-12-10 15:16] jartes commented on #11366
Another one on: 32838322-hc

[2021-12-10 18:05] #21706 closed

[2021-12-11 20:33] Ste-Fantin opened #22076 "Sharing: add additional sharing options"
### Impacted plugin

Jetpack

### What

more sharing

### How

Hello,
my name is Stefano Fantin and I have 2 ideas.
The first idea is that sharing button of Jetpack have more sharing option as sassy social share. Sassy social share is more complete that  button sharing of Jetpack.
My second idea is that jetpack search results have the share button. Google doesn't have a share button.
The share but

[2021-12-11 20:44] danmaze commented on #22076
Their ticket: 4605601-zen

[2021-12-12 01:59] cfinke opened #22079 "Undefined variable: value in grunion-contact-form.php on line 2389"
### Impacted plugin

Jetpack

### Steps to Reproduce

In Jetpack 10.4, I got this error in my error log:

`Undefined variable: value in [...]/grunion-contact-form.php on line 2389`

I can see a path through that code where `$value` doesn't get defined: if `$meta_key` is truthy but `$content_fields[ "_feedback_{$meta_key}" ]` is not set, then `$value` will be undefined.  I don't know the code well

[2021-12-13 06:46] #21926 closed

[2021-12-13 09:21] poeticabdul commented on #21801
Another report here 33152413-hc

[2021-12-13 09:28] jromales commented on #20309
Another report in 4608087-zd-woothemes

[2021-12-13 09:40] inaikem commented on #20309
@edequalsawesome would it be possible to put the workaround up on Theme Quirks? From an [earlier report](https://github.com/Automattic/jetpack/issues/20309#issuecomment-942701957):

[2021-12-13 10:28] #19506 closed

[2021-12-13 10:49] mmtr commented on #19506
My Home is now been enabled for non-admins on all WP.com sites, although Atomic users won't see the menu item until the Jetpack changes are deployed to the Atomic sites tomorrow 14th December (they will still land in My Home though – they simply won't see a menu item pointing to My Home).

[2021-12-13 14:35] #20302 closed

[2021-12-13 14:54] sdixon194 commented on #22076
Thanks for the suggestions to make our plugin better!

Can you clarify a bit more about what Sassy social share has that you would like to see in Jetpack sharing? Is it just the amount of social media sites that you can share to, or some other features that they have you'd like to see?

I'm not too sure what you mean by this - can you specify a bit more? Are you looking to see sharing icons in Goo

[2021-12-13 15:37] danjjohnson commented on #22052
Editor:

`<img src="https://danielj18.sg-host.com/wp-content/uploads/elementor/thumbs/Desert-blue-p5y8y4mok1x4apla9gyekm61i35xer4fs9z0v5ar54.jpg" title="Desert-blue" alt="Desert-blue">`

![image](https://user-images.githubusercontent.com/1990037/145841130-966246ff-78f8-401c-a947-d94c49db3594.png)

Frontend without Photon:

Same:

![image](https://user-images.githubusercontent.com/1990037/145841357

[2021-12-13 16:23] Ste-Fantin commented on #22076
Hello,
My two ideas that have many words, can be summed up in three words: "sharing and inclusion".
Sharing is more complete with Sassy, compared to the current Jetpack.
Inclusion is a consequence of sharing, i.e. if I allow sharing, I INCLUDE traffic. Traffic inclusion is important. Inclusion is meant to be word of mouth. Word of mouth is very effective when applied to sharing.
Google does digita

[2021-12-13 18:26] gibrown commented on #22057
Using this worked for me btw.

[2021-12-13 18:32] gibrown commented on #22057
Unfortunately I lost the scrollback and then subsequently fixed it so that it would build so I am not sure.

[2021-12-13 18:32] gibrown commented on #22057
Thanks everyone for jumping on this.

[2021-12-13 18:56] kraftbj commented on #22057
That is a by-product of using NVM and being able to switch to different node versions easily. NVM handles where node is location and so installing a system-wide ability to link to limited to node version (which has the side effect of needing to re-link when switching to another version of node).

If we used node directly without nvm, it would have linked to the system's node bin.

As far as I'm aw

[2021-12-13 20:51] bluefuton commented on #19906
Great! I can confirm 3 decimals on my test site now:

<img width="158" alt="Screen Shot 2021-12-14 at 09 51 03" src="https://user-images.githubusercontent.com/17325/145886819-318bf656-d912-41d1-a581-37c0c85eb0c0.png">

Thanks for making this work @mdbitz 🎉

[2021-12-14 04:18] amustaque97 commented on #22051
Hi @jeherve, I would love to take a look at this. Please correct me if I'm wrong it is again same kind of work which we done here as part of #21273

[2021-12-14 07:44] jeherve commented on #22051
@amustaque97 Since the receipts are generated on WordPress.com, I'm afraid that's not something you'll be able to work on; this can only be implemented by someone with access to the WordPress.com part of the codebase.

[2021-12-14 07:48] jeherve commented on #22076
Are there specific services (currently included in Sassy) you would like us to add to Jetpack's Sharing feature? Could you give us examples?

Could you show us, with a link or a screenshot, where you would like sharing buttons to be displayed on search result pages? Would this be on your website, or on Google's page?

Thank you!

[2021-12-14 08:12] jeherve commented on #22052
Thanks for the extra details. This seems to stem from the use of `fit` instead of `resize` in the query strings added by Photon. As far as I can tell, the `fit` parameter is added instead of `resize` because the custom size chosen does not match the thumbnail size option set in Settings > Media.

@danjjohnson Do you think you could try to add something like this to your test site, and let me know

[2021-12-14 14:32] danjjohnson commented on #22052
I added that using the Code Snippets plugin:

![image](https://user-images.githubusercontent.com/1990037/146017532-b7f2048f-c9fc-4916-97b6-ca7548d5a54b.png)

But it still uses the 'fit' parameter:

![image](https://user-images.githubusercontent.com/1990037/146017443-0513c7f0-d396-4f82-afb4-902a38c16ce9.png)

I tried clearing cache, deactivating/reactivating Photon, and using a different image, but

[2021-12-14 15:33] jeherve commented on #22052
I've created this patch to fix the issue in Elementor directly:
https://github.com/elementor/elementor/pull/17181

[2021-12-14 15:54] #22079 closed

[2021-12-14 15:57] sdixon194 opened #22088 "Docker: Install JT Scripts"
### Impacted plugin

None / Other

### What

It would be greate if `jetpack docker install` also handled downloading and installing the requisite Jurassic Tube scripts so everything was handled all at once.

### How

Suggested here: https://github.com/Automattic/jetpack/pull/22074#discussion_r768031241

[2021-12-14 17:13] obenland commented on #20709
@allilevine Can this be closed now?

[2021-12-14 17:23] anomiex commented on #22088
Or we could just include a copy of the JT installer in the monorepo (in `tools/docker/bin/jt/`) if we don't mind having to keep it up to date if JT updates it.

[2021-12-14 18:03] olafleur-godaddy commented on #22006
FYI, one of our devs wrote a workaround that should be merged today : https://github.com/godaddy-wordpress/coblocks/pull/2204

Basically it's creating a REST endpoint to proxy the call to the API.

[2021-12-14 18:28] allilevine commented on #20709
Yes thanks! Closing since this change is no longer necessary.

[2021-12-14 18:28] #20709 closed

[2021-12-14 18:45] sdixon194 commented on #22088
That makes sense to me. @sergeymitr is there any reason not to include the JT folder and installation scripts in the repo?

[2021-12-14 19:08] mdbitz commented on #19273
Pending :: Support for alt_text has been enabled as part of searching and also as a separate field. We are planning a rebuild of the jetpack-search index that will populate this data across all sites and when complete will update here so that plugin development can follow up on usage of the new data.

[2021-12-14 21:47] gibrown commented on #22088
Could all of the JT code just move into the public monorepo?

[2021-12-14 22:52] #21969 closed

[2021-12-15 08:11] jeherve opened #22098 "External Media: add Openverse source option"
Jetpack's External Media feature currently allows you to insert images from 2 sources:
- Google Photos
- Pexels

![image](https://user-images.githubusercontent.com/426388/146147229-e69e6034-ae9f-452b-9973-8351742d2871.png)

It would be nice if we could add Openverse as an option as well. It could be added to WP Core itself, but we may also want to add it to Jetpack's External media feature until i

[2021-12-15 12:45] danieldudzic opened #22099 "Twenty Sixteen: Media attachment page displays the image as a site logo if no logo is set"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Activate Twenty Sixteen on a Simple site.
2. Navigate to the Media (`/wp-admin/upload.php`)
3. Click on an image and then click the View attachment page
4. Wait for the attachment page to open.

### A clear and concise description of what you expected to happen.

If you visit an image attachment page on Twenty Sixteen, the image itself shows

[2021-12-15 13:43] #21993 closed

[2021-12-15 14:44] coder-karen opened #22104 "Beta Plugin: Link to Beta Plugin README and testing tips not working from within 'To Test' box"
### Impacted plugin

Beta

### Steps to Reproduce

1. From the Jetpack Beta Tester Home, click on the button to manage the Jetpack Beta Tester
2. Make sure the 'existing version' is active (3.1.0)
3. In the 'To Test' box, the link to the Jetpack Live Branches README leads to a 404 page. It will send you to `https://currentsiteurl.com/tools/jetpack-live-branches/README.md`
4. Additionally this is a

[2021-12-15 23:46] #21756 closed

[2021-12-16 00:20] happychait commented on #14829
Another one in 33213660-hc

[2021-12-16 00:47] edequalsawesome commented on #10529
Also reported in 33102724-hc, will let the customer know to use the HTML block to embed the video.

[2021-12-16 05:21] spsiddarthan opened #22113 "Remove non-functional code for Facebook shares count for non-official buttons."
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to Jetpack->Settings->Sharing.
2. Under sharing buttons, enable the option "Add sharing buttons to your posts and pages".
3. Click on configure sharing buttons and choose any option except for "official buttons" as shown below.
<img width="443" alt="Screenshot 2021-12-16 at 10 41 50 AM" src="https://user-images.githubusercontent.com/65945

[2021-12-16 09:03] jeherve commented on #19607
Also in p9dueE-3Z7-p2

[2021-12-16 18:05] metabreakr commented on #19607
33192233-hc

[2021-12-16 19:18] #13005 closed

[2021-12-16 19:18] #16205 closed

[2021-12-16 21:28] bluefuton opened #22118 "Nudge user if Image CDN is turned off (search will perform better if it is enabled)"
In a support request (https://github.com/Automattic/jpop-issues/issues/7119) a user queried why the images displayed in search results were so big.

It turns out they did not have Photon aka Image CDN enabled.

It would be helpful if the wp-admin UI told the user that their search performance would be improved with Image CDN is enabled, if they're using a result format with images.

[2021-12-17 04:28] bluefuton opened #22120 "Instant Search: Blank Canvas theme has bottom border on links"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Set up a new site on WordPress.com with the Blank Canvas theme.
2. Perform a search with `/?s=`.

### A clear and concise description of what you expected to happen.

Links do not display with an extra border.

### What actually happened

Links display with a bottom border, which looks odd, especially in the Jetpack colophon.

We should prob

[2021-12-17 08:20] #22113 closed

[2021-12-17 12:04] eAdnan007 opened #22122 "Core Test Id 6"

[2021-12-17 12:05] #22122 closed

[2021-12-17 13:25] brucea8c commented on #14773
Also in 4620047-zen

[2021-12-17 14:07] laundy opened #22125 "Do not load additional scripts although a feature is not active (not GDPR compliant)"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Install `WordPress` and `WooCommerce`
2. Install and activate `Jetpack`
3. Choose the `free` plan
4. Open your browser's developer tools (`Network` tab)
5. Refresh the page

### A clear and concise description of what you expected to happen.

Scripts and other dependencies, especially from third-party vendors like PayPal, are not loaded unti

[2021-12-17 14:38] jeherve commented on #22125
Thanks for the report. We aim to do just that in Jetpack, and only enqueue (load) resources when they are needed on the page.

In the example of the Pay with PayPal feature, we do just that. As you pointed out, the scripts and styles are registered here:
https://github.com/Automattic/jetpack/blob/5eb2645a33829c03d9adb0654efb289a138ff770/projects/plugins/jetpack/modules/simple-payments/simple-payme

[2021-12-17 17:35] danjjohnson opened #22127 "Enhancement: Use appropriate image size for Instagram latest posts widget"
### Impacted plugin

Jetpack

### What

Serve a version of the images that is close to the size they will be rendered.

### How

To see the issue, add an 'Instagram latest posts' block with 9 images, 3 columns, to a widget area and view the page.

The images are rendered small, e.g. 159x159, but their intrinsic size is much larger e.g 1080x752:

![image](https://user-images.githubusercontent.com/1

[2021-12-18 21:40] blakewatson commented on #3562
Just to make it super obvious for anyone looking (like me) if you _are_ using Markdown in the classic editor then you can use PHP Markdown Extra's [special attributes](https://michelf.ca/projects/php-markdown/extra/#header-id) feature to generate heading IDs.

[2021-12-18 22:51] RealCarFax opened #22170 "WhatsApp Button Block missing +357 country code"
### Quick summary

_No response_

### Steps to reproduce

After inserting the WhatsApp button block into a page or a post, open up the settings in the right panel. There you will see fields for Phone Number. The first field helps you select a country code - if you search through this list you will see that the country code +357 for Cyprus is missing.

### What you expected to happen

The country c

[2021-12-19 15:07] laundy commented on #22125
Thanks for you fast reply! What you state is true of course, I missed this.
However, in the shop I have implemented that is not using this shortcode at all the dependencies are still loaded.

I moved `$this->register_scripts_and_styles();` to https://github.com/Automattic/jetpack/blob/f8969425fdf4fe2aa08a797ea86d321238436ba4/projects/plugins/jetpack/modules/simple-payments/simple-payments.php#L74-

[2021-12-19 16:49] brookewp commented on #18165
I ran into a similar issue, where an image block placed in adjacent column stacks below (which may be happening in the screenshot you shared, but out of view) hc-33272753

[2021-12-19 19:00] jinnypark commented on #22052
Also reported in 4624498-zen

[2021-12-20 03:53] bluefuton opened #22135 "Instant Search: not possible to print search results"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Go to a site with Instant Search enabled and start a search with `/?s=`.
2. Try and print the page.

### A clear and concise description of what you expected to happen.

In some situations, it might be desirable to print a set of search of results (like a product search).

If the search overlay is open, I would expected the printout to inclu

[2021-12-20 09:56] asafm7 commented on #21887
@jeherve do you need any more information from me?

[2021-12-20 21:42] danieldudzic opened #22144 "Jetpack Social Menu: Unnecessary code being outputted"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. On an Atomic site, activate the theme Penscratch 2.
2. Check the page source code.
3. You will notice SVG definitions are loaded even if those icons are not used anywhere.

### A clear and concise description of what you expected to happen.

Jetpack to output the SVG code only for the icons being actually used.

### What actually happened

S

[2021-12-21 04:39] bluefuton commented on #19906
@mdbitz I just switched my currency settings around again on bluefuton.wpsandbox.me and it doesn't appear to have synced the number of decimals:

<img width="684" alt="Screen Shot 2021-12-21 at 17 35 39" src="https://user-images.githubusercontent.com/17325/146871953-db4571df-80c6-4be1-93cd-b8db2c241273.png">

<img width="690" alt="Screen Shot 2021-12-21 at 17 38 40" src="https://user-images.github

[2021-12-21 15:22] pendantry commented on #1381
I don't know if this is the right place to mention this.

?random, which I've been merrily using for some time, seems to have picked up some hiccups.

Sometimes ?random works fine, redirecting to any old post on a site (though it often seems to have a preference for newer posts).

But just lately, I've noticed that it's misbehaving quite oddly. On several sites I've used it on, it's been presentin

[2021-12-21 15:31] cyberscribe commented on #1381
You might try this: https://wordpress.org/plugins/better-random-redirect/

On Tue, 21 Dec 2021 at 15:22, pendantry ***@***.***> wrote:

[2021-12-21 16:12] sharonlaker19 commented on #10529
+1 at 4626490-zen
Deactivating the shortcode module worked.

[2021-12-21 19:39] WunderBart opened #22152 "Cover block: paid-block-media-placeholder sets zero height to block placeholder"
### Impacted plugin

Jetpack

### Steps to Reproduce

1. Create a new post on a free WP.com site
2. Add Cover block
3. Add any other block(s)
4. See how they're hidden behind the Cover block placeholder as the `paid-block-media-placeholder` sets the absolute position with 0 heigh.

### A clear and concise description of what you expected to happen.

Other blocks should not be hiding behind the Cov

[2021-12-21 23:38] jpumfreyamergin opened #22156 "Instant Search: Heading hierarchy for accessibility"
### Impacted plugin

Jetpack

### Steps to Reproduce

Screenshot below in 'What actually happened' or

1. Open Instant Search modal
2. Add search query
2. Note the nested headings of filter types and skipped heading levels

### A clear and concise description of what you expected to happen.

Ideally, there should be a heading level 1 for the full search dialog box which can be hidden with the `.sc

[2021-12-22 05:42] rambogenius opened #22171 "Add Seach feature in Activity Log"
### What

User in chat hc-33300647 came and wanted to search activity log for a particular user and suggested:
you need to keep a search filter at the top of the list.

### Why

To make it easier to search activities using search terms like username

### How

_No response_

[2021-12-22 06:35] Robertght opened #22193 "Subscription Form block: Success message text does not update"
**HE Note:**

The custom success message for the Subscription Form block should be functioning on WoA and WPorg sites. The custom success message is not currently applying for WPcom simple sites however - the form still works but will show the default success message (not the customized one).

Feel free to continue using this issue to track additional interactions so they can be followed up on onc

[2021-12-22 11:14] pendantry commented on #1381
That's not an option for me personally (I'm on WordPress.com with a 'personal plan', so cannot install plugins without 'upgrading' to a 'business plan'... which would be a serious downgrade because I would have to change domains to do so).

I'm more concerned about the default behaviour of ?random, as it affects the entire WordPress community. If ?random is no longer being supported, it will no do

[2021-12-22 11:46] cyberscribe commented on #1381
The code base for this plugin is derived from the Jetpack version and
enhanced. So if the WP team wanted to upgrade the Jetpack version, this
would be one possible model for how to make it reliable and efficient.

On Wed, 22 Dec 2021 at 11:14, pendantry ***@***.***> wrote:

[2021-12-22 12:38] Robertght commented on #22161
I moved this now to Jetpack as I can still replicate it with a self-hosted site.

[2021-12-22 12:49] Robertght commented on #22162
I can still replicate this with a self-hosted website. cc @jeherve for a second look about the priority

[2021-12-22 18:24] #21690 closed

[2021-12-23 21:02] goblinartificer commented on #16989
another case in 33337017-hc. No donation/payment plans visible, before or after removing/readding blocks or disconnecting/reconnecting Stripe. Problem still persists.

[2021-12-24 15:45] julsyd opened #22179 "Enhancement: Exclude Embed Block Views from Stats"
### Impacted plugin

Jetpack

### What

Exclude posts/pages in Embed Blocks from being counted in Stats

### How

Steps to reproduce:

1. Add an Embed Block into a page or post, and paste a page or post URL into the Embed Block.
2. View the page/post with that Embed Block.
3. The page/post that is embedded in the Embed Block gets a view (as does the page/post in which it's embedded).

User report:

[2021-12-27 00:31] irfanmoosani commented on #14829
Another one in 4638902-zd

[2021-12-27 16:31] christianoliveira opened #22182 "Importing post with galleries doesn't work properly"
### Impacted plugin

Jetpack

### Steps to Reproduce

Feature "import" doesn't work properly when the imported post has galleries. I expect it to import the galleries and the images and the gallery to keep working, but instead of that when clicking an image in the gallery, another image is loaded.

The galleries were created using Jetpack Galleries

The import tools works ok in terms of actually i

[2021-12-27 16:57] rsmith4321 opened #22183 "Instagram Block URL Signature Expired"
I noticed that sometimes the images in an Instagram block with not display, if I try to view the img url it says "URL Signature Expired".  This is obviously an issue with page caching.  Instagram expires the images after a certain period of time. Would there be any way to use the Instagram block and full page caching at the same time? Perhaps I just need a shorter page cache time.  Any suggestions

[2021-12-28 15:59] ccwalburn commented on #16989
Another report here: 4642555-zen

@michaeldcain - It looks like the fix we tried for a similar situation here 4466307-zen didn't work; is it worth trying for this user or is there another workaround?

[2021-12-29 04:06] rinazrina commented on #16989
Related to the above ^ [4642555-zen](4642555-zd-woothemes)

Removing the button and adding it again did not work for this user.

[2021-12-29 05:29] Codexpart commented on #16989
Another report here: 4642725-zen

[2021-12-29 19:12] charliegroll opened #22186 "Not finding requirements-file for Automattic/action-required-review"
### Impacted plugin

None / Other

### Steps to Reproduce

Note that this is an initial PR and `required-review.yml` is a brand new file

.github/workflows/required-review.yml
[code]

.github/required-review.yml
[code]

I tried to do this inline with `requirements` but it complains about the indentation when it gets to the evaluation of the yaml string 🙃

When I try inline with `@charliegroll` I g

[2021-12-29 19:25] charliegroll commented on #22186
P.S. sorry for the compound issues - I can open a separate issue for the inline/indentation issue, but I really just want to get either one working for a start

[2021-12-29 21:35] gibrown commented on #22045
@mdbitz this is effectively done now since we are bypassing the dedupe queue?

[2021-12-29 21:50] gibrown commented on #8563
@bluefuton I think the indexing side of this is done, so removing it from our project board. We should probably fold this into any other filtering work we do on the front end.

[2021-12-29 22:30] gibrown commented on #10146
Some internal discussion of this in p3QzjZ-Sb-p2

[2021-12-29 22:56] dcoleonline commented on #11890
Another request to have a placeholder as the first option in 33404215-hc. It's not really useful without this. I've recommended that they switch the select field to a radio button field, but when there are a lot of options it doesn't look good. We should notify this customer if we can make the change soon.

[2021-12-29 23:02] gibrown commented on #16120
Newer version of ES should let us do this in a much more performant way by using [keyword_repeat analyzer filter](https://www.elastic.co/guide/en/elasticsearch/reference/7.16/analysis-keyword-repeat-tokenfilter.html) in the all_content field. We could also turn off stopwords, and use this to better match against stemmed words.

[2021-12-30 15:03] loyukfai commented on #22183
Yes, it happens. I just set a shorter page cache time. How long is yours?

[2021-12-30 15:47] mdbitz commented on #22045
Correct, I wanted to do another check for all flows but at this time when a site purchases Search we bypass the queue and immediately start the bulk indexing job. At the same time purchase triggers a Sync Checksum that on completion will trigger another bulk index.

This means that on purchase users should see content that already exists in the WP.com Cache populate in results. When the Sync Check